a, button i{
  color: lightslategrey;
  text-decoration: none
}
a:hover, button:hover i{
  text-decoration: none;
}

div.sidebar-header {
  padding-top: 30px;
}

div.sidebar-header img {
  margin: 10px 0;
}

.sidebar-header div.btn-group {
  margin-top: 10px
}

button.logout-link:hover {
  color: lightcoral !important;
}