<div href="/profil" class="sidebar-header">
  <img src="/assets/img/avatars/8.jpg" class="img-avatar" width="80px" alt="avatar"/>
  <div>
    {{ 'Sandi Febrian' | slice:0:17 | uppercase }}
  </div>
  <div class="text-muted">
      <small>Chief Technology Officer</small>
  </div>
  <div class="btn-group" role="group" aria-label="User's Menu">
    <button type="button" class="btn btn-link"><i class="icon-bell"></i></button>
    <!-- <button type="button" class="btn btn-link"><i class="icon-notebook"></i></button> -->
    <button type="button" class="btn btn-link"><i class="icon-user"></i></button>
    <button type="button" class="btn btn-link logout-link"><i class="icon-logout"></i></button>
  </div>
</div>
