<div class="row" [formGroup]="group">
  <ng-container formArrayName="points" *ngIf="group['controls']['points']['controls'].length && polygon.length">
    <div *ngFor="let point of group['controls']['points']['controls']; let i=index" class="col-lg" style="min-width: 200px">
      <div class="card">
        <!-- Point header, show remove button when more than one Menu available -->
        <div class="card-header">
          <span>Titik Ke - {{i + 1}}</span>
          <span class="pull-right" *ngIf="group['controls']['points']['controls'].length > 4" (click)="removePoint(i)">
            <i class="fa fa-close"></i>
          </span>
        </div>

        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i" class="card-block m-0 p-0 pt-2">
          <!--replace Point implementation with our new Point component-->
          <app-point [group]="group['controls']['points']['controls'][i]" [point]="polygon[i]" style="padding: 0%;"></app-point>
        </div>
      </div>
    </div>
  </ng-container>
</div>