<div class="s-info bg-white">
  <div class="s-heading">
    <p>Download</p>
    <small>Download Simapro Mobile & User Manual </small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="card-group py-2">
          <div class="card" style="border-top: none; border-bottom: none; border-left: none;">
            <div class="card-body">
              <div class="col-12">
                <h4>{{ 'Simapro Mobile' | uppercase }}</h4>
                <hr/>
              </div>
              <div class="col-12">
                <div class="card-text text-center">
                  <h1><strong>Simapro For Android</strong></h1>
                  <a href="./assets/mobile-apps/simapro.apk" target="_blank" class="btn btn-dark btn-pill btn-circle btn-lg">
                    <i class="fa fa-2x fa-android"></i> <strong class="text-center fa-2x">Download Sekarang</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card" style="border-top: none; border-bottom: none; border-right: none;">
            <div class="card-body">
              <div class="col-12">
                <h4>{{ 'User Manual' | uppercase }}</h4>
                <hr/>
              </div>
              <div class="col-12">
                <div class="list-group" *ngIf="userGuides.length > 0; else userGuideNotAvailable">
                  <a *ngFor="let userGuide of userGuides" target="_blank" [title]="'Download '+ userGuide.name" [href]="userGuide.link" class="list-group-item list-group-item-action">
                    <div class="m-0">{{ userGuide.name }}</div>
                    <small>{{ userGuide.description }}</small>
                  </a>
                </div>
                <ng-template #userGuideNotAvailable>
                  <div class="text-center">
                    User Manual tidak tersedia
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>