<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{title | uppercase}}</p>
    <small>{{subtitle | uppercase}}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset class="col-12" [formGroup]="formRealisasi">
            <tab id="tab1">
              <ng-template tabHeading>
                <i class="fa fa-info-circle"></i>
                <span class="d-none d-md-inline-block"> {{'Data Anggaran' | uppercase}}</span>
              </ng-template>
              <div class="tab-pane" id="detail" role="tabpanel">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tanggal Realisasi' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tanggal_realisasi" [(ngModel)]="realisasi.tanggal_realisasi" type="date" placeholder="Tanggal Realisasi"
                          [ngClass]="{'is-invalid': formRealisasi.controls.tanggal_realisasi.invalid && (formRealisasi.controls.tanggal_realisasi.dirty || formRealisasi.controls.tanggal_realisasi.touched)}">
                        <div class="invalid-feedback" *ngIf="formRealisasi.controls.tanggal_realisasi.invalid && (formRealisasi.controls.tanggal_realisasi.dirty || formRealisasi.controls.tanggal_realisasi.touched)">
                          <div *ngIf="formRealisasi.controls.tanggal_realisasi.errors.required">Tahun Anggaran harus diisi</div>
                          <div *ngIf="formRealisasi.controls.tanggal_realisasi.errors.minlength">Panjang minimal {{formRealisasi.controls.tanggal_realisasi.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formRealisasi.controls.tanggal_realisasi.errors.maxlength">Panjang maksimal {{formRealisasi.controls.tanggal_realisasi.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Keterangan' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="keterangan" [(ngModel)]="realisasi.keterangan" type="date" placeholder="Keterangan"
                          [ngClass]="{'is-invalid': formRealisasi.controls.keterangan.invalid && (formRealisasi.controls.keterangan.dirty || formRealisasi.controls.keterangan.touched)}"></textarea>
                        <div class="invalid-feedback" *ngIf="formRealisasi.controls.keterangan.invalid && (formRealisasi.controls.keterangan.dirty || formRealisasi.controls.keterangan.touched)">
                          <div *ngIf="formRealisasi.controls.keterangan.errors.required">Keterangan harus diisi</div>
                          <div *ngIf="formRealisasi.controls.keterangan.errors.minlength">Panjang minimal {{formRealisasi.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formRealisasi.controls.keterangan.errors.maxlength">Panjang maksimal {{formRealisasi.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tahun Anggaran' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tahun_anggaran" [(ngModel)]="tahunAnggaran" type="number" placeholder="Tahun anggaran"
                          [ngClass]="{'is-invalid': formRealisasi.controls.tahun_anggaran.invalid && (formRealisasi.controls.tahun_anggaran.dirty || formRealisasi.controls.tahun_anggaran.touched)}">
                        <div class="invalid-feedback" *ngIf="formRealisasi.controls.tahun_anggaran.invalid && (formRealisasi.controls.tahun_anggaran.dirty || formRealisasi.controls.tahun_anggaran.touched)">
                          <div *ngIf="formRealisasi.controls.tahun_anggaran.errors.required">Tahun Anggaran harus diisi</div>
                          <div *ngIf="formRealisasi.controls.tahun_anggaran.errors.minlength">Panjang minimal {{formRealisasi.controls.tahun_anggaran.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formRealisasi.controls.tahun_anggaran.errors.maxlength">Panjang maksimal {{formRealisasi.controls.tahun_anggaran.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Company Code' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <ng-select #selectCC 
                          [allowClear]="true"
                          [items]="itemsCC"
                          [disabled]="!itemsCC"
                          [multiple]="false"
                          (data)="refreshValueCC($event)"
                          (selected)="selectedCC($event)"
                          placeholder="Pilih Company Code">
                        </ng-select>
                        <input type="hidden" formControlName="idCompanyCode" [(ngModel)]="idCompanyCode"/>
                        <div class="invalid-feedback" *ngIf="formRealisasi.controls.idCompanyCode.invalid && (formRealisasi.controls.idCompanyCode.dirty || formRealisasi.controls.idCompanyCode.touched)">
                          <div *ngIf="formRealisasi.controls.idCompanyCode.errors.required">Company Code harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Nama Anggaran' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <ng-select #selectA 
                          [allowClear]="true"
                          [items]="itemsA"
                          [disabled]="!itemsA.length"
                          [multiple]="false"
                          (selected)="selectedA($event)"
                          placeholder="Pilih Anggaran">
                        </ng-select>
                        <input type="hidden" formControlName="anggaran" [(ngModel)]="anggaran"/>
                        <div class="invalid-feedback" *ngIf="formRealisasi.controls.anggaran.invalid && (formRealisasi.controls.anggaran.dirty || formRealisasi.controls.anggaran.touched)">
                          <div *ngIf="formRealisasi.controls.anggaran.errors.required">Anggaran harus dipilih</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hidden-xs-down d-none d-sm-block col-md-6 p-0 pt-2 mt-0 mb-2 bg-light" *ngIf="anggaran">''
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Nama Anggaran' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" disabled="disabled" [value]="anggaran?.nama_anggaran | uppercase">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Deskripsi' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" disabled="disabled">{{anggaran?.deskripsi | uppercase}}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Total Anggaran' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" disabled="disabled" [value]="anggaran?.pengajuan_anggaran | currency: 'Rp. '">
                      </div>
                    </div>
                  </div>
                  <div class="col-12 p-0">
                    <div class="form-group">
                      <div class="col-12 text-right">
                        <button class="btn btn-default" (click)="cancel()"><i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                        <button class="btn btn-primary" (click)="save()" [disabled]="! formRealisasi.valid"><i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab id="tab2">
              <ng-template tabHeading>
                <i class="fa fa-info-circle"></i>
                <span class="d-none d-md-inline-block"> {{'Realisasi' | uppercase}}</span>
              </ng-template>
              <div class="tab-pane" id="detail" role="tabpanel">
                <div class="row">
                  <div class="col-12 p-0 mt-3">
                    <form (submit)="save()" novalidate>
                      <table class="table table-responsive-sm">
                        <thead>
                          <tr>
                            <th class="text-center">
                              <strong>{{'Nama Pekerjaan' | uppercase}}</strong>
                            </th>
                            <th class="text-center" colspan="2">
                              <strong>{{'Nama Aset' | uppercase}}</strong>
                            </th>
                            <th class="text-center">
                              <strong>{{'Pagu Anggaran' | uppercase}}</strong>
                            </th>
                            <th class="text-center">
                              <strong>{{'Nilai Realisasi' | uppercase}}</strong>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr app-row-realisasi-pekerjaan
                            *ngFor="let realisasi_pekerjaan of realisasi.realisasi_pekerjaan; let i = index"
                            [model]="realisasi.realisasi_pekerjaan[i]"
                            [group]="formRealisasi.controls.detail.controls[i]"
                            [idCompanyCode]="idCompanyCode"
                            [index]="i"
                            [removable]="false"
                            (onRemove)="removePekerjaan($event)"></tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td>
                            </td>
                            <td class="text-right">
                              <strong>{{'Anggaran' | uppercase}}</strong>
                            </td>
                            <td class="text-right">
                              <strong>{{ anggaran?.detailX.nilai_anggaran | currency: 'Rp. ' }}</strong>
                            </td>
                            <td class="text-right" >
                              <strong>{{'Total Nilai' | uppercase}}</strong>
                            </td>
                            <td class="text-right">
                              <strong>{{ totalRealisasi | currency: 'Rp. ' }}</strong>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="5" class="text-right">
                              <button class="btn btn-sm btn-default" (click)="cancel()"><i class="fa fa-arrow-left"></i>
                                <div class="d-none d-sm-inline-block">&nbsp;{{'Batal' | uppercase}}</div>
                              </button>
                              <button class="btn btn-sm btn-primary" [disabled]="!formRealisasi.valid || submitted || (anggaran && anggaran.detailX.nilai_anggaran < totalRealisasi)"><i class="fa fa-save"></i>
                                <div class="d-none d-sm-inline-block">&nbsp;{{'Simpan' | uppercase}}</div>
                              </button>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
            </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>