<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Potensi dan Pendayagunaan Aset' | uppercase}}</p>
    <small>{{'Potensi dan pendayagunaan aset yang ada dalam sistem' | uppercase}}</small>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link" [class.active]="tab==='map'" data-toggle="tab" [routerLink]="['/potensi-aset']" fragment="map" role="tab">
            <i class="fa fa-map"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Aset Berpotensi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="tab==='data'" data-toggle="tab" [routerLink]="['/potensi-aset']" fragment="data" role="tab">
            <i class="fa fa-diamond"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Data Potensi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit || pengguna.is_validator_pusat">
          <a class="nav-link" [class.active]="tab==='data-perubahan'" data-toggle="tab" [routerLink]="['/potensi-aset']" fragment="data-perubahan" role="tab">
            <i class="fa fa-diamond"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Pengajuan Potensi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" [routerLink]="['/pendayagunaan-aset']" fragment="data" role="tab">
            <i class="fa fa-tasks"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Data Pendayagunaan' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit || pengguna.is_validator_pusat">
          <a class="nav-link" data-toggle="tab" [routerLink]="['/pendayagunaan-aset']" fragment="data-perubahan" role="tab">
            <i class="fa fa-tasks"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Pengajuan Pendayagunaan' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input">
          <a class="nav-link" data-toggle="tab" [routerLink]="['add']" role="tab">
            <i class="fa fa-plus-circle"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Tambah' | uppercase}}</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 d-none d-lg-inline-block text-right">
      <button class="btn btn-default btn-sm" (click)="openModal()">
        <i class="fa fa-search"></i>&nbsp;{{'Cari' | uppercase}}
      </button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row h-100">
    <div class="tab-content w-100 border-0">
      <div class="tab-pane h-100 p-0 active" id="peta" role="tabpanel" [ngClass]="{'active': tab==='map'}">
        <map-legend [showTanah]="true" [showProperti]="true" [zoom]="zoom"></map-legend>
        <yaga-map [(lat)]="lat" [(lng)]="lng" [(zoom)]="zoom" (moveend)="_getMapData()" #map id="map">
          <yaga-zoom-control></yaga-zoom-control>
          <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
          <yaga-attribution-control></yaga-attribution-control>

          <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'" #tileLayer [bounds]="bounds"></yaga-tile-layer>

          <ng-container *ngFor="let tanah of markersPotensiTanah">
            <ng-container *ngIf="tanah.koordinat; else areaTemplate">
              <yaga-marker [lat]="tanah.koordinat.coordinates[0]" [lng]="tanah.koordinat.coordinates[1]">
                <ng-container *ngIf="tanah.clustered > 1; else pointTemplate">
                  <yaga-icon
                    [iconAnchor]="marker.asetTanah.pointClustered.iconAnchor"
                    [iconSize]="marker.asetTanah.pointClustered.iconSize"
                    [popupAnchor]="marker.asetTanah.pointClustered.popupAnchor"
                    [iconUrl]="marker.asetTanah.pointClustered.iconUrl">
                  </yaga-icon>
                  <yaga-popup>
                    <h5><strong>{{ tanah.cluster_name }}</strong></h5>
                    <p>
                      {{ tanah.clustered ? tanah.clustered + ' Potensi Aset Tanah' : '' }}
                    </p>
                  </yaga-popup>
                </ng-container>
                <ng-template #pointTemplate>
                  <yaga-icon
                    [iconAnchor]="marker.asetTanah.point.iconAnchor"
                    [iconSize]="marker.asetTanah.point.iconSize"
                    [popupAnchor]="marker.asetTanah.point.popupAnchor"
                    [iconUrl]="marker.asetTanah.point.iconUrl">
                  </yaga-icon>
                  <yaga-popup>
                    <h5 class="title"><strong>{{ tanah.nama_tanah }}</strong></h5>
                    <div class="foto-aset img-container">
                      <span class="helper"></span>
                      <img alt="foto-aset" [src]="tanah.foto ? uploadDir+'aset-tanah/'+tanah.foto : 'assets/img/no-image.jpg'">
                    </div>
                    <div class="data">
                      <div class="clearfix">
                        <span class="group-title">Organisasi :</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Company Code</span>
                        <span class="pull-right data-value">{{ tanah.company_code | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Business Area</span>
                        <span class="pull-right data-value">{{ tanah.business_area | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="group-title">Wilayah : </span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Provinsi</span>
                        <span class="pull-right data-value">{{ tanah.provinsi | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Kabupaten</span>
                        <span class="pull-right data-value">{{ tanah.kabupaten | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Lokasi</span>
                        <span class="pull-right data-value">{{ tanah.lokasi | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Alamat</span>
                        <span class="pull-right data-value">{{ tanah.alamat_tanah }}</span>
                      </div>
                    </div>
                    <div class="data">
                      <div class="clearfix">
                        <span class="group-title">Deskripsi : </span>
                        <p>
                          {{ tanah.deskripsi_potensi }}
                        </p>
                      </div>
                    </div>
                    <div class="extra-buttons text-right">
                      <a [routerLink]="[showFromMap(tanah.id_potensi)]" class="btn btn-sm btn-round btn-primary"><i class="fa fa-eye"></i> Lihat</a>
                    </div>
                  </yaga-popup>
                </ng-template>
              </yaga-marker>
            </ng-container>
            <ng-template #areaTemplate>
              <yaga-polygon
                [(latLngs)]="tanah.area.coordinates"
                [color]="marker.asetTanah.polygon.color"
                [weight]="marker.asetTanah.polygon.weight">
                <yaga-popup>
                  <h5 class="title"><strong>{{ tanah.nama_tanah }}</strong></h5>
                  <div class="foto-aset img-container">
                    <span class="helper"></span>
                    <img alt="foto-aset" [src]="tanah.foto ? uploadDir+'aset-tanah/'+tanah.foto : 'assets/img/no-image.jpg'">
                  </div>
                  <div class="data">
                    <div class="clearfix">
                      <span class="group-title">Organisasi :</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Company Code</span>
                      <span class="pull-right data-value">{{ tanah.company_code | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Business Area</span>
                      <span class="pull-right data-value">{{ tanah.business_area | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="group-title">Wilayah : </span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Provinsi</span>
                      <span class="pull-right data-value">{{ tanah.provinsi | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Kabupaten</span>
                      <span class="pull-right data-value">{{ tanah.kabupaten | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Lokasi</span>
                      <span class="pull-right data-value">{{ tanah.lokasi | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Alamat</span>
                      <span class="pull-right data-value">{{ tanah.alamat_tanah }}</span>
                    </div>
                  </div>
                  <div class="data">
                    <div class="clearfix">
                      <span class="group-title">Deskripsi : </span>
                      <p>
                        {{ tanah.deskripsi_potensi }}
                      </p>
                    </div>
                  </div>
                  <div class="extra-buttons text-right">
                    <a [routerLink]="[showFromMap(tanah.id_potensi)]" class="btn btn-sm btn-round btn-primary"><i class="fa fa-eye"></i> Lihat</a>
                  </div>
                </yaga-popup>
              </yaga-polygon>
            </ng-template>
          </ng-container>
          <ng-container *ngFor="let properti of markersPotensiProperti">
            <ng-container *ngIf="properti.koordinat; else areaTemplate2">
              <yaga-marker [lat]="properti.koordinat.coordinates[0]" [lng]="properti.koordinat.coordinates[1]">
                <ng-container *ngIf="properti.clustered > 1; else pointTemplate">
                  <yaga-icon [iconAnchor]="marker.asetProperti.pointClustered.iconAnchor" [iconSize]="marker.asetProperti.pointClustered.iconSize"
                    [popupAnchor]="marker.asetProperti.pointClustered.popupAnchor" [iconUrl]="marker.asetProperti.pointClustered.iconUrl">
                  </yaga-icon>
                  <yaga-popup>
                    <h5><strong>{{ properti.cluster_name }}</strong></h5>
                    <p>{{ properti.clustered ? properti.clustered + ' Aset Properti' : '' }}
                    </p>
                  </yaga-popup>
                </ng-container>
                <ng-template #pointTemplate>
                  <yaga-icon [iconAnchor]="marker.asetProperti.point.iconAnchor" [iconSize]="marker.asetProperti.point.iconSize" [popupAnchor]="marker.asetProperti.point.popupAnchor"
                    [iconUrl]="marker.asetProperti.point.iconUrl">
                  </yaga-icon>
                  <yaga-popup>
                    <h5 class="title"><strong>{{ properti.nama_properti }}</strong></h5>
                    <div class="foto-aset img-container">
                      <span class="helper"></span>
                      <img alt="foto-aset" [src]="properti.foto ? uploadDir+'aset-properti/'+properti.foto : 'assets/img/no-image.jpg'">
                    </div>
                    <div class="data">
                      <div class="clearfix">
                        <span class="group-title">Organisasi :</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Company Code</span>
                        <span class="pull-right data-value">{{ properti.company_code | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Business Area</span>
                        <span class="pull-right data-value">{{ properti.business_area | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="group-title">Wilayah : </span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Provinsi</span>
                        <span class="pull-right data-value">{{ properti.provinsi | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Kabupaten</span>
                        <span class="pull-right data-value">{{ properti.kabupaten | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Lokasi</span>
                        <span class="pull-right data-value">{{ properti.lokasi | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Alamat</span>
                        <span class="pull-right data-value">{{ properti.alamat_properti }}</span>
                      </div>
                    </div>
                    <div class="data">
                      <div class="clearfix">
                        <span class="group-title">Deskripsi :</span>
                        <p>
                          {{ properti.deskripsi_potensi }}
                        </p>
                      </div>
                    </div>
                    <div class="extra-buttons text-right">
                      <a [routerLink]="[showFromMap(properti.id_potensi)]" class="btn btn-sm btn-round btn-primary"><i class="fa fa-eye"></i> Lihat</a>
                    </div>
                  </yaga-popup>
                </ng-template>
              </yaga-marker>
            </ng-container>
            <ng-template #areaTemplate2>
              <yaga-polygon [(latLngs)]="properti.area.coordinates" [color]="marker.asetProperti.polygon.color" [weight]="marker.asetProperti.polygon.weight">
                <yaga-popup>
                  <h5 class="title"><strong>{{ properti.nama_properti }}</strong></h5>
                  <div class="foto-aset img-container">
                    <span class="helper"></span>
                    <img alt="foto-aset" [src]="properti.foto ? uploadDir+'aset-properti/'+properti.foto : 'assets/img/no-image.jpg'">
                  </div>
                  <div class="data">
                    <div class="clearfix">
                      <span class="group-title">Organisasi :</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Company Code</span>
                      <span class="pull-right data-value">{{ properti.company_code | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Business Area</span>
                      <span class="pull-right data-value">{{ properti.business_area | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="group-title">Wilayah : </span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Provinsi</span>
                      <span class="pull-right data-value">{{ properti.provinsi | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Kabupaten</span>
                      <span class="pull-right data-value">{{ properti.kabupaten | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Lokasi</span>
                      <span class="pull-right data-value">{{ properti.lokasi | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Alamat</span>
                      <span class="pull-right data-value">{{ properti.alamat_properti }}</span>
                    </div>
                  </div>
                  <div class="data">
                    <div class="clearfix">
                      <span class="group-title">Deskripsi :</span>
                      <p>
                        {{ properti.deskripsi_potensi }}
                      </p>
                    </div>
                  </div>
                  <div class="extra-buttons text-right">
                    <a [routerLink]="[showFromMap(properti.id_potensi)]" class="btn btn-sm btn-round btn-primary"><i class="fa fa-eye"></i> Lihat</a>
                  </div>
                </yaga-popup>
              </yaga-polygon>
            </ng-template>
          </ng-container>
        </yaga-map>
      </div>
      <div class="tab-pane h-100 p-0 active" id="data1" *ngIf="tab==='data'" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <div class="form-group">
                          <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                          <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                            <option [value]="5">5</option>
                            <option [value]="10">10</option>
                            <option [value]="20">20</option>
                            <option [value]="50">50</option>
                            <option [value]="100">100</option>
                          </select>
                          <label> <strong>{{'Data' | uppercase}}</strong></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all text-center">
                      {{'Kategori' | uppercase}}
                      <!-- (click)="sortBy('jenis')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='jenis',
                            'fa-sort-asc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama' | uppercase}}
                      <!-- (click)="sortBy('nama')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama',
                            'fa-sort-asc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nilai' | uppercase}} (Rp)
                      <!-- (click)="sortBy('nilai_potensi')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nilai_potensi',
                            'fa-sort-asc': dataSetting.orderBy==='nilai_potensi' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nilai_potensi' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Deskripsi' | uppercase}}
                      <!-- (click)="sortBy('deskripsi')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='deskripsi',
                            'fa-sort-asc': dataSetting.orderBy==='deskripsi' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='deskripsi' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Business Area' | uppercase}}
                      <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama_business_area',
                            'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <!-- <th class="all text-center">
                      Masa Berlaku
                      <!-- (click)="sortBy('kecamatan.kabupaten.kabupaten_id')"
                          <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='kecamatan.kabupaten.kabupaten_id',
                            'fa-sort-asc': dataSetting.orderBy==='kecamatan.kabupaten.kabupaten_id' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='kecamatan.kabupaten.kabupaten_id' && dataSetting.orderDirection === 'desc'
                            }"></i> --!>
                    </th> -->
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let potensi of pageData;">
                    <tr (dblClick)="show(potensi)">
                      <td>{{ (potensi.potensiable_type === 'App\\Tanah' ? 'Tanah' : 'Properti') | uppercase }}</td>
                      <td>{{ (potensi.potensiable.detail_aktif[0].nama_properti || potensi.potensiable.detail_aktif[0].nama_tanah) | uppercase }}</td>
                      <td>
                        {{ potensi.nilai_potensi | number: '1.0-2'}}
                      </td>
                      <td>
                        {{ potensi.deskripsi | uppercase}}
                      </td>
                      <td>{{ (potensi.potensiable.perpindahan_aktif[0].business_area?.nama_business_area) | uppercase
                        }}</td>
                      <!-- <td>
                        {{ potensi.start_date_potensi | date: 'dd MMM yyyy' }}
                        <br>sampai dengan<br>
                        {{ potensi.end_date_potensi | date: 'dd MMM yyyy' }}
                      </td> -->
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(potensi)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">Lihat</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="8" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane h-100 p-0 active" id="data2" *ngIf="tab==='data-perubahan'" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <div class="form-group">
                          <label> <strong>Lihat</strong></label>
                          <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                            <option [value]="5">5</option>
                            <option [value]="10">10</option>
                            <option [value]="20">20</option>
                            <option [value]="50">50</option>
                            <option [value]="100">100</option>
                          </select>
                          <label> <strong>Data</strong></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                      <th class="all text-center">
                        {{'Kategori' | uppercase}}
                        <!-- (click)="sortBy('jenis')" <i class="fa pull-right" [ngClass]="{
                              'fa-sort': dataSetting.orderBy!=='jenis',
                              'fa-sort-asc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'asc',
                              'fa-sort-desc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'desc'
                              }"></i> -->
                      </th>
                      <th class="all text-center">
                        {{'Nama' | uppercase}}
                        <!-- (click)="sortBy('nama')" <i class="fa pull-right" [ngClass]="{
                              'fa-sort': dataSetting.orderBy!=='nama',
                              'fa-sort-asc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'asc',
                              'fa-sort-desc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'desc'
                              }"></i> -->
                      </th>
                      <th class="all text-center">
                        {{'Nilai' | uppercase}} (Rp)
                        <!-- (click)="sortBy('nilai_potensi')" <i class="fa pull-right" [ngClass]="{
                              'fa-sort': dataSetting.orderBy!=='nilai_potensi',
                              'fa-sort-asc': dataSetting.orderBy==='nilai_potensi' && dataSetting.orderDirection === 'asc',
                              'fa-sort-desc': dataSetting.orderBy==='nilai_potensi' && dataSetting.orderDirection === 'desc'
                              }"></i> -->
                      </th>
                      <th class="all text-center">
                        {{'Deskripsi' | uppercase}}
                        <!-- (click)="sortBy('deskripsi')" <i class="fa pull-right" [ngClass]="{
                              'fa-sort': dataSetting.orderBy!=='deskripsi',
                              'fa-sort-asc': dataSetting.orderBy==='deskripsi' && dataSetting.orderDirection === 'asc',
                              'fa-sort-desc': dataSetting.orderBy==='deskripsi' && dataSetting.orderDirection === 'desc'
                              }"></i> -->
                      </th>
                      <th class="all text-center">
                        {{'Business Area' | uppercase}}
                        <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                              'fa-sort': dataSetting.orderBy!=='nama_business_area',
                              'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                              'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                              }"></i> -->
                      </th>
                    <th class="all text-center">
                      Aksi
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let potensi of pageData;">
                    <tr (dblClick)="show(potensi)">
                      <td>{{ (potensi.potensiable.detail_aktif[0].nama_tanah || potensi.potensiable.detail_aktif[0].nama_properti) | uppercase }}</td>
                      <td>{{ (potensi.potensiable.detail_aktif[0].nama_properti || potensi.potensiable.detail_aktif[0].nama_tanah) | uppercase }}</td>
                      <td>
                        {{ potensi.nilai_potensi | number: '1.0-2'}}
                      </td>
                      <td>
                        {{ potensi.deskripsi | uppercase}}
                      </td>
                      <td>{{ potensi.potensiable.perpindahan_aktif[0].business_area?.nama_business_area | uppercase
                        }}</td>
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(potensi)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">Lihat</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="8" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateFilter>
  <div class="modal-header">
    <h5 class="modal-title">Cari</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12">
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label><strong>Nama Aset</strong></label>
          <input class="form-control" type="text" [(ngModel)]="dataSetting.nama" placeholder="Nama Aset">
        </div>
        <div class="col-12 col-md-6">
          <label> <strong>Jenis Aset</strong></label>
          <select class="form-control" [(ngModel)]="dataSetting.type" name="type">
            <option value="all">Semua Aset</option>
            <option value="Properti">Aset Properti</option>
            <option value="Tanah">Aset Tanah</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label> <strong>Company Code</strong></label>
          <select class="form-control" [(ngModel)]="companyCode" name="companyCode" (change)="showBusinessArea()">
            <option value="all">Semua Company Code</option>
            <option *ngFor="let cc of companyCodes" [ngValue]="cc">{{ cc.nama }}</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <label> <strong>Business Area</strong></label>
          <select class="form-control" [disabled]="!companyCode" [(ngModel)]="idBusinessArea" (change)="checkBusinessArea()" name="idBusinessArea">
            <option value="all">Semua Business Area</option>
            <option *ngFor="let ba of companyCode?.business_area" [value]="ba.id_business_area">{{ ba.nama_business_area }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label> <strong>Provinsi</strong></label>
          <select class="form-control" [(ngModel)]="provinsi" name="provinsi" (change)="showKabupaten()">
            <option value="all">Semua Provinsi</option>
            <option *ngFor="let p of provinsis" [ngValue]="p">{{ p.nama }}</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <label> <strong>Kabupaten</strong></label>
          <select class="form-control" [disabled]="!provinsi" [(ngModel)]="idKabupaten" (change)="checkKabupaten()" name="idKabupaten">
            <option value="all">Semua Kabupaten</option>
            <option *ngFor="let k of provinsi?.kabupatens" [value]="k.id_kabupaten">{{ k.nama }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary btn-sm" type="button" (click)="search()" data-dismiss="modal"> <i class="fa fa-search"></i>&nbsp;Cari</button>
  </div>
</ng-template>