.foto-aset {
  text-align: center;
  margin: auto;
  height: 8em;
  display: inline-block;
  white-space: nowrap;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.foto-aset img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  margin-left: -2px;
  border: 1px solid #ccc;
}