<ul *ngIf="config.totalPages > 1" class="pagination pagination-lg pull-right">
  <li><a (click)="setPage(1)">First</a></li>
  <li *ngFor="let page of config.pages" [class.active]="page.pageNumber==config.current"><a (click)="setPage(page.pageNumber)">{{ page.text }}</a></li>
  <li><a (click)="setPage(config.totalPages)">Last</a></li>
</ul>