<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ 'Laporan Data Aset' | uppercase }}</p>
    <small>{{ jenisAset | uppercase}} </small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabsetX class="col-12">
          <tab id="tab1" (select)="chooseTab('tanah')">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Tanah' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 py-2 mt-0 mb-3 bg-light">
                  <div class="row">
                    <div class="col-12">
                      <h4><i class="fa fa-search"></i> {{'Cari' | uppercase}}</h4>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Organisasi' | uppercase}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Company Code' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <ng-select #selectCC 
                            [allowClear]="true"
                            [items]="itemsCC"
                            [disabled]="!itemsCC"
                            [multiple]="false"
                            (data)="refreshValueCC($event)"
                            (selected)="selectedCC($event)"
                            placeholder="Pilih Company Code">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Business Area' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <ng-select #selectBA 
                            [allowClear]="true"
                            [items]="itemsBA"
                            [disabled]="!itemsBA.length"
                            [multiple]="false"
                            (data)="refreshValueBA($event)"
                            (selected)="selectedBA($event)"
                            placeholder="Pilih Business Area">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Legal' | uppercase}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Status' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="optTanah.sertifikat">
                            <option value="all">{{ 'Semua' | uppercase}}</option>
                            <option value="selesai">{{'Memiliki Sertifikat' | uppercase}}</option>
                            <option value="progress">{{'Sedang Dalam Proses' | uppercase}}</option>
                            <option value="belum-tersertifikasi">{{'Belum Tersertifikasi' | uppercase}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Progress' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="optTanah.progress" [disabled]="optTanah.sertifikat != 'progress'">
                            <option value="0">{{ 'Semua' | uppercase}}</option>
                            <option *ngFor="let progress of progresses" [value]="progress.id_master_progress">{{ progress.nama_master_progress | uppercase }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kepemilikan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="optTanah.kepemilikan">
                            <option value="0">{{ 'Semua' | uppercase}}</option>
                            <option *ngFor="let jenisIzin of jenisIzins" [value]="jenisIzin.id_ijin">{{ jenisIzin.nama_ijin | uppercase }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Operasi' | uppercase}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Potensi Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="optTanah.potensi">
                            <option value="all">{{ 'Semua' | uppercase}}</option>
                            <option value="potensi">{{'Berpotensi' | uppercase}}</option>
                            <option value="tidak-berpotensi">{{'Tidak Berpotensi' | uppercase}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Pendayagunaan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="optTanah.pendayagunaan">
                            <option value="0">{{ 'Semua' | uppercase}}</option>
                            <option *ngFor="let jenisDayaguna of jenisDayagunas" [value]="jenisDayaguna.id_jenis_dayaguna">{{ jenisDayaguna.nama_jenis_dayaguna | uppercase }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Detail' | uppercase}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                          <div class="input-group">
                            <input-number type="number" class="form-control" placeholder="Min" [(ngModel)]="optTanah.start_range_luas"></input-number>
                            <div class="input-group-addon">M<sup>2</sup></div>
                            <div class="input-group-addon"> 
                              -
                            </div>
                            <input-number type="number" class="form-control" placeholder="Max" [(ngModel)]="optTanah.end_range_luas"></input-number>
                            <div class="input-group-addon">M<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 text-right">
                    <button class="btn btn-primary" (click)="filter(optTanah, 1)">
                      <i class="fa fa-search"></i> Cari
                    </button>
                  </div>
                </div>
                <div class="col-12 p-0 mb-2">
                  <div class="col-12">
                    <h4><i class="fa fa-th"></i> {{'Data' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="col-12 mb-2">
                    <div class="row">
                      <div class="col-4 col-sm-2">
                        <div class="form-inline">
                          <div class="form-row align-items-center">
                            <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                            <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                              <option [value]="5">5</option>
                              <option [value]="10">10</option>
                              <option [value]="20">20</option>
                              <option [value]="50">50</option>
                              <option [value]="100">100</option>
                            </select>
                            <label> <strong>{{'Data' | uppercase}}</strong></label>
                          </div>
                        </div>
                      </div>
                      <div class="col-8 col-sm-10 text-right">
                        <button class="btn btn-success" (click)="download()">
                          <i class="fa fa-file-excel-o"></i> Download
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-2">
                    <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th class="all text-center">
                            {{'kode' | uppercase}}
                            <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='kode_tanah',
                                  'fa-sort-asc': dataSetting.orderBy==='kode_tanah' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='kode_tanah' && dataSetting.orderDirection === 'desc'
                                  }"></i>
                          </th>
                          <th class="all text-center">
                            {{'Nama Aset Tanah' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='nama_tanah',
                                  'fa-sort-asc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'desc'
                                  }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Luas' | uppercase}} (M<sup>2</sup>)
                          </th>
                          <th class="all text-center">
                            {{'Nilai' | uppercase}} (Rp)
                          </th>
                          <!-- <th class="all text-center">
                            {{'Alamat' | uppercase}}
                            <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='alamat',
                                  'fa-sort-asc': dataSetting.orderBy==='alamat' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='alamat' && dataSetting.orderDirection === 'desc'
                                  }"></i>
                          </th> -->
                          <th class="all text-center">
                            {{'Business Area' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='nama_business_area',
                                  'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                                  }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Tahun Perolehan' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='tahun_perolehan',
                                  'fa-sort-asc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'desc'
                                  }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Sumber Perolehan' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                  'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                  }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Kepemilikan' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                  'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                  }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Progress' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                  'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                  }"></i> -->
                          </th>
                          <!-- <th class="all text-center">
                            {{'Status Dayaguna' | uppercase}}
                            <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                  'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                  }"></i>
                          </th> -->
                        </tr>
                      </thead>
                      <tbody *ngIf="pageDataT.length > 0; else noData">
                        <ng-container *ngFor="let tanah of pageDataT;">
                          <ng-container *ngIf="tanah.detail; else tanahNonValid">
                            <tr (dblClick)="show(tanah)">
                              <td class="text-nowrap">{{ tanah.perpindahan?.kode_tanah }}</td>
                              <td>{{ tanah.detail.nama_tanah | uppercase  }}</td>
                              <td>{{ tanah.detail.luas_tanah | number: '1.0-2'  }}</td>
                              <td>{{ (tanah.nilai ? tanah.nilai.nilai_tanah : tanah.nilai_perolehan) | number: '1.0-2'  }}</td>
                              <!-- <td>{{ tanah.detail.alamat_tanah | uppercase }}</td> -->
                              <td>{{ tanah.perpindahan.business_area?.nama_business_area | uppercase  }}</td>
                              <td>{{ tanah.tahun_perolehan }}</td>
                              <td>{{ tanah.sumber_perolehan.sumber_perolehan | uppercase }}</td>
                              <td>{{ tanah.dokumen?.ijin.nama_ijin | uppercase  }}</td>
                              <td>{{ tanah.dokumen_on_progress ? 
                                ( tanah.dokumen_on_progress.tahap_sertifikat[tanah.dokumen_on_progress.tahap_sertifikat.length - 1]
                                  .master_progress.nama_master_progress | uppercase)
                                : '-' }}</td>
                              <!-- <td>{{ tanah.status_dayaguna | uppercase  }}</td> -->
                            </tr>
                          </ng-container>
                          <ng-template #tanahNonValid>
                            <tr>
                              <td colspan="10">
                                Tanah Belum Valid
                              </td>
                            </tr>
                          </ng-template>
                        </ng-container>
                      </tbody>
                      <ng-template #noData>
                        <tr>
                          <td colspan="9"class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                        </tr>
                      </ng-template>
                    </table>
                  </div>
                  <div class="col-12 mb-2">
                    <div class="pagination m-0">
                      <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                      <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2" (select)="chooseTab('properti')">
            <ng-template tabHeading>
              <i class="fa fa-bank"></i>
              <span class="d-none d-md-inline-block"> {{'Properti' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 py-2 mt-0 mb-3 bg-light">
                  <div class="row">
                    <div class="col-12">
                      <h4><i class="fa fa-search"></i> {{'Cari' | uppercase}}</h4>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Organisasi' | uppercase}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Company Code' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <ng-select #selectCC 
                            [allowClear]="true"
                            [items]="itemsCC"
                            [disabled]="!itemsCC"
                            [multiple]="false"
                            (data)="refreshValueCC($event)"
                            (selected)="selectedCC($event)"
                            placeholder="Pilih Company Code">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Business Area' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <ng-select #selectBA 
                            [allowClear]="true"
                            [items]="itemsBA"
                            [disabled]="!itemsBA.length"
                            [multiple]="false"
                            (data)="refreshValueBA($event)"
                            (selected)="selectedBA($event)"
                            placeholder="Pilih Business Area">
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="jenisProperti" (change)="changeJenis()">
                            <option [value]="0">{{ 'Semua' | uppercase}}</option>
                            <option *ngFor="let jenisProperti of jenisPropertis" [ngValue]="jenisProperti">{{ jenisProperti.nama | uppercase }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sub Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="optProperti.subJenis">
                            <option value="0">{{ 'Semua' | uppercase}}</option>
                            <ng-container *ngIf="jenisProperti && jenisProperti.sub_jenis_aset">
                              <option *ngFor="let subJenisAset of jenisProperti.sub_jenis_aset" [value]="subJenisAset.id_sub_jenis_aset">{{ subJenisAset.nama | uppercase }}</option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Operasi' | uppercase}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Potensi Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="optProperti.potensi">
                            <option value="all">{{ 'Semua' | uppercase}}</option>
                            <option value="potensi">{{'Berpotensi' | uppercase}}</option>
                            <option value="tidak-berpotensi">{{'Tidak Berpotensi' | uppercase}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Pendayagunaan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" [(ngModel)]="optProperti.pendayagunaan">
                            <option value="0">{{ 'Semua' | uppercase}}</option>
                            <option *ngFor="let jenisDayaguna of jenisDayagunas" [value]="jenisDayaguna.id_jenis_dayaguna">{{ jenisDayaguna.nama_jenis_dayaguna | uppercase }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Detail' | uppercase}}</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group row">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                          <div class="input-group">
                            <input-number type="number" class="form-control" placeholder="Min" [(ngModel)]="optProperti.start_range_luas"></input-number>
                            <div class="input-group-addon">M<sup>2</sup></div>
                            <div class="input-group-addon">
                              -
                            </div>
                            <input-number type="number" class="form-control" placeholder="Max" [(ngModel)]="optProperti.end_range_luas"></input-number>
                            <div class="input-group-addon">M<sup>2</sup></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 text-right">
                    <button class="btn btn-primary" (click)="filter(optProperti, 1)">
                      <i class="fa fa-search"></i> Cari
                    </button>
                  </div>
                </div>
                <div class="col-12 p-0 mb-2">
                  <div class="col-12">
                    <h4><i class="fa fa-th"></i> {{'Data' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="col-12 mb-2">
                    <div class="row">
                      <div class="col-4 col-sm-2">
                        <div class="form-inline">
                          <div class="form-row align-items-center">
                            <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                            <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                              <option [value]="5">5</option>
                              <option [value]="10">10</option>
                              <option [value]="20">20</option>
                              <option [value]="50">50</option>
                              <option [value]="100">100</option>
                            </select>
                            <label> <strong>{{'Data' | uppercase}}</strong></label>
                          </div>
                        </div>
                      </div>
                      <div class="col-8 col-sm-10 text-right">
                        <button class="btn btn-success" (click)="download()">
                          <i class="fa fa-file-excel-o"></i> Download
                        </button>
                      </div>
                      <!-- <div class="col-8 col-sm-10 ml-auto text-right"><button class="btn btn-default" (click)="openModal()"><i class="fa fa-search"></i>&nbsp;{{'Cari' | uppercase}}</button></div> -->
                    </div>
                  </div>
                  <div class="col-12 mb-2">
                    <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th class="all text-center">
                            {{'kode' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                  'fa-sort': dataSetting.orderBy!=='kode_properti',
                                  'fa-sort-asc': dataSetting.orderBy==='kode_properti' && dataSetting.orderDirection === 'asc',
                                  'fa-sort-desc': dataSetting.orderBy==='kode_properti' && dataSetting.orderDirection === 'desc'
                                  }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Nama Aset Properti' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                      'fa-sort': dataSetting.orderBy!=='nama_properti',
                                      'fa-sort-asc': dataSetting.orderBy==='nama_properti' && dataSetting.orderDirection === 'asc',
                                      'fa-sort-desc': dataSetting.orderBy==='nama_properti' && dataSetting.orderDirection === 'desc'
                                      }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Jenis Aset' | uppercase}}
                            <!-- (click)="sortBy('jenis_aset')" <i class="fa pull-right" [ngClass]="{
                              'fa-sort': dataSetting.orderBy!=='jenis_aset',
                              'fa-sort-asc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'asc',
                              'fa-sort-desc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'desc'
                              }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Luas' | uppercase}} (M<sup>2</sup>)
                          </th>
                          <th class="all text-center">
                            {{'Nilai' | uppercase}} (Rp)
                          </th>
                          <!-- <th class="all text-center" (click)="sortBy('jenis_aset')">
                            {{'Sub Jenis' | uppercase}}
                            <i class="fa pull-right" [ngClass]="{
                              'fa-sort': dataSetting.orderBy!=='jenis_aset',
                              'fa-sort-asc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'asc',
                              'fa-sort-desc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'desc'
                              }"></i>
                          </th> -->
                          <th class="all text-center">
                            {{'Aset Tanah' | uppercase}}
                            <!-- (click)="sortBy('nama_tanah')" <i class="fa pull-right" [ngClass]="{
                              'fa-sort': dataSetting.orderBy!=='nama_tanah',
                              'fa-sort-asc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'asc',
                              'fa-sort-desc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'desc'
                              }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Business Area' | uppercase}}
                            <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                                      'fa-sort': dataSetting.orderBy!=='nama_business_area',
                                      'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                                      'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                                      }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Tahun Perolehan' | uppercase}}
                            <!-- (click)="sortBy('tahun_perolehan')" <i class="fa pull-right" [ngClass]="{
                                      'fa-sort': dataSetting.orderBy!=='tahun_perolehan',
                                      'fa-sort-asc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'asc',
                                      'fa-sort-desc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'desc'
                                      }"></i> -->
                          </th>
                          <th class="all text-center">
                            {{'Sumber Perolehan' | uppercase}}
                            <!-- <i class="fa pull-right" [ngClass]="{
                                      'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                      'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                      'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                      }"></i> -->
                          </th>
                          <!-- <th class="all text-center">
                            {{'Status Pendayagunaan' | uppercase}}
                            <i class="fa pull-right" [ngClass]="{
                                      'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                      'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                      'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                      }"></i>
                          </th> -->
                        </tr>
                      </thead>
                      <tbody *ngIf="pageDataP.length > 0; else noData">
                        <ng-container *ngFor="let properti of pageDataP;">
                          <ng-container *ngIf="properti.detail && properti.perpindahan; else propertiNonValid">
                            <tr (dblClick)="show(properti)">
                              <td>{{ properti.perpindahan?.kode_properti }}</td>
                              <td>{{ properti.detail?.nama_properti | uppercase }}</td>
                              <td>{{ properti.detail.jenis_aset?.nama | uppercase }}</td>
                              <td>{{ properti.detail.luas_properti | number: '1.0-2'  }}</td>
                              <td>{{ (properti.nilai ? properti.nilai.nilai_properti : properti.nilai_perolehan) | number: '1.0-2'  }}</td>
                              <!-- <td>{{ properti.detail.sub_jenis_aset?.nama | uppercase }}</td> -->
                              <td>{{ properti.perpindahan.tanah?.detail_aktif[0].nama_tanah | uppercase }}</td>
                              <td>{{ properti.perpindahan.business_area?.nama_business_area | uppercase }}</td>
                              <td>{{ properti.tahun_perolehan }}</td>
                              <td>{{ properti.sumber_perolehan.sumber_perolehan | uppercase }}</td>
                              <!-- <td>{{ properti.status_dayaguna | uppercase  }}</td> -->
                            </tr>
                          </ng-container>
                          <ng-template #propertiNonValid>
                            <tr>
                              <td colspan="10">
                                Properti Belum Valid
                              </td>
                            </tr>
                          </ng-template>
                        </ng-container>
                      </tbody>
                      <ng-template #noData>
                        <tr>
                          <td colspan="9"class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                        </tr>
                      </ng-template>
                    </table>
                  </div>
                  <div class="col-12 mb-2">
                    <div class="pagination m-0">
                      <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                      <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>