<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">401</h1>
          <h4 class="pt-3">Invalid Login</h4>
          <p class="text-muted">Your token is invalid, please login again.</p>
        </div>
        <a [routerLink]="['/auth/login']" class="btn btn-primary pull-right"><i class="icon-lock"></i> Login</a>
      </div>
    </div>
  </div>
</div>  
