<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">403</h1>
          <h4 class="pt-3">Oops, Wrong Way!</h4>
          <p class="text-muted">You didn't have permission to access this page.</p>
        </div>
        <!-- <a href="#" class="btn btn-primary" (click)="back()"><i class="icon-arrow-left"></i> Back</a> -->
        <a [routerLink]="['/']" class="btn btn-primary pull-right"><i class="icon-home"></i> Go to Homepage</a>
      </div>
    </div>
  </div>
</div>  
