<div class="s-info bg-white">
    <div class="s-heading">
      <p>{{ 'Laporan Realisasi' | uppercase }}</p>
      <small>{{ 'Data Realisasi Anggaran' | uppercase}} </small>
    </div>
  </div>
  <div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
    <div class="row tab-content border-0 h-100">
      <div class="col-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
        <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
          <tabset #tabsetX class="col-12">
            <tab id="tab1" (select)="chooseTab('realisasi')">
              <ng-template tabHeading>
                <i class="fa fa-info-circle"></i>
                <span class="d-none d-md-inline-block"> {{'Realisasi Anggaran' | uppercase}}</span>
              </ng-template>
              <div class="tab-pane" id="detail" role="tabpanel">
                <div class="row">
                  <div class="col-12 py-2 mt-0 mb-3 bg-light">
                    <div class="row">
                      <div class="col-12">
                        <h4><i class="fa fa-search"></i> {{'Cari' | uppercase}}</h4>
                        <hr>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Organisasi' | uppercase}}</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Company Code' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectCC 
                              [allowClear]="true"
                              [items]="itemsCC"
                              [disabled]="!itemsCC"
                              [multiple]="false"
                              (data)="refreshValueCC($event)"
                              (selected)="selectedCC($event)"
                              placeholder="Pilih Company Code">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Realisasi' | uppercase}}</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-5">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tanggal Realisasi' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input type="date" class="form-control" [(ngModel)]="optRealisasi.startDate">
                              <div class="input-group-addon">
                                <span> <sup>s</sup>/<sub>d</sub></span>
                              </div>
                              <input type="date" class="form-control" [(ngModel)]="optRealisasi.endDate">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-right">
                      <button class="btn btn-primary" (click)="filter(optRealisasi)">
                        <i class="fa fa-search"></i> Cari
                      </button>
                    </div>
                  </div>
                  <div class="col-12 p-0 mb-2">
                    <div class="col-12">
                      <h4><i class="fa fa-th"></i> {{'Data' | uppercase}}</h4>
                      <hr>
                    </div>
                    <div class="col-12 mb-2">
                      <div class="row">
                        <div class="col-4 col-sm-2">
                          <div class="form-inline">
                            <div class="form-row align-items-center">
                              <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                              <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                                <option [value]="5">5</option>
                                <option [value]="10">10</option>
                                <option [value]="20">20</option>
                                <option [value]="50">50</option>
                                <option [value]="100">100</option>
                              </select>
                              <label> <strong>{{'Data' | uppercase}}</strong></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-8 col-sm-10 text-right">
                          <button class="btn btn-success" (click)="download()">
                            <i class="fa fa-file-excel-o"></i> {{'Download' | uppercase}}
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mb-2">
                      <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th class="text-center text-nowrap">{{'Tahun Anggaran' | uppercase}}</th>
                            <th class="text-center text-nowrap">{{'No. Anggaran' | uppercase}}</th>
                            <th class="text-center text-nowrap">{{'Nama Anggaran' | uppercase}}</th>
                            <th class="text-center text-nowrap">{{'Business Area' | uppercase}}</th>
                            <th class="text-center text-nowrap">{{'Total Anggaran' | uppercase}} (Rp)</th>
                            <th class="text-center text-nowrap">{{'Total Realisasi' | uppercase}} (Rp)</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="pageData.length > 0; else noData">
                          <ng-container *ngFor="let realisasi of pageData;">
                            <tr (dblClick)="show(realisasi)">
                              <td>{{ realisasi.anggaran?.tahun_anggaran }}</td>
                              <td>{{ realisasi.anggaran?.nomor_anggaran }}</td>
                              <td>{{ realisasi.anggaran?.nama_anggaran | uppercase }}</td>
                              <td>{{ (realisasi.business_area?.nama_business_area) | uppercase }}</td>
                              <td>{{ realisasi.anggaran?.pengajuan_anggaran | number: '1.0-2' }}</td>
                              <td>{{ realisasi.total_realisasi | number: '1.0-2' }}</td>
                            </tr>
                          </ng-container>
                        </tbody>
                        <ng-template #noData>
                          <tr>
                            <td colspan="9"class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                          </tr>
                        </ng-template>
                      </table>
                    </div>
                    <div class="col-12 mb-2">
                      <div class="pagination m-0">
                        <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                        <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>