<div class="s-info bg-white">
    <div class="s-heading">
      <p>{{ anggaran?.nama_anggaran | uppercase }}</p>
      <small>{{'Anggaran' | uppercase}}</small>
    </div>
  </div>
  <div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
    <div class="row tab-content border-0 h-100">
      <div class="col-lg-12 col-md-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
        <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
          <tabset class="col-12">
            <tab id="tab1">
              <ng-template tabHeading>
                <i class="fa fa-info-circle"></i>
                <span class="d-none d-md-inline-block"> {{'Detail Anggaran' | uppercase}}</span>
              </ng-template>
              <div class="tab-pane" id="detail" role="tabpanel" *ngIf="anggaran">
                <div class="row" [formGroup]="formAnggaran" novalidate>
                  <div class="col-12 bg-light pt-2">
                    <div class="col-12">
                      <h4>{{'Data Anggaran' | uppercase}}</h4>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Company Code' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="anggaran.company_code.nama | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nama Anggaran' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="anggaran.nama_anggaran | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Deskripsi' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <textarea class="form-control" disabled="disabled" [innerHTML]="anggaran.deskripsi | uppercase"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group" *ngIf="anggaran.business_area">
                          <div class="col-12">
                            <label>
                              <strong>{{'Business Area' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="anggaran.business_area.nama_business_area | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'No. Anggaran' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-container *ngIf="anggaranDetail && anggaranDetail.action_button && anggaranDetail.action_button.is_last_approvement; else TnoAnggaran">
                              <input type="text" class="form-control" formControlName="no_anggaran" [(ngModel)]="anggaranDetail.nomor_anggaran">
                              <div class="invalid-feedback" 
                                *ngIf="formAnggaran.controls.no_anggaran.invalid && (formAnggaran.controls.no_anggaran.dirty || formAnggaran.controls.no_anggaran.touched)">
                                <div *ngIf="formAnggaran.controls.no_anggaran.errors.required">
                                  No. Anggaran harus diisi</div>
                              </div>
                            </ng-container>
                            <ng-template #TnoAnggaran>
                              <input type="text" class="form-control" disabled="disabled" [value]="anggaran.nomor_anggaran">
                            </ng-template>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Anggaran' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="anggaran.tahun_anggaran">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 bg-light pt-2 mt-3">
                    <div class="col-12">
                      <h4>{{'Data Anggaran' | uppercase}}</h4>
                      <hr>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-12 col-md-6 p-0">
                          <div class="form-group">
                            <div class="col-12">
                              <label><strong>{{'Nama Anggaran' | uppercase}}</strong></label>
                            </div>
                            <div class="col-12">
                              <input type="text" class="form-control" disabled="disabled" [value]="anggaran.nama_anggaran | uppercase">
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 p-0">
                          <div class="form-group">
                            <div class="col-12">
                              <label><strong>{{'No. Anggaran' | uppercase}}</strong></label>
                            </div>
                            <div class="col-12">
                              <input type="text" class="form-control" disabled="disabled" [value]="anggaran.nomor_anggaran">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 bg-white py-3">
                      <h4>{{'Alokasi' | uppercase}}</h4>
                      <hr>
                      <table class="table table-responsive-sm">
                        <thead>
                          <tr>
                            <th class="text-center" colspan="2">
                              <strong>{{'Nama Aset' | uppercase}}</strong>
                            </th>
                            <th class="text-center">
                              <strong>{{'Nama Pekerjaan' | uppercase}}</strong>
                            </th>
                            <th class="text-center">
                              <strong>{{'No. Draft Pengajuan Pekerjaan' | uppercase}}</strong>
                            </th>
                            <th class="text-center">
                              <strong>{{'Keterangan Pekerjaan' | uppercase}}</strong>
                            </th>
                            <th class="text-center">
                              <strong>{{'Nilai Pekerjaan' | uppercase}}</strong>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr app-row-pekerjaan
                            *ngFor="let alokasi of anggaranDetail.alokasi; let i = index"
                            [model]="anggaranDetail.alokasi[i]"
                            [group]="formAnggaran.controls.detail.controls[i]"
                            [idBusinessArea]="idBusinessArea"
                            [isApproval]="true"
                            [index]="i"
                            [removable]="anggaranDetail.alokasi.length > 1"
                            (onRemove)="removePekerjaan($event)"></tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td>
                              <button class="btn btn-sm btn-primary" disabled="disabled" data-toggle="modal" data-target="#modal-pilih-properti">
                                <i class="fa fa-plus-square"></i>
                              </button>
                            </td>
                            <td class="text-right" colspan="4">
                              <strong>{{'Total Nilai' | uppercase}}</strong>
                            </td>
                            <td class="text-right">
                              <strong>{{ totalAnggaran | currency: 'Rp. ' }}</strong>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="6" class="text-right">
                              <button class="btn btn-sm btn-default" (click)="cancel()"><i class="fa fa-arrow-left"></i>
                                <div class="d-none d-sm-inline-block">&nbsp;{{'Batal' | uppercase}}</div>
                              </button>
                              <button class="btn btn-sm btn-primary" (click)="save()" [disabled]="!formAnggaran.valid || submitted || !(anggaranDetail.action_button.type==='approve' && anggaranDetail.action_button.button)"><i class="fa fa-save"></i>
                                <div class="d-none d-sm-inline-block">&nbsp;{{'Approve' | uppercase}}</div>
                              </button>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>