<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ formTitle | uppercase}}</p>
    <small>{{ (aset && aset.detail ? (aset.detail.nama_properti || aset.detail.nama_tanah) : '-- Silahkan pilih aset') | uppercase }}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Aset' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kategori' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="select2 form-control" [disabled]="addByAset" [(ngModel)]="jenisAset" name="jenisAset" (change)="_getAset()">
                        <option [value]="'App\\Tanah'">{{'Aset Tanah' | uppercase}}</option>
                        <option [value]="'App\\Properti'">{{'Aset Properti' | uppercase}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Provinsi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectProvinsi 
                        [allowClear]="true"
                        [items]="itemsP"
                        [disabled]="addByAset"
                        [multiple]="false"
                        (data)="refreshValueP($event)"
                        (selected)="selectedP($event)"
                        placeholder="Pilih Provinsi">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kabupaten/Kota' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectKabupaten 
                        [allowClear]="true"
                        [items]="itemsK"
                        [disabled]="addByAset || !itemsK.length"
                        [multiple]="false"
                        (data)="refreshValueK($event)"
                        (selected)="selectedK($event)"
                        placeholder="Pilih Kabupaten">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Lokasi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectLokasi 
                        [allowClear]="true"
                        [items]="itemsL"
                        [disabled]="addByAset || !itemsL.length"
                        [multiple]="false"
                        (data)="refreshValueL($event)"
                        (selected)="selectedL($event)"
                        placeholder="Pilih Lokasi">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Company Code' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectCC 
                        [allowClear]="true"
                        [items]="itemsCC"
                        [disabled]="addByAset || !itemsCC"
                        [multiple]="false"
                        (data)="refreshValueCC($event)"
                        (selected)="selectedCC($event)"
                        placeholder="Pilih Company Code">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Business Area' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectBA 
                        [allowClear]="true"
                        [items]="itemsBA"
                        [disabled]="addByAset || !itemsBA.length"
                        [multiple]="false"
                        (data)="refreshValueBA($event)"
                        (selected)="selectedBA($event)"
                        placeholder="Pilih Business Area">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Aset' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectAset 
                        [allowClear]="true"
                        [items]="itemsT"
                        [disabled]="addByAset || !itemsT.length"
                        [multiple]="false"
                        (data)="refreshValueT($event)"
                        (selected)="selectedT($event)"
                        placeholder="Pilih Tanah">
                      </ng-select>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <div class="col-12 col-md-4" *ngIf="jenisAset==='App\\Properti'">
                      <label>
                        <strong>Jenis Aset Properti</strong>
                      </label>
                      <select class="select2 form-control" [(ngModel)]="idJenisAset" name="idJenisAset" (change)="_getAset()">
                        <option *ngFor="let jenisAsetProperti of jenisAsetPropertis" [value]="jenisAsetProperti.id_jenis_aset">{{ jenisAsetProperti.nama }}</option>
                      </select>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-12 p-0 pt-2 bg-light mt-3" *ngIf="aset && aset.detail">
                <div class="row">
                  <ng-container *ngIf="jenisAset==='App\\Properti'; else detailAsetTanah">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.nama_properti | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.tahun_perolehan">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.tahun_penilaian">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.luas_properti | number: '1.0-2'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai_perolehan | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Saat Ini' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.nilai_properti | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.alamat_properti | uppercase">
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #detailAsetTanah>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.nama_tanah | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.tahun_perolehan">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.tahun_penilaian">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.luas_tanah | number: '1.0-2'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan?.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai_perolehan | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Saat Ini' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.nilai_tanah | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.alamat_tanah | uppercase">
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2" [disabled]="!aset">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Potensi' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 col-md-6" *ngIf="aset && aset.potensi">
                  <div class="col-12">
                    <h4>{{ 'Potensi Saat Ini' | uppercase }}</h4>
                    <hr/>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nilai Potensi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" type="text" disabled="disabled" [value]="aset.potensi.nilai_potensi | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Deskripsi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" placeholder="Deskripsi potensi" disabled="disabled">{{aset.potensi.deskripsi | uppercase}}</textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 p-0">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Periode Penawaran' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input class="form-control" type="text" disabled="disabled" [value]="aset.potensi.start_date_potensi" [value]="aset.potensi.start_date_potensi | date: 'dd MMM yyyy'">
                              <span class="input-group-addon"> <sup>s</sup>/<sub>d</sub></span>
                              <input class="form-control" type="text" disabled="disabled" [value]="aset.potensi.end_date_potensi" [value]="aset.potensi.end_date_potensi | date: 'dd MMM yyyy'" >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6" *ngIf="potensiAset">
                  <form [formGroup]="formPotensi" novalidate (submit)="save()">
                    <div class="col-12">
                      <h4>{{ 'Usulan'  | uppercase}}</h4>
                      <hr>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Nilai Potensi' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <div class="input-group">
                          <div class="input-group-addon"><span>Rp. </span></div>
                          <input-number class="form-control" type="number" [(ngModel)]="potensiAset.nilai_potensi" formControlName="nilai_potensi" placeholder="Nilai Potensi Aset" 
                          [ngClass]="{'is-invalid': formPotensi.controls.nilai_potensi.invalid && (formPotensi.controls.nilai_potensi.dirty || formPotensi.controls.nilai_potensi.touched)}"></input-number>
                        </div>
                        <div class="invalid-feedback" *ngIf="formPotensi.controls.nilai_potensi.invalid && (formPotensi.controls.nilai_potensi.dirty || formPotensi.controls.nilai_potensi.touched)">
                          <div *ngIf="formPotensi.controls.nilai_potensi.errors.required">Nilai potensi harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Deskripsi' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" placeholder="Deskripsi potensi" [(ngModel)]="potensiAset.deskripsi" formControlName="deskripsi" [ngClass]="{'is-invalid': formPotensi.controls.deskripsi.invalid && (formPotensi.controls.deskripsi.dirty || formPotensi.controls.deskripsi.touched)}"></textarea>
                        <div class="invalid-feedback" *ngIf="formPotensi.controls.deskripsi.invalid && (formPotensi.controls.deskripsi.dirty || formPotensi.controls.deskripsi.touched)">
                          <div *ngIf="formPotensi.controls.deskripsi.errors.required">Deskripsi harus diisi</div>
                          <div *ngIf="formPotensi.controls.deskripsi.errors.minlength">Panjang minimal {{formPotensi.controls.deskripsi.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formPotensi.controls.deskripsi.errors.maxlength">Panjang maksimal {{formPotensi.controls.deskripsi.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-12 p-0">
                          <div class="form-group">
                            <div class="col-12">
                              <label>
                                <strong>{{'Periode Penawaran' | uppercase}}</strong>
                              </label>
                            </div>
                            <div class="col-12">
                              <div class="input-group">
                                <input class="form-control" type="date" [(ngModel)]="potensiAset.start_date_potensi" [value]="potensiAset.start_date_potensi | date: 'yyyy-MM-dd'" formControlName="start_date_potensi" placeholder="Tanggal mulai" [ngClass]="{'is-invalid': formPotensi.controls.start_date_potensi.invalid && (formPotensi.controls.start_date_potensi.dirty || formPotensi.controls.start_date_potensi.touched)}">
                                <span class="input-group-addon"> <sup>s</sup>/<sub>d</sub></span>
                                <input class="form-control" type="date" [(ngModel)]="potensiAset.end_date_potensi" [value]="potensiAset.end_date_potensi | date: 'yyyy-MM-dd'" formControlName="end_date_potensi" placeholder="Tanggal selesai" [ngClass]="{'is-invalid': formPotensi.controls.end_date_potensi.invalid && (formPotensi.controls.end_date_potensi.dirty || formPotensi.controls.end_date_potensi.touched)}">
                              </div>
                              <div class="invalid-feedback" *ngIf="formPotensi.controls.start_date_potensi.invalid && (formPotensi.controls.start_date_potensi.dirty || formPotensi.controls.start_date_potensi.touched)">
                                <div *ngIf="formPotensi.controls.start_date_potensi.errors.required">Tanggal mulai harus diisi</div>
                              </div>
                              <div class="invalid-feedback" *ngIf="formPotensi.controls.end_date_potensi.invalid && (formPotensi.controls.end_date_potensi.dirty || formPotensi.controls.end_date_potensi.touched)">
                                <div *ngIf="formPotensi.controls.end_date_potensi.errors.required">Tanggal selesai harus diisi</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 text-right">
                  <div class="form-group">
                    <button class="btn btn-default" (click)="cancel()">
                      <i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                    <button class="btn btn-primary" (click)="save()" [disabled]="!formPotensi.valid || !aset">
                      <i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>