<div class="s-info bg-white">
  <div class="s-heading">
    <ng-container *ngIf="isEdit; else headingDetail">
      <p>{{ title | uppercase}}</p>
      <small>{{ title + ' dalam SIMAPRO ' | uppercase }} </small>
    </ng-container>
    <ng-template #headingDetail>
      <p>{{ provinsi?.nama | uppercase}}</p>
      <small>{{ 'Provinsi ' | uppercase }} </small>
    </ng-template>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active">

          <form [formGroup]="myForm" novalidate (ngSubmit)="save()" class="form-horizontal">
            <div class="row">
              <div class="col-12 col-md-6 p-0">
                <div class="form-group col-12" [ngClass]="{
                        'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)
                        }">
                  <label class="control-label col-12">
                    <strong>{{'Kelompok Pulau' | uppercase}}
                      <span class="required"> * </span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <select class="form-control" formControlName="id_pulau" [(ngModel)]="provinsi.id_pulau" [ngClass]="{'is-invalid': myForm.controls.id_pulau.invalid && (myForm.controls.id_pulau.dirty || myForm.controls.id_pulau.touched)}">
                      <option *ngFor="let pulau of pulaus" [value]="pulau.id_pulau">{{ pulau.nama | uppercase }}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="myForm.controls.id_pulau.invalid && (myForm.controls.id_pulau.dirty || myForm.controls.id_pulau.touched)">
                      <div *ngIf="myForm.controls.id_pulau.errors.required">Kelompok Pulau harus diisi</div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-12" [ngClass]="{
                        'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)
                        }">
                  <label class="control-label col-12">
                    <strong>{{'Nama' | uppercase}}
                      <span class="required"> * </span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <input type="text" formControlName="nama" required [(ngModel)]="provinsi.nama" class="form-control" [ngClass]="{'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)}"
                    />
                    <div class="invalid-feedback" *ngIf="myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)">
                      <div *ngIf="myForm.controls.nama.errors.required">Nama provinsi harus diisi</div>
                      <div *ngIf="myForm.controls.nama.errors.minlength">Panjang minimal {{myForm.controls.nama.errors.minlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama.errors.maxlength">Panjang maksimal {{myForm.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12 text-right">
                <ng-container *ngIf="isEdit; else buttonShow">
                  <button type="button" (click)="cancel()" class="btn btn-default">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> {{'Batal' | uppercase}}</button>
                  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid || isSubmitted" (click)="save()">
                    <i class="fa fa-save"></i>&nbsp;{{'Simpan Data' | uppercase}}</button>
                </ng-container>
                <ng-template #buttonShow>
                  <button type="button" class="btn btn-default" (click)="_location.back()">
                    <i class="fa fa-arrow-left"></i> {{'kembali' | uppercase}}</button>
                  <button type="button" *ngIf="provinsi.is_active" class="btn btn-primary" (click)="edit()">
                    <i class="fa fa-pencil"></i> {{'Ubah' | uppercase}}</button>
                </ng-template>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>