<div class="s-info bg-white">
  <div class="s-heading">
    <p>FAQ</p>
    <small>Frequently Asked Questions </small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content py-3 px-5">
        <div class="col-12 col-sm-4 offset-sm-8 col-mb-2">
          <div class="form-group">
            <div class="input-group">
              <input type='text' class="form-control" placeholder='Cari' [(ngModel)]="query" (keyup)="search()" />
            </div>
          </div>
        </div>
        <div class="col-12">
          <h4>{{ 'Daftar Pertanyaan' | uppercase }}</h4>
          <hr/>
        </div>
        <ng-container *ngIf="questionAndAnswersFiltered.length > 0; else noQuestion">
          <div class="col-12 py-1" *ngFor="let qna of questionAndAnswersFiltered">
            <a data-bi-id="faq-panel-content" (click)="toggle(qna)" class="link-expand bold x-hidden-focus" href="#" aria-expanded="true"
              [title]="qna.question">
              <i class="fa pr-1" [class.fa-caret-up]="!qna.isCollapsed" [class.fa-caret-down]="qna.isCollapsed" style="color: black;"></i>
              <span class="link-expand-text ng-binding faq-panel-show" id=""><strong>{{ qna.question }}</strong></span>
            </a>
            <div [collapse]="qna.isCollapsed" class="pl-3 py-2" aria-hidden="false">
              <div class="card-text" [innerHTML]="qna.answer"></div>
            </div>
            <!-- <div class="card my-0" style="border: none">
              <div class="card-header" (click)="qna.isCollapsed = !qna.isCollapsed" [attr.aria-expanded]="!qna.isCollapsed" aria-controls="collapseBasic">
                {{ qna.question }}
              </div>
              <div class="card-body" [collapse]="qna.isCollapsed">
                <div class="card-text" [innerHTML]="qna.answer"></div>
              </div>
            </div> -->
          </div>
        </ng-container>
        <ng-template #noQuestion>
          <div class="col-12 mb-0 py-0 text-center">
            <h5>Tidak ada pertanyaan yang ditemukan</h5>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>