<div class="s-info bg-white">
    <div class="s-heading">
      <p>Credits</p>
      <small>Thanks To </small>
    </div>
  </div>
  <div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
    <div class="row tab-content border-0 h-100">
      <div class="col-12 s-tab-fixed bg-light h-100 p-3">
      </div>
    </div>
  </div>