<div class="app flex-row align-items-center animated fadeIn">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-block">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <app-list-errors [errors]="errors"></app-list-errors>
                <span *ngIf="invalidLogin" class="text-center text-danger">
                  {{ invalidMessage }}
                </span>
                <form [formGroup]="authForm" (ngSubmit)="submitForm()">
                  <fieldset [disabled]="isSubmitting">
                    <fieldset class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="icon-user"></i> </span>
                        <input autofocus
                          formControlName="username"
                          placeholder="Username"
                          class="form-control"
                          type="text"/>
                      </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="icon-lock"></i>  </span>
                          <input
                            formControlName="password"
                            placeholder="Password"
                            class="form-control"
                            [type]="showPassword ? 'text' : 'password'" />
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                      <label class="form-check">
                        <input
                          [checked]="showPassword"
                          (change)="togglePassword()"
                          type="checkbox" />

                          Tampilkan Password
                      </label>

                    </fieldset>
                  </fieldset>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary btn-block" [disabled]="!authForm.valid || isSubmitting" type="submit">
                      <i class="icon-key"></i> Login
                    </button>
                    <br>
                    <p class="text-muted">Login dengan SSO :</p>
                    <button class="btn btn-warning btn-block" type="button" (click)="loginWithSSO()">
                      <i class="icon-user"></i> Login Via IAM PLN
                    </button>
                  </div>
                </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <a (click)="goHome()" title="Kembali ke Beranda">
                    <img src="assets/img/logo-shadow.png" alt="Simapro +" class="logo">
                  </a>
                  <br/>
                  <small>"Sistem Informasi Manajemen Aset Properti"</small>
                  <br/>
                  <p>
                    Silakan menghubungi Administrator untuk mendapatkan akses
                  </p>
                  <button class="btn btn-block" type="button" (click)="goHome()">
                    <i class="icon-home"></i> Kembali ke Beranda
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  