<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ companyCode.nama_company_code }}</p>
    <small>{{ companyCode.nama }} </small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed bg-light h-100 p-3">
      <tabset>
        <tab id="tab1">
          <ng-template tabHeading>
            <i class="fa fa-briefcase"></i>
            <span class="d-none d-md-inline-block"> Detail Company Code</span>
          </ng-template>
          <div class="tab-pane active" role="tabpanel">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="col-12">
                  <label class="col-12">Company Code</label>
                  <p class="col-12">
                    <strong>{{ companyCode.kode_company_code }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">Nama</label>
                  <p class="col-12">
                    <strong>{{ companyCode.nama }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">Nama Company Code</label>
                  <p class="col-12">
                    <strong>{{ companyCode.nama_company_code }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">Grup</label>
                  <p class="col-12">
                    <strong>{{ companyCode.grup }}</strong>
                  </p>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="col-12">
                  <label class="col-12">ID Busare</label>
                  <p class="col-12">
                    <strong>{{ companyCode.id_busare }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">ID Pare</label>
                  <p class="col-12">
                    <strong>{{ companyCode.id_pare }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">ID Psubare</label>
                  <p class="col-12">
                    <strong>{{ companyCode.id_psubare }}</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab id="tab2">
          <ng-template tabHeading>
            <i class="fa fa-handshake-o"></i>
            <span class="d-none d-md-inline-block"> Business Area</span>
          </ng-template>
          <div class="tab-pane" role="tabpanel">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4">
                  <a class="btn btn-primary" [routerLink]="['/master-data/company-code-dan-business-area/business-area/add/'+companyCode.id_company_code]">
                    <i class="fa fa-plus"></i>
                    <span class="d-none d-md-inline-block">&nbsp;Tambah Business Area</span>
                  </a>
                </div>
                <div class="col-8 col-sm-4 col-lg-3 ml-auto">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="Cari data" [(ngModel)]="filter" (keyup)="filterDataP()">
                      <span class="input-group-append">
                        <button class="btn" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="text-center">Kode Business Area</th>
                    <th class="text-center">Nama Business Area</th>
                    <th class="text-center">ID Busare</th>
                    <th class="text-center">Aksi</th>
                  </tr>
                </thead>
                <tbody class="table-hover" *ngIf="showBusinessAreas.length > 0; else noData">
                  <tr *ngFor="let businessArea of showBusinessAreas">
                    <td>{{ businessArea.kode_business_area }}</td>
                    <td>{{ businessArea.nama_business_area }}</td>
                    <td>{{ businessArea.id_busare }}</td>
                    <td class="text-center">
                      <div class="btn-group btn-group-sm">
                        <a class="btn btn-primary" [routerLink]="['/master-data/company-code-dan-business-area/business-area/edit/'+businessArea.id_business_area+'/'+businessArea.nama_business_area]">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;Ubah</span>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="4" class="text-center">{{ 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12" *ngIf="showBusinessAreas.length > 0">
              <span>Menampilkan {{ from }} sampai {{ to }} dari {{ countFiltered }}</span>
              <ul class="pagination m-0 pull-right" *ngIf="pages.length > 1">
                <li class="page-item">
                  <a class="page-link" (click)="setPage(1)">&lt;</a>
                </li>
                <li class="page-item" [ngClass]="{'active': p===page}" *ngFor="let p of pages">
                  <a class="page-link" (click)="setPage(p)">{{ p }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" (click)="lastPage()">&gt;</a>
                </li>
              </ul>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>