<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ companyCode.nama | uppercase  }}</p>
    <small>{{ 'Company Code / Unit Level 1' | uppercase  }} </small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="col-12 col-md-12">
            <div class="row">
              <div class="col-8">
                <h5>{{'Detail Company Code' | uppercase}} </h5>
              </div>
              <div class="col-4 text-right">
                <button class="btn-sm btn btn-default" (click)="back()">
                  <i class="fa fa-arrow-left"></i> {{'Kembali' | uppercase}}</button>
                <button *ngIf="companyCode.is_active" class="btn-sm btn btn-primary" (click)="edit()">
                  <i class="fa fa-pencil"></i> {{'Ubah' | uppercase}}</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-6 row">
                <div class="col-12">
                  <label class="col-12">{{'Company Code' | uppercase}}</label>
                  <p class="col-12">
                    <strong>{{ companyCode.kode_company_code | uppercase }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">{{'Long Description' | uppercase}}</label>
                  <p class="col-12">
                    <strong>{{ companyCode.nama | uppercase }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">{{'Short Description' | uppercase}}</label>
                  <p class="col-12">
                    <strong>{{ companyCode.nama_company_code | uppercase }}</strong>
                  </p>
                </div>
              </div>
              <div class="row col-6">
                <div class="col-12">
                  <label class="col-12">{{'Regional' | uppercase}}</label>
                  <p class="col-12">
                    <strong>{{ companyCode.regional?.nama_regional | uppercase }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">{{'Status' | uppercase}}</label>
                  <p class="col-12">
                    <strong>{{ (companyCode.is_active ? 'Aktif' : 'Tidak Aktif') | uppercase }}</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <div class="row">
              <div class="col-8">
                <h5>{{'Business Area' | uppercase}}</h5>
              </div>
              <div class="col-4 text-right">
                <button *ngIf="companyCode.is_active" class="btn btn-sm btn-primary" [queryParams]="{companyCode: companyCode.id_company_code}" [routerLink]="['/master-data/organisasi/business-area/add']">
                  <i class="fa fa-plus"></i>
                  <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Business Area' | uppercase}}</span>
                </button>
              </div>
            </div>
            <hr>
            <div class="row mb-2 text-right">
              <div class="col-8 col-sm-4 col-lg-3 ml-auto">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="Cari data" [(ngModel)]="filter" (keyup)="filterDataP()">
                    <span class="input-group-append">
                      <button class="btn" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-2">
            <table class="bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="text-center">{{'Kode Business Area' | uppercase}}</th>
                  <th class="text-center">{{'Nama Business Area' | uppercase}}</th>
                  <th class="text-center">{{'Status' | uppercase}}</th>
                  <th class="text-center">{{'Aksi' | uppercase}}</th>
                </tr>
              </thead>
              <tbody class="table-hover" *ngIf="showBusinessAreas.length > 0; else noData">
                <tr *ngFor="let businessArea of showBusinessAreas">
                  <td>{{ businessArea.kode_business_area | uppercase }}</td>
                  <td>{{ businessArea.nama_business_area | uppercase }}</td>
                  <td>{{ (businessArea.is_active ? 'Aktif' : 'Tidak Aktif') | uppercase }}</td>
                  <td class="text-center">
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-primary" (click)="showBusinessArea(businessArea)">
                        <i class="fa fa-eye"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Lihat' | uppercase}}</span>
                      </button>
                      <a *ngIf="businessArea.is_active" class="btn btn-warning" href="#" (click)="deleteBusinessArea(businessArea)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Nonaktifkan' | uppercase}}</span>
                      </a>
                      <a *ngIf="!businessArea.is_active" class="btn btn-success" href="#" (click)="undeleteBusinessArea(businessArea)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Aktifkan' | uppercase}}</span>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="4" class="text-center">{{ 'Data Tidak Tersedia' }}</td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="col-12 mb-2" *ngIf="showBusinessAreas.length > 0">
            <span>Menampilkan {{ from }} sampai {{ to }} dari {{ countFiltered }}</span>
            <ul class="pagination m-0 pull-right" *ngIf="pages.length > 1">
              <li class="page-item">
                <a class="page-link" (click)="setPage(1)">&lt;</a>
              </li>
              <li class="page-item" [ngClass]="{'active': p===page}" *ngFor="let p of pages">
                <a class="page-link" (click)="setPage(p)">{{ p }}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="lastPage()">&gt;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>