div.foto-profil {
  text-align: center;
  margin: 20px 20px;
}

div.foto-profil img.img-avatar {
  width: 40%;
  height: 40%;
}

div.boxed {
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
}