<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{ title | uppercase}}</p>
      <small>{{'Data Pengguna' | uppercase}}</small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right" (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane" [class.active]="this.fragment !== 'activity'" id="tab1">
          <div class="row">
            <div class="col-12 card-deck">
              <div class="card">
                <div class="card-header">
                  <h5>
                    {{'Detail' | uppercase}}
                    <button *ngIf="self && pengguna.id_pengguna && pengguna.id_pengguna!==self.id_pengguna" class="pull-right btn btn-primary btn-sm"
                      (click)="edit()">
                      <i class="fa fa-pencil"></i> {{'Ubah' | uppercase}}</button>
                    <button *ngIf="isUserProfile" class="pull-right btn btn-primary btn-sm" [routerLink]="['edit']">
                      <i class="fa fa-pencil"></i> {{'Ubah Profil' | uppercase}}</button>
                  </h5>
                </div>
                <div class="card-block">
                  <form class="form-horizontal">
                    <div class="form-body">
                      <div class="foto-profil">
                        <img alt="avatar" class="img-avatar" [src]="pengguna.foto ? fotoDir + pengguna.foto : 'assets/img/anonymous.png'">
                      </div>
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Nama' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="pengguna?.nama | uppercase">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Username' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="pengguna?.username">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Email' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="pengguna?.email">
                        </div>
                      </div>
                      <!-- <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Regional' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="(pengguna.business_area? pengguna.business_area.company_code.regional.nama_regional : '') | uppercase">
                        </div>
                      </div> -->
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Company Code' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="(pengguna.business_area? pengguna.business_area.company_code.nama : '') | uppercase">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Business Area' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="pengguna.business_area?.nama_business_area | uppercase">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Departemen' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="pengguna?.department | uppercase">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Jabatan' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="pengguna?.title | uppercase">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Terdaftar Sejak' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="pengguna?.created_on | date: 'd MMM yy HH:mm' : '+1400' | uppercase">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="" class="control-label col-4">{{'Didaftarkan Oleh' | uppercase}}</label>
                        <div class="col-8">
                          <input type="text" readonly="true" class="form-control" [value]="pengguna.created_by?.nama | uppercase">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- <div class="card-footer">
                  <span class="text-grey small">{{('Last Update : ' + (pengguna?.updated_on ? (pengguna.updated_on | date: 'd MMM yy HH:mm' : '+1400') : ' - ')) | uppercase}}</span>
                </div> -->
              </div>
              <div class="card">
                <div class="card-header">
                  <h5>
                    {{'Role' | uppercase}}
                  </h5>
                </div>
                <div class="card-block">
                  <div class="list-group" *ngIf="pengguna.role?.length > 0;  else noRole">
                    <span *ngFor="let role of pengguna.role" class="list-group-item list-group-item-action" title="{{ role.description }}">
                      {{ role.nama | uppercase }}
                    </span>
                  </div>
                  <ng-template #noRole>
                    <p class="text-center">
                      Tidak Ada
                    </p>
                  </ng-template>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5>
                    {{'Last Activity' | uppercase}}
                    <a class="pull-right btn btn-primary btn-sm" [routerLink]="['.']" fragment="activity"><i class="fa fa-eye"></i>
                      {{'Tampilkan Semua' | uppercase}}</a>
                  </h5>
                </div>
                <div class="card-block">
                  <div class="list-group" *ngIf="activities && activities.data?.length > 0;  else noActivity">
                    <span *ngFor="let activity of activities.data" class="list-group-item list-group-item-action" (click)="showActivity(activity)">
                      {{ (activity.record_on | date: 'd MMM yy HH:mm' : '+1400') }} - {{ (activity.keterangan) }}
                    </span>
                  </div>
                  <ng-template #noActivity>
                    <p class="text-center">
                      Tidak Ada
                    </p>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" [class.active]="this.fragment === 'activity'" id="tab1">
          <div class="col-12 mb-2">
            <div class="row">
              <div class="col-4">
                <div class="data-per-page">
                  <select [(ngModel)]="dataSetting.dataPerPage" class="form-control" #dataPerPage name="dataPerPage" (change)="changeLimit(dataPerPage.value)">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                  </select>
                </div>
              </div>
              <!-- <div class="col-8 col-sm-4 col-lg-3 ml-auto">
                <div class="form-group">
                  <div class="input-group">
                    <input type='text' class="form-control" placeholder='Cari Data' [(ngModel)]="dataSetting.query" (keyup.enter)="search()" (blur)="search()"
                      /><span class="input-group-append">
                      <button class="btn" type="button"><i class="fa fa-search"></i></button></span>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-12 mb-2">
            <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="all text-center">
                    {{'No.' | uppercase}}
                  </th>
                  <th class="all text-center">
                    {{'Waktu' | uppercase}}
                    <!-- <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='email',
                          'fa-sort-asc': dataSetting.orderBy==='email' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='email' && dataSetting.orderDirection === 'desc'
                          }"></i> -->
                  </th>
                  <th class="all text-center">
                    {{'Keterangan' | uppercase}}
                    <!-- <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='nama',
                          'fa-sort-asc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'desc'
                          }"></i> -->
                  </th>
                  <th class="all" class="text-center">
                    {{'IP address' | uppercase}}
                  </th>
                  <!-- <th class="all text-center">
                    {{'Data' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='created_on',
                          'fa-sort-asc': dataSetting.orderBy==='created_on' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='created_on' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th> -->
                </tr>
              </thead>
              <tbody *ngIf="pageData.length > 0; else noData">
                <tr *ngFor="let a of pageData; let i = index;">
                  <td>{{ tableConfig.from + i }}</td>
                  <td>{{ a.record_on | date: 'dd MMM yyyy HH:m' : '+1400' }}</td>
                  <td>{{ a.keterangan | uppercase }}</td>
                  <td>{{ a.ip_address }}</td>
                  <!-- <td [innerHTML]="getNama(a)"></td> -->
                  <!-- <td class="text-center">
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-primary" href="#" (click)="show(pengguna)">
                        <i class="fa fa-eye"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Lihat' | uppercase}}</span>
                      </button>
                      <a *ngIf="pengguna.is_active" class="btn btn-warning" href="#" (click)="delete(pengguna)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Nonaktifkan' | uppercase}}</span>
                      </a>
                      <a *ngIf="!pengguna.is_active" class="btn btn-success" href="#" (click)="undelete(pengguna)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Aktifkan' | uppercase}}</span>
                      </a>
                    </div>
                  </td> -->
                </tr>
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="6" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="pagination m-0">
            <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left"></app-pagination-summary>
            <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>