<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{'Detail Potensi Aset' | uppercase}}</p>
      <small *ngIf="aset && aset.detail">{{ (aset.detail.nama_tanah || aset.detail.nama_properti) | uppercase}}</small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right" (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Potensi' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" *ngIf="documentReady">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <ng-container *ngIf="isAsetTanah; else isAsetProperti">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nama Aset' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.nama_tanah | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.tahun_perolehan">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="aset.nilai">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.tahun_penilaian">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Luas' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.luas_tanah | number: '1.0-2'">
                              <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan.sumber_perolehan | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai_perolehan | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="aset.nilai">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nilai Saat Ini' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.nilai_tanah | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Alamat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <textarea class="form-control" disabled="disabled">{{aset.detail.alamat_tanah | uppercase}}</textarea>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #isAsetProperti>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nama Aset' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.nama_properti | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.tahun_perolehan">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="aset.nilai">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.tahun_penilaian">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Luas' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.luas_properti | number: '1.0-2'">
                              <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan.sumber_perolehan | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai_perolehan | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="aset.nilai">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nilai Saat Ini' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.nilai_properti | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Alamat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <textarea class="form-control" disabled="disabled">{{aset.detail.alamat_properti | uppercase}}</textarea>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="col-12 p-0 mb-2 col-md-6" *ngIf="potensi">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8">
                        <h4>{{'Detail Potensi' | uppercase}}</h4>
                        <span class="badge badge-danger" *ngIf="!potensi.is_active">{{'Nonaktif' | uppercase}}</span>
                      </div>
                      <div class="col-4 text-right">
                        <button class="btn btn-sm btn-primary" *ngIf="potensi.is_editable_potensi" (click)="edit(potensi)">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Ubah' | uppercase}}</span>
                        </button>
                        <button *ngIf="potensi.is_active && potensi.is_disableable" class="btn btn-sm btn-danger ml-1" (click)="delete()">
                          <i class="fa fa-power-off"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Nonaktif' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Nilai Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.nilai_potensi | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Deskripsi Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled" [innerHTML]="potensi.deskripsi | uppercase"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Periode Penawaran' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled="disabled" [value]="potensi.start_date_potensi | date: 'dd MMM yyyy' ">
                        <span class="input-group-addon text-center"> <sup>s</sup>/<sub>d</sub></span>
                        <input type="text" class="form-control" disabled="disabled" [value]="potensi.end_date_potensi | date: 'dd MMM yyyy' ">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 mb-2 col-md-6" *ngIf="!potensiHistory && potensiPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>Usulan
                          <span class="badge badge-danger" *ngIf="potensiPerubahan.action_button && potensiPerubahan.action_button.type === 'revisi'">Ditolak</span>
                        </h4>
                      </div>
                      <div class="col-6 ml-auto text-right">
                        <button class="btn btn-sm btn-primary" *ngIf="potensiPerubahan.action_button && potensiPerubahan.action_button.type === 'revisi' && potensiPerubahan.action_button.button" (click)="revisi(potensiPerubahan)">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;Revisi</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Nilai Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensiPerubahan.nilai_potensi | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Deskripsi Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensiPerubahan.deskripsi | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Tanggal Mulai' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensiPerubahan.start_date_potensi | date: 'dd MMM yyyy' ">
                    </div>
                  </div>
                  <div class="form-group" *ngIf="potensiPerubahan.end_date_potensi">
                    <label class="col-12">
                      <strong>{{'Tanggal Selesai' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensiPerubahan.end_date_potensi | date: 'dd MMM yyyy' ">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-right" *ngIf="potensiPerubahan.action_button && potensiPerubahan.action_button.type === 'validasi' && potensiPerubahan.action_button.button">
                      <button class="btn btn-primary mx-1" title="Validasi potensi aset" (click)="openModal(templateValidasiPotensi)">
                        <i class="fa fa-question"></i>
                        <span class="d-none d-md-inline-block">{{'Validasi' | uppercase}}</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2 col-md-6" *ngIf="potensiHistory">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Potensi Sebelumnya' | uppercase}}</h4>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Nilai Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensiHistory.nilai_potensi | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Deskripsi Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensiHistory.deskripsi | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Tanggal Mulai' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensiHistory.start_date_potensi | date: 'dd MMM yyyy' ">
                    </div>
                  </div>
                  <div class="form-group" *ngIf="potensiHistory.end_date_potensi">
                    <label class="col-12">
                      <strong>{{'Tanggal Selesai' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensiHistory.end_date_potensi | date: 'dd MMM yyyy' ">
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3" *ngIf="!potensiPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Historis Potensi' | uppercase}}</h4>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12">
                    <app-datatable
                      [columns]="history.columns"
                      [data]="history.data"
                      [actions]="history.actions"
                      (show)="showPotensi($event)"></app-datatable>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3" *ngIf="potensiPerubahan && potensiPerubahan.workflow_progress">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8 mt-3">
                        <h4>{{'Proses Validasi' | uppercase}}</h4>
                      </div>
                      <div class="col-4 mt-3 text-right">
                        <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, potensiPerubahan.historiDisposisi)">
                          <i class="fa fa-history"></i> Historis Disposisi</button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <app-timeline class="px-3" [progress]="potensiPerubahan.workflow_progress"></app-timeline>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Pendayagunaan' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" *ngIf="documentReady">
              <div class="row">
                <div class="col-12 p-0 pt-2 mb-2 bg-light">
                  <div class="row">
                    <ng-container *ngIf="isAsetTanah; else isAsetProperti">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nama Aset' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.nama_tanah | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.tahun_perolehan">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="aset.nilai">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.tahun_penilaian">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Luas' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.luas_tanah | number: '1.0-2'">
                              <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan.sumber_perolehan | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai_perolehan | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="aset.nilai">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nilai Saat Ini' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.nilai_tanah | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Alamat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <textarea type="text" class="form-control" disabled="disabled" [innerHTML]="aset.detail.alamat_tanah | uppercase"></textarea>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #isAsetProperti>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nama Aset' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.nama_properti | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.tahun_perolehan">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="aset.nilai">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.tahun_penilaian">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Luas' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.luas_properti | number: '1.0-2'">
                              <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan.sumber_perolehan | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai_perolehan | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="aset.nilai">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nilai Saat Ini' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.nilai_properti | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Alamat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <textarea type="text" class="form-control" disabled="disabled" [value]="aset.detail.alamat_properti | uppercase"></textarea>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Pendayagunaan Aset' | uppercase}}</h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="potensi && potensi.is_pendayagunaanable">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="addPendayagunaan()">
                          <i class="fa fa-plus"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Pendayagunaan' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12 p-0 mb-2">
                    <app-datatable
                      [columns]="historyPendayagunaan.columns"
                      [actions]="historyPendayagunaan.actions"
                      [data]="historyPendayagunaan.data"
                      (show)="showPendayagunaan($event)">
                    </app-datatable>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<ng-template #templateValidasiPotensi>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'Validasi potensi' | uppercase}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Memo
      <span class="required">*</span> :
      <br/>
      <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right">
        <button class="btn btn-success mx-1" (click)="terimaUsulanPotensi()" [disabled]="memo.length < 5">
          <i class="fa fa-check"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
        </button>
        <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanPotensi()" [disabled]="memo.length < 5">
          <i class="fa fa-close"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #templateDisposisi>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'Historis Disposisi' | uppercase}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-responsive-sm">
        <thead>
          <tr>
            <th class="text-center">
              <strong>{{'Pengguna' | uppercase}}</strong>
            </th>
            <th class="text-center">
              <strong>{{'Permission' | uppercase}}</strong>
            </th>
            <th class="text-center">
              <strong>{{'Validasi' | uppercase}}</strong>
            </th>
            <th class="text-center">
              <strong>{{'Memo' | uppercase}}</strong>
            </th>
            <th class="text-center">
              <strong>{{'Waktu' | uppercase}}</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="historisDisposisi && historisDisposisi.length; else noDisposisi">
            <tr *ngFor="let disposisi of historisDisposisi">
              <td>{{ disposisi.pengguna | uppercase }}</td>
              <td>{{ disposisi.permission | uppercase }}</td>
              <td>{{ disposisi.validasi | uppercase }}</td>
              <td>{{ disposisi.memo | uppercase }}</td>
              <td>{{ disposisi.date | date: 'dd MMM yyyy' }}</td>
            </tr>
          </ng-container>
          <ng-template #noDisposisi>
            <tr>
              <td colspan="6" class="text-center">{{ 'Belum ada data disposisi' }}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right">
        <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
          <i class="fa fa-close"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
        </button>
      </div>
    </div>
  </ng-template>
