<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{title | uppercase}}</p>
    <small>{{title + ' dalam SIMAPRO' | uppercase}}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-9 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <form class="row h-100 m-0 p-0 bg-light" [formGroup]="formAsetProperti" (submit)="save()" novalidate style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12" *ngIf="ready">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Umum' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="nama" [(ngModel)]="asetProperti.detail.nama_properti" type="text" placeholder="Nama aset properti"
                        [ngClass]="{'is-invalid': formAsetProperti.controls.nama.invalid && (formAsetProperti.controls.nama.dirty || formAsetProperti.controls.nama.touched)}"
                      />
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.nama.invalid && (formAsetProperti.controls.nama.dirty || formAsetProperti.controls.nama.touched)">
                        <div *ngIf="formAsetProperti.controls.nama.errors.required">Nama harus diisi</div>
                        <div *ngIf="formAsetProperti.controls.nama.errors.minlength">Panjang minimal {{formAsetProperti.controls.nama.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="formAsetProperti.controls.nama.errors.maxlength">Panjang maksimal {{formAsetProperti.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Jenis Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="select2 form-control" formControlName="id_jenis_aset" [(ngModel)]="jenisAsetProperti" (change)="_selectJenisAsetProperti()"
                        [ngClass]="{'is-invalid': formAsetProperti.controls.id_jenis_aset.invalid && (formAsetProperti.controls.id_jenis_aset.dirty || formAsetProperti.controls.id_jenis_aset.touched)}">
                        <option *ngFor="let jenisAsetProperti of jenisAsetPropertis" [ngValue]="jenisAsetProperti">{{ jenisAsetProperti.nama | uppercase }} </option>
                      </select>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.id_jenis_aset.invalid && (formAsetProperti.controls.id_jenis_aset.dirty || formAsetProperti.controls.id_jenis_aset.touched)">
                        <div *ngIf="formAsetProperti.controls.id_jenis_aset.errors.required">Jenis aset harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="jenisAsetProperti && jenisAsetProperti.sub_jenis_aset.length">
                    <div class="col-12">
                      <label>
                        <strong>{{'Sub Jenis Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="select2 form-control" formControlName="id_sub_jenis_aset" [(ngModel)]="asetProperti.id_sub_jenis_aset"
                        [ngClass]="{'is-invalid': formAsetProperti.controls.id_sub_jenis_aset.invalid && (formAsetProperti.controls.id_sub_jenis_aset.dirty || formAsetProperti.controls.id_sub_jenis_aset.touched)}">
                        <option *ngFor="let subJenisAset of jenisAsetProperti.sub_jenis_aset" [value]="subJenisAset.id_sub_jenis_aset">{{ subJenisAset.nama | uppercase }} </option>
                      </select>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.id_sub_jenis_aset.invalid && (formAsetProperti.controls.id_sub_jenis_aset.dirty || formAsetProperti.controls.id_jenis_aset.touched)">
                        <div *ngIf="formAsetProperti.controls.id_sub_jenis_aset.errors.required">Sub Jenis aset harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="form-control" formControlName="id_sumber_perolehan" [(ngModel)]="asetProperti.id_sumber_perolehan" [ngClass]="{'is-invalid': formAsetProperti.controls.id_sumber_perolehan.invalid && (formAsetProperti.controls.id_sumber_perolehan.dirty || formAsetProperti.controls.id_sumber_perolehan.touched)}">
                        <option *ngFor="let sumberPerolehan of sumberPerolehans" [value]="sumberPerolehan.id_sumber_perolehan">{{ sumberPerolehan.sumber_perolehan | uppercase }}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.id_sumber_perolehan.invalid && (formAsetProperti.controls.id_sumber_perolehan.dirty || formAsetProperti.controls.id_sumber_perolehan.touched)">
                        <div *ngIf="formAsetProperti.controls.id_sumber_perolehan.errors.required">Sumber Perolehan harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="tahun_perolehan" [(ngModel)]="asetProperti.tahun_perolehan" type="number" placeholder="Tahun perolehan aset"
                        [ngClass]="{'is-invalid': formAsetProperti.controls.tahun_perolehan.invalid && (formAsetProperti.controls.tahun_perolehan.dirty || formAsetProperti.controls.tahun_perolehan.touched)}">
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.tahun_perolehan.invalid && (formAsetProperti.controls.tahun_perolehan.dirty || formAsetProperti.controls.tahun_perolehan.touched)">
                        <div *ngIf="formAsetProperti.controls.tahun_perolehan.errors.required">Tahun Perolehan harus diisi</div>
                        <div *ngIf="formAsetProperti.controls.tahun_perolehan.errors.max || formAsetProperti.controls.tahun_perolehan.errors.min">Tahun Perolehan harus berada diantara tahun 1965 - {{ maxYear }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <span>Rp. </span>
                        </div>
                        <input-number class="form-control" formControlName="nilai_perolehan" [(ngModel)]="asetProperti.nilai_perolehan" type="number" placeholder="Nilai perolehan aset"
                          [ngClass]="{'is-invalid': formAsetProperti.controls.nilai_perolehan.invalid && (formAsetProperti.controls.nilai_perolehan.dirty || formAsetProperti.controls.nilai_perolehan.touched)}"></input-number>
                      </div>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.nilai_perolehan.invalid && (formAsetProperti.controls.nilai_perolehan.dirty || formAsetProperti.controls.nilai_perolehan.touched)">
                        <div *ngIf="formAsetProperti.controls.nilai_perolehan.errors.required">Nilai Perolehan harus diisi</div>
                        <div *ngIf="formAsetProperti.controls.nilai_perolehan.errors.minlength">Panjang minimal {{formAsetProperti.controls.nilai_perolehan.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="formAsetProperti.controls.nilai_perolehan.errors.maxlength">Panjang maksimal {{formAsetProperti.controls.nilai_perolehan.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas Bangunan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input-number class="form-control" formControlName="luas_properti" [(ngModel)]="asetProperti.detail.luas_properti" type="number"
                          placeholder="Luas properti aset" [ngClass]="{'is-invalid': formAsetProperti.controls.luas_properti.invalid && (formAsetProperti.controls.luas_properti.dirty || formAsetProperti.controls.luas_properti.touched)}"></input-number>
                        <div class="input-group-addon">
                          <span>
                            M
                            <sup>2</sup>
                          </span>
                        </div>
                      </div>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.luas_properti.invalid && (formAsetProperti.controls.luas_properti.dirty || formAsetProperti.controls.luas_properti.touched)">
                        <div *ngIf="formAsetProperti.controls.luas_properti.errors.required">Luas harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Alamat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" formControlName="alamat" [(ngModel)]="asetProperti.detail.alamat_properti" placeholder="Jalan" [ngClass]="{'is-invalid': formAsetProperti.controls.alamat.invalid && (formAsetProperti.controls.alamat.dirty || formAsetProperti.controls.alamat.touched)}"></textarea>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.alamat.invalid && (formAsetProperti.controls.alamat.dirty || formAsetProperti.controls.alamat.touched)">
                        <div *ngIf="formAsetProperti.controls.alamat.errors.required">Alamat harus diisi</div>
                        <div *ngIf="formAsetProperti.controls.alamat.errors.minlength">Panjang minimal {{formAsetProperti.controls.alamat.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="formAsetProperti.controls.alamat.errors.maxlength">Panjang maksimal {{formAsetProperti.controls.alamat.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group">
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="preview || oldFoto || 'assets/img/no-image.jpg'">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input class="form-control" type="file" formContolName="foto" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg">
                        <div class="input-group-append">
                          <button class="btn btn-flat btn-danger btn-lg" (click)="removeFoto()">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.foto.invalid && (formAsetProperti.controls.foto.dirty || formAsetProperti.controls.foto.touched)">
                        <div *ngIf="formAsetProperti.controls.foto.errors.required">Foto harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="no_imb" [(ngModel)]="asetProperti.detail.no_imb" type="text" placeholder="No. IMB"
                        [ngClass]="{'is-invalid': formAsetProperti.controls.no_imb.invalid && (formAsetProperti.controls.no_imb.dirty || formAsetProperti.controls.no_imb.touched)}">
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.no_imb.invalid && (formAsetProperti.controls.no_imb.dirty || formAsetProperti.controls.no_imb.touched)">
                        <div *ngIf="formAsetProperti.controls.no_imb.errors.required">No. IMB harus diisi</div>
                        <div *ngIf="formAsetProperti.controls.no_imb.errors.maxlength">Panjang maksimal {{formAsetProperti.controls.no_imb.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Terbit IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="tanggal_terbit_imb" [(ngModel)]="asetProperti.detail.tanggal_terbit_imb"
                        type="date" placeholder="Tanggal berlaku sertifikat properti" [ngClass]="{'is-invalid': formAsetProperti.controls.tanggal_terbit_imb.invalid && (formAsetProperti.controls.tanggal_terbit_imb.dirty || formAsetProperti.controls.tanggal_terbit_imb.touched)}">
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.tanggal_terbit_imb.invalid && (formAsetProperti.controls.tanggal_terbit_imb.dirty || formAsetProperti.controls.tanggal_terbit_imb.touched)">
                        <div *ngIf="formAsetProperti.controls.tanggal_terbit_imb.errors.required">Tanggal terbit IMB harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="no_sap" [(ngModel)]="asetProperti.detail.no_sap" type="text" placeholder="No. SAP"
                        [ngClass]="{'is-invalid': formAsetProperti.controls.no_sap.invalid && (formAsetProperti.controls.no_sap.dirty || formAsetProperti.controls.no_sap.touched)}">
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.no_sap.invalid && (formAsetProperti.controls.no_sap.dirty || formAsetProperti.controls.no_sap.touched)">
                        <div *ngIf="formAsetProperti.controls.no_sap.errors.required">No. SAP harus diisi</div>
                        <div *ngIf="formAsetProperti.controls.no_sap.errors.maxlength">Panjang maksimal {{formAsetProperti.controls.no_sap.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="col-md-12 text-right">
                      <button class="btn btn-default" (click)="cancel()">
                        <i class="fa fa-arrow-left"></i> {{ 'Batal' | uppercase }}</button>
                      <button class="btn btn-primary" [disabled]="!formAsetProperti.valid || isSubmitted" type="submit">
                        <i class="fa fa-save"></i>&nbsp;{{ 'Simpan' | uppercase }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2">
            <ng-template tabHeading>
              <i class="fa fa-sitemap"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Organisasi & Wilayah' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Provinsi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectProvinsi 
                        [allowClear]="true"
                        [items]="itemsP"
                        [multiple]="false"
                        (data)="refreshValueP($event)"
                        (selected)="selectedP($event)"
                        placeholder="Pilih Provinsi">
                      </ng-select>
                      <input type="hidden" formControlName="idProvinsi" [(ngModel)]="idProvinsi"/>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.idProvinsi.invalid && (formAsetProperti.controls.idProvinsi.dirty || formAsetProperti.controls.idProvinsi.touched)">
                        <div *ngIf="formAsetProperti.controls.idProvinsi.errors.required">Provinsi harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kabupaten/Kota' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectKabupaten 
                        [allowClear]="true"
                        [items]="itemsK"
                        [disabled]="!itemsK.length"
                        [multiple]="false"
                        (data)="refreshValueK($event)"
                        (selected)="selectedK($event)"
                        placeholder="Pilih Kabupaten">
                      </ng-select>
                      <input type="hidden" formControlName="idKabupaten" [(ngModel)]="idKabupaten"/>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.idKabupaten.invalid && (formAsetProperti.controls.idKabupaten.dirty || formAsetProperti.controls.idKabupaten.touched)">
                        <div *ngIf="formAsetProperti.controls.idKabupaten.errors.required">Kabupaten harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Lokasi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectLokasi 
                        [allowClear]="true"
                        [items]="itemsL"
                        [disabled]="!itemsL.length"
                        [multiple]="false"
                        (data)="refreshValueL($event)"
                        (selected)="selectedL($event)"
                        placeholder="Pilih Lokasi">
                      </ng-select>
                      <input type="hidden" formControlName="idLokasi" [(ngModel)]="idLokasi"/>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.idLokasi.invalid && (formAsetProperti.controls.idLokasi.dirty || formAsetProperti.controls.idLokasi.touched)">
                        <div *ngIf="formAsetProperti.controls.idLokasi.errors.required">Lokasi harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanah' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectTanah 
                        [allowClear]="true"
                        [items]="itemsT"
                        [disabled]="!itemsT.length"
                        [multiple]="false"
                        (data)="refreshValueT($event)"
                        (selected)="selectedT($event)"
                        placeholder="Pilih Tanah">
                      </ng-select>
                      <input type="hidden" formControlName="tanah" [(ngModel)]="tanah"/>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.tanah.invalid && (formAsetProperti.controls.tanah.dirty || formAsetProperti.controls.tanah.touched)">
                        <div *ngIf="formAsetProperti.controls.tanah.errors.required">Tanah harus diisi</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Company Code' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectCC 
                        [allowClear]="true"
                        [items]="itemsCC"
                        [disabled]="!itemsCC"
                        [multiple]="false"
                        (data)="refreshValueCC($event)"
                        (selected)="selectedCC($event)"
                        placeholder="Pilih Company Code">
                      </ng-select>
                      <input type="hidden" formControlName="idCompanyCode" [(ngModel)]="idCompanyCode"/>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.idCompanyCode.invalid && (formAsetProperti.controls.idCompanyCode.dirty || formAsetProperti.controls.idCompanyCode.touched)">
                        <div *ngIf="formAsetProperti.controls.idCompanyCode.errors.required">Company Code harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Business Area' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectBA 
                        [allowClear]="true"
                        [items]="itemsBA"
                        [disabled]="!itemsBA.length"
                        [multiple]="false"
                        (data)="refreshValueBA($event)"
                        (selected)="selectedBA($event)"
                        placeholder="Pilih Business Area">
                      </ng-select>
                      <input type="hidden" formControlName="idBusinessArea" [(ngModel)]="idBusinessArea"/>
                      <div class="invalid-feedback" *ngIf="formAsetProperti.controls.idBusinessArea.invalid && (formAsetProperti.controls.idBusinessArea.dirty || formAsetProperti.controls.idBusinessArea.touched)">
                        <div *ngIf="formAsetProperti.controls.idBusinessArea.errors.required">Business Area harus diisi</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 bg-light pt-2" *ngIf="tanah">
                  <div class="row">
                    <div class="col-6 p-0">
                      <div class="form-group">
                        <div class="col-12">
                          <label for="">
                            <strong>{{'Nama Aset Tanah' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="tanah.detail.nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label for="">
                            <strong>{{'Kode Aset Tanah' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="tanah.perpindahan?.kode_tanah"></div>
                      </div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="form-group">
                        <div class="col-12">
                          <label for="">
                            <strong>{{'Company Code' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="tanah.perpindahan.company_code?.nama | uppercase"></div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label for="">
                            <strong>{{'Business Area' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="tanah.perpindahan.business_area?.nama_business_area | uppercase"></div>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-12 text-right">
                    <!-- <button class="btn btn-default" (click)="log(formAsetProperti)">
                        <i class="fa fa-arrow-left"></i> Log</button> -->
                    <button class="btn btn-default" (click)="cancel()">
                      <i class="fa fa-arrow-left"></i> {{ 'Batal' | uppercase }}</button>
                    <button class="btn btn-primary" [disabled]="formAsetProperti.invalid || isSubmitted" type="submit">
                      <i class="fa fa-save"></i>&nbsp;{{ 'Simpan' | uppercase }}</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab3" [disabled]="!tanah" (select)="poly[0].length || addPoint()">
            <ng-template tabHeading>
              <i class="fa fa-map"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Polygon' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-6">
                      <label>
                        <strong>{{'Polygon' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-6 text-right">
                      <button class="btn btn-sm btn-round btn-primary" (click)='addPoint()'>
                        <i class="fa fa-plus"></i> {{'Add Point' | uppercase}}</button>
                    </div>
                    <div class="col-12 border-1 mt-3">
                      <div class="card border-0">
                        <app-polygon [group]="formAsetProperti.controls.polygon" (onRemove)="removePoint($event)" [polygon]="poly[0]"></app-polygon>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 text-right">
                        <button class="btn btn-default" (click)="cancel()">
                          <i class="fa fa-arrow-left"></i> {{ 'Batal' | uppercase }}</button>
                        <button class="btn btn-primary" [disabled]="formAsetProperti.invalid || isSubmitted" type="submit">
                          <i class="fa fa-save"></i>&nbsp;{{ 'Simpan' | uppercase }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </form>
    </div>
    <div class="col-md-3 p-0 tab-pane d-md-inline-block d-lg-inline-block" id="content-map">
      <yaga-map [(lat)]="lat" [(lng)]="lng" [zoom]="zoom" id="map" #map (dblclick)="dblClick($event)">
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>

        <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'"></yaga-tile-layer>
        <!-- <yaga-geojson [(data)]="lokasi.koordinat" *ngIf="lokasi && lokasi.koordinat"></yaga-geojson> -->
        <yaga-polygon *ngIf="tanah && tanah.detail && tanah.detail.polygon && tanah.detail.polygon[0]"
          [color]="marker.asetTanah.polygon.color"
          [weight]="marker.asetTanah.polygon.weight"
          [(latLngs)]="tanah.detail.polygon[0].area.coordinates">
          <yaga-popup>
            <h5><strong>{{ tanah.detail.nama }}</strong></h5>
            <p>
              {{tanah.perpindahan.business_area?.nama_business_area}}
            </p>
          </yaga-popup>
        </yaga-polygon>
        <yaga-polygon *ngIf="poly[0].length > 3" [color]="marker.asetProperti.polygon.color" [weight]="marker.asetProperti.polygon.weight"
          [(latLngs)]="poly"></yaga-polygon>
        <yaga-marker *ngFor="let koordinat of poly[0]; let i = index;" [(lat)]="koordinat.lat" [(lng)]="koordinat.lng" [draggable]="true">
          <yaga-popup>
            <h5>Titik Ke - {{ i + 1 }} </h5>
          </yaga-popup>
          <yaga-icon [iconAnchor]="marker.asetProperti.pin.iconAnchor" [iconSize]="marker.asetProperti.pin.iconSize" [popupAnchor]="marker.asetProperti.pin.popupAnchor"
            [iconUrl]="marker.asetProperti.pin.iconUrl" [shadowUrl]="marker.asetProperti.pin.shadowUrl">>
          </yaga-icon>
        </yaga-marker>
      </yaga-map>
    </div>
  </div>
</div>

<ng-template #templatePoint>
  <div class="modal-header">
    <h5 class="modal-title">{{'Koordinat Aset' | uppercase}}</h5>
  </div>
  <div class="modal-body">
    <div class="col-12">
      <div class="form-group row">
        <div class="col-12">
          <label>
            <strong>{{'Latitude / Lintang' | uppercase}}</strong>
          </label>
          <input class="form-control" type="number" min="-6" step="0.0000001" max="12" [(ngModel)]="lng" placeholder="Latitude">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label>
            <strong>{{'Longitude / Bujur' | uppercase}}</strong>
          </label>
          <input class="form-control" type="number" min="95" step="0.0000001" max="142" [(ngModel)]="lat" placeholder="Longitude">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary btn-sm" type="button" (click)="addInitialPoint()" data-dismiss="modal">
      <i class="fa fa-location-arrow"></i>&nbsp;{{'Add' | uppercase}}</button>
  </div>
</ng-template>