<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ formTitle | uppercase}}</p>
    <small>{{ (aset && aset.detail ? (aset.detail.nama_properti || aset.detail.nama_tanah) : '-- Silahkan pilih aset') | uppercase }}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Aset' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kategori' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="select2 form-control" [disabled]="addByAset" [(ngModel)]="jenisAset" name="jenisAset" (change)="_getAset()">
                        <option [value]="'App\\Tanah'">{{'Aset Tanah' | uppercase}}</option>
                        <option [value]="'App\\Properti'">{{'Aset Properti' | uppercase}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Provinsi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectProvinsi 
                        [allowClear]="true"
                        [items]="itemsP"
                        [disabled]="addByAset"
                        [multiple]="false"
                        (data)="refreshValueP($event)"
                        (selected)="selectedP($event)"
                        placeholder="Pilih Provinsi">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kabupaten/Kota' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectKabupaten 
                        [allowClear]="true"
                        [items]="itemsK"
                        [disabled]="!itemsK.length || addByAset"
                        [multiple]="false"
                        (data)="refreshValueK($event)"
                        (selected)="selectedK($event)"
                        placeholder="Pilih Kabupaten">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Lokasi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectLokasi 
                        [allowClear]="true"
                        [items]="itemsL"
                        [disabled]="!itemsL.length || addByAset"
                        [multiple]="false"
                        (data)="refreshValueL($event)"
                        (selected)="selectedL($event)"
                        placeholder="Pilih Lokasi">
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Company Code' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectCC 
                        [allowClear]="true"
                        [items]="itemsCC"
                        [disabled]="!itemsCC.length || addByAset"
                        [multiple]="false"
                        (data)="refreshValueCC($event)"
                        (selected)="selectedCC($event)"
                        placeholder="Pilih Company Code">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Business Area' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectBA 
                        [allowClear]="true"
                        [items]="itemsBA"
                        [disabled]="!itemsBA.length || addByAset"
                        [multiple]="false"
                        (data)="refreshValueBA($event)"
                        (selected)="selectedBA($event)"
                        placeholder="Pilih Business Area">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Aset' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectAset 
                        [allowClear]="true"
                        [items]="itemsT"
                        [disabled]="!itemsT.length || addByAset"
                        [multiple]="false"
                        (data)="refreshValueT($event)"
                        (selected)="selectedT($event)"
                        placeholder="Pilih Tanah">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 pt-2 bg-light mt-3" *ngIf="aset && aset.detail">
                <div class="row">
                  <ng-container *ngIf="jenisAset==='App\\Properti'; else detailAsetTanah">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.nama_properti | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.tahun_perolehan">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.tahun_penilaian">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.luas_properti | number: '1.0-2'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai_perolehan | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Saat Ini' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.nilai_properti | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.alamat_properti | uppercase">
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #detailAsetTanah>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.nama_tanah | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.tahun_perolehan">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.tahun_penilaian">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.luas_tanah | number: '1.0-2'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai_perolehan | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Saat Ini' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.nilai.nilai_tanah | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.detail.alamat_tanah | uppercase">
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2" [disabled]="!potensiAset">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Pendayagunaan Aset' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel" *ngIf="potensiAset">
              <div class="row">
              <ng-container *ngIf="action==='add'; else revisiTemplate">
                <div class="col-12 mt-4">
                  <form [formGroup]="formPendayagunaan" (submit)="save()" novalidate>
                    <input type="hidden" formControlName="listPendayagunaan" [(ngModel)]="pendayagunaans">
                    <!-- <div class="form-group mb-3">
                      <div class="col-12">
                        <label><strong>Nama Pendayagunaan</strong></label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" formControlName="nama_pendayagunaan" placeholder="Nama Pendayagunaan" [(ngModel)]="aset.nama_pendayagunaan"
                        [ngClass]="{'is-invalid': formPendayagunaan.controls.nama_pendayagunaan.invalid && (formPendayagunaan.controls.nama_pendayagunaan.dirty || formPendayagunaan.controls.nama_pendayagunaan.touched)}">
                        <div class="invalid-feedback" *ngIf="formPendayagunaan.controls.nama_pendayagunaan.invalid && (formPendayagunaan.controls.nama_pendayagunaan.dirty || formPendayagunaan.controls.nama_pendayagunaan.touched)">
                          <div *ngIf="formPendayagunaan.controls.nama_pendayagunaan.errors.required">Nama Pendayagunaan harus diisi</div>
                          <div *ngIf="formPendayagunaan.controls.nama_pendayagunaan.errors.minlength">Panjang minimal {{formPendayagunaan.controls.nama_pendayagunaan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formPendayagunaan.controls.nama_pendayagunaan.errors.maxlength">Panjang maksimal {{formPendayagunaan.controls.nama_pendayagunaan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div> -->
                    <table class="table table-responsive-sm table-sm">
                      <thead>
                        <tr>
                          <th></th>
                          <th class="text-center">Jenis Pendayagunaan</th>
                          <th class="text-center">No. Kontrak</th>
                          <th class="text-center">Nilai</th>
                          <!-- <th class="text-center">Pihak Terkait</th> -->
                          <th class="text-center">Tanggal Mulai</th>
                          <th class="text-center">Tanggal Berakhir</th>
                          <th class="text-center">Deskripsi</th>
                        </tr>
                      </thead>
                      <tbody class="table-hover" formArrayName="listPendayagunaan">
                        <ng-container *ngFor="let group of formPendayagunaan.controls.listPendayagunaan.controls; let i=index" [formGroupName]="i">
                          <tr app-item-pendayagunaan
                            [index]="i"
                            [deletable]="pendayagunaans.length > 1"
                            [jenisPendayagunaans]="jenisPendayagunaans"
                            [pendayagunaan]="pendayagunaans[i]"
                            [group]="formPendayagunaan.controls.listPendayagunaan.controls[i]"
                            (remove)="_removePendayagunaan($event)">
                          </tr>
                        </ng-container>
                      </tbody>
                      <tfoot>
                        <tr class="pt-2">
                          <td><button class="btn btn-sm btn-primary" (click)="addRow()"><i class="fa fa-plus-square"></i></button></td>
                          <td colspan="6" class="text-right">
                            <button class="btn btn-sm btn-default" (click)="cancel()"><i class="fa fa-arrow-left"></i>
                              <div class="d-none d-sm-inline-block">&nbsp;Batal</div>
                            </button>
                            <button class="btn btn-sm btn-primary" (click)="save()" [disabled]="! formPendayagunaan.valid"><i class="fa fa-save"></i>
                              <div class="d-none d-sm-inline-block">&nbsp;Simpan</div>
                            </button>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </form>
                </div>
              </ng-container>
              <ng-template #revisiTemplate>
                <div class="col-12 p-0 col-md-6">
                  <form [formGroup]="formRevisiPendayagunaan" (submit)="save()" novalidate>
                    <div class="col-12">
                      <h4>{{ formTitle | uppercase}}</h4>
                      <hr>
                    </div>
                    <div class="col-12" *ngIf="disposisi">
                      <p class="alert alert-danger">{{ disposisi.memo }} </p>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>Jenis Pendayagunaan</strong></label>
                      </div>
                      <div class="col-12">
                        <select class="form-control" formControlName="id_jenis_dayaguna" placeholder="Jenis Pendayagunaan" [(ngModel)]="pendayagunaan.id_jenis_dayaguna"
                          [ngClass]="{'is-invalid': formRevisiPendayagunaan.controls.id_jenis_dayaguna.invalid && (formRevisiPendayagunaan.controls.id_jenis_dayaguna.dirty || formRevisiPendayagunaan.controls.id_jenis_dayaguna.touched)}">
                          <option *ngFor="let jenisPendayagunaan of jenisPendayagunaans" [value]="jenisPendayagunaan.id_jenis_dayaguna">{{ jenisPendayagunaan.nama_jenis_dayaguna }}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="formRevisiPendayagunaan.controls.id_jenis_dayaguna.invalid && (formRevisiPendayagunaan.controls.id_jenis_dayaguna.dirty || formRevisiPendayagunaan.controls.id_jenis_dayaguna.touched)">
                          <div *ngIf="formRevisiPendayagunaan.controls.id_jenis_dayaguna.errors.required">Jenis Pendayagunaan harus diisi</div>
                          <div *ngIf="formRevisiPendayagunaan.controls.id_jenis_dayaguna.errors.minlength">Panjang minimal {{formRevisiPendayagunaan.controls.id_jenis_dayaguna.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formRevisiPendayagunaan.controls.id_jenis_dayaguna.errors.maxlength">Panjang maksimal {{formRevisiPendayagunaan.controls.id_jenis_dayaguna.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label><strong>Kontrak Pendayagunaan</strong></label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" formControlName="kontrak" placeholder="Lama Kontrak" [(ngModel)]="pendayagunaan.kontrak"
                          [ngClass]="{'is-invalid': formRevisiPendayagunaan.controls.kontrak.invalid && (formRevisiPendayagunaan.controls.kontrak.dirty || formRevisiPendayagunaan.controls.kontrak.touched)}"/>
                        <div class="invalid-feedback" *ngIf="formRevisiPendayagunaan.controls.kontrak.invalid && (formRevisiPendayagunaan.controls.kontrak.dirty || formRevisiPendayagunaan.controls.kontrak.touched)">
                          <div *ngIf="formRevisiPendayagunaan.controls.kontrak.errors.required">Lama Kontrak harus diisi</div>
                          <div *ngIf="formRevisiPendayagunaan.controls.kontrak.errors.minlength">Panjang minimal {{formRevisiPendayagunaan.controls.kontrak.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formRevisiPendayagunaan.controls.kontrak.errors.maxlength">Panjang maksimal {{formRevisiPendayagunaan.controls.kontrak.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>Nilai Pendayagunaan</strong></label>
                      </div>
                      <div class="col-12">
                        <input-number type="number" class="form-control" formControlName="nilai_pendayagunaan" placeholder="Nilai Pendayagunaan" [(ngModel)]="pendayagunaan.nilai_pendayagunaan"
                          [ngClass]="{'is-invalid': formRevisiPendayagunaan.controls.nilai_pendayagunaan.invalid && (formRevisiPendayagunaan.controls.nilai_pendayagunaan.dirty || formRevisiPendayagunaan.controls.nilai_pendayagunaan.touched)}"></input-number>
                        <div class="invalid-feedback" *ngIf="formRevisiPendayagunaan.controls.nilai_pendayagunaan.invalid && (formRevisiPendayagunaan.controls.nilai_pendayagunaan.dirty || formRevisiPendayagunaan.controls.nilai_pendayagunaan.touched)">
                          <div *ngIf="formRevisiPendayagunaan.controls.nilai_pendayagunaan.errors.required">Nilai Pendayagunaan harus diisi</div>
                          <div *ngIf="formRevisiPendayagunaan.controls.nilai_pendayagunaan.errors.minlength">Panjang minimal {{formRevisiPendayagunaan.controls.nilai_pendayagunaan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formRevisiPendayagunaan.controls.nilai_pendayagunaan.errors.maxlength">Panjang maksimal {{formRevisiPendayagunaan.controls.nilai_pendayagunaan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>Tanggal Mulai Pendayagunaan</strong><strong></strong></label>
                      </div>
                      <div class="col-12">
                        <input type="date" class="form-control" formControlName="start_date_pendayagunaan" placeholder="Pihak Terkait" [(ngModel)]="pendayagunaan.start_date_pendayagunaan"
                          [ngClass]="{'is-invalid': formRevisiPendayagunaan.controls.start_date_pendayagunaan.invalid && (formRevisiPendayagunaan.controls.start_date_pendayagunaan.dirty || formRevisiPendayagunaan.controls.start_date_pendayagunaan.touched)}"/>
                        <div class="invalid-feedback" *ngIf="formRevisiPendayagunaan.controls.start_date_pendayagunaan.invalid && (formRevisiPendayagunaan.controls.start_date_pendayagunaan.dirty || formRevisiPendayagunaan.controls.start_date_pendayagunaan.touched)">
                          <div *ngIf="formRevisiPendayagunaan.controls.start_date_pendayagunaan.errors.required">Pihak Terkait harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>Tanggal Selesai Pendayagunaan</strong><strong></strong></label>
                      </div>
                      <div class="col-12">
                        <input type="date" class="form-control" formControlName="end_date_pendayagunaan" placeholder="Tanggal Berakhir" [(ngModel)]="pendayagunaan.end_date_pendayagunaan"
                          [ngClass]="{'is-invalid': formRevisiPendayagunaan.controls.end_date_pendayagunaan.invalid && (formRevisiPendayagunaan.controls.end_date_pendayagunaan.dirty || formRevisiPendayagunaan.controls.end_date_pendayagunaan.touched)}" />
                        <div class="invalid-feedback" *ngIf="formRevisiPendayagunaan.controls.end_date_pendayagunaan.invalid && (formRevisiPendayagunaan.controls.end_date_pendayagunaan.dirty || formRevisiPendayagunaan.controls.end_date_pendayagunaan.touched)">
                          <div *ngIf="formRevisiPendayagunaan.controls.end_date_pendayagunaan.errors.required">Tanggal Berakhir harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>Deskripsi</strong></label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="keterangan" [(ngModel)]="pendayagunaan.keterangan"
                          [ngClass]="{'is-invalid': formRevisiPendayagunaan.controls.keterangan.invalid && (formRevisiPendayagunaan.controls.keterangan.dirty || formRevisiPendayagunaan.controls.keterangan.touched)}" placeholder="Deskripsi Pendayagunaan"></textarea>
                        <div class="invalid-feedback" *ngIf="formRevisiPendayagunaan.controls.keterangan.invalid && (formRevisiPendayagunaan.controls.keterangan.dirty || formRevisiPendayagunaan.controls.keterangan.touched)">
                          <div *ngIf="formRevisiPendayagunaan.controls.keterangan.errors.required">Deskripsi harus diisi</div>
                          <div *ngIf="formRevisiPendayagunaan.controls.keterangan.errors.minlength">Panjang minimal {{formRevisiPendayagunaan.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formRevisiPendayagunaan.controls.keterangan.errors.maxlength">Panjang maksimal {{formRevisiPendayagunaan.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="col-12 text-right">
                      <button class="btn btn-sm btn-primary" (click)="save()" type="submit"><i class="fa fa-save"></i>
                        <div class="d-none d-sm-inline-block">&nbsp;Simpan</div>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>