<div class="s-info bg-white">
    <div class="s-heading">
      <p>{{ title | uppercase }}</p>
      <small>{{ 'Ubah Data Pribadi' | uppercase }}</small>
    </div>
  </div>
  <div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
    <div class="row tab-content border-0 h-100">
      <div class="col-md-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
        <form class="row h-100 m-0 p-0 bg-light" [formGroup]="myForm" (submit)="save()" novalidate style="position:relative;overflow:auto;">
          <tabset #tabset class="col-12">
            <tab id="tab1">
              <ng-template tabHeading>
                <i class="fa fa-vcard"></i>
                <span class="d-none d-md-inline-block">&nbsp;{{'Profil' | uppercase}}</span>
              </ng-template>
              <div class="tab-pane" id="detail" role="tabpanel">
                <div class="row">
                  <div class="col-12 col-md-6 p-0">
                    <div class="form-group col-12">
                      <label class="col-12">
                        <strong>{{'Nama' | uppercase}}
                          <span class="required">*</span>
                        </strong>
                      </label>
                      <div class="col-12">
                        <div class="input-group">
                          <input class="form-control" type="text" [(ngModel)]="pengguna.nama" formControlName="nama" placeholder="Nama"
                            [ngClass]="{'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)}">
                        </div>
                        <div class="invalid-feedback" *ngIf="myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)">
                          <div *ngIf="myForm.controls.nama.errors.required">Nama Pengguna harus diisi</div>
                          <div *ngIf="myForm.controls.nama.errors.minlength">Panjang minimal {{myForm.controls.nama.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="myForm.controls.nama.errors.maxlength">Panjang maksimal {{myForm.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-12">
                      <label class="col-12">
                        <strong>{{'Username' | uppercase}}</strong>
                        <span class="required">*</span>
                      </label>
                      <div class="col-12">
                        <input class="form-control" type="text" [value]="pengguna.username" placeholder="Username" disabled="disabled">
                      </div>
                    </div>
                    <div class="form-group col-12">
                      <label class="col-12">
                        <strong>{{'Email' | uppercase}}</strong>
                      </label>
                      <div class="col-12">
                        <input class="form-control" type="text" [(ngModel)]="pengguna.email" formControlName="email" placeholder="Email"
                          [ngClass]="{'is-invalid': myForm.controls.email.invalid && (myForm.controls.email.dirty || myForm.controls.email.touched)}">
                        <div class="invalid-feedback" *ngIf="myForm.controls.email.invalid && (myForm.controls.email.dirty || myForm.controls.email.touched)">
                          <div *ngIf="myForm.controls.email.errors.required">Email harus diisi</div>
                          <div *ngIf="myForm.controls.email.errors.minlength">Panjang minimal {{myForm.controls.email.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="myForm.controls.email.errors.maxlength">Panjang maksimal {{myForm.controls.email.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="!isLDAP">
                      <div class="form-group col-12">
                        <label class="col-12">
                          <strong>{{'Password' | uppercase}}</strong>
                          <span class="required" *ngIf="act==='add'">*</span>
                        </label>
                        <div class="col-12">
                          <input class="form-control" type="password" [(ngModel)]="pengguna.password" formControlName="password" placeholder="Password"
                            [ngClass]="{'is-invalid': myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)}">
                          <div class="invalid-feedback" *ngIf="myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)">
                            <div *ngIf="myForm.controls.password.errors.required">Password harus diisi</div>
                            <div *ngIf="myForm.controls.password.errors.minlength">Panjang minimal {{myForm.controls.password.errors.minlength.requiredLength}} karakter</div>
                            <div *ngIf="myForm.controls.password.errors.maxlength">Panjang maksimal {{myForm.controls.password.errors.maxlength.requiredLength}} karakter</div>
                            <div *ngIf="myForm.controls.password.errors.pattern">Karakter tidak sesuai</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-12">
                        <label class="col-12">
                          <strong>{{'Konfirmasi' | uppercase}}</strong>
                          <span class="required" *ngIf="act==='add'">*</span>
                        </label>
                        <div class="col-12">
                          <input class="form-control" type="password" [(ngModel)]="konfirmasi" formControlName="konfirmasi" placeholder="Konfirmasi Password"
                            [ngClass]="{'is-invalid': myForm.controls.konfirmasi.invalid && (myForm.controls.konfirmasi.dirty || myForm.controls.konfirmasi.touched)}">
                          <div class="invalid-feedback" *ngIf="myForm.controls.konfirmasi.invalid && (myForm.controls.konfirmasi.dirty || myForm.controls.konfirmasi.touched)">
                            <div *ngIf="myForm.controls.konfirmasi.errors.required">Konfirmasi Password harus diisi</div>
                            <div *ngIf="myForm.controls.konfirmasi.errors.unmatch">Konfirmasi Password tidak cocok</div>
                            <div *ngIf="myForm.controls.konfirmasi.errors.pattern">Konfirmasi Password tidak cocok</div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="col-12 col-md-6 p-0">
                    <div class="form-group col-12">
                      <div class="col-12">
                        <div class="foto-profil">
                          <img alt="avatar" class="" [src]="preview || (old ? fotoDir+old : false) || 'assets/img/no-image.jpg'">
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-12">
                      <label class="col-12">
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                      <div class="col-12">
                        <div class="input-group">
                          <input class="form-control" type="file" formContolName="foto" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg">
                          <button class="input-group-addon btn btn-flat btn-danger" (click)="removeFoto()">
                            <i class="fa fa-trash"></i></button>
                        </div>
                        <div class="invalid-feedback" *ngIf="myForm.controls.foto.invalid && (myForm.controls.foto.dirty || myForm.controls.foto.touched)">
                          <div *ngIf="myForm.controls.foto.errors.required">Foto harus diisi</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-12 text-right">
                    <button class="btn btn-default" type="button" (click)="cancel()">
                      <i class="fa fa-arrow-left"> </i> {{'Batal' | uppercase}}</button>
                    <button class="btn btn-primary" [disabled]="!myForm.valid">
                      <i class="fa fa-save"></i>&nbsp;{{'Simpan' | uppercase}}</button>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </form>
      </div>
    </div>
  </div>