<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Data Organisasi' | uppercase}}</p>
    <small>{{'Pengelolaan Data Organisasi dalam SIMAPRO' | uppercase}}</small>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item" (click)="chooseTab('headquarter')">
          <a class="nav-link" href="#">
            <i class="fa fa-institution"></i>
            <span class="d-none d-md-inline-block">&nbsp;{{'Headquarter' | uppercase}}</span>
          </a>
        </li>
        <li class="nav-item" (click)="chooseTab('regional')">
          <a class="nav-link active" href="#">
            <i class="fa fa-object-group"></i>
            <span class="d-none d-md-inline-block">&nbsp;{{'Regional'| uppercase}}</span>
          </a>
        </li>
        <li class="nav-item" (click)="chooseTab('company-code')">
          <a class="nav-link" href="#">
            <i class="fa fa-briefcase"></i>
            <span class="d-none d-md-inline-block">&nbsp;{{'Company Code'| uppercase}}</span>
          </a>
        </li>
        <li class="nav-item" (click)="chooseTab('business-area')">
          <a class="nav-link" href="#">
            <i class="fa fa-handshake-o"></i>
            <span class="d-none d-md-inline-block">&nbsp;{{'Business Area' | uppercase}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['add']">
            <i class="fa fa-plus-circle"></i>
            <span class="d-none d-md-inline-block">&nbsp;{{'Tambah'| uppercase}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active" id="tab1" role="tabpanel">
          <div class="col-12 mb-2">
            <div class="row">
              <div class="col-4">
                <div class="data-per-page">
                  <select [(ngModel)]="dataSetting.dataPerPage" class="form-control" #dataPerPage name="dataPerPage" (change)="changeLimit(dataPerPage.value)">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                  </select>
                </div>
              </div>
              <div class="col-8 col-sm-4 col-lg-3 ml-auto">
                <div class="form-group">
                  <div class="input-group">
                    <input type='text' class="form-control" placeholder='Cari Data' [(ngModel)]="dataSetting.query" (keyup.enter)="search()"
                      (blur)="search()" />
                    <span class="input-group-append">
                      <button class="btn" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-2">
            <table class="bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="all" (click)="sortBy('id_regional')" class="text-center">
                    {{'ID' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='id_regional',
                          'fa-sort-asc': dataSetting.orderBy==='id_regional' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='id_regional' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="all" (click)="sortBy('nama_regional')" class="text-center">
                    {{'Regional' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='nama_regional',
                          'fa-sort-asc': dataSetting.orderBy==='nama_regional' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='nama_regional' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="all" (click)="sortBy('nama_head_quarters')" class="text-center">
                    {{'Headquarter' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='nama_head_quarters',
                          'fa-sort-asc': dataSetting.orderBy==='nama_head_quarters' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='nama_head_quarters' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="all" (click)="sortBy('is_active')" class="text-center">
                    {{'Status' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='is_active',
                          'fa-sort-asc': dataSetting.orderBy==='is_active' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='is_active' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="text-center">{{'Aksi' | uppercase}}</th>
                </tr>
              </thead>
              <tbody *ngIf="pageData.length > 0; else noData">
                <tr *ngFor="let regional of pageData;">
                  <td>{{ regional.id_regional }}</td>
                  <td>{{ regional.nama_regional | uppercase }}</td>
                  <td>{{ regional.head_quarters.nama_head_quarters | uppercase }}</td>
                  <td>{{ (regional.is_active ? 'Aktif' : 'Tidak Aktif') | uppercase }}</td>
                  <td class="text-center">
                    <div class="btn-group btn-group-sm">
                      <a class="btn btn-primary" href="#" (click)="show(regional)">
                        <i class="fa fa-eye"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Lihat' | uppercase}}</span>
                      </a>
                      <a *ngIf="regional.is_active" class="btn btn-warning" href="#" (click)="delete(regional)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Nonaktifkan' | uppercase}}</span>
                      </a>
                      <a *ngIf="!regional.is_active" class="btn btn-success" href="#" (click)="undelete(regional)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Aktifkan' | uppercase}}</span>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="6" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="col-12 mb-2">
            <div class="pagination m-0">
              <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
              <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>