<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>
        {{ role?.nama | uppercase }}</p>
      <small>{{ 'Role' | uppercase}}</small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right" (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active" id="tab1" role="tabpanel">
          <div class="col-12 mb-2">
            <div class="card-deck mt-1">
              <div class="card" *ngIf="show==='all' || show==='detail'">
                <div class="card-header">
                  <h5>{{'Detail' | uppercase}}
                    <button class="btn btn-primary btn-sm pull-right" (click)="edit()">
                      <i class="fa fa-pencil"></i> {{'Ubah' | uppercase}}</button>
                  </h5>
                </div>
                <div class="card-block">
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-4 form-control-label" for="">{{'Nama' | uppercase}}</label>
                      <div class="col-8">
                        <p class="form-control-static">{{ role?.nama | uppercase }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-4 form-control-label" for="">{{'Level Organisasi' | uppercase}}</label>
                      <div class="col-8">
                        <p class="form-control-static">{{ role.organisasi_level?.deskripsi | uppercase }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-4 form-control-label" for="">{{'Deskripsi' | uppercase}}</label>
                      <div class="col-8">
                        <p class="form-control-static">{{ role?.description | uppercase }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-4 form-control-label" for="">{{'Status' | uppercase}}</label>
                      <div class="col-8">
                        <p class="form-control-static">{{ (role?.is_active ? 'Aktif' : 'Tidak Aktif') | uppercase }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-4 form-control-label" for="">{{'Dibuat' | uppercase}}</label>
                      <div class="col-8">
                        <p class="form-control-static">{{ role?.created_on | date: 'MMM d, y H:m' | uppercase }}</p>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-4 form-control-label" for="">{{'Pembaruan Terakhir' | uppercase}}</label>
                      <div class="col-8">
                        <p class="form-control-static">{{ (role?.changed_on ? (role.changed_on | date) : '-') | uppercase }}</p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card" *ngIf="show==='all' || show==='members'">
                <div class="card-header">
                  <h5>
                    {{'Pemilik Role' | uppercase}}
                  </h5>
                </div>
                <div class="card-block">
                  <ng-container *ngIf="show==='members'; then sortableMember else unsortableMember"></ng-container>
                  <ng-template #itemMember let-item="item" let-index="index">{{ item.nama | uppercase }}</ng-template>
                  <ng-template #sortableMember>
                    <div class="list-group">
                      <bs-sortable [(ngModel)]="role.members" fieldName="nama" itemTemplateRef="ItemMember" itemClass="sortable-item list-group-item list-group-item-action"
                        itemActiveClass="sortable-item-active" placeholderItem="drag here to add member" placeholderClass="sortable-item"
                        wrapperClass="sortable-wrapper"></bs-sortable>
                    </div>
                  </ng-template>
                  <ng-template #unsortableMember>
                    <div class="list-group" *ngIf="role.members?.length > 0;  else noMember">
                      <span *ngFor="let pengguna of role.members" (click)="showPengguna(pengguna)" class="list-group-item list-group-item-action ">
                        {{ pengguna.nama | uppercase }}
                      </span>
                    </div>
                    <ng-template #noMember>
                      <p class="text-center">
                        Tidak Ada
                      </p>
                    </ng-template>
                  </ng-template>
                </div>
              </div>
              <div class="card" *ngIf="show==='members'">
                <div class="card-header">
                  <h5>
                    New Member
                    <div class="col-4 pull-right">
                      <form action="form-horizontal">
                        <input class="form-control-sm" type="text" name="filter" placeholder="cari" [(ngModel)]="filter" id="" (keyup)="filterUsers()">
                      </form>
                    </div>
                  </h5>
                </div>
                <div class="card-block">
                  <ng-template #itemAllUser let-item="item" let-index="index">{{item.nama | uppercase}}
                    <span class="pull-right">{{ item.role_id }}</span>
                  </ng-template>
                  <div class="list-group">
                    <bs-sortable [(ngModel)]="showUsers" fieldName="nama" itemTemplateRef="itemAllUser" itemClass="sortable-item list-group-item list-group-item-action"
                      itemActiveClass="sortable-item-active" placeholderItem="drag here to revoke permission" placeholderClass="sortable-item"
                      wrapperClass="sortable-wrapper"></bs-sortable>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="show==='all' || show==='permissions'">
                <div class="card-header">
                  <h5>
                    {{'Permission' | uppercase}}
                  </h5>
                </div>
                <div class="card-block">
                  <ng-container *ngIf="show==='permissions'; then sortablePermission else unsortablePermission"></ng-container>
                  <ng-template #itemTemplate let-item="item" let-index="index">
                    <span title="{{ item.description }}">{{ item.nama | uppercase }}</span>
                  </ng-template>
                  <ng-template #sortablePermission>
                    <div class="list-group">
                      <bs-sortable [(ngModel)]="role.permissions" fieldName="nama" itemTemplateRef="ItemTemplate" itemClass="sortable-item list-group-item list-group-item-action"
                        itemActiveClass="sortable-item-active" placeholderItem="drag here to grant permission" placeholderClass="sortable-item"
                        wrapperClass="sortable-wrapper"></bs-sortable>
                    </div>
                  </ng-template>
                  <ng-template #unsortablePermission>
                    <div class="list-group" *ngIf="role.permission?.length > 0;  else noPermission">
                      <span *ngFor="let permission of role.permission" class="list-group-item list-group-item-action " title="{{ permission.description }}">
                        {{ permission.nama | uppercase }}
                      </span>
                    </div>
                    <ng-template #noPermission>
                      <p class="text-center">
                        Tidak Ada
                      </p>
                    </ng-template>
                  </ng-template>
                </div>
              </div>
              <div class="card" *ngIf="show==='permissions'">
                <div class="card-header">
                  <h5>
                    Grant Permission
                    <div class="col-4 pull-right">
                      <form action="form-horizontal">
                        <input class="form-control-sm" type="text" name="filterP" placeholder="cari" [(ngModel)]="filterP" id="" (keyup)="filterPermissions()">
                      </form>
                    </div>
                  </h5>
                </div>
                <div class="card-block">
                  <ng-template #itemAllPermission let-item="item" let-index="index">
                    <span title="{{ item.description }}">{{index}}: {{item.nama}}</span>
                  </ng-template>
                  <div class="list-group">
                    <bs-sortable [(ngModel)]="showPermissions" fieldName="nama" itemTemplateRef="itemAllPermission" itemClass="sortable-item list-group-item list-group-item-action"
                      itemActiveClass="sortable-item-active" placeholderItem="drag here to revoke permission" placeholderClass="sortable-item"
                      wrapperClass="sortable-wrapper"></bs-sortable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>