<app-header></app-header>
<div class="app-body">
  <!-- <app-sidebar></app-sidebar> -->
  <!-- Main content -->
  <main>
    <!-- Breadcrumb -->
    <!-- <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol> -->
    <br/>
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      loadingText="Loading..."
      type="pacman">
    </ngx-spinner>
    <router-outlet>

      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissible]="dismissible">{{ alert.msg }}</alert>
      </div>

    </router-outlet>
    <!-- </div>/.conainer-fluid -->
  </main>
  <app-aside></app-aside>
</div>
<app-footer></app-footer>