<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Realisasi' | uppercase}}</p>
    <small>{{'Realisasi Anggaran Pekerjaan' | uppercase}}</small>
  </div>
  <div class="row">
    <div class="col-md-9">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" [class.active]="tab==='data'" [routerLink]="['/realisasi']" queryParamsHandling fragment='data' role="tab">
            <i class="fa fa-dollar"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Data Realisasi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit">
          <a class="nav-link" data-toggle="tab" [class.active]="tab==='data-perubahan'" [routerLink]="['/realisasi']" queryParamsHandling fragment='data-perubahan' role="tab">
            <i class="fa fa-dollar"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Pengajuan Realisasi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input">
          <a class="nav-link" [routerLink]="['add']">
            <i class="fa fa-plus-circle"></i>&nbsp;
            <span class="d-none d-md-inline">{{'Tambah Realisasi' | uppercase}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 ml-auto text-right">
      <button class="btn btn-default btn-sm" (click)="openModal()"><i class="fa fa-search"></i>&nbsp;{{'Cari' | uppercase}}</button>
    </div>
    
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row h-100">
    <div class="tab-content w-100 border-0">
      <div class="tab-pane h-100 p-0 active" *ngIf="tab==='data'" id="data1" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <form class="form-inline">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <div class="form-group">
                          <label> <strong>Lihat</strong></label>
                          <select class="form-control form-control-sm mx-1">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          <label>
                            <strong>Data</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="text-center text-nowrap">{{'Tahun Anggaran' | uppercase}}</th>
                    <th class="text-center text-nowrap">{{'No. Anggaran' | uppercase}}</th>
                    <th class="text-center text-nowrap">{{'Nama Anggaran' | uppercase}}</th>
                    <th class="text-center text-nowrap">{{'Company Code' | uppercase}}</th>
                    <th class="text-center text-nowrap">{{'Total Anggaran' | uppercase}} (Rp)</th>
                    <th class="text-center text-nowrap">{{'Total Realisasi' | uppercase}} (Rp)</th>
                    <th class="text-center">{{'Aksi' | uppercase}}</th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let realisasi of pageData;">
                    <tr (dblClick)="show(realisasi)">
                      <td>{{ realisasi.anggaran?.tahun_anggaran }}</td>
                      <td>{{ realisasi.anggaran?.nomor_anggaran }}</td>
                      <td>{{ realisasi.anggaran?.nama_anggaran | uppercase }}</td>
                      <td>{{ (realisasi.company_code?.nama) | uppercase }}</td>
                      <td>{{ realisasi.anggaran?.pengajuan_anggaran | number: '1.0-2' }}</td>
                      <td>{{ realisasi.total_realisasi | number: '1.0-2' }}</td>
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(realisasi)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="9"class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane h-100 p-0 active" *ngIf="tab==='data-perubahan'" id="data2" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <form class="form-inline">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <div class="form-group">
                          <label> <strong>Lihat</strong></label>
                          <select class="form-control form-control-sm mx-1">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          <label>
                            <strong>Data</strong>
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="text-center text-nowrap">{{'Tahun Anggaran' | uppercase}}</th>
                    <th class="text-center text-nowrap">{{'No. Anggaran' | uppercase}}</th>
                    <th class="text-center text-nowrap">{{'Nama Anggaran' | uppercase}}</th>
                    <th class="text-center text-nowrap">{{'Company Code' | uppercase}}</th>
                    <th class="text-center text-nowrap">{{'Total Anggaran' | uppercase}} (Rp)</th>
                    <th class="text-center text-nowrap">{{'Total Realisasi' | uppercase}} (Rp)</th>
                    <th class="text-center">{{'Aksi' | uppercase}}</th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let realisasi of pageData;">
                    <tr (dblClick)="show(realisasi)">
                      <td>{{ realisasi.anggaran?.tahun_anggaran }}</td>
                      <td>{{ realisasi.anggaran?.nomor_anggaran }}</td>
                      <td>{{ realisasi.anggaran?.nama_anggaran | uppercase }}</td>
                      <td>{{ (realisasi.company_code?.nama) | uppercase }}</td>
                      <td>{{ realisasi.anggaran?.pengajuan_anggaran | number: '1.0-2' }}</td>
                      <td>{{ realisasi.total_realisasi | number: '1.0-2' }}</td>
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(realisasi)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="9"class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateFilter>
  <div class="modal-header">
    <h5 class="modal-title">Cari</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12">
      <div class="form-group row">
        <div class="col-12 col-md-6">
          <label>
            <strong>Nama Anggaran</strong>
          </label>
          <input class="form-control is-invalid" type="text" placeholder="Nama realisasi">
        </div>
        <div class="col-12 col-md-6">
          <label>
            <strong>Tahun Anggaran</strong>
          </label>
          <select class="select2 form-control">
            <option>Pilih Tahun</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary btn-sm" type="button" (click)="search()" data-dismiss="modal"> <i class="fa fa-search"></i>&nbsp;Cari</button>
  </div>
</ng-template>