<div class="s-info bg-white">
  <div class="s-heading" *ngIf="documentReady">
    <p>{{ namaAsetProperti | uppercase }}</p>
    <small>{{ namaCompanyCode | uppercase }} </small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-9 col-md-7 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabRevisi class="col-12">
          <tab id="tab0" *ngIf="documentReady && !detailAsetProperti">
            <ng-template tabHeading>
              <i class="fa fa-align-left"></i>
              <span class="d-none d-md-inline-block"> {{'Data Statis' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane active" id="statis" role="tabpanel">
              <div class="row">
                <div class="col-12">
                  <p class="alert alert-danger">{{'Tab ini hanya muncul ketika revisi penambahan aset properti baru' | uppercase}}</p>
                </div>
                <div class="col-12 col-md-6 p-0">
                  <form [formGroup]="formAsetProperti" (submit)="saveDataStatis()" novalidate>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Sumber Perolehan' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <select class="form-control" formControlName="id_sumber_perolehan" [(ngModel)]="asetPropertiPerubahan.id_sumber_perolehan">
                          <option *ngFor="let sumberPerolehan of sumberPerolehans" [value]="sumberPerolehans.id_sumber_perolehan">{{ sumberPerolehans.sumber_perolehan }} </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="formAsetProperti.controls.id_sumber_perolehan.invalid && (formAsetProperti.controls.id_sumber_perolehan.dirty || formAsetProperti.controls.id_sumber_perolehan.touched)">
                          <div *ngIf="formAsetProperti.controls.id_sumber_perolehan.errors.required">Sumber perolehan harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{"Harga Perolehan" | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="nilai_perolehan" [(ngModel)]="asetPropertiPerubahan.nilai_perolehan" type="text" placeholder="Nilai perolehan aset">
                        <div class="invalid-feedback" *ngIf="formAsetProperti.controls.nilai_perolehan.invalid && (formAsetProperti.controls.nilai_perolehan.dirty || formAsetProperti.controls.nilai_perolehan.touched)">
                          <div *ngIf="formAsetProperti.controls.nilai_perolehan.errors.required">Nilai perolehan harus diisi</div>
                          <div *ngIf="formAsetProperti.controls.nilai_perolehan.errors.minlength">Panjang minimal {{formAsetProperti.controls.nilai_perolehan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formAsetProperti.controls.nilai_perolehan.errors.maxlength">Panjang maksimal {{formAsetProperti.controls.nilai_perolehan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Tahun Perolehan' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tahun_perolehan" [(ngModel)]="asetPropertiPerubahan.tahun_perolehan" type="text" placeholder="Tahun perolehan aset">
                        <div class="invalid-feedback" *ngIf="formAsetProperti.controls.tahun_perolehan.invalid && (formAsetProperti.controls.tahun_perolehan.dirty || formAsetProperti.controls.tahun_perolehan.touched)">
                          <div *ngIf="formAsetProperti.controls.tahun_perolehan.errors.required">Tahun perolehan harus diisi</div>
                          <div *ngIf="formAsetProperti.controls.tahun_perolehan.errors.max || formAsetProperti.controls.tahun_perolehan.errors.min">Tahun Perolehan harus berada diantara tahun {{ min }} - {{ max }}</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group text-right">
                    <button class="btn btn btn-primary" (click)="saveDataStatis()" type="submit">
                      <i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab1" *ngIf="documentReady && fragment==='detail'">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Detail Aset Properti' | uppercase }}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 pt-2 bg-light mb-3">
                  <div class="row">
                    <div class="col-6 p-0">
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="(detailAsetProperti.jenis_aset.nama | uppercase) + (detailAsetProperti.sub_jenis ? ' - ' + (detailAsetProperti.sub_jenis.nama | uppercase) : '')">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="nilai.nilai_properti | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="perpindahanAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Berdiri Diatas' | uppercase}}</strong>
                          </label>
                        </div>
                      <div class="col-12">
                        <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="perpindahanAsetProperti.tanah?.detail_aktif[0].nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="form-group" *ngIf="asetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetProperti.sumber_perolehan?.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetProperti?.tahun_perolehan">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="detailAsetProperti.alamat_properti | uppercase">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6" *ngIf="detailAsetProperti">
                  <div class="col-12">
                    <h4>{{'Data Saat Ini' | uppercase }}</h4>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetProperti.nama_properti | uppercase " placeholder="Nama aset properti"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Jenis Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="select2 form-control" disabled="disabled" [ngModel]="detailAsetProperti.id_jenis_aset">
                        <option *ngFor="let jenisAsetProperti of jenisAsetPropertis" [value]="jenisAsetProperti.id_jenis_aset">{{ jenisAsetProperti.nama | uppercase}} </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="detailAsetProperti.id_sub_jenis_aset">
                    <div class="col-12">
                      <label>
                        <strong>{{'Sub Jenis Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="select2 form-control" disabled="disabled" [value]="detailAsetProperti.id_sub_jenis_aset">
                        <option *ngFor="let subJenisAset of subJenisAsetPropertisX" [value]="subJenisAset.id_sub_jenis_aset">{{ subJenisAset.nama | uppercase }} </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas Bangunan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input class="form-control" disabled="disabled" [value]="detailAsetProperti.luas_properti | number: '1.0-2'" type="number"
                          placeholder="Luas properti aset">
                        <div class="input-group-addon">
                          <span>
                            M
                            <sup>2</sup>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Alamat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled" placeholder="Jalan">{{detailAsetProperti.alamat_properti | uppercase}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" disabled="disabled" [value]="detailAsetProperti.no_imb" type="text" placeholder="No. IMB">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Terbit IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" disabled="disabled" [value]="detailAsetProperti.tanggal_terbit_imb | date: 'dd MMM yyyy'"
                        type="text" placeholder="Tanggal berlaku sertifikat properti" >
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" disabled="disabled" [value]="detailAsetProperti.no_sap" type="text" placeholder="No. IMB">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="oldFoto || 'assets/img/no-image.jpg'">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6">
                  <form [formGroup]="formDetail" (submit)="saveDetail()" novalidate>
                    <div class="col-12">
                      <h4>{{'Usulan' | uppercase }}</h4>
                      <hr>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Nama Aset Properti' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="nama" [(ngModel)]="detailAsetPropertiPerubahan.nama_properti" type="text" placeholder="Nama aset properti"
                          [ngClass]="{'is-invalid': formDetail.controls.nama.invalid && (formDetail.controls.nama.dirty || formDetail.controls.nama.touched)}"
                        />
                        <div class="invalid-feedback" *ngIf="formDetail.controls.nama.invalid && (formDetail.controls.nama.dirty || formDetail.controls.nama.touched)">
                          <div *ngIf="formDetail.controls.nama.errors.required">Nama harus diisi</div>
                          <div *ngIf="formDetail.controls.nama.errors.minlength">Panjang minimal {{formDetail.controls.nama.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formDetail.controls.nama.errors.maxlength">Panjang maksimal {{formDetail.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Jenis Aset Properti' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <select class="select2 form-control" formControlName="id_jenis_aset" [(ngModel)]="jenisAsetProperti" (change)="_selectJenisAsetProperti()"
                          [ngClass]="{'is-invalid': formDetail.controls.id_jenis_aset.invalid && (formDetail.controls.id_jenis_aset.dirty || formDetail.controls.id_jenis_aset.touched)}">
                          <option *ngFor="let jenisAsetProperti of jenisAsetPropertis" [ngValue]="jenisAsetProperti">{{ jenisAsetProperti.nama | uppercase }} </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="formDetail.controls.id_jenis_aset.invalid && (formDetail.controls.id_jenis_aset.dirty || formDetail.controls.id_jenis_aset.touched)">
                          <div *ngIf="formDetail.controls.id_jenis_aset.errors.required">Jenis aset harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="jenisAsetProperti && jenisAsetProperti.sub_jenis_aset.length">
                      <div class="col-12">
                        <label>
                          <strong>{{'Sub Jenis Aset Properti' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <select class="select2 form-control" formControlName="id_sub_jenis_aset" [(ngModel)]="detailAsetPropertiPerubahan.id_sub_jenis_aset"
                          [ngClass]="{'is-invalid': formDetail.controls.id_sub_jenis_aset.invalid && (formDetail.controls.id_sub_jenis_aset.dirty || formDetail.controls.id_sub_jenis_aset.touched)}">
                          <option *ngFor="let subJenisAset of jenisAsetProperti.sub_jenis_aset" [value]="subJenisAset.id_sub_jenis_aset">{{ subJenisAset.nama |uppercase }} </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="formDetail.controls.id_sub_jenis_aset.invalid && (formDetail.controls.id_sub_jenis_aset.dirty || formDetail.controls.id_jenis_aset.touched)">
                          <div *ngIf="formDetail.controls.id_sub_jenis_aset.errors.required">Sub Jenis aset harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Luas Bangunan' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <div class="input-group">
                          <input-number class="form-control" formControlName="luas_properti" [(ngModel)]="detailAsetPropertiPerubahan.luas_properti" type="number"
                            placeholder="Luas properti aset" [ngClass]="{'is-invalid': formDetail.controls.luas_properti.invalid && (formDetail.controls.luas_properti.dirty || formDetail.controls.luas_properti.touched)}"></input-number>
                          <div class="input-group-addon">
                            <span>
                              M
                              <sup>2</sup>
                            </span>
                          </div>
                        </div>
                        <div class="invalid-feedback" *ngIf="formDetail.controls.luas_properti.invalid && (formDetail.controls.luas_properti.dirty || formDetail.controls.luas_properti.touched)">
                          <div *ngIf="formDetail.controls.luas_properti.errors.required">Luas harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Alamat' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="alamat" [(ngModel)]="detailAsetPropertiPerubahan.alamat_properti" placeholder="Jalan" [ngClass]="{'is-invalid': formDetail.controls.alamat.invalid && (formDetail.controls.alamat.dirty || formDetail.controls.alamat.touched)}"></textarea>
                        <div class="invalid-feedback" *ngIf="formDetail.controls.alamat.invalid && (formDetail.controls.alamat.dirty || formDetail.controls.alamat.touched)">
                          <div *ngIf="formDetail.controls.alamat.errors.required">Alamat harus diisi</div>
                          <div *ngIf="formDetail.controls.alamat.errors.minlength">Panjang minimal {{formDetail.controls.alamat.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formDetail.controls.alamat.errors.maxlength">Panjang maksimal {{formDetail.controls.alamat.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'No. IMB' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="no_imb" [(ngModel)]="detailAsetPropertiPerubahan.no_imb" type="text" placeholder="Nomor Objek Pajak properti"
                          [ngClass]="{'is-invalid': formDetail.controls.no_imb.invalid && (formDetail.controls.no_imb.dirty || formDetail.controls.no_imb.touched)}">
                        <div class="invalid-feedback" *ngIf="formDetail.controls.no_imb.invalid && (formDetail.controls.no_imb.dirty || formDetail.controls.no_imb.touched)">
                          <div *ngIf="formDetail.controls.no_imb.errors.required">No. IMB harus diisi</div>
                          <div *ngIf="formDetail.controls.no_imb.errors.maxlength">Panjang maksimal {{formDetail.controls.no_imb.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tanggal Terbit IMB' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tanggal_terbit_imb" [(ngModel)]="detailAsetPropertiPerubahan.tanggal_terbit_imb"
                          type="date" placeholder="Tanggal berlaku sertifikat properti" [ngClass]="{'is-invalid': formDetail.controls.tanggal_terbit_imb.invalid && (formDetail.controls.tanggal_terbit_imb.dirty || formDetail.controls.tanggal_terbit_imb.touched)}">
                        <div class="invalid-feedback" *ngIf="formDetail.controls.tanggal_terbit_imb.invalid && (formDetail.controls.tanggal_terbit_imb.dirty || formDetail.controls.tanggal_terbit_imb.touched)">
                          <div *ngIf="formDetail.controls.tanggal_terbit_imb.errors.required">Tanggal terbit IMB harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'No. SAP' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="no_sap" [(ngModel)]="detailAsetPropertiPerubahan.no_sap" type="text" placeholder="Nomor SAP"
                          [ngClass]="{'is-invalid': formDetail.controls.no_sap.invalid && (formDetail.controls.no_sap.dirty || formDetail.controls.no_sap.touched)}">
                        <div class="invalid-feedback" *ngIf="formDetail.controls.no_sap.invalid && (formDetail.controls.no_sap.dirty || formDetail.controls.no_sap.touched)">
                          <div *ngIf="formDetail.controls.no_sap.errors.required">No. SAP harus diisi</div>
                          <div *ngIf="formDetail.controls.no_sap.errors.maxlength">Panjang maksimal {{formDetail.controls.no_sap.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <div class="foto-aset">
                          <img alt="Foto Aset" class="" [src]="preview || foto || 'assets/img/no-image.jpg'">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Foto' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <div class="input-group">
                          <input class="form-control" type="file" formContolName="foto" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg">
                          <button class="input-group-addon btn btn-flat btn-primary" (click)="removeFoto()">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="invalid-feedback" *ngIf="formDetail.controls.foto.invalid && (formDetail.controls.foto.dirty || formDetail.controls.foto.touched)">
                          <div *ngIf="formDetail.controls.foto.errors.required">Foto harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12 mb-2">
                        <div class="row">
                          <div class="col-6">
                            <label>
                              <strong>{{'Polygon' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-6 text-right" *ngIf="poly && poly.length">
                            <button class="btn btn-sm btn-round btn-primary" [disabled]="false && !poly[0].length" (click)='addPoint()'><i class="fa fa-plus"></i> Add Point</button>
                          </div>
                        </div>
                      </div> 
                      <div class="col-12">
                        <div class="card border-0" *ngIf="poly && poly.length">
                          <app-polygon [group]="formDetail.controls.polygon" (onRemove)="removePoint($event)" [polygon]="poly[0]"></app-polygon>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <button class="btn btn-default" (click)="cancel()">
                          <i class="fa fa-arrow-left"></i> Batal</button>
                        <button class="btn btn-primary" (click)="saveDetail()" [disabled]="!formDetail.valid">
                          <i class="fa fa-save"></i> Simpan</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab3" *ngIf="documentReady && fragment==='nilai'">
            <ng-template tabHeading>
              <i class="fa fa-money"></i>
              <span class="d-none d-md-inline-block">&nbsp;Nilai Jual Aset</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 pt-2 bg-light mb-3">
                  <div class="row">
                    <div class="col-6 p-0">
                      <div class="form-group" *ngIf="perpindahanAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kode Aset Properti' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.kode_properti">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="(detailAsetProperti.jenis_aset.nama | uppercase) + (detailAsetProperti.sub_jenis ? ' - ' + (detailAsetProperti.sub_jenis.nama | uppercase) : '')">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="nilai">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="nilai.nilai_properti | currency: 'Rp. '">
                        </div>
                      </div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Aset Properti' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetProperti.nama_properti | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="perpindahanAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Berdiri Diatas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="perpindahanAsetProperti.tanah?.detail_aktif[0].nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetProperti.tahun_perolehan">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="nilai">
                  <div class="col-12">
                    <h4>{{'Nilai Saat Ini' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Nilai Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilai.nilai_properti | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Biaya Penyusutan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilai.biaya_penyusutan | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilai.tahun_penilaian">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label> <strong>{{'Keterangan' | uppercase}}</strong></label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled">{{ nilai.keterangan | uppercase }}</textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2">
                  <form [formGroup]="formNilai" (submit)="saveNilaiAset()" novalidate>
                    <div class="col-12">
                      <h4>{{ 'Usulan' | uppercase }}</h4>
                      <hr>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Nilai Aset Properti' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <div class="input-group">
                          <div class="input-group-addon"><span>Rp. </span></div>
                          <input-number class="form-control" formControlName="nilai_properti" [(ngModel)]="nilaiPerubahan.nilai_properti"
                            type="number" placeholder="Nilai aset properti" 
                            [ngClass]="{'is-invalid': formNilai.controls.nilai_properti.invalid && (formNilai.controls.nilai_properti.dirty || formNilai.controls.nilai_properti.touched)}"></input-number>
                        </div>
                        <div class="invalid-feedback" 
                          *ngIf="formNilai.controls.nilai_properti.invalid && (formNilai.controls.nilai_properti.dirty || formNilai.controls.nilai_properti.touched)">
                          <div *ngIf="formNilai.controls.nilai_properti.errors.required">
                            Nilai harus diisi</div>
                          <div *ngIf="formNilai.controls.nilai_properti.errors.min">
                            Nilai harus lebih besar dari {{ min }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Biaya Penyusutan' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <div class="input-group">
                          <div class="input-group-addon"><span>Rp. </span></div>
                          <input-number class="form-control" formControlName="biaya_penyusutan" [(ngModel)]="nilaiPerubahan.biaya_penyusutan" type="number" placeholder="Biaya Penyusutan properti" [ngClass]="{'is-invalid': formNilai.controls.biaya_penyusutan.invalid && (formNilai.controls.biaya_penyusutan.dirty || formNilai.controls.biaya_penyusutan.touched)}"></input-number>
                        </div>
                        <div class="invalid-feedback" 
                          *ngIf="formNilai.controls.biaya_penyusutan.invalid && (formNilai.controls.biaya_penyusutan.dirty || formNilai.controls.biaya_penyusutan.touched)">
                          <div *ngIf="formNilai.controls.biaya_penyusutan.errors.required">
                            Biaya Penyusutan harus diisi</div>
                          <div *ngIf="formNilai.controls.biaya_penyusutan.errors.min">
                            Biaya Penyusutan harus lebih besar dari {{ min }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Tahun Penilaian' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tahun_penilaian" [(ngModel)]="nilaiPerubahan.tahun_penilaian" maxlength="4" type="number" placeholder="Tahun penilaian properti" [ngClass]="{'is-invalid': formNilai.controls.tahun_penilaian.invalid && (formNilai.controls.tahun_penilaian.dirty || formNilai.controls.tahun_penilaian.touched)}">
                        <div class="invalid-feedback" 
                          *ngIf="formNilai.controls.tahun_penilaian.invalid && (formNilai.controls.tahun_penilaian.dirty || formNilai.controls.tahun_penilaian.touched)">
                          <div *ngIf="formNilai.controls.tahun_penilaian.errors.required">
                            Tahun penilaian harus diisi</div>
                          <div *ngIf="formNilai.controls.tahun_penilaian.errors.min || formNilai.controls.tahun_penilaian.errors.max">
                            Tahun penilaian harus diisi antara tahun {{ min }} - {{ max }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Keterangan' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="keterangan" [(ngModel)]="nilaiPerubahan.keterangan" placeholder="Keterangan penilaian"
                        [ngClass]="{'is-invalid': formNilai.controls.keterangan.invalid && (formNilai.controls.keterangan.dirty || formNilai.controls.keterangan.touched)}"></textarea>
                        <div class="invalid-feedback" 
                          *ngIf="formNilai.controls.keterangan.invalid && (formNilai.controls.keterangan.dirty || formNilai.controls.keterangan.touched)">
                          <div *ngIf="formNilai.controls.keterangan.errors.required">
                              Keterangan harus diisi</div>
                          <div *ngIf="formNilai.controls.keterangan.errors.minlength">
                            Panjang minimal {{formNilai.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formNilai.controls.keterangan.errors.maxlength">
                            Panjang maksimal {{formNilai.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <button class="btn btn-default" (click)="cancel()">
                          <i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                        <button class="btn btn-primary" (click)="saveNilaiAset()" [disabled]="!formNilai.valid">
                          <i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab4" *ngIf="documentReady && fragment==='mutasi'">
            <ng-template tabHeading>
              <i class="fa fa-bank"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Organisasi & Wilayah' | uppercase}}</span>
              <!-- <span class="badge badge-danger" *ngIf="perpindahanAsetProperti && perpindahanAsetPropertiPerubahan">Perubahan</span>
              <span class="badge badge-primary" *ngIf="!perpindahanAsetProperti && perpindahanAsetPropertiPerubahan">Baru</span> -->
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetProperti.nama_properti | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="(detailAsetProperti.jenis_aset.nama | uppercase) + (detailAsetProperti.sub_jenis ? ' - ' + (detailAsetProperti.sub_jenis.nama | uppercase) : '')">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="detailAsetProperti.alamat_properti | uppercase ">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" [value]="detailAsetProperti.luas_properti | number: '1.0'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetProperti.tahun_perolehan">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="perpindahanAsetProperti">
                  <div class="col-12">
                    <h4>{{'Data Saat Ini' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kode Aset Properti' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.kode_properti">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Company Code' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.company_code?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Business Area' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.business_area?.nama_business_area | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'No. Berita Serah Terima' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.no_berita_acara">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Berdiri Diatas' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="perpindahanAsetProperti.tanah?.detail_aktif[0].nama_tanah | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Provinsi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.tanah.perpindahan_aktif[0].lokasi?.kabupaten.provinsi.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kabupaten' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.tanah.perpindahan_aktif[0].lokasi?.kabupaten.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Lokasi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.tanah.perpindahan_aktif[0].lokasi?.nama | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2">
                  <form [formGroup]="formMutasi" (submit)="saveMutasi()" novalidate>
                    <div class="col-12">
                      <h4>{{ 'Usulan' | uppercase }}</h4>
                      <hr>
                    </div>
                    <ng-container *ngIf="jenisMutasi==='eksternal'; else mutasiLain">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Company Code' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <ng-select #selectCC 
                            [allowClear]="true"
                            [items]="itemsCC"
                            [disabled]="!itemsCC"
                            [multiple]="false"
                            (data)="refreshValueCC($event)"
                            (selected)="selectedCC($event)"
                            placeholder="Pilih Company Code">
                          </ng-select>
                          <input type="hidden" formControlName="idCompanyCode" [(ngModel)]="idCompanyCode"/>
                          <div class="invalid-feedback" *ngIf="formMutasi.controls.idCompanyCode.invalid && (formMutasi.controls.idCompanyCode.dirty || formMutasi.controls.idCompanyCode.touched)">
                            <div *ngIf="formMutasi.controls.idCompanyCode.errors.required">Company Code harus diisi</div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #mutasiLain>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Business Area' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <ng-select #selectBA 
                            [allowClear]="true"
                            [items]="itemsBA"
                            [disabled]="!itemsBA.length"
                            [multiple]="false"
                            (data)="refreshValueBA($event)"
                            (selected)="selectedBA($event)"
                            placeholder="Pilih Business Area">
                          </ng-select>
                          <input type="hidden" formControlName="idBusinessArea" [(ngModel)]="idBusinessArea"/>
                          <div class="invalid-feedback" *ngIf="formMutasi.controls.idBusinessArea.invalid && (formMutasi.controls.idBusinessArea.dirty || formMutasi.controls.idBusinessArea.touched)">
                            <div *ngIf="formMutasi.controls.idBusinessArea.errors.required">Business Area harus diisi</div>
                          </div>
                        </div>
                      </div>
                      <ng-container *ngIf="jenisMutasi==='internal'">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Provinsi' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectProvinsi 
                              [allowClear]="true"
                              [items]="itemsP"
                              [multiple]="false"
                              (data)="refreshValueP($event)"
                              (selected)="selectedP($event)"
                              placeholder="Pilih Provinsi">
                            </ng-select>
                            <input type="hidden" formControlName="idProvinsi" [(ngModel)]="idProvinsi"/>
                            <div class="invalid-feedback" *ngIf="formMutasi.controls.idProvinsi.invalid && (formMutasi.controls.idProvinsi.dirty || formMutasi.controls.idProvinsi.touched)">
                              <div *ngIf="formMutasi.controls.idProvinsi.errors.required">Provinsi harus diisi</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Kabupaten/Kota' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectKabupaten 
                              [allowClear]="true"
                              [items]="itemsK"
                              [disabled]="!itemsK.length"
                              [multiple]="false"
                              (data)="refreshValueK($event)"
                              (selected)="selectedK($event)"
                              placeholder="Pilih Kabupaten">
                            </ng-select>
                            <input type="hidden" formControlName="idKabupaten" [(ngModel)]="idKabupaten"/>
                            <div class="invalid-feedback" *ngIf="formMutasi.controls.idKabupaten.invalid && (formMutasi.controls.idKabupaten.dirty || formMutasi.controls.idKabupaten.touched)">
                              <div *ngIf="formMutasi.controls.idKabupaten.errors.required">Kabupaten harus diisi</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Lokasi' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectLokasi 
                              [allowClear]="true"
                              [items]="itemsL"
                              [disabled]="!itemsL.length"
                              [multiple]="false"
                              (data)="refreshValueL($event)"
                              (selected)="selectedL($event)"
                              placeholder="Pilih Lokasi">
                            </ng-select>
                            <input type="hidden" formControlName="idLokasi" [(ngModel)]="idLokasi"/>
                            <div class="invalid-feedback" *ngIf="formMutasi.controls.idLokasi.invalid && (formMutasi.controls.idLokasi.dirty || formMutasi.controls.idLokasi.touched)">
                              <div *ngIf="formMutasi.controls.idLokasi.errors.required">Lokasi harus diisi</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Berdiri Diatas' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectTanah 
                              [allowClear]="true"
                              [items]="itemsT"
                              [disabled]="!itemsT.length"
                              [multiple]="false"
                              (data)="refreshValueT($event)"
                              (selected)="selectedT($event)"
                              placeholder="Pilih Tanah">
                            </ng-select>
                            <input type="hidden" formControlName="tanah" [(ngModel)]="tanah"/>
                            <div class="invalid-feedback" *ngIf="formMutasi.controls.tanah.invalid && (formMutasi.controls.tanah.dirty || formMutasi.controls.tanah.touched)">
                              <div *ngIf="formMutasi.controls.tanah.errors.required">Tanah harus diisi</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 bg-light pt-2 mb-2" *ngIf="tanah">
                          <div class="row">
                            <div class="col-6 p-0">
                              <div class="form-group">
                                <div class="col-12">
                                  <label for="">
                                    <strong>{{'Nama Aset Tanah' | uppercase}}</strong>
                                  </label>
                                </div>
                                <div class="col-12">
                                  <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="tanah.detail.nama_tanah | uppercase "></textarea>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-12">
                                  <label for="">
                                    <strong>{{'Kode Aset Tanah' | uppercase}}</strong>
                                  </label>
                                </div>
                                <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="tanah.perpindahan.kode_tanah"></div>
                              </div>
                            </div>
                            <div class="col-6 p-0">
                              <div class="form-group">
                                <div class="col-12">
                                  <label for="">
                                    <strong>{{'Company Code' | uppercase}}</strong>
                                  </label>
                                </div>
                                <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="tanah.perpindahan.business_area?.company_code.nama | uppercase"></div>
                              </div>
                              <div class="form-group">
                                <div class="col-12">
                                  <label for="">
                                    <strong>{{'Business Area' | uppercase}}</strong>
                                  </label>
                                </div>
                                <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="tanah.perpindahan.business_area?.nama_business_area | uppercase"></div>
                              </div>
                            </div>
                          </div>
                        </div> 
                      </ng-container>
                    </ng-template>
                    <div class="form-group">
                      <div class="col-12"><label for=""><strong>{{'No. Berita Serah Terima' | uppercase}}</strong></label></div>
                      <div class="col-12">
                        <input type="text" class="form-control" formControlName="no_bast" [(ngModel)]="perpindahanAsetPropertiPerubahan.no_berita_acara"/>
                        <div class="invalid-feedback" *ngIf="formMutasi.controls.no_bast.invalid && (formMutasi.controls.no_bast.dirty || formMutasi.controls.no_bast.touched)">
                          <div *ngIf="formMutasi.controls.no_bast.errors.required">Tanah harus diisi</div>
                          <div *ngIf="formMutasi.controls.no_bast.errors.maxlength">Panjang maksimal {{formDetail.controls.no_bast.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Keterangan' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="keterangan" [(ngModel)]="perpindahanAsetPropertiPerubahan.keterangan"
                          placeholder="Keterangan dokumen"
                          [ngClass]="{'is-invalid': formMutasi.controls.keterangan.invalid && (formMutasi.controls.keterangan.dirty || formMutasi.controls.keterangan.touched)}"></textarea>
                        <div class="invalid-feedback" 
                          *ngIf="formMutasi.controls.keterangan.invalid && (formMutasi.controls.keterangan.dirty || formMutasi.controls.keterangan.touched)">
                          <div *ngIf="formMutasi.controls.keterangan.errors.required">
                              Keterangan harus diisi</div>
                          <div *ngIf="formMutasi.controls.keterangan.errors.minlength">
                            Panjang minimal {{formMutasi.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formMutasi.controls.keterangan.errors.maxlength">
                            Panjang maksimal {{formMutasi.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <button class="btn btn-default" (click)="cancel()">
                          <i class="fa fa-arrow-left"></i> Batal</button>
                        <button class="btn btn-primary" (click)="saveMutasi()" [disabled]="!formMutasi.valid">
                          <i class="fa fa-save"></i> Simpan</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-lg-3 d-md-inline-block d-lg-inline-block p-0" id="content-map">
      <yaga-map [(lat)]="lat" [(lng)]="lng" [zoom]="zoom" id="map" #map (dblclick)="dblClick($event)">
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>

        <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'"></yaga-tile-layer>

        <yaga-polygon *ngIf="asetTanah && asetTanah.detail && asetTanah.detail.polygon && asetTanah.detail.polygon[0]"
          [color]="marker.asetTanah.polygon.color"
          [weight]="marker.asetTanah.polygon.weight"
          [(latLngs)]="asetTanah.detail.polygon[0].area.coordinates">
          <yaga-popup>
            <h5><strong>{{ asetTanah.detail.nama }}</strong></h5>
            <p>
              {{asetTanah.perpindahan.business_area?.nama_business_area}}
            </p>
          </yaga-popup>
        </yaga-polygon>
        <yaga-polygon *ngIf="polyOld"
          [color]="marker.asetProperti.polygon.color"
          [weight]="marker.asetProperti.polygon.weight"
          [(latLngs)]="polyOld.coordinates"></yaga-polygon>
        <yaga-polygon *ngIf="poly[0].length > 3"
          [color]="marker.asetProperti.polygonNonValid.color"
          [weight]="marker.asetProperti.polygonNonValid.weight"
          [(latLngs)]="poly"></yaga-polygon>
        <ng-container *ngIf="detailAsetPropertiPerubahan && fragment==='detail'">
          <yaga-marker *ngFor="let koordinat of poly[0]; let i = index;" [(lat)]="koordinat.lat" [(lng)]="koordinat.lng" [draggable]="true">
            <yaga-popup>
              <h4>Titik Ke - {{ i + 1 }} </h4>
            </yaga-popup>
            <yaga-icon
              [iconAnchor]="marker.asetProperti.pin.iconAnchor"
              [iconSize]="marker.asetProperti.pin.iconSize"
              [popupAnchor]="marker.asetProperti.pin.popupAnchor"
              [iconUrl]="marker.asetProperti.pin.iconUrl"
              [shadowUrl]="marker.asetProperti.pin.shadowUrl">>
            </yaga-icon>
          </yaga-marker>
        </ng-container>
      </yaga-map>
    </div>
  </div>
</div>