<ng-container>
  <div class="col-12 mb-2">
    <div class="row">
      <div class="col-3 col-sm-6 col-lg-9">
        <div class="form-inline">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <div class="form-group">
                <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                <select [(ngModel)]="dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="filterDataP()">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <label> <strong>{{'Data' | uppercase}}</strong></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-4 col-lg-3 ml-auto">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control form-control-sm" placeholder="Cari data" [(ngModel)]="filter" (keyup)="filterDataP()">
            <span class="input-group-append">
              <button class="btn" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-2">
    <table class="bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th *ngFor="let column of columns" class="text-center">{{ column }}</th>
          <th *ngIf="actions.length > 0" class="text-center">{{'Aksi' | uppercase}}</th>
        </tr>
      </thead>
      <tbody class="table-hover" *ngIf="dataToShow.length > 0; else noData">
        <tr *ngFor="let row of dataToShow">
          <td *ngFor="let cell of row.row" [innerHTML]="cell"></td>
          <td class="text-center" *ngIf="actions.length > 0">
            <div class="btn-group btn-group-sm">
              <button class="btn btn-primary mx-1" *ngIf="actions.indexOf('show') > -1" (click)="action('show', row.id)">
                <i class="fa fa-eye"></i>
                <span class="d-none d-md-inline-block">&nbsp;{{'lihat' | uppercase}}</span>
              </button>
              <button class="btn btn-primary mx-1" *ngIf="actions.indexOf('edit') > -1" (click)="action('edit', row.id)">
                <i class="fa fa-pencil"></i>
                <span class="d-none d-md-inline-block">&nbsp;{{'ubah' | uppercase}}</span>
              </button>
              <button class="btn btn-danger mx-1" *ngIf="actions.indexOf('delete') > -1" (click)="action('delete', row.id)">
                <i class="fa fa-trash"></i>
                <span class="d-none d-md-inline-block">&nbsp;{{'hapus' | uppercase}}</span>
              </button>
              <button class="btn btn-primary mx-1" *ngIf="actions.indexOf('validate') > -1 && (!row.id.action_button || row.id.action_button === 'validasi' || row.id.action_button === 'revisi')" (click)="action('validate', row.id)">
                <i class="fa fa-question"></i>
                <span class="d-none d-md-inline-block">&nbsp;{{'validasi' | uppercase}}</span>
              </button>
              <button class="btn btn-primary mx-1" *ngIf="actions.indexOf('approve') > -1 && row.id.action_button === 'approve'" (click)="action('approve', row.id)">
                <i class="fa fa-question"></i>
                <span class="d-none d-md-inline-block">&nbsp;{{'approve' | uppercase}}</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <ng-template #noData>
        <tr>
          <td colspan="10" class="text-center">{{ 'Data Tidak Tersedia' | uppercase }}</td>
        </tr>
      </ng-template>
    </table>
  </div>
  <div class="col-12" *ngIf="dataToShow.length > 0">
    <span>{{ 'Menampilkan ' + from + ' sampai ' + to + ' dari ' + countFiltered + ' baris data' }}</span>
    <ul class="pagination m-0 pull-right" *ngIf="pages.length > 1">
      <li class="page-item">
        <a class="page-link" (click)="setPage(1)">&lt;</a>
      </li>
      <li class="page-item" [ngClass]="{'active': p.pageNumber===page}" *ngFor="let p of pages">
        <a class="page-link" (click)="setPage(p.pageNumber)">{{ p.text }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="lastPage()">&gt;</a>
      </li>
    </ul>
  </div>
</ng-container>