<ng-container *ngIf="editable; else formatted">
  <input class="form-control" #edit [(ngModel)]="value" (ngModelChange)="emitValue($event)" type="number" [placeholder]="_placeholder" (blur)="toggleEditable(false)">
</ng-container>
<ng-template #formatted>
  <input type="text" class="form-control" [value]="_value | number: '1.0-2'" [placeholder]="_placeholder" (focus)="toggleEditable(true)">
</ng-template>
