<div class="s-info bg-white">
  <div class="s-heading">
    <ng-container *ngIf="isEdit; else headingDetail">
      <p>{{ title | uppercase}}</p><small>{{ title + ' dalam SIMAPRO ' | uppercase }} </small>
    </ng-container>
    <ng-template #headingDetail>
      <p>{{ businessArea?.nama_business_area | uppercase}}</p><small>{{ 'Business Area / Unit Level 2 ' | uppercase }} </small>
    </ng-template>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <form class="form-horizontal" [formGroup]="myForm" (submit)="save()" novalidate>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group col-12 select2" *ngIf="isEdit">
                  <label class="col-12">
                    <strong>{{'Company Code' | uppercase}}
                      <span class="required">*</span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <ng-select #selectCC 
                      [ngClass]="{'is-invalid': myForm.controls.companyCode.invalid && (myForm.controls.companyCode.dirty || myForm.controls.companyCode.touched)}"
                      [allowClear]="false"
                      [items]="items"
                      [disabled]="!isEdit"
                      [multiple]="false"
                      (data)="refreshValue($event)"
                      (typed)="typed($event)"
                      (selected)="selected($event)"
                      (removed)="removed($event)"
                      placeholder="Pilih Company Code">
                    </ng-select>
                    <input type="hidden" formControlName="companyCode" [(ngModel)]="businessArea.company_code" />
                    <div class="invalid-feedback" *ngIf="myForm.controls.companyCode.invalid && (myForm.controls.companyCode.dirty || myForm.controls.companyCode.touched)">
                      <div *ngIf="myForm.controls.companyCode.errors.required">Kode business area harus diisi</div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <label class="col-12">{{'Company Code' | uppercase}}</label>
                  <p class="col-12">
                    <strong>{{ businessArea.company_code?.kode_company_code | uppercase }}</strong>
                  </p>
                </div>
                <div class="col-12">
                  <label class="col-12">{{'Long Description' | uppercase}}</label>
                  <p class="col-12">
                    <strong>{{ businessArea.company_code?.nama | uppercase }}</strong>
                  </p>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0">
                <div class="form-group col-12">
                  <label class="col-12">
                    <strong>{{'Kode Business Area' | uppercase}}
                      <span class="required">*</span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <input [readonly]="!isEdit" class="form-control is-invalid" type="text" formControlName="kode_business_area" [(ngModel)]="businessArea.kode_business_area"
                      placeholder="Kode business area" [ngClass]="{'is-invalid': myForm.controls.kode_business_area.invalid && (myForm.controls.kode_business_area.dirty || myForm.controls.kode_business_area.touched)}"
                    />
                    <div class="invalid-feedback" *ngIf="myForm.controls.kode_business_area.invalid && (myForm.controls.kode_business_area.dirty || myForm.controls.kode_business_area.touched)">
                      <div *ngIf="myForm.controls.kode_business_area.errors.required">Kode business area harus diisi</div>
                      <div *ngIf="myForm.controls.kode_business_area.errors.minlength">Panjang minimal {{myForm.controls.kode_business_area.errors.minlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.kode_business_area.errors.maxlength">Panjang maksimal {{myForm.controls.kode_business_area.errors.maxlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.kode_business_area.errors.kodeBusinessAreaInUse">Kode business area sudah digunakan</div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label class="col-12">
                    <strong>{{'Nama Business Area' | uppercase}}
                      <span class="required">*</span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <input [readonly]="!isEdit" class="form-control is-invalid" type="text" formControlName="nama_business_area" [(ngModel)]="businessArea.nama_business_area"
                      placeholder="Nama business area" [ngClass]="{'is-invalid': myForm.controls.nama_business_area.invalid && (myForm.controls.nama_business_area.dirty || myForm.controls.nama_business_area.touched)}"/>
                    <div class="invalid-feedback" *ngIf="myForm.controls.nama_business_area.invalid && (myForm.controls.nama_business_area.dirty || myForm.controls.nama_business_area.touched)">
                      <div *ngIf="myForm.controls.nama_business_area.errors.required">Kode business area harus diisi</div>
                      <div *ngIf="myForm.controls.nama_business_area.errors.minlength">Panjang minimal {{myForm.controls.nama_business_area.errors.minlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama_business_area.errors.maxlength">Panjang maksimal {{myForm.controls.nama_business_area.errors.maxlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama_business_area.errors.namaBusinessAreaInUse">Nama business area sudah digunakan</div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
            <div class="form-group col-12 text-right">
              <ng-container *ngIf="isEdit; else buttonShow">
                <button type="button" (click)="cancel()" [disabled]="isSubmitted" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid || isSubmitted">
                  <i class="fa fa-save"></i>&nbsp;{{'Simpan Data' | uppercase}}</button>
              </ng-container>
            </div>
            <ng-template #buttonShow>
              <button type="button" class="btn btn-default" (click)="_location.back()"><i class="fa fa-arrow-left"></i> {{'kembali' | uppercase}}</button>
              <button type="button" *ngIf="businessArea.is_active" class="btn btn-primary" (click)="edit()"><i class="fa fa-pencil"></i> {{'Ubah' | uppercase}}</button>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>