<strong (click)="showModal()" *ngIf="aset; else pilihAset" title="Ganti Aset">{{ (aset.detail.nama_properti || aset.detail.nama_tanah) | uppercase }}</strong>
<ng-template #pilihAset>
  <span class="text-muted" (click)="showModal()" title="Pilih Aset">{{'[ Pilih Aset ]' | uppercase}}</span>
</ng-template>