<ng-container [formGroup]="fGroup">
  <td>
    <button class="btn btn-sm btn-danger" [disabled]="!removable" (click)="remove(index)">
      <i class="fa fa-minus-square"></i>
    </button>
  </td>
  <td>
    <ng-container *ngIf="model.realisasi_pekerjaanable && model.realisasi_pekerjaanable.detail; else namaRealisasiLangsung">
      <strong>{{model.nama_realisasi_pekerjaan}}</strong>
      <input type="hidden" formControlName="nama_realisasi_pekerjaan" [(ngModel)]="model.nama_realisasi_pekerjaan">
    </ng-container>
    <ng-template #namaRealisasiLangsung>
      <input class="form-control" type="text" formControlName="nama_realisasi_pekerjaan" [(ngModel)]="model.nama_realisasi_pekerjaan" placeholder="Nama Pekerjaan">
      <div class="invalid-feedback" *ngIf="fGroup.controls.nama_realisasi_pekerjaan.invalid && (fGroup.controls.nama_realisasi_pekerjaan.dirty || fGroup.controls.nama_realisasi_pekerjaan.touched)">
        <div *ngIf="fGroup.controls.nama_realisasi_pekerjaan.errors.required">Nama harus diisi</div>
        <div *ngIf="fGroup.controls.nama_realisasi_pekerjaan.errors.minlength">Panjang minimal {{fGroup.controls.nama_realisasi_pekerjaan.errors.minlength.requiredLength}} karakter</div>
        <div *ngIf="fGroup.controls.nama_realisasi_pekerjaan.errors.maxlength">Panjang maksimal {{fGroup.controls.nama_realisasi_pekerjaan.errors.maxlength.requiredLength}} karakter</div>
      </div>
    </ng-template>
  </td>
  <td>
    <ng-container *ngIf="model.realisasi_pekerjaanable && model.realisasi_pekerjaanable.detail; else realisasiLangsung">
      <strong>{{model.realisasi_pekerjaanable.detail.nama_tanah || model.realisasi_pekerjaanable.detail.nama_properti}}</strong>
      <input type="hidden" formControlName="aset" [(ngModel)]="model.realisasi_pekerjaanable">
    </ng-container>
    <ng-template #realisasiLangsung>
      <select-aset [idCompanyCode]="idCompanyCode" (changeAset)="changeAset($event)" [editable]="editable" [aset]="model.realiasi_pekerjaanable"></select-aset>
      <input type="hidden" formControlName="aset">
      <div class="invalid-feedback" *ngIf="fGroup.controls.aset.invalid && (fGroup.controls.aset.dirty || fGroup.controls.aset.touched)">
        <div *ngIf="fGroup.controls.aset.errors.required">Aset harus diisi</div>
        <div *ngIf="fGroup.controls.aset.errors.minlength">Panjang minimal {{fGroup.controls.aset.errors.minlength.requiredLength}} karakter</div>
        <div *ngIf="fGroup.controls.aset.errors.maxlength">Panjang maksimal {{fGroup.controls.aset.errors.maxlength.requiredLength}} karakter</div>
      </div>
    </ng-template>
  </td>
  <td>
    <div class="input-group input-group">
      <div class="input-group-addon text-center">Rp.</div>
      <input class="form-control" type="number" step="1" disabled="disabled" [value]="nilai ? (nilai | number: '1.0-2') : '-'" placeholder="Pagu Anggaran">
    </div>
  </td>
  <td>
    <div class="input-group input-group">
      <div class="input-group-addon text-center">Rp.</div>
      <input-number class="form-control" type="number" step="1" formControlName="nilai_realisasi_pekerjaan" [(ngModel)]="model.nilai_realisasi_pekerjaan" placeholder="Nilai Realisasi Pekerjaan"></input-number>
      <div class="invalid-feedback" *ngIf="fGroup.controls.nilai_realisasi_pekerjaan.invalid && (fGroup.controls.nilai_realisasi_pekerjaan.dirty || fGroup.controls.nilai_realisasi_pekerjaan.touched)">
        <div *ngIf="fGroup.controls.nilai_realisasi_pekerjaan.errors.required">Nama harus diisi</div>
        <div *ngIf="fGroup.controls.nilai_realisasi_pekerjaan.errors.min">Nilai Anggaran minimal {{1000000 | currency: 'Rp.'}}</div>
      </div>
    </div>
  </td>
</ng-container>