<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{'Pendayagunaan Aset' | uppercase}}</p>
      <small *ngIf="aset && aset.detail">{{ (aset.detail.nama_tanah || aset.detail.nama_properti) | uppercase}}</small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right" (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Pendayagunaan Aset' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" *ngIf="documentReady && aset && aset.detail">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="(aset.detail.nama_tanah || aset.detail.nama_properti) | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" [value]="(aset.detail.luas_tanah || aset.detail.luas_properti) | number: '1.0-2'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.potensi">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Potensi' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.potensi.nilai_potensi | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.potensi">
                        <div class="col-12">
                          <label>
                            <strong>{{'Deskripsi Potensi' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea class="form-control" disabled="disabled">{{ aset.potensi.deskripsi }}</textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="aset.sumber_perolehan.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea class="form-control" disabled="disabled">{{(aset.detail.alamat_tanah || aset.detail.alamat_properti) | uppercase}}</textarea>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="aset.potensi">
                        <div class="col-12">
                          <label>
                            <strong>{{'Masa Berlaku' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="(aset.potensi.start_date_potensi | date: 'dd MMM yyyy') - (aset.potensi.end_date_potensi | date: 'dd MMM yyyy')">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-9">
                        <h4>{{ (pendayagunaanAset.is_use ? 'Data Pendayagunaan' : 'Usulan Pendayagunaan') | uppercase}}</h4>
                        <span class="badge badge-danger" *ngIf="!pendayagunaanAset.is_active">Nonaktif</span>
                        <span class="badge badge-danger" *ngIf="pendayagunaanAset.action_button.type === 'revisi'">Ditolak</span>
                      </div>
                      <div class="col-3 text-right" >
                        <button class="btn btn-sm btn-primary" *ngIf="pendayagunaanAset.action_button.type === 'revisi' && pendayagunaanAset.action_button.button" (click)="revisi()">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp; {{'Revisi' | uppercase}}</span>
                        </button>
                        <button class="btn btn-sm btn-danger ml-1" *ngIf="pendayagunaanAset.is_disableable" (click)="delete()">
                          <i class="fa fa-power-off"></i>
                          <span class="d-none d-md-inline-block">&nbsp; {{'Nonaktif' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12" *ngIf="disposisi">
                    <p class="alert alert-danger">Memo: {{ disposisi.memo }} </p>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kontrak' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="pendayagunaanAset.kontrak | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Pihak Terkait' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="pendayagunaanAset?.pihak_terkait | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Jenis Pendayagunaan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="pendayagunaanAset.jenis_dayaguna.nama_jenis_dayaguna | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nilai Pendayagunaan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="pendayagunaanAset.nilai_pendayagunaan | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Mulai' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="pendayagunaanAset.start_date_pendayagunaan | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Selesai' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="pendayagunaanAset.end_date_pendayagunaan | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 text-right" *ngIf="pendayagunaanAset.action_button.type === 'validasi' && pendayagunaanAset.action_button.button">
                  <button class="btn btn-primary mx-1" title="Validasi pendayagunaan" (click)="openModal(templateValidasiPendayagunaan)">
                    <i class="fa fa-question"></i>
                    <span class="d-none d-md-inline-block">{{'Validasi' | uppercase}}</span>
                  </button>
                </div>
                <div class="col-12 p-0 mt-3" *ngIf="pendayagunaanAset && pendayagunaanAset.workflow_progress">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8 mt-3">
                        <h4>{{'Proses Validasi' | uppercase}}</h4>
                      </div>
                      <div class="col-4 mt-3 text-right">
                        <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, pendayagunaanAset.historiDisposisi)">
                          <i class="fa fa-history"></i> Historis Disposisi</button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <app-timeline class="px-3" [progress]="pendayagunaanAset.workflow_progress"></app-timeline>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<ng-template #templateValidasiPendayagunaan>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi pendayagunaan' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="terimaUsulanPendayagunaan()" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanPendayagunaan()" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateDisposisi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Historis Disposisi' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th class="text-center">
            <strong>{{'Pengguna' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Permission' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Validasi' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Memo' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Waktu' | uppercase}}</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="historisDisposisi && historisDisposisi.length; else noDisposisi">
          <tr *ngFor="let disposisi of historisDisposisi">
            <td>{{ disposisi.pengguna | uppercase }}</td>
            <td>{{ disposisi.permission | uppercase }}</td>
            <td>{{ disposisi.validasi | uppercase }}</td>
            <td>{{ disposisi.memo | uppercase }}</td>
            <td>{{ disposisi.date | date: 'dd MMM yyyy' }}</td>
          </tr>
        </ng-container>
        <ng-template #noDisposisi>
          <tr>
            <td colspan="6" class="text-center">{{ 'Belum ada data disposisi' }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
