<ng-container [formGroup]="fGroup">
  <td>
    <button class="btn btn-sm btn-danger" [disabled]="!removable" (click)="remove(index)">
      <i class="fa fa-minus-square"></i>
    </button>
  </td>
  <td>
    <select-aset [idCompanyCode]="idCompanyCode" (changeAset)="changeAset($event)" [editable]="!isApproval" [aset]="model.anggaranable"></select-aset>
    <input type="hidden" formControlName="aset">
    <div class="invalid-feedback" *ngIf="fGroup.controls.aset.invalid && (fGroup.controls.aset.dirty || fGroup.controls.aset.touched)">
      <div *ngIf="fGroup.controls.aset.errors.required">Aset harus diisi</div>
      <div *ngIf="fGroup.controls.aset.errors.minlength">Panjang minimal {{fGroup.controls.aset.errors.minlength.requiredLength}} karakter</div>
      <div *ngIf="fGroup.controls.aset.errors.maxlength">Panjang maksimal {{fGroup.controls.aset.errors.maxlength.requiredLength}} karakter</div>
    </div>
  </td>
  <td>
    <input class="form-control" type="text" formControlName="nama_pekerjaan" [(ngModel)]="model.nama_pekerjaan" placeholder="Nama Pekerjaan">
    <div class="invalid-feedback" *ngIf="fGroup.controls.nama_pekerjaan.invalid && (fGroup.controls.nama_pekerjaan.dirty || fGroup.controls.nama_pekerjaan.touched)">
      <div *ngIf="fGroup.controls.nama_pekerjaan.errors.required">Nama harus diisi</div>
      <div *ngIf="fGroup.controls.nama_pekerjaan.errors.minlength">Panjang minimal {{fGroup.controls.nama_pekerjaan.errors.minlength.requiredLength}} karakter</div>
      <div *ngIf="fGroup.controls.nama_pekerjaan.errors.maxlength">Panjang maksimal {{fGroup.controls.nama_pekerjaan.errors.maxlength.requiredLength}} karakter</div>
    </div>
  </td>
  <td *ngIf="isApproval">
    <input class="form-control" type="text" disabled="disabled" [value]="model.nomor_pengajuan_anggaran_pekerjaan" placeholder="No Draft Pengajuan Pekerjaan">
  </td>
  <td>
    <textarea class="form-control" formControlName="keterangan_pekerjaan" [(ngModel)]="model.keterangan" placeholder="Keterangan Pekerjaan" rows="3"></textarea>
    <div class="invalid-feedback" *ngIf="fGroup.controls.keterangan_pekerjaan.invalid && (fGroup.controls.keterangan_pekerjaan.dirty || fGroup.controls.keterangan_pekerjaan.touched)">
      <div *ngIf="fGroup.controls.keterangan_pekerjaan.errors.required">Nama harus diisi</div>
      <div *ngIf="fGroup.controls.keterangan_pekerjaan.errors.minlength">Panjang minimal {{fGroup.controls.keterangan_pekerjaan.errors.minlength.requiredLength}} karakter</div>
      <div *ngIf="fGroup.controls.keterangan_pekerjaan.errors.maxlength">Panjang maksimal {{fGroup.controls.keterangan_pekerjaan.errors.maxlength.requiredLength}} karakter</div>
    </div>
  </td>
  <td>
    <div class="input-group input-group">
      <div class="input-group-addon text-center">Rp.</div>
      <input-number class="form-control" type="number" formControlName="nilai_pekerjaan" [(ngModel)]="model.nilai_pekerjaan" placeholder="Nilai Pekerjaan"></input-number>
      <div class="invalid-feedback" *ngIf="fGroup.controls.nilai_pekerjaan.invalid && (fGroup.controls.nilai_pekerjaan.dirty || fGroup.controls.nilai_pekerjaan.touched)">
        <div *ngIf="fGroup.controls.nilai_pekerjaan.errors.required">Nama harus diisi</div>
        <div *ngIf="fGroup.controls.nilai_pekerjaan.errors.min">Nilai Anggaran minimal {{1000000 | currency: 'Rp.'}}</div>
      </div>
    </div>
  </td>
</ng-container>