<ng-container [formGroup]="group">
  <div class="card">
    <div class="card-header">
      {{ i+1 + '. ' + item.role.nama | uppercase}}
      <a class="btn-close float-right" (click)="onClose()">
        <i class="fa fa-close"></i>
      </a>
    </div>
    <div class="card-body collapse show">
      <div class="row form-group">
        <div class="col-3">
          <label class="col-form-label" for="">{{'Permission' | uppercase}}</label>
        </div>
        <div class="col-9">
          <ng-select #selectPermission 
            [ngClass]="{'is-invalid': group.controls.id_permission.invalid && (group.controls.id_permission.dirty || group.controls.id_permission.touched)}"
            [allowClear]="false"
            [items]="items"
            [multiple]="false"
            (data)="refreshValue($event)"
            (typed)="typed($event)"
            placeholder="Pilih Permission">
          </ng-select>
          <input type="hidden" formControlName="id_permission" [(ngModel)]="item.id_permission" />
          <div class="invalid-feedback" *ngIf="group.controls.id_permission.invalid && (group.controls.id_permission.dirty || group.controls.id_permission.touched)">
            <div *ngIf="group.controls.id_permission.errors.required">Permission harus diisi</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label class="col-form-label" for="">{{'Prev' | uppercase}}</label>
        </div>
        <div class="col-9">
          <select [disabled]="i===0" [(ngModel)]="item.prev" formControlName="prev" class="form-control">
            <!-- <option [value]="null"> - </option> -->
            <ng-container *ngFor="let opsi of allRoleWorkflow; let j = index">
              <option *ngIf="j < i" [value]="j">{{ opsi.role.nama }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          <label class="col-form-label" for="">{{'Next' | uppercase}}</label>
        </div>
        <div class="col-9">
          <select [(ngModel)]="item.next" formControlName="next" class="form-control">
            <ng-container *ngFor="let opsi of allRoleWorkflow; let j = index">
              <option *ngIf="j > i" [value]="j">{{ opsi.role.nama }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-3">
          {{'Start' | uppercase}}
        </div>
        <div class="col-2 pl-2">
          <input class="form-control form-check-input" type="checkbox" (click)="clickStart()" [disabled]="hasStart && !item.is_start" [checked]="item.is_start" value="check1">
        </div>
        <div class="col-3">
          {{'Finish' | uppercase}}
        </div>
        <div class="col-2 pl-2">
          <input class="form-control form-check-input" type="checkbox" (click)="clickFinish()" [disabled]="hasFinish && !item.is_finish" [checked]="item.is_finish" value="1">
        </div>
      </div>
    </div>
  </div>
</ng-container>