<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ title | uppercase }}</p>
    <small>{{ title + ' dalam SIMAPRO' | uppercase }}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active">
          <form class="form-horizontal" [formGroup]="myForm" novalidate (submit)="save()">
            <div class="row">
              <div class="col-12 col-md-6 p-0">
                <div class="form-group col-12">
                  <label class="col-12">
                    <strong>{{'Nama' | uppercase}}
                      <span class="required">*</span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <input class="form-control" [readonly]="!isEdit" formControlName="nama" [(ngModel)]="Headquarter.nama_head_quarters" type="text" placeholder="Nama "
                    [ngClass]="{'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)}"/>
                    <div class="invalid-feedback" *ngIf="myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)">
                      <div *ngIf="myForm.controls.nama.errors.required">Nama harus diisi</div>
                      <div *ngIf="myForm.controls.nama.errors.minlength">Panjang minimal {{myForm.controls.nama.errors.minlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama.errors.maxlength">Panjang maksimal {{myForm.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12 text-right">
                <ng-container *ngIf="isEdit; else buttonShow">
                  <button type="button" (click)="cancel()" [disabled]="isSubmitted" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                  <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid || isSubmitted">
                    <i class="fa fa-save"></i>&nbsp;{{'Simpan Data' | uppercase}}</button>
                </ng-container>
                <ng-template #buttonShow>
                  <button type="button" class="btn btn-default" (click)="_location.back()"><i class="fa fa-arrow-left"></i> {{'kembali' | uppercase}}</button>
                  <button type="button" class="btn btn-primary" (click)="edit()"><i class="fa fa-pencil"></i> {{'edit' | uppercase}}</button>
                </ng-template>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>