<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Import' | uppercase}}</p><small>{{'Aset Tanah' | uppercase}}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabRevisi class="col-12">
          <tab id="tab0">
            <ng-template tabHeading>
              <i class="fa fa-upload"></i>
              <span class="d-none d-md-inline-block"> {{'Upload' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane active" id="statis" role="tabpanel">
              <div class="row py-5 my-3">
                <div class="col"></div>
                <div class="col-10 col-md-6 col-sm-8 text-center">
                  <h4>{{'Import Data Aset Tanah' | uppercase}}</h4>
                  <div class="input-group">
                    <input type="file" class="form-control" [(ngModel)]="file" [disabled]="onProgress" (change)="onFileChange($event)"
                      placeholder="Pilih" accept=".xls, .xlsx">
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-lg" (click)="submit()" [disabled]="!file || onProgress"><i
                          class="fa fa-upload"></i>&nbsp; Import</button>
                    </div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">
                  <div class="h5">Ketentuan Import Data :</div>
                  <ol>
                    <li>Penambahan data melalui import data beresiko menyebabkan duplikasi data</li>
                    <li>Data diimport menggunakan template berikut : <a href="assets/template/01.%20TEMPLATE_ASET_TANAH.xls"
                        target="_blank">Template Import Tanah</a></li>
                  </ol>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-align-left"></i>
              <span class="d-none d-md-inline-block"> {{'Referensi' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane active" id="referensi" role="tabpanel">
              <div class="row">
                <div class="col-8">
                  <h4>{{ 'Daftar Business Area' | uppercase }}</h4>
                </div>
                <hr>
                <div class="col-8">
                  <div class="form-group row">
                    <div class="col-4">
                      <div class="label">Company Code</div>
                    </div>
                    <div class="col-6">
                      <ng-select #selectCC [allowClear]="true" [items]="itemsCC" [disabled]="!itemsCC.length"
                        [multiple]="false" (data)="refreshValueCC($event)" (selected)="selectedCC($event)" placeholder="Pilih Company Code">
                      </ng-select>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-primary" (click)="exportBusinessArea()" [disabled]="!companyCode"><i class="fa fa-download"></i>
                        Download</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <h4>{{ 'Daftar Lokasi' | uppercase }}</h4>
                </div>
                <hr>
                <div class="col-8">
                  <div class="form-group row">
                    <div class="col-4">
                      <div class="label">Provinsi</div>
                    </div>
                    <div class="col-6">
                      <ng-select #selectP [allowClear]="true" [items]="itemsP" [disabled]="!itemsP.length" [multiple]="false"
                        (data)="refreshValueP($event)" (selected)="selectedP($event)" placeholder="Pilih Provinsi">
                      </ng-select>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-primary" (click)="exportLokasi()" [disabled]="!provinsi"><i class="fa fa-download"></i>
                        Download</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>