.sortable-wrapper {
  border: 1px solid #555 !important;
}

.placeholderStyle {
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
}

div.sortable-item .item-sortable {
  padding: 5px 10px !important;
  border: 1px solid #ccc !important;
  margin: 3px 0;
  max-width: 70%;
  overflow: hidden;
  background-color: #eee;
}
