<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{title | uppercase}}</p>
    <small>{{'Workflow dalam SIMAPRO' | uppercase}}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active col-md-12">
          <form class="form-horizontal" [formGroup]="myForm" (submit)="save()" novalidate>
            <div class="row">
              <div class="col-12 col-md-8 p-0">
                <div class="form-group col-12">
                  <label class="col-12">
                    <strong>{{'Nama' | uppercase}}</strong>
                  </label>
                  <div class="col-12">
                    <input class="form-control" type="text" [(ngModel)]="workflow.nama_workflow" formControlName="nama" placeholder="Nama" [ngClass]="{'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)}">
                    <div class="invalid-feedback" *ngIf="myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)">
                      <div *ngIf="myForm.controls.nama.errors.required">Nama Workflow harus diisi</div>
                      <div *ngIf="myForm.controls.nama.errors.minlength">Panjang minimal {{myForm.controls.nama.errors.minlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama.errors.maxlength">Panjang maksimal {{myForm.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                    </div>
                  </div>
                </div>
                <ng-template #itemTemplate let-item="item" let-index="index">
                  <!-- <div class="col-md-6"> -->
                  <div class="card">
                    <div class="card-header">
                      {{item.value.role.nama}}
                      <a class="btn-close float-right" (click)="removeFromWorkflow(item.value)">
                        <i class="fa fa-close"></i>
                      </a>
                    </div>
                    <div class="card-body collapse show" id="collapseExample" style="">
                      <div class="row form-group">
                        <div class="col-3">
                          <label for="">Aksi</label>
                        </div>
                        <div class="col-9">
                          <select name="" id="" class="form-control">
                          </select>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-3">
                          <label for="">Prev</label>
                        </div>
                        <div class="col-9">
                          <select [disabled]="index===0" name="" id="" class="form-control">
                            <ng-container *ngFor="let opsi of detail">
                              <option *ngIf="opsi != item">{{ opsi.role.nama }}</option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-3">
                          <label for="">Next</label>
                        </div>
                        <div class="col-9">
                          <select name="" id="" class="form-control">
                            <ng-container *ngFor="let opsi of detail">
                              <option *ngIf="opsi != item">{{ opsi.role.nama }}</option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </ng-template>
                <div class="col-12" *ngIf="workflow">
                  <div class="col-12">
                    <h4>Aktor</h4>
                  </div>
                  <hr>
                  <div class="row">
                    <ng-container *ngFor="let item of workflow.role_workflow; let i = index">
                      <div class="col-md-6">
                        <role-workflow [group]="myForm.controls.role_workflow.controls[i]" [roleWorkflows]="workflow.role_workflow" [roleWorkflow]="item"
                          [index]="i" [hasStart]="hasStart" [hasFinish]="hasFinish" (onRemove)="removeFromWorkflow($event)"
                          (toggleStart)="toggleStart($event)" (toggleFinish)="toggleFinish($event)"></role-workflow>
                      </div>
                    </ng-container>
                    <!-- <bs-sortable [(ngModel)]="detail" [itemTemplate]="itemTemplate" itemClass="sortable-item" itemActiveClass="sortable-item-active"
                    placeholderItem="Aktor" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"></bs-sortable> -->
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 p-0">
                <div class="form-group col-12">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <strong>{{'Role' | uppercase}}</strong>
                      </div>
                      <div class="col-6 mb-2">
                        <input type="text" placeholder="Cari" class="form-control" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" (keyup)="filterRoles()">
                      </div>
                    </div>
                    <div class="col-12 p-0">
                      <table class="table table-sm">
                        <thead>
                          <th colspan="2" class="text-center">{{'Role' | uppercase}}</th>
                          <th class="text-center">{{'Deskripsi' | uppercase}}</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let role of rolesToShow" (dblclick)="addToWorkflow(role)">
                            <!-- <td>
                            <input type="checkbox" [checked]="isInvolved(role)" (change)="toggleRole(role)">
                          </td> -->
                            <td>
                              <button class="btn btn-sm btn-primary" type="button" (click)="addToWorkflow(role)">
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                            <td>
                              <strong>{{ role.nama | uppercase }}</strong>
                            </td>
                            <td>{{ role.description }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 text-right">
                <button class="btn btn-default" type="button" (click)="cancel()">
                  <i class="fa fa-arrow-left"> </i> {{'Batal' | uppercase}}</button>
                <button class="btn btn-primary" [disabled]="!myForm.valid || isSubmitted">
                  <i class="fa fa-save"></i>&nbsp;{{'Simpan' | uppercase}}</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>