<header class="app-header navbar" style="z-index: 1040">
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none s-navbar">
    <li class="nav-item" dropdown>
      <a class="nav-link " dropdownToggle [routerLink]="['/dashboard']" routerLinkActive="active" role="button">{{'Dashboard'
        | uppercase}}</a>
    </li>
    <li *ngFor="let nav of menus" class="nav-item" dropdown>
      <ng-container *ngIf="nav.children; else noChild">
        <a dropdownToggle (click)="false" class="nav-link dropdown-toggle nav-link" role="button" aria-haspopup="true" aria-expanded="false">
          {{ nav.name | uppercase }}
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" *ngFor="let child of nav.children">
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="[child.url]">{{ child.name | uppercase }}</a>
          </li>
        </ul>
      </ng-container>
      <ng-template #noChild>
        <a class="nav-link " routerLinkActive="active" dropdownToggle [routerLink]="[nav.url]" role="button">{{ nav.name
          | uppercase }}</a>
      </ng-template>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto mr-2">
    <li class="nav-item">
      <a class="nav-link aside-menu-toggler" appAsideMenuToggler (click)="false">
        <i class="icon-bell"></i>
        <span class="badge badge-pill badge-danger">{{ unread > 0 ? unread : '' }}</span>
      </a>
    </li>
    <li class="nav-item dropdown" dropdown>
      <a class="nav-link dropdown-toggle nav-link" dropdownToggle (click)="false" data-toggle="dropdown" href="#" role="button"
        aria-haspopup="true" aria-expanded="false" style="margin:0;">
        <img class="img-avatar" [src]="foto" alt="avatar">
        <span>{{ user.nama | uppercase }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center">
          <strong>{{'Akun' | uppercase }}</strong>
        </div>
        <a class="dropdown-item" [routerLink]="['/user/profile']">
          <i class="fa fa-user"></i> {{'Profil' | uppercase }}</a>
        <div class="dropdown-header text-center">
          <strong>{{'Lainnya' | uppercase }}</strong>
        </div>
        <a class="dropdown-item" [routerLink]="['/frequently-asked-question']">
          <i class="fa fa-question-circle"></i> {{'FAQ' | uppercase }}</a>
        <a class="dropdown-item" [routerLink]="['/download']">
          <i class="fa fa-download"></i> {{'Download' | uppercase }}</a>
        <div class="divider"></div>
        <div class="dropdown-header text-center">
          <strong>{{'Sistem' | uppercase }}</strong>
        </div>
        <a class="dropdown-item" [routerLink]="['/auth/logout']">
          <i class="fa fa-lock"></i> {{'Keluar' | uppercase }}</a>
      </div>
    </li>
  </ul>
</header>