<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Aset Properti' | uppercase}}</p>
    <small>{{'Aset properti yang ada dalam sistem' | uppercase}}</small>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/' + root]" queryParamsHandling fragment="map" [class.active]="tab==='map'">
            <i class="fa fa-map"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Peta Lokasi' | uppercase}} </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/' + root]" queryParamsHandling fragment="data" [class.active]="tab==='data'">
            <i class="fa fa-bars"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Data Aset' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit || pengguna.is_validator_pusat">
          <a class="nav-link" [routerLink]="['/' + root]" queryParamsHandling fragment="data-perubahan" [class.active]="tab==='data-perubahan'">
            <i class="fa fa-bars"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Pengajuan Aset' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit || pengguna.is_validator_pusat">
          <a class="nav-link" [routerLink]="['/' + root]" queryParamsHandling fragment="data-penerimaan" [class.active]="tab==='data-penerimaan'">
            <i class="fa fa-bars"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Penerimaan Aset' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input">
          <a class="nav-link" [routerLink]="['add']">
            <i class="fa fa-plus-circle"></i>&nbsp;
            <span class="d-none d-md-inline">{{'Tambah Aset' | uppercase}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 ml-auto text-right"><button class="btn btn-default btn-sm" (click)="openModal()"><i class="fa fa-search"></i>&nbsp;{{'Cari' | uppercase}}</button></div>
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row h-100">
    <div class="tab-content w-100 border-0">
      <div class="tab-pane h-100 p-0 active" id="peta" role="tabpanel" [ngClass]="{'active': tab==='map'}">
        <map-legend [showProperti]="true" [zoom]="zoom"></map-legend>
        <yaga-map [(lat)]="lat" [(lng)]="lng" [(zoom)]="zoom" (moveend)="_getMapData()" #map id="map">
          <yaga-zoom-control></yaga-zoom-control>
          <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
          <yaga-attribution-control></yaga-attribution-control>

          <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'" #tileLayer></yaga-tile-layer>

          <ng-container *ngFor="let properti of markersProperti">
            <ng-container *ngIf="properti.koordinat; else areaTemplate">
              <yaga-marker [lat]="properti.koordinat.coordinates[0]" [lng]="properti.koordinat.coordinates[1]">
                <ng-container *ngIf="properti.clustered > 1; else pointTemplate">
                  <yaga-icon [iconAnchor]="marker.asetProperti.pointClustered.iconAnchor" [iconSize]="marker.asetProperti.pointClustered.iconSize"
                    [popupAnchor]="marker.asetProperti.pointClustered.popupAnchor" [iconUrl]="marker.asetProperti.pointClustered.iconUrl">
                  </yaga-icon>
                  <yaga-popup>
                    <h5><strong>{{ properti.cluster_name }}</strong></h5>
                    <p>{{ properti.clustered ? properti.clustered + ' Aset Properti' : '' }}
                    </p>
                  </yaga-popup>
                </ng-container>
                <ng-template #pointTemplate>
                  <yaga-icon [iconAnchor]="marker.asetProperti.point.iconAnchor" [iconSize]="marker.asetProperti.point.iconSize" [popupAnchor]="marker.asetProperti.point.popupAnchor"
                    [iconUrl]="marker.asetProperti.point.iconUrl">
                  </yaga-icon>
                  <yaga-popup>
                    <h5 class="title"><strong>{{ properti.nama_properti }}</strong></h5>
                    <div class="foto-aset img-container">
                      <span class="helper"></span>
                      <img alt="foto-aset" [src]="properti.foto ? fotoDir+properti.foto : 'assets/img/no-image.jpg'">
                    </div>
                    <div class="data">
                      <div class="clearfix">
                        <span class="group-title">Organisasi :</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Company Code</span>
                        <span class="pull-right data-value">{{ properti.company_code | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Business Area</span>
                        <span class="pull-right data-value">{{ properti.business_area | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="group-title">Wilayah : </span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Provinsi</span>
                        <span class="pull-right data-value">{{ properti.provinsi | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Kabupaten</span>
                        <span class="pull-right data-value">{{ properti.kabupaten | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Lokasi</span>
                        <span class="pull-right data-value">{{ properti.lokasi | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Alamat</span>
                        <span class="pull-right data-value">{{ properti.alamat_properti }}</span>
                      </div>
                    </div>
                    <div class="extra-buttons text-right">
                      <a [routerLink]="[showFromMap(properti.id_properti, properti.nama_properti)]" class="btn btn-sm btn-round btn-primary"><i class="fa fa-eye"></i> Lihat</a>
                    </div>
                  </yaga-popup>
                </ng-template>
              </yaga-marker>
            </ng-container>
            <ng-template #areaTemplate>
              <yaga-polygon [(latLngs)]="properti.area.coordinates" [color]="marker.asetProperti.polygon.color" [weight]="marker.asetProperti.polygon.weight">
                <yaga-popup>
                  <h5 class="title"><strong>{{ properti.nama_properti }}</strong></h5>
                  <div class="foto-aset img-container">
                    <span class="helper"></span>
                    <img alt="foto-aset" [src]="properti.foto ? fotoDir+properti.foto : 'assets/img/no-image.jpg'">
                  </div>
                  <div class="data">
                    <div class="clearfix">
                      <span class="group-title">Organisasi :</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Company Code</span>
                      <span class="pull-right data-value">{{ properti.company_code | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Business Area</span>
                      <span class="pull-right data-value">{{ properti.business_area | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="group-title">Wilayah : </span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Provinsi</span>
                      <span class="pull-right data-value">{{ properti.provinsi | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Kabupaten</span>
                      <span class="pull-right data-value">{{ properti.kabupaten | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Lokasi</span>
                      <span class="pull-right data-value">{{ properti.lokasi | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Alamat</span>
                      <span class="pull-right data-value">{{ properti.alamat_properti }}</span>
                    </div>
                  </div>
                  <div class="extra-buttons text-right">
                    <a [routerLink]="[showFromMap(properti.id_properti, properti.nama_properti)]" class="btn btn-sm btn-round btn-primary"><i class="fa fa-eye"></i> Lihat</a>
                  </div>
                </yaga-popup>
              </yaga-polygon>
            </ng-template>
          </ng-container>
        </yaga-map>
      </div>

      <div class="tab-pane h-100 p-0" [ngClass]="{'active': tab==='data'}" *ngIf="tab==='data'" id="data" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                      <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                        <option [value]="5">5</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                      </select>
                      <label> <strong>{{'Data' | uppercase}}</strong></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all text-center">
                      {{'kode' | uppercase}}
                      <!-- (click)="sortBy('kode_properti')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='kode_properti',
                            'fa-sort-asc': dataSetting.orderBy==='kode_properti' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='kode_properti' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama Aset Properti' | uppercase}}
                      <!-- (click)="sortBy('nama_properti')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='nama_properti',
                                'fa-sort-asc': dataSetting.orderBy==='nama_properti' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='nama_properti' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Jenis Aset' | uppercase}}
                      <!-- (click)="sortBy('jenis_aset')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='jenis_aset',
                        'fa-sort-asc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Business Area' | uppercase}}
                      <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='nama_business_area',
                                'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Tahun Perolehan' | uppercase}}
                      <!-- (click)="sortBy('tahun_perolehan')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='tahun_perolehan',
                                'fa-sort-asc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Sumber Perolehan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Status' | uppercase}}
                    </th>
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let properti of pageData;">
                    <tr (dblClick)="show(properti)">
                      <td class="text-nowrap">{{ properti.perpindahan.kode_properti }}</td>
                      <td>{{ properti.detail.nama_properti | uppercase }}</td>
                      <td>{{ properti.detail.jenis_aset?.nama | uppercase }}</td>
                      <td>{{ properti.perpindahan.business_area?.nama_business_area | uppercase }}</td>
                      <td>{{ properti.tahun_perolehan }}</td>
                      <td>{{ properti.sumber_perolehan.sumber_perolehan | uppercase }}</td>
                      <td>
                        <ng-container *ngIf="properti.detail.is_active; else inactive">
                          <span class="badge badge-success">
                            {{ 'Aktif' | uppercase }}
                          </span>
                        </ng-container>
                        <ng-template #inactive>
                          <span class="badge badge-danger">
                            {{ 'Nonaktif' | uppercase }}
                          </span>
                        </ng-template>
                      </td>
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(properti)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="10" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane h-100 p-0" [ngClass]="{'active': tab==='data-perubahan'}" *ngIf="tab==='data-perubahan'" id="data" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                      <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                        <option [value]="5">5</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                      </select>
                      <label> <strong>{{'Data' | uppercase}}</strong></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all text-center">
                      {{'kode' | uppercase}}
                      <!-- (click)="sortBy('kode_properti')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='kode_properti',
                            'fa-sort-asc': dataSetting.orderBy==='kode_properti' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='kode_properti' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama Aset Properti' | uppercase}}
                      <!-- (click)="sortBy('nama_properti')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='nama_properti',
                                'fa-sort-asc': dataSetting.orderBy==='nama_properti' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='nama_properti' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Jenis Aset' | uppercase}}
                      <!-- (click)="sortBy('jenis_aset')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='jenis_aset',
                        'fa-sort-asc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Business Area' | uppercase}}
                      <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='nama_business_area',
                                'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Tahun Perolehan' | uppercase}}
                      <!-- (click)="sortBy('tahun_perolehan')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='tahun_perolehan',
                                'fa-sort-asc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Sumber Perolehan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let properti of pageData;">
                    <tr (dblClick)="show(properti)">
                      <td class="text-nowrap" *ngIf="properti.perpindahan; else perpindahanKodeNonValid">{{ properti.perpindahan.kode_properti }}</td>
                      <ng-template #perpindahanKodeNonValid><td class="text-nowrap"><strong>{{ properti.perpindahan_perubahan.kode_properti }}</strong></td></ng-template>
                      <td *ngIf="properti.detail; else detailNamaNonValid">{{ properti.detail.nama_properti | uppercase }}</td>
                      <ng-template #detailNamaNonValid><td><strong>{{ properti.detail_perubahan.nama_properti | uppercase }}</strong></td></ng-template>
                      <td *ngIf="properti.detail; else detailJenisNonValid">{{ properti.detail.jenis_aset?.nama | uppercase }}</td>
                      <ng-template #detailJenisNonValid><td><strong>{{ properti.detail_perubahan.jenis_aset?.nama | uppercase }}</strong></td></ng-template>
                      <td *ngIf="properti.perpindahan; else perpindahanBANonValid">{{ properti.perpindahan.business_area?.nama_business_area | uppercase }}</td>
                      <ng-template #perpindahanBANonValid><td><strong>{{ properti.perpindahan_perubahan.business_area?.nama_business_area | uppercase }}</strong></td></ng-template>
                      <td>{{ properti.tahun_perolehan }}</td>
                      <td>{{ properti.sumber_perolehan.sumber_perolehan | uppercase }}</td>
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#"
                          *ngIf="properti.is_use || properti.detail || !(properti.detail_perubahan.action_button.type === 'validasi' && properti.detail_perubahan.action_button.button); else validasiNew"
                          (click)="show(properti)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                          </a>
                          <ng-template #validasiNew>
                            <a class="btn btn-primary" href="#" (click)="validasiPengajuan(properti)">
                              <i class="fa fa-eye"></i>
                              <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                            </a>
                          </ng-template>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="10" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane h-100 p-0" [ngClass]="{'active': tab==='data-penerimaan'}" *ngIf="tab==='data-penerimaan'" id="data" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                      <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                        <option [value]="5">5</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                      </select>
                      <label> <strong>{{'Data' | uppercase}}</strong></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all text-center">
                      {{'kode' | uppercase}}
                      <!-- (click)="sortBy('kode_properti')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='kode_properti',
                            'fa-sort-asc': dataSetting.orderBy==='kode_properti' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='kode_properti' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama Aset Properti' | uppercase}}
                      <!-- (click)="sortBy('nama_properti')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='nama_properti',
                                'fa-sort-asc': dataSetting.orderBy==='nama_properti' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='nama_properti' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Jenis Aset' | uppercase}}
                      <!-- (click)="sortBy('jenis_aset')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='jenis_aset',
                        'fa-sort-asc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='jenis_aset' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Business Area' | uppercase}}
                      <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='nama_business_area',
                                'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Tahun Perolehan' | uppercase}}
                      <!-- (click)="sortBy('tahun_perolehan')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='tahun_perolehan',
                                'fa-sort-asc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Sumber Perolehan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                                'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let properti of pageData;">
                    <tr (dblClick)="show(properti)">
                      <td class="text-nowrap">{{ properti.perpindahan.kode_properti }}</td>
                      <td>{{ properti.detail.nama_properti | uppercase }}</td>
                      <td>{{ properti.detail.jenis_aset?.nama | uppercase }}</td>
                      <td>{{ properti.perpindahan.business_area?.nama_business_area | uppercase }}</td>
                      <td>{{ properti.tahun_perolehan }}</td>
                      <td>{{ properti.sumber_perolehan.sumber_perolehan | uppercase }}</td>
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(properti)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                          </a>
                        </div>
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="mutasiPenerimaan(properti)">
                            <i class="fa fa-random"></i>
                            <span class="d-none d-md-inline-block">{{'Tentukan Business Area' | uppercase}}</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="10" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>