<ng-container *ngIf="anggaranDetail">
  <div class="row bg-light p-3">
    <div class="col-12 p-0 col-md-6">
      <div class="form-group">
        <div class="col-12">
          <label><strong>{{'Validasi' | uppercase}}</strong></label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="anggaranDetail.approval_level | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label><strong>{{'Jumlah Alokasi' | uppercase}}</strong></label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="anggaranDetail.item_alokasi">
        </div>
      </div>
    </div>
    <div class="col-12 p-0 col-md-6">
      <div class="form-group">
        <div class="col-12">
          <label><strong>{{'Tanggal Validasi' | uppercase}}</strong></label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="anggaranDetail.tanggal_approve | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label><strong>{{'Total Anggaran' | uppercase}}</strong></label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="anggaranDetail.nilai_anggaran | currency: 'Rp. '">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label><strong>{{'Status' | uppercase}}</strong></label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="(anggaranDetail.is_use ? 'Final' : 'Belum Final') | uppercase">
        </div>
      </div>
    </div>
    <div class="col-12 py-4 bg-white">
      <h4>{{'Detail Alokasi' | uppercase}}</h4>
      <hr/>
      <app-datatable
      [columns]="items.columns"
      [data]="items.data"
      [actions]="items.actions"></app-datatable>
    </div>
  </div>
</ng-container>