<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{title | uppercase}}</p>
    <small>{{title +' dalam SIMAPRO' | uppercase}}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-9 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <form class="row h-100 m-0 p-0 bg-light" [formGroup]="formAsetTanah" (submit)="save()" novalidate style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12" *ngIf="ready">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Umum' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="form-control" formControlName="id_sumber_perolehan" [(ngModel)]="asetTanah.id_sumber_perolehan" [ngClass]="{'is-invalid': formAsetTanah.controls.id_sumber_perolehan.invalid && (formAsetTanah.controls.id_sumber_perolehan.dirty || formAsetTanah.controls.id_sumber_perolehan.touched)}">
                        <option *ngFor="let sumberPerolehan of sumberPerolehans" [value]="sumberPerolehan.id_sumber_perolehan">{{ sumberPerolehan.sumber_perolehan | uppercase }}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.id_sumber_perolehan.invalid && (formAsetTanah.controls.id_sumber_perolehan.dirty || formAsetTanah.controls.id_sumber_perolehan.touched)">
                        <div *ngIf="formAsetTanah.controls.id_sumber_perolehan.errors.required">Sumber Perolehan harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Harga Perolehan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <span>Rp. </span>
                        </div>
                        <input-number class="form-control" formControlName="nilai_perolehan" [(ngModel)]="asetTanah.nilai_perolehan" type="number" placeholder="Nilai perolehan aset"
                          [ngClass]="{'is-invalid': formAsetTanah.controls.nilai_perolehan.invalid && (formAsetTanah.controls.nilai_perolehan.dirty || formAsetTanah.controls.nilai_perolehan.touched)}"></input-number>
                      </div>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.nilai_perolehan.invalid && (formAsetTanah.controls.nilai_perolehan.dirty || formAsetTanah.controls.nilai_perolehan.touched)">
                        <div *ngIf="formAsetTanah.controls.nilai_perolehan.errors.required">Nilai Perolehan harus diisi</div>
                        <div *ngIf="formAsetTanah.controls.nilai_perolehan.errors.minlength">Panjang minimal {{formAsetTanah.controls.nilai_perolehan.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="formAsetTanah.controls.nilai_perolehan.errors.maxlength">Panjang maksimal {{formAsetTanah.controls.nilai_perolehan.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="tahun_perolehan" [(ngModel)]="asetTanah.tahun_perolehan" type="number" placeholder="Tahun perolehan aset"
                        [ngClass]="{'is-invalid': formAsetTanah.controls.tahun_perolehan.invalid && (formAsetTanah.controls.tahun_perolehan.dirty || formAsetTanah.controls.tahun_perolehan.touched)}">
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.tahun_perolehan.invalid && (formAsetTanah.controls.tahun_perolehan.dirty || formAsetTanah.controls.tahun_perolehan.touched)">
                        <div *ngIf="formAsetTanah.controls.tahun_perolehan.errors.required">Tahun Perolehan harus diisi</div>
                        <div *ngIf="formAsetTanah.controls.tahun_perolehan.errors.max || formAsetTanah.controls.tahun_perolehan.errors.min">Tahun Perolehan harus berada diantara tahun 1965 - {{ maxYear }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama Aset Tanah' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="nama" [(ngModel)]="asetTanah.detail.nama_tanah" type="text" placeholder="Nama aset tanah"
                        [ngClass]="{'is-invalid': formAsetTanah.controls.nama.invalid && (formAsetTanah.controls.nama.dirty || formAsetTanah.controls.nama.touched)}"
                      />
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.nama.invalid && (formAsetTanah.controls.nama.dirty || formAsetTanah.controls.nama.touched)">
                        <div *ngIf="formAsetTanah.controls.nama.errors.required">Nama harus diisi</div>
                        <div *ngIf="formAsetTanah.controls.nama.errors.minlength">Panjang minimal {{formAsetTanah.controls.nama.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="formAsetTanah.controls.nama.errors.maxlength">Panjang maksimal {{formAsetTanah.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas Tanah' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input-number class="form-control" formControlName="luas_tanah" [(ngModel)]="asetTanah.detail.luas_tanah" type="number"
                          placeholder="Luas tanah aset" [ngClass]="{'is-invalid': formAsetTanah.controls.luas_tanah.invalid && (formAsetTanah.controls.luas_tanah.dirty || formAsetTanah.controls.luas_tanah.touched)}"></input-number>
                        <div class="input-group-addon">
                          <span>
                            M
                            <sup>2</sup>
                          </span>
                        </div>
                      </div>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.luas_tanah.invalid && (formAsetTanah.controls.luas_tanah.dirty || formAsetTanah.controls.luas_tanah.touched)">
                        <div *ngIf="formAsetTanah.controls.luas_tanah.errors.required">Luas harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No.BPHTB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="no_bphtb" [(ngModel)]="asetTanah.detail.no_bphtb" type="text" placeholder="No.BPHTB"
                        [ngClass]="{'is-invalid': formAsetTanah.controls.no_bphtb.invalid && (formAsetTanah.controls.no_bphtb.dirty || formAsetTanah.controls.no_bphtb.touched)}">
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.no_bphtb.invalid && (formAsetTanah.controls.no_bphtb.dirty || formAsetTanah.controls.no_bphtb.touched)">
                        <div *ngIf="formAsetTanah.controls.no_bphtb.errors.required">No. BPHTB harus diisi</div>
                        <div *ngIf="formAsetTanah.controls.no_bphtb.errors.maxlength">Panjang maksimal {{formAsetTanah.controls.no_bphtb.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" formControlName="no_sap" [(ngModel)]="asetTanah.detail.no_sap" type="text" placeholder="No. SAP"
                        [ngClass]="{'is-invalid': formAsetTanah.controls.no_sap.invalid && (formAsetTanah.controls.no_sap.dirty || formAsetTanah.controls.no_sap.touched)}">
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.no_sap.invalid && (formAsetTanah.controls.no_sap.dirty || formAsetTanah.controls.no_sap.touched)">
                        <div *ngIf="formAsetTanah.controls.no_sap.errors.required">No. SAP harus diisi</div>
                        <div *ngIf="formAsetTanah.controls.no_sap.errors.maxlength">Panjang maksimal {{formAsetTanah.controls.no_sap.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Alamat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" formControlName="alamat" [(ngModel)]="asetTanah.detail.alamat_tanah" placeholder="Jalan" [ngClass]="{'is-invalid': formAsetTanah.controls.alamat.invalid && (formAsetTanah.controls.alamat.dirty || formAsetTanah.controls.alamat.touched)}"></textarea>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.alamat.invalid && (formAsetTanah.controls.alamat.dirty || formAsetTanah.controls.alamat.touched)">
                        <div *ngIf="formAsetTanah.controls.alamat.errors.required">Alamat harus diisi</div>
                        <div *ngIf="formAsetTanah.controls.alamat.errors.minlength">Panjang minimal {{formAsetTanah.controls.alamat.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="formAsetTanah.controls.alamat.errors.maxlength">Panjang maksimal {{formAsetTanah.controls.alamat.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group">
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="preview || this.oldFoto || 'assets/img/no-image.jpg'">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input class="form-control" type="file" formContolName="foto" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg">
                        <div class="input-group-append">
                          <button class="btn btn-flat btn-danger btn-lg" (click)="removeFoto()">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.foto.invalid && (formAsetTanah.controls.foto.dirty || formAsetTanah.controls.foto.touched)">
                        <div *ngIf="formAsetTanah.controls.foto.errors.required">Foto harus diisi</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="col-md-12 text-right">
                      <button class="btn btn-default" (click)="cancel()">
                        <i class="fa fa-arrow-left"></i> {{ 'Batal' | uppercase }}</button>
                      <button class="btn btn-primary" [disabled]="!formAsetTanah.valid || isSubmitted || !hasPoint" type="submit">
                        <i class="fa fa-save"></i>&nbsp;{{ 'Simpan' | uppercase }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2" [disabled]="formAsetTanah.invalid && false">
            <ng-template tabHeading>
              <i class="fa fa-sitemap"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Organisasi & Wilayah' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Provinsi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectProvinsi 
                        [allowClear]="true"
                        [items]="itemsP"
                        [multiple]="false"
                        (data)="refreshValueP($event)"
                        (selected)="selectedP($event)"
                        placeholder="Pilih Provinsi">
                      </ng-select>
                      <input type="hidden" formControlName="idProvinsi" [(ngModel)]="idProvinsi"/>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.idProvinsi.invalid && (formAsetTanah.controls.idProvinsi.dirty || formAsetTanah.controls.idProvinsi.touched)">
                        <div *ngIf="formAsetTanah.controls.idProvinsi.errors.required">Provinsi harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kabupaten/Kota' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectKabupaten 
                        [allowClear]="true"
                        [items]="itemsK"
                        [disabled]="!itemsK.length"
                        [multiple]="false"
                        (data)="refreshValueK($event)"
                        (selected)="selectedK($event)"
                        placeholder="Pilih Kabupaten">
                      </ng-select>
                      <input type="hidden" formControlName="idKabupaten" [(ngModel)]="idKabupaten"/>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.idKabupaten.invalid && (formAsetTanah.controls.idKabupaten.dirty || formAsetTanah.controls.idKabupaten.touched)">
                        <div *ngIf="formAsetTanah.controls.idKabupaten.errors.required">Kabupaten harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Lokasi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectLokasi 
                        [allowClear]="true"
                        [items]="itemsL"
                        [disabled]="!itemsL.length"
                        [multiple]="false"
                        (data)="refreshValueL($event)"
                        (selected)="selectedL($event)"
                        placeholder="Semua Lokasi">
                      </ng-select>
                      <input type="hidden" formControlName="idLokasi" [(ngModel)]="idLokasi"/>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.idLokasi.invalid && (formAsetTanah.controls.idLokasi.dirty || formAsetTanah.controls.idLokasi.touched)">
                        <div *ngIf="formAsetTanah.controls.idLokasi.errors.required">Lokasi harus diisi</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Company Code' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectCC 
                        [allowClear]="true"
                        [items]="itemsCC"
                        [disabled]="!itemsCC"
                        [multiple]="false"
                        (data)="refreshValueCC($event)"
                        (selected)="selectedCC($event)"
                        placeholder="Pilih Company Code">
                      </ng-select>
                      <input type="hidden" formControlName="idCompanyCode" [(ngModel)]="idCompanyCode"/>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.idCompanyCode.invalid && (formAsetTanah.controls.idCompanyCode.dirty || formAsetTanah.controls.idCompanyCode.touched)">
                        <div *ngIf="formAsetTanah.controls.idCompanyCode.errors.required">Company Code harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Business Area' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <ng-select #selectBA 
                        [allowClear]="true"
                        [items]="itemsBA"
                        [disabled]="!itemsBA.length"
                        [multiple]="false"
                        (data)="refreshValueBA($event)"
                        (selected)="selectedBA($event)"
                        placeholder="Pilih Business Area">
                      </ng-select>
                      <input type="hidden" formControlName="idBusinessArea" [(ngModel)]="idBusinessArea"/>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.idBusinessArea.invalid && (formAsetTanah.controls.idBusinessArea.dirty || formAsetTanah.controls.idBusinessArea.touched)">
                        <div *ngIf="formAsetTanah.controls.idBusinessArea.errors.required">Business Area harus diisi</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-12 text-right">
                    <button class="btn btn-default" (click)="cancel()">
                      <i class="fa fa-arrow-left"></i> {{ 'Batal' | uppercase }}</button>
                    <button class="btn btn-primary" [disabled]="formAsetTanah.invalid || isSubmitted || !hasPoint" type="submit">
                      <i class="fa fa-save"></i>&nbsp;{{ 'Simpan' | uppercase }}</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2" [disabled]="formAsetTanah.invalid && false">
            <ng-template tabHeading>
              <i class="fa fa-shield"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Legal Aset' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Jenis Kepemilikan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <select class="form-control" formControlName="id_ijin" [(ngModel)]="asetTanah.dokumen.ijin.id_ijin" [ngClass]="{'is-invalid': formAsetTanah.controls.id_ijin.invalid && (formAsetTanah.controls.id_ijin.dirty || formAsetTanah.controls.id_ijin.touched)}">
                        <option *ngFor="let jenisPerizinan of jenisPerizinans" [value]="jenisPerizinan.id_ijin">{{ jenisPerizinan.nama_ijin | uppercase }}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="formAsetTanah.controls.id_ijin.invalid && (formAsetTanah.controls.id_ijin.dirty || formAsetTanah.controls.id_ijin.touched)">
                        <div *ngIf="formAsetTanah.controls.id_ijin.errors.required">Jenis Kepemilikan harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Status Progress' | uppercase}} </strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <label class="px-2">
                        <input type="radio" [disabled]="isRevisi" [checked]="statusProgress" [value]="true" (click)="setStatusProgress(true)" formControlName="status_progress"
                          [ngModel]="asetTanah.dokumen.status_progress">
                        <strong class="ml-1 pt-1">{{'Selesai' | uppercase}}</strong>
                      </label>
                      <label class="px-2">
                        <input type="radio" [disabled]="isRevisi" [checked]="!statusProgress" [value]="false" (click)="setStatusProgress(false)" formControlName="status_progress"
                          [ngModel]="asetTanah.dokumen.status_progress">
                        <strong class="ml-1 pt-1">{{'Dalam Proses' | uppercase}}</strong>
                      </label>
                    </div>
                  </div>
                  <ng-container *ngIf="statusProgress; else onProgress">
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'No.Sertifikat' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="no_sertifikat" [(ngModel)]="asetTanah.dokumen.no_sertifikat" type="text" placeholder="No.Sertifikat tanah"
                          [ngClass]="{'is-invalid': formAsetTanah.controls.no_sertifikat.invalid && (formAsetTanah.controls.no_sertifikat.dirty || formAsetTanah.controls.no_sertifikat.touched)}">
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.no_sertifikat.invalid && (formAsetTanah.controls.no_sertifikat.dirty || formAsetTanah.controls.no_sertifikat.touched)">
                          <div *ngIf="formAsetTanah.controls.no_sertifikat.errors.required">No. Sertifikat harus diisi</div>
                          <div *ngIf="formAsetTanah.controls.no_sertifikat.errors.maxlength">Panjang maksimal {{formAsetTanah.controls.no_sertifikat.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'No.Objek Pajak' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="no_pbb" [(ngModel)]="asetTanah.dokumen.no_pbb" type="text" placeholder="No.Objek Pajak tanah"
                          [ngClass]="{'is-invalid': formAsetTanah.controls.no_pbb.invalid && (formAsetTanah.controls.no_pbb.dirty || formAsetTanah.controls.no_pbb.touched)}">
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.no_pbb.invalid && (formAsetTanah.controls.no_pbb.dirty || formAsetTanah.controls.no_pbb.touched)">
                          <div *ngIf="formAsetTanah.controls.no_pbb.errors.required">No. Objek Pajak harus diisi</div>
                          <div *ngIf="formAsetTanah.controls.no_pbb.errors.maxlength">Panjang maksimal {{formAsetTanah.controls.no_pbb.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tanggal Berlaku Sertifikat' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="start_date_sertifikat" [(ngModel)]="asetTanah.dokumen.start_date_sertifikat"
                          type="date" placeholder="Tanggal berlaku sertifikat tanah" [ngClass]="{'is-invalid': formAsetTanah.controls.start_date_sertifikat.invalid && (formAsetTanah.controls.start_date_sertifikat.dirty || formAsetTanah.controls.start_date_sertifikat.touched)}">
                          
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.start_date_sertifikat.invalid && (formAsetTanah.controls.start_date_sertifikat.dirty || formAsetTanah.controls.start_date_sertifikat.touched)">
                          <div *ngIf="formAsetTanah.controls.start_date_sertifikat.errors.required">Tanggal berlaku sertifikat harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tanggal Berakhir Sertifikat' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <div class="input-group">
                          <input class="form-control" formControlName="end_date_sertifikat" [(ngModel)]="asetTanah.dokumen.end_date_sertifikat"
                            type="date" placeholder="Tanggal berlaku sertifikat tanah" [ngClass]="{'is-invalid': formAsetTanah.controls.end_date_sertifikat.invalid && (formAsetTanah.controls.end_date_sertifikat.dirty || formAsetTanah.controls.end_date_sertifikat.touched)}">
                          <div class="input-group-addon" (click)="changeEndDateStatus()">
                            <label for="">
                              <input type="checkbox" style="vertical-align: middle" [checked]="endDateStatus">
                              <span> Selamanya</span>
                            </label>
                          </div>  
                        </div>
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.end_date_sertifikat.invalid && (formAsetTanah.controls.end_date_sertifikat.dirty || formAsetTanah.controls.end_date_sertifikat.touched)">
                          <div *ngIf="formAsetTanah.controls.end_date_sertifikat.errors.required">Tanggal berakhir sertifikat harus diisi</div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #onProgress>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Nama Progress' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <select class="form-control" required formControlName="id_master_progress" [(ngModel)]="asetTanah.dokumen.tahap_sertifikat[0].id_master_progress" type="text"
                           [ngClass]="{'is-invalid': formAsetTanah.controls.id_master_progress.invalid && (formAsetTanah.controls.id_master_progress.dirty || formAsetTanah.controls.id_master_progress.touched)}">
                           <option *ngFor="let masterProgress of masterProgresses" [value]="masterProgress.id_master_progress">{{ masterProgress.nama_master_progress | uppercase }}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.id_master_progress.invalid && (formAsetTanah.controls.id_master_progress.dirty || formAsetTanah.controls.id_master_progress.touched)">
                          <div *ngIf="formAsetTanah.controls.id_master_progress.errors.required">
                            Nama harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tanggal Progress' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tanggal_progress" [(ngModel)]="asetTanah.dokumen.tahap_sertifikat[0].tanggal_progress"
                          type="date" placeholder="Tanggal berlaku sertifikat tanah" [ngClass]="{'is-invalid': formAsetTanah.controls.tanggal_progress.invalid && (formAsetTanah.controls.tanggal_progress.dirty || formAsetTanah.controls.tanggal_progress.touched)}">
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.tanggal_progress.invalid && (formAsetTanah.controls.tanggal_progress.dirty || formAsetTanah.controls.tanggal_progress.touched)">
                          <div *ngIf="formAsetTanah.controls.tanggal_progress.errors.required">Tanggal Progress harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Keterangan' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="keterangan_progress" [(ngModel)]="asetTanah.dokumen.tahap_sertifikat[0].keterangan"
                          placeholder="Keterangan dokumen" [ngClass]="{'is-invalid': formAsetTanah.controls.keterangan_progress.invalid && (formAsetTanah.controls.keterangan_progress.dirty || formAsetTanah.controls.keterangan_progress.touched)}"></textarea>
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.keterangan_progress.invalid && (formAsetTanah.controls.keterangan_progress.dirty || formAsetTanah.controls.keterangan_progress.touched)">
                          <div *ngIf="formAsetTanah.controls.keterangan_progress.errors.required">
                            Keterangan harus diisi</div>
                          <div *ngIf="formAsetTanah.controls.keterangan_progress.errors.minlength">
                            Panjang minimal {{formAsetTanah.controls.keterangan_progress.errors.minlength.requiredLength}} karakter
                          </div>
                          <div *ngIf="formAsetTanah.controls.keterangan_progress.errors.maxlength">
                            Panjang maksimal {{formAsetTanah.controls.keterangan_progress.errors.maxlength.requiredLength}} karakter
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="col-12 text-right">
                      <button class="btn btn-default" (click)="cancel()">
                        <i class="fa fa-arrow-left"></i> {{ 'Batal' | uppercase }}</button>
                      <button class="btn btn-primary" [disabled]="formAsetTanah.invalid || isSubmitted || !hasPoint" type="submit">
                        <i class="fa fa-save"></i>&nbsp;{{ 'Simpan' | uppercase }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab4" [disabled]="formAsetTanah.invalid && false" (select)="poly[0].length || addPoint()">
            <ng-template tabHeading>
              <i class="fa fa-map"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Polygon' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-6">
                      <label>
                        <strong>{{'Polygon' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-6 text-right">
                      <button class="btn btn-sm btn-round btn-primary" (click)='addPoint()'>
                        <i class="fa fa-plus"></i> {{'Add Point' | uppercase}}</button>
                    </div>
                    <div class="col-12 border-1 mt-3">
                      <div class="card border-0">
                        <app-polygon [group]="formAsetTanah.controls.polygon" (onRemove)="removePoint($event)" [polygon]="poly[0]"></app-polygon>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 text-right">
                        <button class="btn btn-default" (click)="cancel()">
                          <i class="fa fa-arrow-left"></i> {{ 'Batal' | uppercase }}</button>
                        <button class="btn btn-primary" [disabled]="!formAsetTanah.valid || isSubmitted || !hasPoint" type="submit">
                          <i class="fa fa-save"></i>&nbsp;{{ 'Simpan' | uppercase }}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </form>
    </div>
    <div class="col-md-3 p-0 tab-pane d-md-inline-block d-lg-inline-block" id="content-map">
      <yaga-map [(lat)]="lat" [(lng)]="lng" [zoom]="zoom" id="map" #map (dblclick)="dblClick($event)">
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>

        <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'"></yaga-tile-layer>
        <!-- <yaga-geojson [(data)]="lokasi.koordinat" *ngIf="lokasi && lokasi.koordinat"></yaga-geojson>-->
        <yaga-polygon *ngIf="poly[0].length > 3"
          [color]="marker.asetTanah.polygonNonValid.color"
          [weight]="marker.asetTanah.polygonNonValid.weight"
          [(latLngs)]="poly"></yaga-polygon>
        <yaga-marker *ngFor="let koordinat of poly[0]; let i = index;" [(lat)]="koordinat.lat" [(lng)]="koordinat.lng" [draggable]="true">
          <yaga-popup>
            <h5>Titik Ke - {{ i + 1 }} </h5>
          </yaga-popup>
          <yaga-icon [iconAnchor]="marker.asetTanah.pin.iconAnchor" [iconSize]="marker.asetTanah.pin.iconSize" [popupAnchor]="marker.asetTanah.pin.popupAnchor"
            [iconUrl]="marker.asetTanah.pin.iconUrl" [shadowUrl]="marker.asetTanah.pin.shadowUrl">>
          </yaga-icon>
        </yaga-marker>
      </yaga-map>
    </div>
  </div>
</div>

<ng-template #templatePoint>
  <div class="modal-header">
    <h5 class="modal-title">{{'Koordinat Aset' | uppercase}}</h5>
  </div>
  <div class="modal-body">
    <div class="col-12">
      <div class="form-group row">
        <div class="col-12">
          <label>
            <strong>{{'Latitude / Lintang' | uppercase}}</strong>
          </label>
          <input class="form-control" type="number" min="-6" step="0.0000001" max="12" [(ngModel)]="lng" placeholder="Latitude">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label>
            <strong>{{'Longitude / Bujur' | uppercase}}</strong>
          </label>
          <input class="form-control" type="number" min="95" step="0.0000001" max="142" [(ngModel)]="lat" placeholder="Longitude">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary btn-sm" type="button" (click)="addInitialPoint()" data-dismiss="modal">
      <i class="fa fa-location-arrow"></i>&nbsp;{{'Add' | uppercase}}</button>
  </div>
</ng-template>