<div class="modal-header">
  <h5 class="modal-title">Pilih Aset Properti</h5>
  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"></span>
  </button>
</div>
<div class="modal-body">
  <div class="col-12">
    <div class="form-group">
      <div class="col-12">
        <label>
          <strong>{{'Provinsi' | uppercase}}</strong>
        </label>
      </div>
      <div class="col-12">
        <ng-select #selectProvinsi 
          [allowClear]="true"
          [items]="itemsP"
          [multiple]="false"
          (data)="refreshValueP($event)"
          (selected)="selectedP($event)"
          placeholder="Pilih Provinsi">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <label>
          <strong>{{'Kabupaten/Kota' | uppercase}}</strong>
        </label>
      </div>
      <div class="col-12">
        <ng-select #selectKabupaten 
          [allowClear]="true"
          [items]="itemsK"
          [disabled]="!itemsK.length"
          [multiple]="false"
          (data)="refreshValueK($event)"
          (selected)="selectedK($event)"
          placeholder="Pilih Kabupaten">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <label>
          <strong>{{'Lokasi' | uppercase}}</strong>
        </label>
      </div>
      <div class="col-12">
        <ng-select #selectLokasi 
          [allowClear]="true"
          [items]="itemsL"
          [disabled]="!itemsL.length"
          [multiple]="false"
          (data)="refreshValueL($event)"
          (selected)="selectedL($event)"
          placeholder="Pilih Lokasi">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <label>
          <strong>{{'Aset' | uppercase}}</strong>
        </label>
      </div>
      <div class="col-12">
        <ng-select #selectAset 
          [allowClear]="true"
          [items]="itemsA"
          [disabled]="!itemsA.length"
          [multiple]="false"
          (data)="refreshValueA($event)"
          (selected)="selectedA($event)"
          placeholder="Pilih Tanah">
        </ng-select>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" type="button" (click)="modalRef.hide()" data-dismiss="modal">
    <i class="fa fa-close"></i>&nbsp;Batal</button>
  <button class="btn btn-primary" [disabled]="!aset || !(aset.id_tanah || aset.id_properti)" type="button" (click)="save()">
    <i class="fa fa-check"></i>&nbsp;Pilih</button>
</div>