
    <div class="s-info bg-white">
      <div class="s-heading"> 
        <p>Pengaturan Jadwal Input Data</p><small>Atur jadwal input data kedalam sistem</small>
      </div>
    </div>
    <div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
      <div class="row border-0 h-100">
        <div class="col-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block py-2 px-3 h-100" id="content-data">
          <div class="col-12 s-tab-fixed-notab h-100 py-3">
            <div class="tab-content">
              <div class="tab-pane active" id="umum" role="tabpanel">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <h4>Jadwal Input Data</h4>
                    <hr>
                    <p><strong>Sistem Informasi Manajemen Aset Properti</strong></p>
                    <div class="list-group">
                      <div class="list-group-item text-center">
                        <p>Tanggal Mulai Input Data</p>
                        <h3><i class="fa fa-clock-o"> </i>&nbsp;{{ jadwalInput.start_date_jadwal | date: 'dd MMM yyyy' }}</h3>
                      </div>
                      <div class="list-group-item text-center">
                        <p>Tanggal Mulai Input Data</p>
                        <h3><i class="fa fa-clock-o"> </i>&nbsp;{{ jadwalInput.end_date_jadwal | date: 'dd MMM yyyy' }}</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6" [formGroup]="formJadwal">
                    <h4>Ubah Jadwal Input Data</h4>
                    <hr>
                    <div class="form-group row">
                      <label class="col-12 col-sm-4">Tanggal Mulai </label>
                      <div class="col-12 col-sm-8">
                        <input class="form-control" type="date" formControlName="start" [(ngModel)]="jadwalInputPerubahan.start_date_jadwal" placeholder="Tanggal mulai input" [class.is-invalid]="formJadwal.controls.start.invalid && (formJadwal.controls.start.dirty || formJadwal.controls.start.touched)">
                        <div class="invalid-feedback" *ngIf="formJadwal.controls.start.invalid && (formJadwal.controls.start.dirty || formJadwal.controls.start.touched)">
                          <div *ngIf="formJadwal.controls.start.errors.required"> Tanggal mulai harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-4">Tanggal Selesai</label>
                      <div class="col-12 col-sm-8">
                        <input class="form-control" type="date" formControlName="end" [(ngModel)]="jadwalInputPerubahan.end_date_jadwal" placeholder="Tanggal selesai input" [class.is-invalid]="formJadwal.controls.end.invalid && (formJadwal.controls.end.dirty || formJadwal.controls.end.touched)">
                        <div class="invalid-feedback" *ngIf="formJadwal.controls.end.invalid && (formJadwal.controls.end.dirty || formJadwal.controls.end.touched)">
                          <div *ngIf="formJadwal.controls.end.errors.required"> Tanggal selesai harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 text-right">
                        <button class="btn btn-primary" (click)="save()" [disabled]="!formJadwal.valid"><i class="fa fa-save"></i>&nbsp; Ubah</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>