.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}
 
.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 150px 0;
  transition: all 1s;
}
 
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #ccc;
}
 
.timeline ol li:last-child {
  width: 280px;
}
 
.timeline ol li:not(:first-child) {
  margin-left: 14px;
}
 
.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #20a8d8;
}

//umum
.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: #ccc;
}

.timeline ol li.current div {
  background: #20a8d8;
  color: white;
}

.timeline ol li.reject div {
  background: #f86c6b;
  color: white;
}

.timeline ol li.accept div {
  background: #4dbd74;
  color: white;
}
 
.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

//ganjil
.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}
 
.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #ccc transparent transparent transparent;
}

// genap
.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}
 
.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #ccc;
}
 
.timeline ol li.current:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #20a8d8;
}
 
.timeline ol li.current:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #20a8d8 transparent transparent transparent;
}
 
.timeline ol li.reject:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #f86c6b;
}
 
.timeline ol li.reject:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #f86c6b transparent transparent transparent;
}
 
.timeline ol li.accept:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #4dbd74;
}
 
.timeline ol li.accept:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #4dbd74 transparent transparent transparent;
}

// Navigasi
.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
 
.timeline .arrows .arrow__prev {
  margin-right: 20px;
}
 
.timeline .disabled {
  opacity: .5;
}
 
.timeline .arrows img {
  width: 45px;
  height: 45px;
}