<section class="timeline">
    <ol #timeline>
      <li *ngFor="let p of progress; let i = index" [ngClass]="{'current': p.current, 'reject': p.is_tolak, 'accept': p.is_terima }" [index]="i" [itsCurrent]="p.current" timelineItem>
        <div>
          <h5>{{ p.name }}</h5>
          <p>{{ p.permission }}</p>
          <time class="pull-right"><small>{{(p.time || '-') | uppercase}}</small></time>
        </div>
      </li>
        
      <!-- more list items here -->
       
      <li id="endPoint" #lastItem></li>
    </ol>
     
    <div class="arrows">
      <button class="btn btn-round btn-primary arrow arrow__prev" [disabled]="currentPosition >= 0" (click)="prev()">
        <i class="fa fa-arrow-left"></i>
      </button>
      <button class="btn btn-round btn-primary arrow arrow__next" [disabled]="isElementInViewport(lastItem)" (click)="next()">
          <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </section>