<div class="s-info bg-white">
  <div class="s-heading">
    <p>SIMAPRO</p>
    <small>Sistem Informasi Manajemen Aset Properti</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <div class="col-12 s-tab-fixed-notab h-100 py-3">
        <div class="tab-content">
          <div class="tab-pane active" id="detail" role="tabpanel">
            <div class="row px-3 py-0">
              <div class="col-12 p-3 mt-0 mb-3 bg-light">
                <div class="row">
                  <div class="col-12 col-md-4 col-sm-2">
                    <h5>
                      <i class="fa fa-search"></i> {{'Cari' | uppercase}}</h5>
                  </div>
                  <div class="col-12 col-md-8 col-sm-10">
                    <div class="row">
                      <div class="col-4 p-0">
                        <div class="form-group">
                          <div class="col-12">
                            <ng-select #selectCC [allowClear]="true" [items]="itemsCC" [disabled]="!itemsCC" [multiple]="false" (data)="refreshValueCC($event)"
                              (selected)="selectedCC($event)" placeholder="Pilih Company Code">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 p-0">
                        <div class="form-group">
                          <div class="col-12">
                            <ng-select #selectBA [allowClear]="true" [items]="itemsBA" [disabled]="!itemsBA.length" [multiple]="false" (data)="refreshValueBA($event)"
                              (selected)="selectedBA($event)" placeholder="Pilih Business Area">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-2 p-0 text-left">
                        <div class="form-group">
                          <div class="col-12">
                            <button class="btn btn-primary" (click)="filter(params)">
                              <i class="fa fa-search"></i> Cari
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-2" *ngIf="isInboxExist">
              <div class="col-12 mb-3">
                <div class="col-12">
                  <h4>{{'Data Perlu divalidasi / diapprove' | uppercase}}</h4>
                  <hr>
                </div>
                <div class="col-12">
                  <app-datatable
                    [columns]="inbox.columns" 
                    [data]="inbox.data"
                    [actions]="inbox.actions"
                    (show)="show($event)"
                    (validate)="showModalValidasi($event)"
                    (approve)="showApprovePage($event)"></app-datatable>
                </div>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-12 mb-3">
                <div class="col-12">
                  <h4>{{'Masa Berlaku Sertifikat Segera Habis' | uppercase}}</h4>
                  <hr>
                </div>
                <div class="col-12">
                  <app-datatable
                    [columns]="sertifikat.columns" 
                    [data]="sertifikat.data"
                    [actions]="sertifikat.actions"
                    (show)="showSertifikat($event)"></app-datatable>
                </div>
              </div>
            </div>
            <div class="row px-3 mb-3" *ngIf="dataDashboard">
              <div class="col-md-6 col-12 mb-3">
                <div class="col-12">
                  <h4>{{'Aset Tanah' | uppercase}}</h4>
                  <hr>
                </div>
                <div class="row mb-3 pt-0">
                  <div class="chart-wrapper col-12 mb-3" style="height:300px;">
                    <google-chart [data]="chartAsetTanah"></google-chart>
                    <!-- <canvas baseChart class="chart" height="300px" style="width:100% !important;" [data]="chartAsetTanah.data" [labels]="chartAsetTanah.labels"
                      [options]="options" [chartType]="chartAsetTanah.type"></canvas> -->
                  </div>
                </div>
                <ul class="icons-list">
                  <li class="no-actions">
                    <i class="fa fa-th bg-primary"></i>
                    <div class="desc">
                      <div class="title">Jumlah</div>
                      <small>Jumlah aset tanah yang ada</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Jumlah Total</div>
                      <strong>{{ dataDashboard?.tanah.jumlah | number: '1.0'}}</strong>
                    </div>
                  </li>
                  <li class="no-actions">
                    <i class="fa fa-file bg-primary"></i>
                    <div class="desc">
                      <div class="title">Belum Tersertifikasi</div>
                      <small>Aset tanah tidak mempunyai sertifikat maupun izin</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Aset Tanah</div>
                      <strong>{{ dataDashboard?.tanah.kepemilikan_tidak_jelas | number: '1.0'}}</strong>
                    </div>
                  </li>
                  <li class="no-actions">
                    <i class="fa fa-object-ungroup bg-primary"></i>
                    <div class="desc">
                      <div class="title">Luas</div>
                      <small>Total luas aset tanah yang ada</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Luas Total</div>
                      <strong>{{ dataDashboard?.tanah.luas | number: '1.0'}} m
                        <sup>2</sup>
                      </strong>
                    </div>
                  </li>
                  <li class="no-actions">
                    <i class="fa fa-dollar bg-primary"></i>
                    <div class="desc">
                      <div class="title">Nilai</div>
                      <small>Total harga aset tanah yang ada</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Harga Total</div>
                      <strong>Rp. {{ dataDashboard?.tanah.nilai | number: '1.0'}}</strong>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-12 mb-3">
                <div class="col-12">
                  <h4>{{'Aset Properti' | uppercase}}</h4>
                  <hr>
                </div>
                <div class="row mb-3 pt-0">
                  <div class="chart-wrapper col-12 mb-3" style="height:300px;">
                    <google-chart [data]="chartAsetProperti"></google-chart>
                    <!-- <canvas baseChart class="chart" height="300px" style="width:100% !important;" [data]="chartAsetProperti.data" [labels]="chartAsetProperti.labels"
                      [options]="options" [chartType]="chartAsetProperti.type"></canvas> -->
                  </div>
                </div>
                <ul class="icons-list">
                  <li class="no-actions">
                    <i class="fa fa-th bg-primary"></i>
                    <div class="desc">
                      <div class="title">Jumlah</div>
                      <small>Jumlah aset properti yang ada</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Jumlah Total</div>
                      <strong>{{ dataDashboard.properti.jumlah | number: '1.0' }}</strong>
                    </div>
                  </li>
                  <li class="no-actions">
                    <i class="fa fa-object-ungroup bg-primary"></i>
                    <div class="desc">
                      <div class="title">Luas</div>
                      <small>Total luas aset properti yang ada</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Luas Total</div>
                      <strong>{{ dataDashboard.properti.luas | number: '1.0' }} m
                        <sup>2</sup>
                      </strong>
                    </div>
                  </li>
                  <li class="no-actions">
                    <i class="fa fa-dollar bg-primary"></i>
                    <div class="desc">
                      <div class="title">Harga</div>
                      <small>Total harga aset properti yang ada</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Harga Total</div>
                      <strong>Rp. {{ dataDashboard.properti.nilai | number: '1.0' }}</strong>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row px-3 mb-3" *ngIf="dataDashboard">
              <div class="col-md-6 col-12 mb-3">
                <div class="col-12">
                  <h4>{{'Potensi' | uppercase}}</h4>
                  <hr>
                </div>
                <div class="row mb-3 pt-0">
                  <div class="chart-wrapper col-12 mb-3" style="height:300px;">
                    <google-chart [data]="chartPotensi"></google-chart>
                    <!-- <canvas baseChart class="chart" height="300px" style="width:100% !important;" [data]="chartPotensi.data" [labels]="chartPotensi.labels"
                      [options]="options" [chartType]="chartPotensi.type"></canvas> -->
                  </div>
                </div>
                <ul class="icons-list">
                  <li class="no-actions">
                    <i class="fa fa-th bg-primary"></i>
                    <div class="desc">
                      <div class="title">Jumlah</div>
                      <small>Jumlah seluruh aset yang berpotensi</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Jumlah Aset</div>
                      <strong>{{ dataDashboard.potensi.potensi | number: '1.0' }}</strong>
                    </div>
                  </li>
                  <li class="no-actions">
                    <i class="fa fa-th bg-primary"></i>
                    <div class="desc">
                      <div class="title">Aset Didayagunakan</div>
                      <small>Total aset yang didayagunakan</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Jumlah Aset</div>
                      <strong>{{ dataDashboard.potensi.didayagunakan | number: '1.0' }}</strong>
                    </div>
                  </li>
                  <li class="no-actions">
                    <i class="fa fa-dollar bg-primary"></i>
                    <div class="desc">
                      <div class="title">Nilai</div>
                      <small>Total nilai potensi seluruh aset</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Nilai Total</div>
                      <strong>Rp. {{ dataDashboard.potensi.nilai | number: '1.0' }}</strong>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-12 mb-3">
                <div class="col-12">
                  <h4>{{'Pendayagunaan' | uppercase}}</h4>
                  <hr>
                </div>
                <div class="row mb-3 pt-0">
                  <div class="chart-wrapper col-12 mb-3" style="height:300px;">
                    <google-chart [data]="chartPendayagunaan"></google-chart>
                    <!-- <canvas baseChart class="chart" height="300px" style="width:100% !important;" [data]="chartPendayagunaan.data" [labels]="chartPendayagunaan.labels"
                      [options]="options" [chartType]="chartPendayagunaan.type"></canvas> -->
                  </div>
                </div>
                <ul class="icons-list">
                  <li class="no-actions">
                    <i class="fa fa-th bg-primary"></i>
                    <div class="desc">
                      <div class="title">Jumlah</div>
                      <small>Jumlah seluruh pendayagunaan aset</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Jumlah Aset</div>
                      <strong>{{ dataDashboard.pendayagunaan.jumlah | number: '1.0' }}</strong>
                    </div>
                  </li>
                  <li class="no-actions">
                    <i class="fa fa-dollar bg-primary"></i>
                    <div class="desc">
                      <div class="title">Total Nilai</div>
                      <small>Total nilai pendayagunaan seluruh aset</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Total Nilai</div>
                      <strong>Rp.{{ dataDashboard.pendayagunaan.nilai | number: '1.0' }}</strong>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row px-3 mb-3" *ngIf="dataDashboard">
              <div class="col-12 mb-3">
                <div class="col-12">
                  <h4>{{'Anggaran & Realisasi' | uppercase}}</h4>
                  <hr>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="p-0 mb-3 pt-0">
                        <div class="chart-wrapper col-12" style="height:300px;margin-top:40px;">
                          <canvas baseChart class="chart" height="300px" style="width:100% !important;" [datasets]="chartAnggaranRealisasi.datasets"
                            [labels]="chartAnggaranRealisasi.labels" [options]="chartAnggaranRealisasi.options" [legend]="chartAnggaranRealisasi.legend"
                            [chartType]="chartAnggaranRealisasi.type"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="Col-12 col-sm-6">
                      <ul class="icons-list" style="position: absolute; bottom: 45px; width: 100%">
                        <li class="no-actions">
                          <i class="fa fa-th bg-primary"></i>
                          <div class="desc">
                            <div class="title">Jumlah</div>
                            <small>Jumlah anggaran</small>
                          </div>
                          <div class="value">
                            <div class="small text-muted">Anggaran</div>
                            <strong>{{ dataDashboard.anggaran.item_anggaran | number: '1.0' }}</strong>
                          </div>
                        </li>
                        <li class="no-actions">
                          <i class="fa fa-file bg-primary"></i>
                          <div class="desc">
                            <div class="title">Realisasi</div>
                            <small>Pekerjaan yang sudah direalisasikan</small>
                          </div>
                          <div class="value">
                            <div class="small text-muted">Realisasi</div>
                            <strong>{{ dataDashboard.anggaran.item_realisasi | number: '1.0' }}</strong>
                          </div>
                        </li>
                        <li class="no-actions">
                          <i class="fa fa-dollar bg-primary"></i>
                          <div class="desc">
                            <div class="title">Total Anggaran</div>
                            <small>Total anggaran seluruh aset</small>
                          </div>
                          <div class="value">
                            <div class="small text-muted">Total Anggaran</div>
                            <strong>Rp.{{ dataDashboard.anggaran.chart[0].total | number: '1.0' }}</strong>
                          </div>
                        </li>
                        <li class="no-actions">
                          <i class="fa fa-dollar bg-primary"></i>
                          <div class="desc">
                            <div class="title">Total Realisasi</div>
                            <small>Total anggaran yang sudah direalisasikan</small>
                          </div>
                          <div class="value">
                            <div class="small text-muted">Total Realisasi</div>
                            <strong>Rp.{{ dataDashboard.anggaran.chart[1].total | number: '1.0' }}</strong>
                          </div>
                        </li>
                        <li class="no-actions">
                          <i class="fa fa-dollar bg-primary"></i>
                          <div class="desc">
                            <div class="title">Sisa Anggaran</div>
                            <small>Sisa anggaran yang belum direalisasikan</small>
                          </div>
                          <div class="value">
                            <div class="small text-muted">Sisa Anggaran</div>
                            <strong>Rp.{{ dataDashboard.anggaran.chart[2].total | number: '1.0' }}</strong>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #templateValidasi>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'Validasi' | uppercase}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 p-0">
        <div class="row">
          <div class="col-6 p-0">
            <div class="form-group">
              <div class="col-12"><label for=""><strong>{{'Kategori' | uppercase }}</strong></label></div>
              <div class="col-12"><input type="text" disabled="disabled" class="form-control" [value]="_item.category | uppercase"></div>
            </div>
          </div>
          <div class="col-6 p-0">
            <div class="form-group">
              <div class="col-12"><label for=""><strong>{{'Jenis Pengajuan' | uppercase }}</strong></label></div>
              <div class="col-12"><input type="text" disabled="disabled" class="form-control" [value]="(_item.data_type === _item.category ? 'Baru' : _item.data_type) | uppercase"></div>
            </div>
          </div>
          <div class="col-6 p-0">
            <div class="form-group">
              <div class="col-12"><label for=""><strong>{{'Item Yang Diajukan' | uppercase }}</strong></label></div>
              <div class="col-12">
                <textarea disabled="disabled" class="form-control" [innerHTML]="_item.data_name | uppercase"></textarea>
              </div>
            </div>
          </div>
          <div class="col-6 p-0">
            <div class="form-group">
              <div class="col-12"><label for=""><strong>{{'Tanggal' | uppercase }}</strong></label></div>
              <div class="col-12"><input type="text" disabled="disabled" class="form-control" [value]="_item.date | date:'dd MMM yyyy'"></div>
            </div>
          </div>
          <div class="col-12 p-0">
            <div class="form-group">
              <div class="col-12"><label for=""><strong>{{'Memo' | uppercase }}</strong><span class="required">*</span> </label></div>
              <div class="col-12">
                <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right p-0">
        <button class="btn btn-success mx-1" (click)="validate(true)" [disabled]="memo.length < 5">
          <i class="fa fa-check"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
        </button>
        <button class="btn btn-danger mx-1" href="#" (click)="validate(false)" [disabled]="memo.length < 5">
          <i class="fa fa-close"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
        </button>
      </div>
    </div>
</ng-template>