<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ title | uppercase }}</p>
    <small>{{ title + ' dalam SIMAPRO' | uppercase }}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <form class="row h-100 m-0 p-0 bg-light" [formGroup]="myForm" (submit)="save()" novalidate style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-vcard"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Data Diri Pengguna' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Nama' | uppercase}}
                        <span class="required">*</span>
                      </strong>
                    </label>
                    <div class="col-12">
                      <div class="input-group">
                        <input [readonly]="penggunaLDAP" class="form-control" type="text" [(ngModel)]="pengguna.nama" formControlName="nama" placeholder="Nama"
                          [ngClass]="{'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)}">
                        <div class="input-group-addon" *ngIf="penggunaLDAP">
                          <span (click)="showModal(template, true)">
                            <i class="fa fa-refresh"></i>
                          </span>
                        </div>
                      </div>
                      <div class="invalid-feedback" *ngIf="myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)">
                        <div *ngIf="myForm.controls.nama.errors.required">Nama Pengguna harus diisi</div>
                        <div *ngIf="myForm.controls.nama.errors.minlength">Panjang minimal {{myForm.controls.nama.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.nama.errors.maxlength">Panjang maksimal {{myForm.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Username' | uppercase}}</strong>
                      <span class="required">*</span>
                    </label>
                    <div class="col-12">
                      <input class="form-control" type="text" [(ngModel)]="pengguna.username" formControlName="username" placeholder="Username" [ngClass]="{'is-invalid': myForm.controls.username.invalid && (myForm.controls.username.dirty || myForm.controls.username.touched)}">
                      <div class="invalid-feedback" *ngIf="myForm.controls.username.invalid && (myForm.controls.username.dirty || myForm.controls.username.touched)">
                        <div *ngIf="myForm.controls.username.errors.required">Username harus diisi</div>
                        <div *ngIf="myForm.controls.username.errors.minlength">Panjang minimal {{myForm.controls.username.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.username.errors.maxlength">Panjang maksimal {{myForm.controls.username.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Email' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input [readonly]="penggunaLDAP" class="form-control" type="text" [(ngModel)]="pengguna.email" formControlName="email" placeholder="Email"
                        [ngClass]="{'is-invalid': myForm.controls.email.invalid && (myForm.controls.email.dirty || myForm.controls.email.touched)}">
                      <div class="invalid-feedback" *ngIf="myForm.controls.email.invalid && (myForm.controls.email.dirty || myForm.controls.email.touched)">
                        <div *ngIf="myForm.controls.email.errors.required">Email harus diisi</div>
                        <div *ngIf="myForm.controls.email.errors.minlength">Panjang minimal {{myForm.controls.email.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.email.errors.maxlength">Panjang maksimal {{myForm.controls.email.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <ng-container *ngIf="!isLDAP && act !== 'edit'">
                    <div class="form-group col-12">
                      <label class="col-12">
                        <strong>{{'Password' | uppercase}}</strong>
                        <span class="required" *ngIf="act==='add'">*</span>
                      </label>
                      <div class="col-12">
                        <input class="form-control" type="password" [(ngModel)]="pengguna.password" formControlName="password" placeholder="Password"
                          [ngClass]="{'is-invalid': myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)}">
                        <div class="invalid-feedback" *ngIf="myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)">
                          <div *ngIf="myForm.controls.password.errors.required">Password harus diisi</div>
                          <div *ngIf="myForm.controls.password.errors.minlength">Panjang minimal {{myForm.controls.password.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="myForm.controls.password.errors.maxlength">Panjang maksimal {{myForm.controls.password.errors.maxlength.requiredLength}} karakter</div>
                          <div *ngIf="myForm.controls.password.errors.pattern">Karakter tidak sesuai</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-12">
                      <label class="col-12">
                        <strong>{{'Konfirmasi' | uppercase}}</strong>
                        <span class="required" *ngIf="act==='add'">*</span>
                      </label>
                      <div class="col-12">
                        <input class="form-control" type="password" [(ngModel)]="konfirmasi" formControlName="konfirmasi" placeholder="Konfirmasi Password"
                          [ngClass]="{'is-invalid': myForm.controls.konfirmasi.invalid && (myForm.controls.konfirmasi.dirty || myForm.controls.konfirmasi.touched)}">
                        <div class="invalid-feedback" *ngIf="myForm.controls.konfirmasi.invalid && (myForm.controls.konfirmasi.dirty || myForm.controls.konfirmasi.touched)">
                          <div *ngIf="myForm.controls.konfirmasi.errors.required">Konfirmasi Password harus diisi</div>
                          <div *ngIf="myForm.controls.konfirmasi.errors.unmatch">Konfirmasi Password tidak cocok</div>
                          <div *ngIf="myForm.controls.konfirmasi.errors.pattern">Konfirmasi Password tidak cocok</div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group col-12">
                    <div class="col-12">
                      <div class="foto-profil">
                        <img alt="avatar" class="" [src]="preview || (old ? fotoDir+old : false) || 'assets/img/no-image.jpg'">
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Foto' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <div class="input-group">
                        <input class="form-control" type="file" #fileInput formContolName="foto" (input)="onFileChange($event)" accept=".png, .jpg, .jpeg">
                        <button class="input-group-addon btn btn-flat btn-danger" (click)="removeFoto()">
                          <i class="fa fa-trash"></i></button>
                      </div>
                      <div class="invalid-feedback" *ngIf="myForm.controls.foto.invalid && (myForm.controls.foto.dirty || myForm.controls.foto.touched)">
                        <div *ngIf="myForm.controls.foto.errors.required">Foto harus diisi</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12 text-right">
                  <button class="btn btn-default" type="button" (click)="cancel()">
                    <i class="fa fa-arrow-left"> </i> {{'Batal' | uppercase}}</button>
                  <button class="btn btn-primary" [disabled]="!myForm.valid">
                    <i class="fa fa-save"></i>&nbsp;{{'Simpan' | uppercase}}</button>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2">
            <ng-template tabHeading>
              <i class="fa fa-building"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Organisasi' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Company Code' | uppercase}}
                        <span class="required">*</span>
                      </strong>
                    </label>
                    <div class="col-12">
                      <ng-select #selectCC [ngClass]="{'is-invalid': myForm.controls.companyCode.invalid && (myForm.controls.companyCode.dirty || myForm.controls.companyCode.touched)}"
                        [allowClear]="false" [items]="itemsCC" [disabled]="!isEdit" [multiple]="false" (data)="refreshValue($event)"
                        (typed)="typed($event)" (selected)="selected($event)" (removed)="removed($event)" placeholder="Pilih Company Code">
                      </ng-select>
                      <input type="hidden" formControlName="companyCode" [(ngModel)]="pengguna.company_code" />
                      <div class="invalid-feedback" *ngIf="myForm.controls.companyCode.invalid && (myForm.controls.companyCode.dirty || myForm.controls.companyCode.touched)">
                        <div *ngIf="myForm.controls.companyCode.errors.required">Company code harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Business Area' | uppercase}}
                        <span class="required">*</span>
                      </strong>
                    </label>
                    <div class="col-12">
                      <ng-select #selectBA [ngClass]="{'is-invalid': myForm.controls.businessArea.invalid && (myForm.controls.businessArea.dirty || myForm.controls.businessArea.touched)}"
                        [allowClear]="false" [items]="itemsBA" [disabled]="!isEdit" [multiple]="false" (data)="refreshValueBA($event)"
                        (typed)="typedBA($event)" (selected)="selectedBA($event)" (removed)="removedBA($event)" placeholder="Pilih Business Area">
                      </ng-select>
                      <input type="hidden" formControlName="businessArea" [(ngModel)]="pengguna.id_business_area" />
                      <div class="invalid-feedback" *ngIf="myForm.controls.businessArea.invalid && (myForm.controls.businessArea.dirty || myForm.controls.businessArea.touched)">
                        <div *ngIf="myForm.controls.businessArea.errors.required">Business Area harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Jabatan' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input [readonly]="penggunaLDAP" class="form-control" type="text" [(ngModel)]="pengguna.title" formControlName="title" placeholder="Jabatan"
                        [ngClass]="{'is-invalid': myForm.controls.title.invalid && (myForm.controls.title.dirty || myForm.controls.title.touched)}">
                      <div class="invalid-feedback" *ngIf="myForm.controls.title.invalid && (myForm.controls.title.dirty || myForm.controls.title.touched)">
                        <div *ngIf="myForm.controls.title.errors.required">Jabatan harus diisi</div>
                        <div *ngIf="myForm.controls.title.errors.minlength">Panjang minimal {{myForm.controls.title.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.title.errors.maxlength">Panjang maksimal {{myForm.controls.title.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Departemen' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input [readonly]="penggunaLDAP" class="form-control" type="text" [(ngModel)]="pengguna.department" formControlName="department"
                        placeholder="Departemen" [ngClass]="{'is-invalid': myForm.controls.department.invalid && (myForm.controls.department.dirty || myForm.controls.department.touched)}">
                      <div class="invalid-feedback" *ngIf="myForm.controls.department.invalid && (myForm.controls.department.dirty || myForm.controls.department.touched)">
                        <div *ngIf="myForm.controls.department.errors.required">Departemen harus diisi</div>
                        <div *ngIf="myForm.controls.department.errors.minlength">Panjang minimal {{myForm.controls.department.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.department.errors.maxlength">Panjang maksimal {{myForm.controls.department.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Company' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input [readonly]="true" class="form-control" type="text" [(ngModel)]="pengguna.company" formControlName="company" placeholder="Company"
                        [ngClass]="{'is-invalid': myForm.controls.company.invalid && (myForm.controls.company.dirty || myForm.controls.company.touched)}">
                      <div class="invalid-feedback" *ngIf="myForm.controls.company.invalid && (myForm.controls.company.dirty || myForm.controls.company.touched)">
                        <div *ngIf="myForm.controls.company.errors.required">Company harus diisi</div>
                        <div *ngIf="myForm.controls.company.errors.minlength">Panjang minimal {{myForm.controls.company.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.company.errors.maxlength">Panjang maksimal {{myForm.controls.company.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'NIP' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input [readonly]="penggunaLDAP" class="form-control" type="text" [(ngModel)]="pengguna.employee_number" formControlName="employee_number"
                        placeholder="NIP" [ngClass]="{'is-invalid': myForm.controls.employee_number.invalid && (myForm.controls.employee_number.dirty || myForm.controls.employee_number.touched)}">
                      <div class="invalid-feedback" *ngIf="myForm.controls.employee_number.invalid && (myForm.controls.employee_number.dirty || myForm.controls.employee_number.touched)">
                        <div *ngIf="myForm.controls.employee_number.errors.required">NIP Number harus diisi</div>
                        <div *ngIf="myForm.controls.employee_number.errors.minlength">Panjang minimal {{myForm.controls.employee_number.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.employee_number.errors.maxlength">Panjang maksimal {{myForm.controls.employee_number.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="form-group col-12 text-right">
                    <button class="btn btn-default" type="button" (click)="cancel()">
                      <i class="fa fa-arrow-left"> </i> {{'Batal' | uppercase}}</button>
                    <button class="btn btn-primary" [disabled]="!myForm.valid">
                      <i class="fa fa-save"></i>&nbsp;{{'Simpan' | uppercase}}</button>
                  </div>
                </div>
            </div>
          </tab>
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-sitemap"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Role' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="form-group col-12">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-6">
                          <strong>{{'Role' | uppercase}}</strong>
                        </div>
                        <div class="col-6 mb-2">
                          <input type="text" placeholder="Cari" class="form-control" [(ngModel)]="filter" (keyup)="filterRoles()" formControlName="filter">
                        </div>
                      </div>
                      <div class="col-12 p-0">
                        <table class="table table-sm">
                          <thead>
                            <th class="text-center" colspan="2">{{'Role' | uppercase}}</th>
                            <th class="text-center">{{'Level Organisasi' | uppercase}}</th>
                            <th class="text-center">{{'Deskripsi' | uppercase}}</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let role of rolesToShow">
                              <td>
                                <input type="checkbox" [checked]="isGranted(role)" (change)="toggleRole(role)">
                              </td>
                              <td>
                                <strong>{{ role.nama | uppercase }}</strong>
                              </td>
                              <td>{{ role.organisasi_level?.deskripsi | uppercase }}</td>
                              <td>{{ role.description }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12 text-right">
                  <button class="btn btn-default" type="button" (click)="cancel()">
                    <i class="fa fa-arrow-left"> </i> {{'Batal' | uppercase}}</button>
                  <button class="btn btn-primary" (click)="showModal(templateRole)" [disabled]="!myForm.valid">
                    <i class="fa fa-save"></i>&nbsp;{{'Simpan' | uppercase}}</button>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </form>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Pilih Pengguna</h4>
  </div>
  <div class="modal-body">
    <div class="form-group" [formGroup]="formLDAP">
      <label class="sr-only" for="">{{'Cari' | uppercase}}</label>
      <div class="col-12">
        <div class="input-group">
          <input [readonly]="isSearching" type="text" formControlName="nama" [(ngModel)]="qUsername" (keyup.enter)="search()"
            placeholder="Cari" class="form-control" />
          <button class="input-group-addon" (click)="search()" [disabled]="!formLDAP.valid">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isSearching, 'fa-search': !isSearching}"></i>
          </button>
        </div>
        <div class="invalid-feedback" *ngIf="formLDAP.controls.nama.invalid && (formLDAP.controls.nama.dirty || formLDAP.controls.nama.touched)">
          <div *ngIf="formLDAP.controls.nama.errors.required">Kolom Harus Diisi</div>
          <div *ngIf="formLDAP.controls.nama.errors.pattern">Format tidak sesuai</div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="">{{'Nama' | uppercase}}</label>
      </div>
      <div class="col-9">
        <input type="text" [readonly]="true" placeholder="Nama" [value]="penggunaLDAP.nama || ''" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="">{{'Username' | uppercase}}</label>
      </div>
      <div class="col-9">
        <input type="text" [readonly]="true" placeholder="Username" [value]="penggunaLDAP.username || ''" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="">{{'NIP' | uppercase}}</label>
      </div>
      <div class="col-9">
        <input type="text" [readonly]="true" placeholder="NIP" [value]="penggunaLDAP.employee_number || ''" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="">{{'Jabatan' | uppercase}}</label>
      </div>
      <div class="col-9">
        <input type="text" [readonly]="true" placeholder="Jabatan" [value]="penggunaLDAP.title || ''" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="">{{'Email' | uppercase}}</label>
      </div>
      <div class="col-9">
        <input type="text" [readonly]="true" placeholder="Email" [value]="penggunaLDAP.email || ''" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="">{{'Company' | uppercase}}</label>
      </div>
      <div class="col-9">
        <input type="text" [readonly]="true" placeholder="Company" [value]="penggunaLDAP.company || ''" class="form-control">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-3">
        <label for="">{{'Departemen' | uppercase}}</label>
      </div>
      <div class="col-9">
        <input type="text" [readonly]="true" placeholder="Departemen" [value]="penggunaLDAP.department || ''" class="form-control">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="cancel(true)">
      <i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
    <button class="btn btn-primary" [disabled]="!penggunaLDAP.nama && !penggunaLDAP.username" (click)="setPengguna()">
      <i class="fa fa-check"></i> {{'Pilih' | uppercase}}</button>
  </div>
</ng-template>

<ng-template #templateRole>
  <div class="modal-header">
    <h5 class="modal-title pull-left">{{'Konfirmasi Role Pengguna' | uppercase}}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="pengguna.role && pengguna.role.length; else noRole">
      <h5>{{'Role yang anda pilih :' | uppercase}}</h5>
      <ol>
        <li *ngFor="let role of pengguna.role">{{ role.nama }}</li>
      </ol>
    </ng-container>
    <ng-template #noRole>
      Anda belum memilih Role
    </ng-template>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="closeModal()"><i class="fa fa-arrow-left"></i> Kembali</button>
    <button class="btn btn-primary" *ngIf="pengguna.role && pengguna.role.length" (click)="save()"><i class="fa fa-save"></i> Lanjutkan</button>
  </div>
</ng-template>