<ng-container [formGroup]="group">
  <td><button class="btn btn-sm btn-danger" [disabled]="!deletable" (click)="onRemove(index)"><i class="fa fa-minus-square"></i></button></td>
  <td>
    <select class="form-control form-control-sm" formControlName="id_jenis_dayaguna" placeholder="Jenis Pendayagunaan" [(ngModel)]="_pendayagunaan.id_jenis_dayaguna"
      [ngClass]="{'is-invalid': group.controls.id_jenis_dayaguna.invalid && (group.controls.id_jenis_dayaguna.dirty || group.controls.id_jenis_dayaguna.touched)}">
      <option *ngFor="let jenisPendayagunaan of jenisPendayagunaans" [value]="jenisPendayagunaan.id_jenis_dayaguna">{{ jenisPendayagunaan.nama_jenis_dayaguna | uppercase }}</option>
    </select>
    <div class="invalid-feedback" *ngIf="group.controls.id_jenis_dayaguna.invalid && (group.controls.id_jenis_dayaguna.dirty || group.controls.id_jenis_dayaguna.touched)">
      <div *ngIf="group.controls.id_jenis_dayaguna.errors.required">Jenis Pendayagunaan harus diisi</div>
      <div *ngIf="group.controls.id_jenis_dayaguna.errors.minlength">Panjang minimal {{group.controls.id_jenis_dayaguna.errors.minlength.requiredLength}} karakter</div>
      <div *ngIf="group.controls.id_jenis_dayaguna.errors.maxlength">Panjang maksimal {{group.controls.id_jenis_dayaguna.errors.maxlength.requiredLength}} karakter</div>
    </div>
  </td>
  <td>
    <input type="text" class="form-control form-control-sm" formControlName="kontrak" placeholder="No. Kontrak" [(ngModel)]="_pendayagunaan.kontrak"
      [ngClass]="{'is-invalid': group.controls.kontrak.invalid && (group.controls.kontrak.dirty || group.controls.kontrak.touched)}"/>
    <div class="invalid-feedback" *ngIf="group.controls.kontrak.invalid && (group.controls.kontrak.dirty || group.controls.kontrak.touched)">
      <div *ngIf="group.controls.kontrak.errors.required">No. Kontrak harus diisi</div>
      <div *ngIf="group.controls.kontrak.errors.minlength">Panjang minimal {{group.controls.kontrak.errors.minlength.requiredLength}} karakter</div>
      <div *ngIf="group.controls.kontrak.errors.maxlength">Panjang maksimal {{group.controls.kontrak.errors.maxlength.requiredLength}} karakter</div>
    </div>
  </td>
  <td>
    <div class="input-group">
      <span class="input-group-addon">Rp. </span>
      <input-number type="number" class="form-control form-control-sm" formControlName="nilai_pendayagunaan" placeholder="Nilai Pendayagunaan" [(ngModel)]="_pendayagunaan.nilai_pendayagunaan"
    [ngClass]="{'is-invalid': group.controls.nilai_pendayagunaan.invalid && (group.controls.nilai_pendayagunaan.dirty || group.controls.nilai_pendayagunaan.touched)}"></input-number>
    </div>
  
    <div class="invalid-feedback" *ngIf="group.controls.nilai_pendayagunaan.invalid && (group.controls.nilai_pendayagunaan.dirty || group.controls.nilai_pendayagunaan.touched)">
      <div *ngIf="group.controls.nilai_pendayagunaan.errors.required">Nilai Pendayagunaan harus diisi</div>
      <div *ngIf="group.controls.nilai_pendayagunaan.errors.minlength">Panjang minimal {{group.controls.nilai_pendayagunaan.errors.minlength.requiredLength}} karakter</div>
      <div *ngIf="group.controls.nilai_pendayagunaan.errors.maxlength">Panjang maksimal {{group.controls.nilai_pendayagunaan.errors.maxlength.requiredLength}} karakter</div>
    </div>
  </td>
  <!-- <td>
    <input type="text" class="form-control form-control-sm" formControlName="pihak_terkait" placeholder="Pihak Terkait" [(ngModel)]="_pendayagunaan.pihak_terkait"
      [ngClass]="{'is-invalid': group.controls.pihak_terkait.invalid && (group.controls.pihak_terkait.dirty || group.controls.pihak_terkait.touched)}"/>
    <div class="invalid-feedback" *ngIf="group.controls.pihak_terkait.invalid && (group.controls.pihak_terkait.dirty || group.controls.pihak_terkait.touched)">
      <div *ngIf="group.controls.pihak_terkait.errors.required">Pihak Terkait harus diisi</div>
      <div *ngIf="group.controls.pihak_terkait.errors.minlength">Panjang minimal {{group.controls.pihak_terkait.errors.minlength.requiredLength}} karakter</div>
      <div *ngIf="group.controls.pihak_terkait.errors.maxlength">Panjang maksimal {{group.controls.pihak_terkait.errors.maxlength.requiredLength}} karakter</div>
    </div>
  </td> -->
  <td>
    <input type="date" class="form-control form-control-sm" formControlName="start_date_pendayagunaan" placeholder="Tanggal Mulai" [(ngModel)]="_pendayagunaan.start_date_pendayagunaan"
      [ngClass]="{'is-invalid': group.controls.start_date_pendayagunaan.invalid && (group.controls.start_date_pendayagunaan.dirty || group.controls.start_date_pendayagunaan.touched)}"/>
    <div class="invalid-feedback" *ngIf="group.controls.start_date_pendayagunaan.invalid && (group.controls.start_date_pendayagunaan.dirty || group.controls.start_date_pendayagunaan.touched)">
      <div *ngIf="group.controls.start_date_pendayagunaan.errors.required">Tanggal Mulai harus diisi</div>
    </div>
  </td>
  <td>
    <input type="date" class="form-control form-control-sm" formControlName="end_date_pendayagunaan" placeholder="Tanggal Berakhir" [(ngModel)]="_pendayagunaan.end_date_pendayagunaan"
      [ngClass]="{'is-invalid': group.controls.end_date_pendayagunaan.invalid && (group.controls.end_date_pendayagunaan.dirty || group.controls.end_date_pendayagunaan.touched)}" />
    <div class="invalid-feedback" *ngIf="group.controls.end_date_pendayagunaan.invalid && (group.controls.end_date_pendayagunaan.dirty || group.controls.end_date_pendayagunaan.touched)">
      <div *ngIf="group.controls.end_date_pendayagunaan.errors.required">Tanggal Berakhir harus diisi</div>
    </div>
  </td>
  <td>
    <textarea class="form-control form-control-sm" formControlName="keterangan" [(ngModel)]="_pendayagunaan.keterangan"
      [ngClass]="{'is-invalid': group.controls.keterangan.invalid && (group.controls.keterangan.dirty || group.controls.keterangan.touched)}" placeholder="Deskripsi Pendayagunaan"></textarea>
    <div class="invalid-feedback" *ngIf="group.controls.keterangan.invalid && (group.controls.keterangan.dirty || group.controls.keterangan.touched)">
      <div *ngIf="group.controls.keterangan.errors.required">Deskripsi harus diisi</div>
      <div *ngIf="group.controls.keterangan.errors.minlength">Panjang minimal {{group.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
      <div *ngIf="group.controls.keterangan.errors.maxlength">Panjang maksimal {{group.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
    </div>
  </td>
</ng-container>