<div class="s-info bg-white">
    <div class="s-heading">
      <p>{{ title | uppercase }}</p>
      <small>{{ title + ' dalam SIMAPRO' | uppercase }}</small>
    </div>
  </div>
  <div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
    <div class="row tab-content border-0 h-100">
      <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
        <div class="tab-content">
          <div class="tab-pane active">
            <form class="form-horizontal" [formGroup]="myForm" novalidate (submit)="save()">
              <div class="row">
                <div class="col-12 col-md-6 p-0">
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Headquarter' | uppercase}}
                        <span class="required">*</span></strong>
                    </label>
                    <div class="col-12">
                      <select class="form-control" formControlName="id_head_quarters" [(ngModel)]="regional.id_head_quarters"
                      [ngClass]="{'is-invalid': myForm.controls.id_head_quarters.invalid && (myForm.controls.id_head_quarters.dirty || myForm.controls.id_head_quarters.touched)}">
                        <option *ngFor="let headquarter of headquarters" [value]="headquarter.id_head_quarters">{{ headquarter.nama_head_quarters }}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="myForm.controls.id_head_quarters.invalid && (myForm.controls.id_head_quarters.dirty || myForm.controls.id_head_quarters.touched)">
                        <div *ngIf="myForm.controls.id_head_quarters.errors.required">Headquarter harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Nama Regional' | uppercase}}</strong>
                      <span class="required">*</span>
                    </label>
                    <div class="col-12">
                      <input class="form-control" formControlName="nama_regional" [(ngModel)]="regional.nama_regional" type="text" placeholder="Nama Regional"
                      [ngClass]="{'is-invalid': myForm.controls.nama_regional.invalid && (myForm.controls.nama_regional.dirty || myForm.controls.nama_regional.touched)}"/>
                      <div class="invalid-feedback" *ngIf="myForm.controls.nama_regional.invalid && (myForm.controls.nama_regional.dirty || myForm.controls.nama_regional.touched)">
                        <div *ngIf="myForm.controls.nama_regional.errors.required">Nama Regional harus diisi</div>
                        <div *ngIf="myForm.controls.nama_regional.errors.minlength">Panjang minimal {{myForm.controls.nama_regional.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.nama_regional.errors.maxlength">Panjang maksimal {{myForm.controls.nama_regional.errors.maxlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.nama_regional.errors.namaRegionalInUse">Nama Regional sudah digunakan</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-12 text-right">
                  <ng-container *ngIf="isEdit; else buttonShow">
                    <button type="button" (click)="cancel()" [disabled]="isSubmitted" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid || isSubmitted">
                      <i class="fa fa-save"></i>&nbsp;{{'Simpan Data' | uppercase}}</button>
                  </ng-container>
                </div>
                <ng-template #buttonShow>
                  <button type="button" class="btn btn-default" (click)="_location.back()"><i class="fa fa-arrow-left"></i> {{'kembali' | uppercase}}</button>
                  <button type="button" class="btn btn-primary" (click)="edit()"><i class="fa fa-pencil"></i> {{'edit' | uppercase}}</button>
                </ng-template>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>