<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{title | uppercase}}</p>
    <small>{{subtitle | uppercase}}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Data Anggaran' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6">
                  <form [formGroup]="formAnggaran" (submit)="save()" novalidate>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tahun Anggaran' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tahun_anggaran" [(ngModel)]="anggaran.tahun_anggaran" type="number" placeholder="Tahun anggaran"
                          [ngClass]="{'is-invalid': formAnggaran.controls.tahun_anggaran.invalid && (formAnggaran.controls.tahun_anggaran.dirty || formAnggaran.controls.tahun_anggaran.touched)}">
                        <div class="invalid-feedback" *ngIf="formAnggaran.controls.tahun_anggaran.invalid && (formAnggaran.controls.tahun_anggaran.dirty || formAnggaran.controls.tahun_anggaran.touched)">
                          <div *ngIf="formAnggaran.controls.tahun_anggaran.errors.required">Tahun Anggaran harus diisi</div>
                          <div *ngIf="formAnggaran.controls.tahun_anggaran.errors.minlength">Panjang minimal {{formAnggaran.controls.tahun_anggaran.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formAnggaran.controls.tahun_anggaran.errors.maxlength">Panjang maksimal {{formAnggaran.controls.tahun_anggaran.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Nama Anggaran' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="nama_anggaran" [(ngModel)]="anggaran.nama_anggaran" type="text" placeholder="Nama anggaran"
                          [ngClass]="{'is-invalid': formAnggaran.controls.nama_anggaran.invalid && (formAnggaran.controls.nama_anggaran.dirty || formAnggaran.controls.nama_anggaran.touched)}">
                        <div class="invalid-feedback" *ngIf="formAnggaran.controls.nama_anggaran.invalid && (formAnggaran.controls.nama_anggaran.dirty || formAnggaran.controls.nama_anggaran.touched)">
                          <div *ngIf="formAnggaran.controls.nama_anggaran.errors.required">Nama Anggaran harus diisi</div>
                          <div *ngIf="formAnggaran.controls.nama_anggaran.errors.minlength">Panjang minimal {{formAnggaran.controls.nama_anggaran.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formAnggaran.controls.nama_anggaran.errors.maxlength">Panjang maksimal {{formAnggaran.controls.nama_anggaran.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>No. Anggaran</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="nomor_anggaran" [(ngModel)]="anggaran.nomor_anggaran" type="text" placeholder="No. Anggaran"
                          [ngClass]="{'is-invalid': formAnggaran.controls.nomor_anggaran.invalid && (formAnggaran.controls.nomor_anggaran.dirty || formAnggaran.controls.nomor_anggaran.touched)}">
                        <div class="invalid-feedback" *ngIf="formAnggaran.controls.nomor_anggaran.invalid && (formAnggaran.controls.nomor_anggaran.dirty || formAnggaran.controls.nomor_anggaran.touched)">
                          <div *ngIf="formAnggaran.controls.nomor_anggaran.errors.required">No. Anggaran harus diisi</div>
                          <div *ngIf="formAnggaran.controls.nomor_anggaran.errors.minlength">Panjang minimal {{formAnggaran.controls.nomor_anggaran.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formAnggaran.controls.nomor_anggaran.errors.maxlength">Panjang maksimal {{formAnggaran.controls.nomor_anggaran.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div> -->
                    <div class="form-group" *ngIf="anggaran.nomor_pengajuan_anggaran">
                      <div class="col-12">
                        <label>
                          <strong>{{'No. Draft Pengajuan Anggaran' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" disabled="disabled" [value]="anggaran.nomor_pengajuan_anggaran" type="text" placeholder="No. Draft Pengajuan Anggaran">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Company Code' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <ng-select #selectCC 
                          [allowClear]="true"
                          [items]="itemsCC"
                          [disabled]="!itemsCC"
                          [multiple]="false"
                          (data)="refreshValueCC($event)"
                          (selected)="selectedCC($event)"
                          placeholder="Pilih Company Code">
                        </ng-select>
                        <input type="hidden" formControlName="idCompanyCode" [(ngModel)]="idCompanyCode"/>
                        <div class="invalid-feedback" *ngIf="formAnggaran.controls.idCompanyCode.invalid && (formAnggaran.controls.idCompanyCode.dirty || formAnggaran.controls.idCompanyCode.touched)">
                          <div *ngIf="formAnggaran.controls.idCompanyCode.errors.required">Company Code harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Deskripsi' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="deskripsi" [(ngModel)]="anggaran.deskripsi" placeholder="Deskripsi"
                          [ngClass]="{'is-invalid': formAnggaran.controls.deskripsi.invalid && (formAnggaran.controls.deskripsi.dirty || formAnggaran.controls.deskripsi.touched)}" rows="3"></textarea>
                        <div class="invalid-feedback" *ngIf="formAnggaran.controls.deskripsi.invalid && (formAnggaran.controls.deskripsi.dirty || formAnggaran.controls.deskripsi.touched)">
                          <div *ngIf="formAnggaran.controls.deskripsi.errors.required">Deskripsi harus diisi</div>
                          <div *ngIf="formAnggaran.controls.deskripsi.errors.minlength">Panjang minimal {{formAnggaran.controls.deskripsi.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formAnggaran.controls.deskripsi.errors.maxlength">Panjang maksimal {{formAnggaran.controls.deskripsi.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="col-12 text-right">
                      <button class="btn btn-default" (click)="cancel()"><i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                      <button class="btn btn-primary" (click)="save()" [disabled]="! formAnggaran.valid"><i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Anggaran Pekerjaan' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 mt-3">
                  <form (submit)="save()" novalidate>
                    <table class="table table-responsive-sm">
                      <thead>
                        <tr>
                          <th class="text-center" colspan="2">
                            <strong>{{'Nama Aset' | uppercase}}</strong>
                          </th>
                          <th class="text-center">
                            <strong>{{'Nama Pekerjaan' | uppercase}}</strong>
                          </th>
                          <th class="text-center">
                            <strong>{{'Keterangan Pekerjaan' | uppercase}}</strong>
                          </th>
                          <th class="text-center">
                            <strong>{{'Nilai Pekerjaan' | uppercase}}</strong>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr app-row-pekerjaan
                          *ngFor="let alokasi of anggaranDetail.alokasi; let i = index"
                          [model]="anggaranDetail.alokasi[i]"
                          [group]="formAnggaran.controls.detail.controls[i]"
                          [idCompanyCode]="idCompanyCode"
                          [index]="i"
                          [removable]="anggaranDetail.alokasi.length > 1"
                          (onRemove)="removePekerjaan($event)"></tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td>
                            <button class="btn btn-sm btn-primary" (click)="addPekerjaan()" data-toggle="modal" data-target="#modal-pilih-properti">
                              <i class="fa fa-plus-square"></i>
                            </button>
                          </td>
                          <td class="text-right" colspan="3">
                            <strong>{{'Total Nilai' | uppercase}}</strong>
                          </td>
                          <td class="text-right">
                            <strong>{{ totalAnggaran | currency: 'Rp. ' }}</strong>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5" class="text-right">
                            <button class="btn btn-sm btn-default" (click)="cancel()"><i class="fa fa-arrow-left"></i>
                              <div class="d-none d-sm-inline-block">&nbsp;{{'Batal' | uppercase}}</div>
                            </button>
                            <button class="btn btn-sm btn-primary" [disabled]="!formAnggaran.valid || submitted"><i class="fa fa-save"></i>
                              <div class="d-none d-sm-inline-block">&nbsp;{{'Simpan' | uppercase}}</div>
                            </button>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>