<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ headquarter.nama_head_quarters | uppercase }}</p>
    <small>{{'Headquarter' | uppercase}} </small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="col-12 col-md-12 mb-2">
            <div class="row">
              <div class="col-8">
                <h5>{{'Detail Headquarter' | uppercase}} </h5>
              </div>
              <div class="col-4 text-right">
                <button class="btn-sm btn btn-default" (click)="back()">
                  <i class="fa fa-arrow-left"></i> {{'Kembali' | uppercase}}</button>
                <button *ngIf="headquarter.is_active" class="btn-sm btn btn-primary" (click)="edit()">
                  <i class="fa fa-pencil"></i> {{'Ubah' | uppercase}}</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-12">
                <label class="col-12">{{'Nama' | uppercase}}</label>
                <p class="col-12">
                  <strong>{{ headquarter.nama_head_quarters }}</strong>
                </p>
              </div>
              <div class="col-12">
                <label class="col-12">{{'Status' | uppercase}}</label>
                <p class="col-12">
                  <strong>{{ (headquarter.is_active ? 'Aktif' : 'Tidak Aktif') | uppercase }}</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mb-2">
            <div class="row">
              <div class="col-8">
                <h5>{{'Regional' | uppercase}} </h5>
              </div>
              <div class="col-4 text-right">
                <button *ngIf="headquarter.is_active" class="btn btn-sm btn-primary" [queryParams]="{headquarter: headquarter.id_head_quarters}" [routerLink]="['/master-data/organisasi/regional/add']">
                  <i class="fa fa-plus"></i>
                  <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Regional' | uppercase}}</span>
                </button>
              </div>
            </div>
            <hr>
            <div class="row mb-2 text-right">
              <div class="col-8 col-sm-4 col-lg-3 ml-auto">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="Cari data" [(ngModel)]="filter" (keyup)="filterDataP()">
                    <span class="input-group-append">
                      <button class="btn" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-2">
            <table class="bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="text-center">{{'ID' | uppercase}}</th>
                  <th class="text-center">{{'Nama Regional' | uppercase}}</th>
                  <th class="text-center">{{'Aksi' | uppercase}}</th>
                </tr>
              </thead>
              <tbody class="table-hover" *ngIf="showRegionals.length > 0; else noData">
                <tr *ngFor="let regional of showRegionals">
                  <td>{{ regional.id_regional }}</td>
                  <td>{{ regional.nama_regional | uppercase }}</td>
                  <td class="text-center">
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-primary" (click)="showRegional(regional)">
                        <i class="fa fa-eye"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Lihat' | uppercase}}</span>
                      </button>
                      <a *ngIf="regional.is_active" class="btn btn-warning" href="#" (click)="deleteRegional(regional)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Nonaktifkan' | uppercase}}</span>
                      </a>
                      <a *ngIf="!regional.is_active" class="btn btn-success" href="#" (click)="undeleteRegional(regional)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Aktifkan' | uppercase}}</span>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="4" class="text-center">{{ 'Data Tidak Tersedia' }}</td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="col-12 mb-2" *ngIf="showRegionals.length > 0">
            <span>Menampilkan {{ from }} sampai {{ to }} dari {{ countFiltered }}</span>
            <ul class="pagination m-0 pull-right" *ngIf="pages.length > 1">
              <li class="page-item">
                <a class="page-link" (click)="setPage(1)">&lt;</a>
              </li>
              <li class="page-item" [ngClass]="{'active': p===page}" *ngFor="let p of pages">
                <a class="page-link" (click)="setPage(p)">{{ p }}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="lastPage()">&gt;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>