<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{ namaAsetTanah | uppercase }}</p>
      <small>{{ namaCompanyCode | uppercase}} </small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right"  (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-9 col-md-7 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Detail' | uppercase}}</span>
              <span class="badge badge-danger" *ngIf="detailAsetTanah && detailAsetTanahPerubahan">Perubahan</span>
              <span class="badge badge-primary" *ngIf="!detailAsetTanah && detailAsetTanahPerubahan">Baru</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.sumber_perolehan?.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Provinsi' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="perpindahanAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi.kabupaten?.provinsi.nama | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kabupaten' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="perpindahanAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi.kabupaten?.nama | uppercase">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.nilai_perolehan | currency: 'Rp. ' ">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.tahun_perolehan">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Lokasi' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="perpindahanAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi?.nama | uppercase">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="detailAsetTanah">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-5">
                        <h4>{{'Data Saat Ini' | uppercase}}
                          <span class="badge badge-danger" *ngIf="!detailAsetTanah.is_active">{{'Nonaktif' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-7 ml-auto text-right mb-2" *ngIf="detailAsetTanah.is_editable_detail">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="edit('detail')">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Ubah Detail' | uppercase}}</span>
                        </button>
                        <button *ngIf="detailAsetTanah.is_active && detailAsetTanah.is_editable_detail" class="btn btn-sm btn-danger ml-1" (click)="delete()">
                          <i class="fa fa-power-off"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Nonaktif' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanah.nama_tanah | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas Tanah' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.luas_tanah | number: '1.0'">
                        <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Alamat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled">{{detailAsetTanah.alamat_tanah | uppercase}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="foto">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. BPHTB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.no_bphtb">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.no_sap">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="detailAsetTanahPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}}
                          <span class="badge badge-danger" *ngIf="!detailAsetTanahPerubahan.is_active">{{'Nonaktif' | uppercase}}</span>
                          <span class="badge badge-danger" *ngIf="detailAsetTanahPerubahan.action_button.type==='revisi'">{{'Ditolak' | uppercase}}</span>
                        </h4>
                        </div>
                        <div class="col-6  text-right">
                          <button class="btn btn-sm btn-primary ml-auto" *ngIf="detailAsetTanahPerubahan.action_button.type==='revisi' && detailAsetTanahPerubahan.action_button.button" (click)="revisi('detail')">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Revisi Detail' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanahPerubahan.nama_tanah | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas Tanah' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanahPerubahan.luas_tanah | number: '1.0'">
                        <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Alamat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled">{{detailAsetTanahPerubahan.alamat_tanah | uppercase}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="fotoPerubahan">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. BPHTB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanahPerubahan.no_bphtb">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanahPerubahan.no_sap">
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="detailAsetTanahPerubahan && detailAsetTanahPerubahan.action_button.type === 'validasi' && detailAsetTanahPerubahan.action_button.button">
                  <div class="col-12 mt-3 text-right">
                    <button class="btn btn-primary mx-1" title="Validasi detail aset tanah" (click)="openModal(templateValidasiDetail)">
                      <i class="fa fa-question"></i>
                      <span class="d-none d-md-inline-block">{{'Validasi' | uppercase}}</span>
                    </button>
                  </div>
                </ng-container>
                <!-- Historis Perubahan detail -->
                <ng-container *ngIf="!detailAsetTanahPerubahan">
                  <div class="col-12 mt-3">
                    <h4>{{'Historis Perubahan Detail' | uppercase}}</h4>
                    <hr>
                  </div>
                  <app-datatable class="col-12 p-0" 
                    [columns]="history.columns"
                    [data]="history.data"
                    [actions]="history.actions"></app-datatable>
                </ng-container>
                <ng-container *ngIf="!asetTanah.is_use && asetTanah.workflow_progress && asetTanah.workflow_progress.length > 0; else usedDetail">
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (asetTanah.historiDisposisi || []))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline class="px-3" [progress]="asetTanah.workflow_progress"></app-timeline>
                  </div>
                </ng-container>
                <ng-template #usedDetail>
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (detailAsetTanahPerubahan ? detailAsetTanahPerubahan.historiDisposisi : detailAsetTanah.historiDisposisi))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline *ngIf="detailAsetTanahPerubahan && detailAsetTanahPerubahan.workflow_progress" class="px-3" [progress]="detailAsetTanahPerubahan.workflow_progress"></app-timeline>
                  </div>
                </ng-template>
              </div>
            </div>
          </tab>
          <tab id="tab2">
            <ng-template tabHeading>
              <i class="fa fa-shield"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Legal Aset' | uppercase}}</span>
              <span class="badge badge-danger" *ngIf="dokumen && dokumenPerubahan">Perubahan</span>
              <span class="badge badge-primary" *ngIf="!dokumen && dokumenPerubahan">Baru</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea *ngIf="detailAsetTanah; else textNoData" type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanah.nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Business Area' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="perpindahanAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.business_area?.nama_business_area | uppercase">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kode Aset Tanah' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="perpindahanAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.kode_tanah">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Company Code' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="perpindahanAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.company_code?.nama | uppercase">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-right" *ngIf="!dokumen && !dokumenOnProgress && !dokumenPerubahan && asetTanah.is_editable_sertifikat">
                  <button class="btn btn-sm btn-primary" (click)="edit('legal')" data-toggle="modal" data-target="#modal-dokumen-tambah">
                    <i class="fa fa-plus"></i>
                    <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Dokumen' | uppercase}}</span>
                  </button>
                </div>
                <div class="col-12 col-md-6 p-0" *ngIf="dokumen">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Data Saat Ini' | uppercase}}
                          <span class="badge badge-danger" *ngIf="detailAsetTanah && !detailAsetTanah.is_active">{{'Nonaktif' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="dokumen.is_editable_sertifikat">
                        <button class="btn btn-sm btn-primary" (click)="edit('legal')" data-toggle="modal" data-target="#modal-dokumen-tambah">
                          <i class="fa fa-plus"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Dokumen' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kepemilikan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumen.ijin.nama_ijin | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumen.no_sertifikat | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. Objek Pajak' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumen.no_pbb | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Berlaku Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumen.start_date_sertifikat | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Berakhir Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumen.end_date_sertifikat | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                  <!-- <div class="row" >
                    <div class="col-12 col-md-6 p-0" *ngIf="!dokumen.status_progress">
                      <label class="col-12">
                        <strong>Status Dokumen</strong>
                      </label>
                      <p class="col-12">{{ dokumen.status_progress ? '-' : 'Dalam Proses' }}</p>
                    </div>
                  </div> -->
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="dokumenPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}}
                          <span class="badge badge-danger" *ngIf="dokumenPerubahan.action_button.type==='revisi'">{{'Ditolak' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-6  text-right">
                        <button class="btn btn-sm btn-primary ml-auto" *ngIf="dokumenPerubahan.action_button.type==='revisi' && dokumenPerubahan.action_button.button" (click)="revisi('legal')">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;Revisi Dokumen</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kepemilikan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.ijin.nama_ijin | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.no_sertifikat | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. Objek Pajak' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.no_pbb | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Berlaku Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.start_date_sertifikat | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Berakhir Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.end_date_sertifikat | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="dokumenPerubahan && dokumenPerubahan.action_button.type === 'validasi' && dokumenPerubahan.action_button.button">
                  <div class="col-12 text-right">
                    <button class="btn btn-primary mx-1" title="Validasi perubahan dokumen legal" (click)="openModal(templateValidasiLegal)">
                      <i class="fa fa-question"></i>
                      <span class="d-none d-md-inline-block">Validasi</span>
                    </button>
                  </div>
                </ng-container>
                <div class="col-12 p-0 mt-3" *ngIf="!dokumenPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Daftar Dokumen Aset' | uppercase}}</h4>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12 p-0">
                    <app-datatable
                      [columns]="historyDokumen.columns"
                      [data]="historyDokumen.data"
                      [actions]="historyDokumen.actions"></app-datatable>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3" *ngIf="asetTanah.dokumen_on_progress && asetTanah.dokumen_on_progress.tahap_sertifikat">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Progress Dokumen Aset' | uppercase}}</h4>
                      </div>
                      <div class="col-6 text-right" *ngIf="pengguna.is_user_input">
                        <button class="btn btn-sm btn-primary" (click)="updateProgress()" data-toggle="modal" data-target="#modal-dokumen-progress-update">
                          <i class="fa fa-arrow-up"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Update Progress' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12">
                    <app-datatable
                      [columns]="historyProgressDokumen.columns"
                      [data]="historyProgressDokumen.data"
                      [actions]="historyProgressDokumen.actions"
                      (show)="showProgressDokumen($event)"></app-datatable>
                  </div>
                </div>
                <ng-container *ngIf="!asetTanah.is_use && asetTanah.workflow_progress && asetTanah.workflow_progress.length > 0; else usedDokumen">
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (asetTanah.historiDisposisi || []))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline class="px-3" [progress]="asetTanah.workflow_progress"></app-timeline>
                  </div>
                </ng-container>
                <ng-template #usedDokumen>
                  <div class="col-12 p-0 mt-3" *ngIf="dokumen || dokumenPerubahan">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (dokumenPerubahan ? dokumenPerubahan.historiDisposisi : dokumen.historiDisposisi))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline *ngIf="dokumenPerubahan && dokumenPerubahan.workflow_progress" class="px-3" [progress]="dokumenPerubahan.workflow_progress"></app-timeline>
                  </div>
                </ng-template>
              </div>
            </div>
          </tab>
          <tab id="tab3">
            <ng-template tabHeading>
              <i class="fa fa-money"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Nilai Jual' | uppercase}}</span>
              <span class="badge badge-danger" *ngIf="nilai && nilaiPerubahan">Perubahan</span>
              <span class="badge badge-primary" *ngIf="!nilai && nilaiPerubahan">Baru</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kode Aset Tanah' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="perpindahanAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.kode_tanah">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea *ngIf="detailAsetTanah; else textNoData" type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanah.nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan Aset Tanah' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.nilai_perolehan | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.tahun_perolehan">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-right" *ngIf="!nilai && asetTanah.is_nilaiable">
                  <button class="btn btn-sm btn-primary ml-auto" (click)="edit('nilai')" data-toggle="modal" data-target="#modal-penilaian-tambah">
                    <i class="fa fa-plus"></i>
                    <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Penilaian Aset' | uppercase}}</span>
                  </button>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="nilai">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Nilai Saat Ini' | uppercase}}
                          <span class="badge badge-danger" *ngIf="detailAsetTanah && !detailAsetTanah.is_active">{{'Nonaktif' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="nilai.is_editable_nilai">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="edit('nilai')" data-toggle="modal" data-target="#modal-penilaian-tambah">
                          <i class="fa fa-plus"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Penilaian Aset' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Nilai Aset Tanah' | uppercase}}</strong></label></div>
                    <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="nilai.nilai_tanah | currency: 'Rp. '"></div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Tahun Penilaian' | uppercase}}</strong></label></div>
                    <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="nilai.tahun_penilaian"></div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="nilaiPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}}
                          <span class="badge badge-danger" *ngIf="nilaiPerubahan.action_button.type==='revisi'">{{'Ditolak' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-6  text-right">
                        <button class="btn btn-sm btn-primary ml-auto" *ngIf="nilaiPerubahan.action_button.type==='revisi' && nilaiPerubahan.action_button.button" (click)="revisi('nilai')">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Revisi Nilai' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Nilai Aset Tanah' | uppercase}}</strong></label></div>
                    <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="nilaiPerubahan.nilai_tanah | currency: 'Rp. '"></div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Tahun Penilaian' | uppercase}}</strong></label></div>
                    <div class="col-12"><input type="text" class="form-control" disabled="disabled" [value]="nilaiPerubahan.tahun_penilaian"></div>
                  </div>
                </div>
                <ng-container *ngIf="nilaiPerubahan && nilaiPerubahan.action_button.type==='validasi' && nilaiPerubahan.action_button.button">
                  <div class="col-12 mt-3 text-right">
                    <button class="btn btn-primary mx-1" title="Validasi perubahan nilai" (click)="openModal(templateValidasiNilai)">
                      <i class="fa fa-question"></i>
                      <span class="d-none d-md-inline-block">{{'Validasi' | uppercase}}</span>
                    </button>
                  </div>
                </ng-container>
                <div class="col-12 p-0 mt-2" *ngIf="!nilaiPerubahan">
                  <div class="col-12">
                    <h4>{{'Historis Penilaian Aset' | uppercase}}</h4>
                  </div>
                  <hr>
                  <div class="col-12 p-0">
                    <app-datatable 
                      [columns]="historyNilai.columns"
                      [data]="historyNilai.data"
                      [actions]="historyNilai.actions"></app-datatable>
                  </div>
                </div>
                <ng-container *ngIf="!asetTanah.is_use && asetTanah.workflow_progress && asetTanah.workflow_progress.length > 0; else usedNilai">
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (asetTanah.historiDisposisi || []))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline class="px-3" [progress]="asetTanah.workflow_progress"></app-timeline>
                  </div>
                </ng-container>
                <ng-template #usedNilai>
                  <div class="col-12 p-0 mt-3" *ngIf="nilai || nilaiPerubahan">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (nilaiPerubahan ? nilaiPerubahan.historiDisposisi : nilai.historiDisposisi))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline *ngIf="nilaiPerubahan && nilaiPerubahan.workflow_progress" class="px-3" [progress]="nilaiPerubahan.workflow_progress"></app-timeline>
                  </div>
                </ng-template>
              </div>
            </div>
          </tab>
          <tab id="tab4">
            <ng-template tabHeading>
                <i class="fa fa-bank"></i>
                <span class="d-none d-md-inline-block">&nbsp;{{'Organisasi & Wilayah' | uppercase}}</span>
              <span class="badge badge-danger" *ngIf="perpindahanAsetTanah && perpindahanAsetTanahPerubahan">Perubahan</span>
              <span class="badge badge-primary" *ngIf="!perpindahanAsetTanah && perpindahanAsetTanahPerubahan">Baru</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea *ngIf="detailAsetTanah; else textNoData" type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanah.nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="detailAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.alamat_tanah | uppercase ">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input *ngIf="detailAsetTanah; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.luas_tanah | number: '1.0'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.tahun_perolehan">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="perpindahanAsetTanah">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-5">
                        <h4>{{'Data Saat Ini' | uppercase}}
                          <span class="badge badge-danger" *ngIf="detailAsetTanah && !detailAsetTanah.is_active">{{'Nonaktif' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-7 ml-auto text-center" *ngIf="perpindahanAsetTanah.is_editable_perpindahan">
                        <div class="bg-light p-1">
                          <strong>{{'Update ' | uppercase}}</strong>
                          <br>
                          <button class="btn btn-sm btn-primary ml-auto" (click)="edit('mutasi')">
                            <i class="fa fa-random"></i>
                            <span class="d-none d-md-inline-block">&nbsp;{{'Internal' | uppercase}}</span>
                          </button>
                          <button class="btn btn-sm btn-primary ml-auto" (click)="mutasiEksternal()">
                            <i class="fa fa-random"></i>
                            <span class="d-none d-md-inline-block">&nbsp;{{'Eksternal' | uppercase}}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kode Aset Tanah' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.kode_tanah">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Company Code' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.company_code?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Business Area' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.business_area?.nama_business_area | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'No. Berita Serah Terima' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.no_berita_acara">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Provinsi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi?.kabupaten.provinsi.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kabupaten' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi?.kabupaten.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Lokasi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi?.nama | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="perpindahanAsetTanahPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}}
                        <span class="badge badge-danger" *ngIf="perpindahanAsetTanahPerubahan.action_button.type==='revisi'">{{'Ditolak' | uppercase}}</span>
                      </h4>
                      </div>
                      <div class="col-6  text-right">
                        <button class="btn btn-sm btn-primary ml-auto" *ngIf="perpindahanAsetTanahPerubahan.action_button.type==='revisi' && perpindahanAsetTanahPerubahan.action_button.button" (click)="revisiMutasi()">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Revisi Perpindahan' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Company Code' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.company_code?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Business Area' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.business_area?.nama_business_area | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'No. Berita Serah Terima' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.no_berita_acara">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Provinsi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.lokasi?.kabupaten.provinsi.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kabupaten' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.lokasi?.kabupaten.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Lokasi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.lokasi?.nama | uppercase">
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="perpindahanAsetTanahPerubahan && perpindahanAsetTanahPerubahan.action_button.type === 'validasi' && perpindahanAsetTanahPerubahan.action_button.button">
                  <div class="col-12 text-right">
                    <button class="btn btn-primary mx-1" title="Validasi perpindahan aset tanah" (click)="openModal(templateValidasiMutasi)">
                      <i class="fa fa-question"></i>
                      <span class="d-none d-md-inline-block">{{'Validasi' | uppercase}}</span>
                    </button>
                  </div>
                </ng-container>
                <div class="col-12 p-0 mt-3" *ngIf="!perpindahanAsetTanahPerubahan">
                  <div class="col-12">
                    <h4>{{'Historis Organisasi & Wilayah' | uppercase}}</h4>
                  </div>
                  <hr>
                  <app-datatable class="col-12 p-0" 
                    [columns]="historyPerpindahan.columns"
                    [data]="historyPerpindahan.data"
                    [actions]="historyPerpindahan.actions"></app-datatable>
                </div>
                <ng-container *ngIf="!asetTanah.is_use && asetTanah.workflow_progress && asetTanah.workflow_progress.length > 0; else usedPerpindahan">
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (asetTanah.historiDisposisi || []))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline class="px-3" [progress]="asetTanah.workflow_progress"></app-timeline>
                  </div>
                </ng-container>
                <ng-template #usedPerpindahan>
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (perpindahanAsetTanahPerubahan ? perpindahanAsetTanahPerubahan.historiDisposisi : perpindahanAsetTanah.historiDisposisi))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline *ngIf="perpindahanAsetTanahPerubahan && perpindahanAsetTanahPerubahan.workflow_progress" class="px-3" [progress]="perpindahanAsetTanahPerubahan.workflow_progress"></app-timeline>
                  </div>
                </ng-template>
              </div>
            </div>
          </tab>
          <tab id="tab5">
            <ng-template tabHeading>
              <i class="fa fa-tasks"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Potensi & Pendayagunaan' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0" *ngIf="potensi">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Potensi' | uppercase}}</h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="potensi.is_editable_potensi">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="addPotensi()" data-toggle="modal" data-target="#modal-potensi-tambah">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Ubah Potensi' | uppercase}}</span>
                        </button>
                      </div>          
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Nilai Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.nilai_potensi | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Deskripsi Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.deskripsi | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Tanggal Mulai' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.start_date_potensi | date: 'dd MMM yyyy' ">
                    </div>
                  </div>
                  <div class="form-group" *ngIf="potensi.end_date_potensi">
                    <label class="col-12">
                      <strong>{{'Tanggal Selesai' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.end_date_potensi | date: 'dd MMM yyyy' ">
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Historis Potensi' | uppercase}}</h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="! potensi && asetTanah.is_potensiable">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="addPotensi()" data-toggle="modal" data-target="#modal-potensi-tambah">
                          <i class="fa fa-plus"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Buat Potensi' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12 p-0">
                    <app-datatable 
                      [columns]="historyPotensi.columns"
                      [data]="historyPotensi.data"
                      [actions]="historyPotensi.actions"></app-datatable>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-6">
                        <h4>{{'Pendayagunaan Aset Tanah' | uppercase}}</h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="pengguna.is_user_input && potensi && potensi.is_pendayagunaanable">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="addPendayagunaan()">
                          <i class="fa fa-plus"></i><span class="d-none d-md-inline-block">&nbsp;{{'Tambah Pendayagunaan' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12 p-0">
                    <app-datatable
                      [columns]="historyPendayagunaan.columns"
                      [data]="historyPendayagunaan.data"
                      [actions]="historyPendayagunaan.actions"></app-datatable>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-lg-3 d-md-inline-block d-lg-inline-block p-0" id="content-map">
      <yaga-map [(lat)]="lat" [(lng)]="lng" [zoom]="zoom" #map id="map">
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>

        <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'"></yaga-tile-layer>
        <ng-container *ngIf="showMap">
          <yaga-polygon *ngIf="poly"
            [color]="marker.polygon.color"
            [weight]="marker.polygon.weight"
            [(latLngs)]="poly.area.coordinates"></yaga-polygon>
          <yaga-polygon *ngIf="polyNonValid"
            [color]="marker.polygonNonValid.color"
            [weight]="marker.polygonNonValid.weight"
            [(latLngs)]="polyNonValid.area.coordinates"></yaga-polygon>
        </ng-container>
      </yaga-map>
    </div>
  </div>
</div>

<ng-template #templateValidasiDetail>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'Validasi Detail Aset' | uppercase}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{'Memo' | uppercase}}
      <span class="required">*</span> :
      <br/>
      <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right">
        <button class="btn btn-success mx-1" (click)="terimaUsulanDetail()" [disabled]="memo.length < 5">
          <i class="fa fa-check"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
        </button>
        <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanDetail()" [disabled]="memo.length < 5">
          <i class="fa fa-close"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
        </button>
      </div>
    </div>
</ng-template>
<ng-template #templateValidasiMutasi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi Organisasi & Wilayah' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="terimaUsulanMutasi()" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanMutasi()" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateValidasiNilai>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi nilai aset' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="terimaUsulanNilai()" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanNilai()" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateValidasiLegal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi Sertifikat' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="terimaUsulanLegal()" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanLegal()" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateDisposisi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Historis Disposisi' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th class="text-center">
            <strong>{{'Pengguna' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Permission' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Validasi' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Memo' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Waktu' | uppercase}}</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="historisDisposisi && historisDisposisi.length; else noDisposisi">
          <tr *ngFor="let disposisi of historisDisposisi">
            <td>{{ disposisi.pengguna | uppercase }}</td>
            <td>{{ disposisi.permission | uppercase }}</td>
            <td>{{ disposisi.validasi | uppercase }}</td>
            <td>{{ disposisi.memo | uppercase }}</td>
            <td>{{ disposisi.date | date: 'dd MMM yyyy' }}</td>
          </tr>
        </ng-container>
        <ng-template #noDisposisi>
          <tr>
            <td colspan="6" class="text-center">{{ 'Belum ada data disposisi' }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #inputNoData>
  <input type="text" disabled="disabled" class="form-control" value="-">
</ng-template>
<ng-template #textNoData>
  <textarea disabled="disabled" class="form-control nama-aset">-</textarea>
</ng-template>