<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{realisasi?.anggaran.nama_anggaran | uppercase}}</p>
      <small>{{ 'Realisasi Anggaran' | uppercase}}</small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right" (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Realisasi Anggaran' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" *ngIf="documentReady">
              <div class="row mb-5">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Company Code' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="realisasi.company_code?.nama | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Anggaran' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="realisasi.anggaran?.nama_anggaran | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Anggaran' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="realisasi.anggaran?.tahun_anggaran">
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Deskripsi' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea class="form-control" disabled="disabled">{{realisasi.anggaran?.deskripsi | uppercase}}</textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Total Anggaran' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="realisasi.anggaran?.pengajuan_anggaran | currency: 'Rp. '">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-9">
                        <h4>{{ (realisasi.is_use ? 'Data Realisasi' : 'Usulan Realisasi') | uppercase}}</h4>
                        <span class="badge badge-danger" *ngIf="!realisasi.is_active">Nonaktif</span>
                        <span class="badge badge-danger" *ngIf="realisasi.action_button.type === 'revisi'">Ditolak</span>
                      </div>
                      <div class="col-3 text-right" >
                        <button class="btn btn-sm btn-primary" *ngIf="realisasi.action_button.type === 'revisi' && realisasi.action_button.button" (click)="revisi()">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp; {{'Revisi' | uppercase}}</span>
                        </button>
                        <button class="btn btn-sm btn-danger ml-1" *ngIf="realisasi.is_disableable" (click)="delete()">
                          <i class="fa fa-power-off"></i>
                          <span class="d-none d-md-inline-block">&nbsp; {{'Nonaktif' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tanggal Realisasi' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="(realisasi.tanggal_realisasi) | date: 'dd MMM yyyy'">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Total Realisasi' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="(realisasi.total_realisasi) | currency: 'Rp. '">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Keterangan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <textarea class="form-control" disabled="disabled" [innerHTML]="realisasi.keterangan"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 pt-2 text-right" *ngIf="realisasi.action_button.type === 'validasi' && realisasi.action_button.button">
                  <div class="col-12">
                    <button class="btn btn-sm btn-primary" (click)="showModal(templateValidasi)">
                      <i class="fa fa-question"></i>
                      <span class="d-none d-md-inline-block">{{'Validasi' | uppercase}}</span></button>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3 mb-3">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8 mt-3">
                        <h4>{{'Detail Realisasi' | uppercase}}</h4>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <app-datatable class="col-12 p-0" 
                    [columns]="realisasiPekerjaan.columns"
                    [data]="realisasiPekerjaan.data"
                    [actions]="realisasiPekerjaan.actions"></app-datatable>
                </div>
                <div class="col-12 p-0 mt-3 mb-3" *ngIf="realisasi && !realisasi.is_use && realisasi.workflow_progress">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8 mt-3">
                        <h4>{{'Proses Validasi' | uppercase}}</h4>
                      </div>
                      <div class="col-4 mt-3 text-right">
                        <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, realisasi.historiDisposisi)">
                          <i class="fa fa-history"></i> {{'Historis Disposisi' | uppercase}}</button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <app-timeline class="px-3" [progress]="realisasi.workflow_progress"></app-timeline>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<ng-template #templateValidasi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi Realisasi Anggaran' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="validasi(true)" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="validasi(false)" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateDisposisi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Historis Disposisi' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th class="text-center">
            <strong>{{'Pengguna' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Permission' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Validasi' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Memo' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Waktu' | uppercase}}</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="historisDisposisi && historisDisposisi.length; else noDisposisi">
          <tr *ngFor="let disposisi of historisDisposisi">
            <td>{{ disposisi.pengguna | uppercase }}</td>
            <td>{{ disposisi.permission | uppercase }}</td>
            <td>{{ disposisi.validasi | uppercase }}</td>
            <td>{{ disposisi.memo | uppercase }}</td>
            <td>{{ disposisi.date | date: 'dd MMM yyyy' }}</td>
          </tr>
        </ng-container>
        <ng-template #noDisposisi>
          <tr>
            <td colspan="6" class="text-center">{{ 'Belum ada data disposisi' }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
  