<div id="legend">
  <h5>Legend</h5>
  <div class="col-12 mt-2">
    <ng-container *ngIf="showTanah">
      <div class="row legend-item mt-1 p-0" *ngIf="zoom >= 17">
        <img src="assets/img/maps/polygon/tanah.png" alt="" class="legend-icon">
        <span class="text-nowrap">Aset Tanah</span>
      </div>
      <div class="row legend-item mt-1 p-0" *ngIf="zoom < 17">
        <img src="assets/img/maps/marker-icon/if_Map-Marker-Ball-Pink_73017.png" alt="" class="legend-icon">
        <span class="text-nowrap">Aset Tanah</span>
      </div>
      <div class="row legend-item mt-1 p-0" *ngIf="zoom < 17">
        <img src="assets/img/maps/marker-icon/if_gpsmapicons07_68010.png" alt="" class="legend-icon">
        <span class="text-nowrap">Kumpulan Aset Tanah</span>
      </div>
    </ng-container>
    <ng-container *ngIf="showProperti">
      <div class="row legend-item mt-1 p-0" *ngIf="zoom >= 17">
        <img src="assets/img/maps/polygon/properti.png" alt="" class="legend-icon">
        <span class="text-nowrap">Aset Properti</span>
      </div>
      <div class="row legend-item mt-1 p-0" *ngIf="zoom < 17">
        <img src="assets/img/maps/marker-icon/if_Map-Marker-Ball-Azure_73012.png" alt="" class="legend-icon">
        <span class="text-nowrap">Aset Properti</span>
      </div>
      <div class="row legend-item mt-1 p-0" *ngIf="zoom < 17">
        <img src="assets/img/maps/marker-icon/if_gpsmapicons07_101894.png" alt="" class="legend-icon">
        <span class="text-nowrap">Kumpulan Aset Properti</span>
      </div>
    </ng-container>
  </div>
</div>