#legend {
  position: fixed;
  left: -2px;
  bottom: 80px;
  min-width: 150px;
  max-width: 200px;
  z-index: 9999;
  opacity: .8;
  overflow: hidden;
  padding: 10px 5px 10px 15px;
  background-color: white;
  border: 2px solid #aaa;
  border-radius: 0 6px 4px 0;
  word-wrap: none;
}

#legend h5 {
  font-size: 11pt;
}

#legend .legend-item {
  display: inline-block;
  width: 100%;
  font-size: 8pt;
  white-space: nowrap;
}

#legend .legend-item {
  word-wrap: none;
}

#legend .legend-item img.legend-icon {
  height: 17px;
  max-width: 17px;
  margin-right: 1em;
}