<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{ namaAsetTanah | uppercase }}</p>
      <small>{{ 'Validasi Pengajuan Aset Tanah Baru' | uppercase}} </small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right" (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-9 col-md-7 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Pengajuan' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="detailAsetTanahPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Detail' | uppercase}}
                          <span class="badge badge-danger" *ngIf="!detailAsetTanahPerubahan.is_active">{{'Nonaktif' | uppercase}}</span>
                          <span class="badge badge-danger" *ngIf="detailAsetTanahPerubahan.action_button.type==='revisi'">{{'Ditolak' | uppercase}}</span>
                        </h4>
                        </div>
                        <div class="col-6  text-right">
                          <button class="btn btn-sm btn-primary ml-auto" *ngIf="detailAsetTanahPerubahan.action_button.type==='revisi' && detailAsetTanahPerubahan.action_button.button" (click)="revisi('detail')">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Revisi Detail' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12">
                    <div class="alert alert-danger text-justify" *ngIf="disposisiDetail"><strong>Memo : </strong>{{ disposisiDetail.memo }}</div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanahPerubahan.nama_tanah | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas Tanah' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanahPerubahan.luas_tanah | number: '1.0'">
                        <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Alamat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled">{{detailAsetTanahPerubahan.alamat_tanah | uppercase}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="fotoPerubahan">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. BPHTB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanahPerubahan.no_bphtb">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanahPerubahan.no_sap">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="perpindahanAsetTanahPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">
                        <h4>{{'Organisasi & Wilayah' | uppercase}}
                          <span class="badge badge-danger" *ngIf="perpindahanAsetTanahPerubahan.action_button.type==='revisi'">{{'Ditolak' | uppercase}}</span>
                        </h4>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12">
                    <div class="alert alert-danger text-justify" *ngIf="disposisiMutasi"><strong>Memo : </strong>{{ disposisiMutasi.memo }}</div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Company Code' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.company_code?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Business Area' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.business_area?.nama_business_area | uppercase">
                    </div>
                  </div>
                  <div class="form-group" *ngIf="perpindahanAsetTanahPerubahan.no_berita_acara">
                    <div class="col-12"><label for=""><strong>{{'No. Berita Serah Terima' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.no_berita_acara">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Provinsi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.lokasi?.kabupaten.provinsi.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kabupaten' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.lokasi?.kabupaten.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Lokasi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanahPerubahan.lokasi?.nama | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="dokumenPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Legal Aset' | uppercase}}
                          <span class="badge badge-danger" *ngIf="dokumenPerubahan.action_button.type==='revisi'">{{'Ditolak' | uppercase}}</span>
                        </h4>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12">
                    <div class="alert alert-danger text-justify" *ngIf="disposisiDokumen"><strong>Memo : </strong>{{ disposisiDokumen.memo }}</div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kepemilikan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.ijin.nama_ijin | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.no_sertifikat | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. Objek Pajak' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.no_pbb | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Berlaku Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.start_date_sertifikat | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                  <div class="form-group" *ngIf="dokumenPerubahan.end_date_sertifikat">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Berakhir Sertifikat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="dokumenPerubahan.end_date_sertifikat | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="perpindahanAsetTanahPerubahan && perpindahanAsetTanahPerubahan.action_button.type === 'validasi' && perpindahanAsetTanahPerubahan.action_button.button">
                  <div class="col-12 text-right">
                    <button class="btn btn-primary mx-1" title="Validasi perpindahan aset tanah" (click)="openModal(templateValidasi)">
                      <i class="fa fa-question"></i>
                      <span class="d-none d-md-inline-block">{{'Validasi' | uppercase}}</span>
                    </button>
                  </div>
                </ng-container>
                <div class="col-12 p-0 mt-3" *ngIf="asetTanah && asetTanah.workflow_progress">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8 mt-3">
                        <h4>{{'Proses Validasi' | uppercase}}</h4>
                      </div>
                      <div class="col-4 mt-3 text-right">
                        <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, asetTanah.historiDisposisi)">
                          <i class="fa fa-history"></i> Historis Disposisi</button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <app-timeline class="px-3" [progress]="asetTanah.workflow_progress"></app-timeline>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-lg-3 d-md-inline-block d-lg-inline-block p-0" id="content-map">
      <yaga-map [(lat)]="lat" [(lng)]="lng" [zoom]="zoom" id="map" #map>
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>
        <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'"></yaga-tile-layer>

        <ng-container *ngIf="showMap">
          <yaga-polygon *ngIf="poly"
            [color]="marker.polygon.color"
            [weight]="marker.polygon.weight"
            [(latLngs)]="poly.area.coordinates"></yaga-polygon>
          <yaga-polygon *ngIf="polyNonValid"
            [color]="marker.polygonNonValid.color"
            [weight]="marker.polygonNonValid.weight"
            [(latLngs)]="polyNonValid.area.coordinates"></yaga-polygon>
        </ng-container>
      </yaga-map>
    </div>
  </div>
</div>

<ng-template #templateValidasi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi Pengajuan Aset' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="terimaUsulan()" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulan()" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateDisposisi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Historis Disposisi' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th class="text-center">
            <strong>{{'Pengguna' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Permission' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Validasi' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Memo' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Waktu' | uppercase}}</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="historisDisposisi && historisDisposisi.length; else noDisposisi">
          <tr *ngFor="let disposisi of historisDisposisi">
            <td>{{ disposisi.pengguna | uppercase }}</td>
            <td>{{ disposisi.permission | uppercase }}</td>
            <td>{{ disposisi.validasi | uppercase }}</td>
            <td>{{ disposisi.memo | uppercase }}</td>
            <td>{{ disposisi.date | date: 'dd MMM yyyy' }}</td>
          </tr>
        </ng-container>
        <ng-template #noDisposisi>
          <tr>
            <td colspan="6" class="text-center">{{ 'Belum ada data disposisi' }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>