<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{ namaAsetProperti | uppercase }}</p>
      <small>{{ 'Validasi Pengajuan Aset Properti Baru' | uppercase}} </small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right"  (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-9 col-md-7 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Pengajuan' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 col-md-6 mb-2" *ngIf="detailAsetPropertiPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}}
                          <span class="badge badge-danger" *ngIf="detailAsetPropertiPerubahan.action_button.type === 'revisi'">Ditolak</span>
                        </h4>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetPropertiPerubahan.nama_properti | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled="disabled" [value]="detailAsetPropertiPerubahan.luas_properti | number: '1.0-2'">
                        <div class="input-group-addon">
                          <span>M
                            <sup>2</sup>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="fotoPerubahan">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetPropertiPerubahan.no_imb | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Terbit IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetPropertiPerubahan.tanggal_terbit_imb | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetPropertiPerubahan.no_sap | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="perpindahanAsetPropertiPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}}
                          <span class="badge badge-danger" *ngIf="perpindahanAsetPropertiPerubahan.action_button.type==='revisi'">Ditolak</span>
                        </h4>
                      </div>
                      <div class="col-6 text-right">
                        <button class="btn btn-sm btn-primary ml-auto" *ngIf="perpindahanAsetPropertiPerubahan.action_button.type==='revisi' && perpindahanAsetPropertiPerubahan.action_button.button"
                          (click)="revisiMutasi()">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Revisi Perpindahan' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12">
                    <div class="alert alert-danger text-justify" *ngIf="disposisiMutasi">
                      <strong>Memo : </strong>{{ disposisiMutasi.memo }}</div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Kode Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.kode_properti || '-'">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Company Code' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.company_code?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Business Area' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.business_area?.nama_business_area | uppercase">
                    </div>
                  </div>
                  <div class="form-group" *ngIf="perpindahanAsetPropertiPerubahan.no_berita_acara">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'No. Berita Serah Terima' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.no_berita_acara">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Berdiri Diatas' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="perpindahanAsetPropertiPerubahan.tanah?.detail_aktif[0].nama_tanah | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Provinsi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.tanah?.perpindahan_aktif[0].lokasi?.kabupaten.provinsi.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Kabupaten' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.tanah?.perpindahan_aktif[0].lokasi?.kabupaten.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Lokasi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.tanah?.perpindahan_aktif[0].lokasi?.nama | uppercase">
                    </div>
                  </div>
                </div>

                <div class="col-12 p-0">
                  <div class="col-12 mb-2 text-right" *ngIf="detailAsetPropertiPerubahan && detailAsetPropertiPerubahan.action_button && detailAsetPropertiPerubahan.action_button.type === 'validasi' && detailAsetPropertiPerubahan.action_button.button">
                    <button class="btn btn-primary mx-1" title="Validasi aset tanah" (click)="openModal(templateValidasi)">
                      <i class="fa fa-question"></i>
                      <span class="d-none d-md-inline-block">Validasi</span>
                    </button>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3" *ngIf="asetProperti && asetProperti.workflow_progress">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8 mt-3">
                        <h4>{{'Proses Validasi' | uppercase}}</h4>
                      </div>
                      <div class="col-4 mt-3 text-right">
                        <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, asetProperti.historiDisposisi)">
                          <i class="fa fa-history"></i> Historis Disposisi</button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <app-timeline class="px-3" [progress]="asetProperti.workflow_progress"></app-timeline>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-lg-3 d-md-inline-block d-lg-inline-block p-0" id="content-map">
      <yaga-map [(lat)]="lat" [(lng)]="lng" [zoom]="zoom" id="map" #map>
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>

        <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'"></yaga-tile-layer>

        <yaga-polygon *ngIf="asetTanah && asetTanah.detail && asetTanah.detail.polygon && asetTanah.detail.polygon[0]"
          [color]="markerTanah.polygon.color"
          [weight]="markerTanah.polygon.weight"
          [(latLngs)]="asetTanah.detail.polygon[0].area.coordinates">
          <yaga-popup>
            <h5>{{ asetTanah.detail.nama }} </h5>
          </yaga-popup>
        </yaga-polygon>
        <yaga-polygon *ngIf="polyNonValid" [color]="marker.polygonNonValid.color" [weight]="marker.polygonNonValid.weight" [(latLngs)]="polyNonValid.area.coordinates"></yaga-polygon>
      </yaga-map>
    </div>
  </div>
</div>

<ng-template #templateValidasi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi Pengajuan Aset' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="terimaUsulan()" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulan()" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateDisposisi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Historis Disposisi' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th class="text-center">
            <strong>{{'Pengguna' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Permission' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Validasi' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Memo' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Waktu' | uppercase}}</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="historisDisposisi && historisDisposisi.length; else noDisposisi">
          <tr *ngFor="let disposisi of historisDisposisi">
            <td>{{ disposisi.pengguna | uppercase }}</td>
            <td>{{ disposisi.permission | uppercase }}</td>
            <td>{{ disposisi.validasi | uppercase }}</td>
            <td>{{ disposisi.memo | uppercase }}</td>
            <td>{{ disposisi.date | date: 'dd MMM yyyy' }}</td>
          </tr>
        </ng-container>
        <ng-template #noDisposisi>
          <tr>
            <td colspan="6" class="text-center">{{ 'Belum ada data disposisi' }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>