<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Workflow' | uppercase}}</p>
    <small>{{'Pengelolaan Workflow dalam SIMAPRO' | uppercase}}</small>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" routerLink="/workflow" (click)="false" role="tab">
            <i class="fa fa-code-fork"></i>
            <span class="d-none d-md-inline-block">&nbsp;{{'Workflow' | uppercase}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" [routerLink]="['add']" role="tab">
            <i class="fa fa-plus-circle"></i>
            <span class="d-none d-md-inline-block"> Tambah</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active" id="tab1" role="tabpanel">
          <div class="col-12 mb-2">
            <div class="row">
              <div class="col-4">
                <div class="data-per-page">
                  <select [(ngModel)]="dataSetting.dataPerPage" class="form-control" #dataPerPage name="dataPerPage" (change)="changeLimit(dataPerPage.value)">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                  </select>
                </div>
              </div>
              <div class="col-8 col-sm-4 col-lg-3 ml-auto">
                <div class="form-group">
                  <div class="input-group">
                    <input type='text' class="form-control" placeholder='Cari Data' [(ngModel)]="dataSetting.query" (keyup.enter)="search()" (blur)="search()"
                      /><span class="input-group-append">
                      <button class="btn" type="button"><i class="fa fa-search"></i></button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-2">
            <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="all" (click)="sortBy('nama_workflow')" class="text-center">
                    {{'Nama' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='nama_workflow',
                          'fa-sort-asc': dataSetting.orderBy==='nama_workflow' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='nama_workflow' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="all" class="text-center">
                    {{'Role' | uppercase}}
                    <!-- <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='nama_role',
                          'fa-sort-asc': dataSetting.orderBy==='nama_role' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='nama_role' && dataSetting.orderDirection === 'desc'
                          }"></i> -->
                  </th>
                  <th class="all" (click)="sortBy('start_date')" class="text-center">
                    {{'Tanggal Ditetapkan' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='start_date',
                          'fa-sort-asc': dataSetting.orderBy==='start_date' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='start_date' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="all" (click)="sortBy('end_date')" class="text-center">
                    {{'Akhir Masa Berlaku' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='end_date',
                          'fa-sort-asc': dataSetting.orderBy==='end_date' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='end_date' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="all" (click)="sortBy('is_active')" class="text-center">
                    {{'Status' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='is_active',
                          'fa-sort-asc': dataSetting.orderBy==='is_active' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='is_active' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="text-center">{{'Aksi' | uppercase}}</th>
                </tr>
              </thead>
              <tbody *ngIf="pageData.length > 0; else noData">
                <tr *ngFor="let workflow of pageData;">
                  <td>{{ workflow.nama_workflow | uppercase }}</td>
                  <td>
                    <ol>
                      <li *ngFor="let actor of workflow.role_workflow">
                        {{ actor.role?.nama | uppercase }} <!--+ '  ' +actor?.type_workflow | uppercase }}-->
                      </li>
                    </ol>
                  </td>
                  <td>{{ workflow.start_date | date: 'd MMM yy' | uppercase }}</td>
                  <td>{{ workflow.end_date | date: 'd MMM yy' | uppercase }}</td>
                  <td>{{ workflow.is_active ? 'Aktif' : 'Tidak Aktif' | uppercase }}</td>
                  <td class="text-center">
                    <div class="btn-group btn-group-sm">
                      <!-- <a class="btn btn-primary" href="#" (click)="edit(workflow)">
                        <i class="fa fa-pencil"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Ubah' | uppercase}}</span>
                      </a> -->
                      <a *ngIf="workflow.is_active" class="btn btn-warning" href="#" (click)="delete(workflow)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Nonaktifkan' | uppercase}}</span>
                      </a>
                      <a *ngIf="!workflow.is_active" class="btn btn-success" href="#" (click)="undelete(workflow)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Aktifkan' | uppercase}}</span>
                      </a>
                      <!-- <a class="btn btn-danger" href="#" (click)="delete(workflow)">
                        <i class="fa fa-trash"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Hapus' | uppercase}}</span>
                      </a> -->
                    </div>
                  </td>
                </tr>
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="6" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="pagination m-0">
            <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left"></app-pagination-summary>
            <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>