<ng-container [formGroup]="group" *ngIf="group && point">
  <div class="form-group">
    <label for="inputLatitude" class="col-12 control-label">Latitude <span class="required">*</span></label>
    <div class="col-12">
      <input type="number" formControlName="lat" id="inputLatitude"  step="0.00001"
        [(ngModel)]="point.lat" class="form-control" required="required" placeholder="Latitude / Garis Lintang">
      <small *ngIf="group.controls.lat.touched && !group.controls.lat.valid" class="text-danger">
        Latitude is required
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="inputLongitude" class="col-12 control-label">Longitude <span class="required">*</span></label>
    <div class="col-12">
      <input type="number" formControlName="lng" id="inputLongitude" step="0.000000000000001"
        [(ngModel)]="point.lng" class="form-control" required="required" placeholder="Longitude / Garis Bujur">
      <small *ngIf="group.controls.lng.touched && !group.controls.lng.valid" class="text-danger">
        Longitude is required
      </small>
    </div>
  </div>
</ng-container>