<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{ title | uppercase }}</p>
    <small>{{ title + ' dalam SIMAPRO' | uppercase }}</small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active">
          <form class="form-horizontal" [formGroup]="myForm" novalidate (submit)="save()">
            <div class="row">
              <div class="col-12 col-md-6 p-0">
                <div class="form-group col-12">
                  <label class="col-12">
                    <strong>{{'Headquarter' | uppercase}}
                      <span class="required">*</span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <select class="form-control" formControlName="id_head_quarters" [(ngModel)]="headquarter" (change)="setRegionals()"
                    [ngClass]="{'is-invalid': myForm.controls.id_head_quarters.invalid && (myForm.controls.id_head_quarters.dirty || myForm.controls.id_head_quarters.touched)}">
                      <option *ngFor="let hq of headquarters" [ngValue]="hq">{{ hq.nama_head_quarters }}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="myForm.controls.id_head_quarters.invalid && (myForm.controls.id_head_quarters.dirty || myForm.controls.id_head_quarters.touched)">
                      <div *ngIf="myForm.controls.id_head_quarters.errors.required">Headquarter harus diisi</div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label class="col-12">
                    <strong>{{'Regional' | uppercase}}
                      <span class="required">*</span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <select class="form-control" formControlName="id_regional" [(ngModel)]="companyCode.id_regional"
                    [ngClass]="{'is-invalid': myForm.controls.id_regional.invalid && (myForm.controls.id_regional.dirty || myForm.controls.id_regional.touched)}">
                      <!-- <ng-template *ngIf="headquarter"> -->
                        <option *ngFor="let regional of regionals" [value]="regional.id_regional">{{ regional.nama_regional }}</option>
                      <!-- </ng-template> -->
                    </select>
                    <div class="invalid-feedback" *ngIf="myForm.controls.id_regional.invalid && (myForm.controls.id_regional.dirty || myForm.controls.id_regional.touched)">
                      <div *ngIf="myForm.controls.id_regional.errors.required">Headquarter harus diisi</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 p-0">
                <div class="form-group col-12">
                  <label class="col-12">
                    <strong>{{'Company Code' | uppercase}}
                      <span class="required">*</span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <input #kode class="form-control" type="text" formControlName="kode_company_code" [(ngModel)]="companyCode.kode_company_code" placeholder="Company Code"
                    [ngClass]="{'is-invalid': myForm.controls.kode_company_code.invalid && (myForm.controls.kode_company_code.dirty || myForm.controls.kode_company_code.touched)}"/>
                    <div class="invalid-feedback" *ngIf="myForm.controls.kode_company_code.invalid && (myForm.controls.kode_company_code.dirty || myForm.controls.kode_company_code.touched)">
                      <div *ngIf="myForm.controls.kode_company_code.errors.required">Company Code harus diisi</div>
                      <div *ngIf="myForm.controls.kode_company_code.errors.minlength">Panjang minimal {{myForm.controls.kode_company_code.errors.minlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.kode_company_code.errors.maxlength">Panjang maksimal {{myForm.controls.kode_company_code.errors.maxlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.kode_company_code.errors.kodeCompanyCodeInUse">Company Code sudah digunakan</div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label class="col-12">
                    <strong>{{'Short Description' | uppercase}}
                      <span class="required">*</span>
                    </strong>
                  </label>
                  <div class="col-12">
                    <input class="form-control" formControlName="nama_company_code" [(ngModel)]="companyCode.nama_company_code" type="text" placeholder="Short Description"
                    [ngClass]="{'is-invalid': myForm.controls.nama_company_code.invalid && (myForm.controls.nama_company_code.dirty || myForm.controls.nama_company_code.touched)}"/>
                    <div class="invalid-feedback" *ngIf="myForm.controls.nama_company_code.invalid && (myForm.controls.nama_company_code.dirty || myForm.controls.nama_company_code.touched)">
                      <div *ngIf="myForm.controls.nama_company_code.errors.required">Short Description harus diisi</div>
                      <div *ngIf="myForm.controls.nama_company_code.errors.minlength">Panjang minimal {{myForm.controls.nama_company_code.errors.minlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama_company_code.errors.maxlength">Panjang maksimal {{myForm.controls.nama_company_code.errors.maxlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama_company_code.errors.namaCompanyCodeInUse">Short Description sudah digunakan</div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label class="col-12">
                      <strong>{{'Long Description' | uppercase}}
                        <span class="required">*</span>
                      </strong>
                  </label>
                  <div class="col-12">
                    <input class="form-control" formControlName="nama" [(ngModel)]="companyCode.nama" type="text" placeholder="Long Description"
                    [ngClass]="{'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)}"/>
                    <div class="invalid-feedback" *ngIf="myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)">
                      <div *ngIf="myForm.controls.nama.errors.required">Long Description harus diisi</div>
                      <div *ngIf="myForm.controls.nama.errors.minlength">Panjang minimal {{myForm.controls.nama.errors.minlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama.errors.maxlength">Panjang maksimal {{myForm.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                      <div *ngIf="myForm.controls.nama.errors.namaInUse">Long Description sudah digunakan</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-12 text-right">
                <ng-container *ngIf="isEdit; else buttonShow">
                  <button type="button" (click)="cancel()" [disabled]="isSubmitted" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                  <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid || isSubmitted">
                    <i class="fa fa-save"></i>&nbsp;{{'Simpan Data' | uppercase}}</button>
                </ng-container>
              </div>
              <ng-template #buttonShow>
                <button type="button" class="btn btn-default" (click)="_location.back()"><i class="fa fa-arrow-left"></i> {{'kembali' | uppercase}}</button>
                <button type="button" class="btn btn-primary" (click)="edit()"><i class="fa fa-pencil"></i> {{'edit' | uppercase}}</button>
              </ng-template>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>