<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{ anggaran?.nama_anggaran | uppercase }}</p>
      <small>{{'Anggaran' | uppercase}}</small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right" (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-12 col-md-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Detail Anggaran' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel" *ngIf="anggaran">
              <div class="row">
                <div class="col-12 bg-light pt-2">
                  <div class="col-12">
                    <h4>{{'Data Anggaran' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Company Code' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.company_code.nama | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Anggaran' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.nama_anggaran | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Deskripsi' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea class="form-control" disabled="disabled" [innerHTML]="anggaran.deskripsi | uppercase"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'No. Draft Pengajuan Anggaran' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.nomor_pengajuan_anggaran">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="anggaran.nomor_anggaran">
                        <div class="col-12">
                          <label>
                            <strong>{{'No. Anggaran' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.nomor_anggaran">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Anggaran' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.tahun_anggaran">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 bg-light pt-2 mt-3" *ngIf="anggaran && anggaran.detailX">
                  <div class="col-12">
                    <h4>{{'Detail Anggaran' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Total Anggaran' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.detailX?.nilai_anggaran | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tanggal Approval' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.detailX?.tanggal_approve">
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Disetujui Oleh' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.detailX?.approval_level | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Item Pekerjaan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="anggaran.detailX.item_alokasi | number: '1.0'">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 bg-light pt-2 mt-3" *ngIf="anggaran && anggaran.detail_perubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8">
                        <h4>{{'Detail Anggaran Pengajuan' | uppercase}}
                          <span class="badge badge-danger" *ngIf="anggaran.detail_perubahan.action_button.type==='revisi'">{{'Ditolak' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-4 text-right">
                        <button class="btn btn-sm btn-primary ml-auto" *ngIf="anggaran.detail_perubahan.action_button.type==='revisi' && anggaran.detail_perubahan.action_button.button" (click)="revisi()">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;Revisi Anggaran</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12 p-0">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Total Anggaran' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="anggaran.detail_perubahan?.nilai_anggaran | currency: 'Rp. '">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tanggal Approval' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="anggaran.detail_perubahan?.tanggal_approve">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Approval Level' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="anggaran.detail_perubahan?.approval_level | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Item Pekerjaan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="anggaran.detail_perubahan.item_alokasi | number: '1.0'">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 text-right py-3" *ngIf="anggaran.detail_perubahan.action_button">
                    <button class="btn btn-sm btn-primary ml-auto" *ngIf="anggaran.detail_perubahan.action_button.type==='validasi' && anggaran.detail_perubahan.action_button.button" (click)="showModal(templateValidasi)">
                      <i class="fa fa-pencil"></i>
                      <span class="d-none d-md-inline-block">&nbsp;Validasi</span>
                    </button>
                    <button class="btn btn-sm btn-primary ml-auto" *ngIf="anggaran.detail_perubahan.action_button.type==='approve' && anggaran.detail_perubahan.action_button.button" (click)="approve()">
                      <i class="fa fa-pencil"></i>
                      <span class="d-none d-md-inline-block">&nbsp;Approve</span>
                    </button>
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <div class="col-12">
                    <h4>{{'Historis Approval Anggaran' | uppercase}}</h4>
                    <hr>
                  </div>
                  <app-datatable
                    [columns]="historyApproval.columns"
                    [data]="historyApproval.data"
                    [actions]="historyApproval.actions"
                    (show)="showDetail($event)"></app-datatable>
                </div>
                <div class="col-12 py-3 mt-3" *ngIf="anggaran && !anggaran.is_use && workflowProgress">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-8 mt-3">
                        <h4>{{'Proses Validasi' | uppercase}}</h4>
                      </div>
                      <!-- <div class="col-4 mt-3 text-right">
                        <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, realisasi.historiDisposisi)">
                          <i class="fa fa-history"></i> {{'Historis Disposisi' | uppercase}}</button>
                      </div> -->
                    </div>
                    <hr>
                  </div>
                  <app-timeline [progress]="workflowProgress"></app-timeline>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<ng-template #templateValidasi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi Anggaran' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" [(ngModel)]="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="validasi(true)" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="validasi(false)" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateAnggaranDetail>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{(anggaranDetailX.is_use ? 'Detail Anggaran Final' : 'Detail Anggaran Pengajuan') | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <show-anggaran-detail [anggaranDetail]="anggaranDetailX"></show-anggaran-detail>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>