.simapro .s-main {
  margin-top: calc( 50px + 7.5em );
  margin-bottom: 50px;
  overflow-y: auto;
  height: calc(100% - 50px - 52px - 7.5em);
  min-height: 300px;
}
.simapro .s-main.s-notab {
  margin-top: calc( 50px + 5.5em ) !important;
  height: calc(100% - 50px - 50px - 5.5em) !important;
}
.simapro .s-main.s-noinfo {
  margin-top: calc( 55px ) !important;
  height: calc( 100% - 55px - 50px ) !important;
}
.simapro .s-info {
  position: fixed;
  top: 50px;
  padding: 1em 1em 0.5em 1em;
  width: 100%;
}
.simapro .s-info ul {
  font-size: 0.75em;
}
.simapro .s-info .s-heading {
  margin: 0.5em 0;
}
.simapro .s-info .s-heading p {
  white-space: nowrap;
  line-height: 0.75em;
  vertical-align: middle;
  font-size: 2em;
  margin: 0;
  font-weight: 500;
}
.simapro .s-info .s-heading p i {
  font-size: 0.9em;
}
.simapro .s-info .s-heading small {
  font-size: 0.9em;
  line-height: 0;
}
.simapro .s-navbar a.nav-link {
  margin: 0px 10px;
}
.simapro .dropdown-item {
  z-index: 2000 !important;
  padding: 5px 15px !important;
}
.simapro .s-tab {
  position: fixed !important;
  right: 0;
  top: 45%;
  z-index: 1018 !important;
}
.simapro .aside-menu {
  top: 55px;
  z-index: 1030 !important;
}
.simapro select.form-control + .select2 {
  width: 100% !important;
}
.simapro .select2-selection.select2-selection--single {
  height: calc(2.0625rem + 2px);
  padding: 0.375rem 0.75rem;
  border: 1px solid #c2cfd6;
  border-radius: 0;
}
.simapro .select2-selection.select2-selection--single span.select2-selection__rendered {
  line-height: 1.5;
}
.simapro .select2-selection.select2-selection--single span.select2-selection__arrow {
  height: calc(2.0625rem + 2px);
}
.simapro .s-tab-fixed .tab-content {
  height: calc(100% - 2.5rem);
  position: relative;
  overflow: auto;
}
.simapro .s-tab-fixed-notab .tab-content {
  height: 100%;
  position: relative;
  overflow: auto;
}
.simapro .s-tab-fixed-notab .s-scrollable {
  height: 100%;
  position: relative;
  overflow: auto;
}
.simapro .modal {
  z-index: 2010 !important;
}
.simapro .modal-backdrop {
  z-index: 2000 !important;
}
.simapro td.nostretch {
  width: 1%;
}
.simapro table.table td,
.simapro table.table th {
  vertical-align: middle;
}
.simapro .message {
  border-color: transparent;
  border-style: solid;
  border-width: 0 5px 0 0;
  padding-right: 10px;
  margin-right: -10px;
}
.simapro .message.message-primary {
  border-color: #20a8d8;
  border-style: solid;
}
.simapro .message.message-info {
  border-color: #63c2de;
  border-style: solid;
}
.simapro .message.message-danger {
  border-color: #f86c6b;
  border-style: solid;
}
.simapro .message.message-warning {
  border-color: #ffc107;
  border-style: solid;
}
.simapro .message.message-success {
  border-color: #4dbd74;
  border-style: solid;
}
.simapro .icons-list li.no-actions .value {
  right: 0px !important;
}
select.form-control-sm + .select2 .select2-selection.select2-selection--single {
  height: calc(1.64844rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.76563rem;
}
select.form-control-sm + .select2 .select2-selection.select2-selection--single span.select2-selection__arrow {
  height: calc(1.64844rem + 2px);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
  opacity: .5;
  margin: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  /*border-radius: 5px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

/* NgSelect */
ng-select div.ui-select-match span.ui-select-toggle {
  overflow: hidden;
}

div.ui-select-match span.ui-select-toggle span.ui-select-match-text {
  max-width: 93% !important;
  overflow: hidden !important;
}

/* CURSOR */
th {
  cursor: pointer;
}


/* FORM */
textarea {
  resize: none;
  min-height: 8em;
  overflow: auto;
}

textarea.nama-aset {
  resize: none;
  min-height: 4em;
  overflow: auto;
}

input-number.form-control {
  padding: 0;
}

/* Popup */
yaga-map .leaflet-popup {
  min-width: 400px;
  max-width: 800px;
}

yaga-map .leaflet-popup-content {
  min-width: 400px;
  max-width: 800px;
}

yaga-popup {
  min-width: 400px;
  max-width: 800px;
  min-height: 200px;
  max-height: 350px;
  padding-bottom: 3px;
  /* padding: 3px 5px;  */
}

yaga-popup h5.title {
  font-size: 1.1rem;
  color: black;  
  font-variant-caps: titling-caps;
}

yaga-popup .img-container {
  width: 40%;
  float: left;
  padding: 5px;
  margin: 5px 0;
}

yaga-popup .data {
  width: 60%;
  float: left;
  padding: 5px;
  margin: 5px 0;
}

yaga-popup .data .group-title {
  margin-bottom: 3px;
  font-size: 1.1em;
  font-weight: bold;
}

yaga-popup .data .data-key {
  word-wrap: none;
  font-weight: bold;
}

yaga-popup .data .data-value {
  word-wrap: none;
  text-transform: capitalize;
}

yaga-popup img {
  max-height: 100%;
  max-width: 100%;
  border: 1px solid #eee;
}

yaga-popup .extra-buttons a {
  text-decoration: none;
  color: white;
}
