<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Potensi dan Pendayagunaan Aset' | uppercase}}</p>
    <small>{{'Potensi dan pendayagunaan aset yang ada dalam sistem' | uppercase}}</small>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" [routerLink]="['/potensi-aset']" fragment="map" role="tab">
            <i class="fa fa-map"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Aset Berpotensi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" [routerLink]="['/potensi-aset']" fragment="data" role="tab">
            <i class="fa fa-diamond"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Data Potensi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit || pengguna.is_validator_pusat">
          <a class="nav-link" data-toggle="tab" [routerLink]="['/potensi-aset']" fragment="data-perubahan" role="tab">
            <i class="fa fa-diamond"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Pengajuan Potensi'  | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="tab==='data'" data-toggle="tab" [routerLink]="['/pendayagunaan-aset']" fragment="data" role="tab">
            <i class="fa fa-tasks"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Data Pendayagunaan' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit || pengguna.is_validator_pusat">
          <a class="nav-link" [class.active]="tab==='data-perubahan'" data-toggle="tab" [routerLink]="['/pendayagunaan-aset']" fragment="data-perubahan" role="tab">
            <i class="fa fa-tasks"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Pengajuan Pendayagunaan' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input">
          <a class="nav-link" data-toggle="tab" [routerLink]="['add']" role="tab">
            <i class="fa fa-plus-circle"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Tambah' | uppercase}}</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 d-none d-lg-inline-block text-right"><button class="btn btn-default btn-sm" (click)="openModal()"><i class="fa fa-search"></i>&nbsp;Cari</button></div>
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row h-100">
    <div class="tab-content w-100 border-0">
      <div class="tab-pane h-100 p-0 active" id="data3" *ngIf="tab==='data'" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <div class="form-group">
                          <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                          <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                            <option [value]="5">5</option>
                            <option [value]="10">10</option>
                            <option [value]="20">20</option>
                            <option [value]="50">50</option>
                            <option [value]="100">100</option>
                          </select>
                          <label> <strong>{{'Data' | uppercase}}</strong></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-8 col-sm-10 ml-auto text-right"><button class="btn btn-default" (click)="openModal()"><i class="fa fa-search"></i>&nbsp;Cari</button></div> -->
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all text-center">
                      {{'Kategori' | uppercase}}
                      <!-- (click)="sortBy('pihak_terkait') <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='pihak_terkait',
                        'fa-sort-asc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama' | uppercase}}
                      <!-- (click)="sortBy('nama')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama',
                            'fa-sort-asc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{"Business Area" | uppercase}}
                      <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='nama_business_area',
                        'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Jenis Pendayagunaan' | uppercase}}
                      <!-- (click)="sortBy('jenis')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='jenis',
                        'fa-sort-asc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Masa Berlaku' | uppercase}}
                      <!-- (click)="sortBy('jenis')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='pihak_terkait',
                        'fa-sort-asc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nilai Pendayagunaan' | uppercase}} (Rp)
                      <!-- (click)="sortBy('start_date_pendayagunaan')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='start_date_pendayagunaan',
                        'fa-sort-asc': dataSetting.orderBy==='start_date_pendayagunaan' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='start_date_pendayagunaan' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let pendayagunaan of pageData;">
                    <tr (dblClick)="show(pendayagunaan)">
                      <td>{{ (pendayagunaan.pendayagunaanable_type === 'App\\Tanah' ? 'Tanah' : 'Properti') | uppercase }}</td>
                      <td>{{ (pendayagunaan.pendayagunaanable.detail_aktif[0].nama_properti || pendayagunaan.pendayagunaanable.detail_aktif[0].nama_tanah) | uppercase }}</td>
                      <td>
                          {{ pendayagunaan.pendayagunaanable.perpindahan_aktif[0].business_area?.nama_business_area | uppercase}}
                      </td>
                      <td>{{ pendayagunaan.jenis_dayaguna.nama_jenis_dayaguna | uppercase }}</td>
                      <td>{{ pendayagunaan.start_date_pendayagunaan | date : 'dd MMM yyyy' }} - {{ pendayagunaan.end_date_pendayagunaan | date : 'dd MMM yyyy' }}</td>
                      <td>{{ pendayagunaan.nilai_pendayagunaan | number: '1.0-2'}}</td>
                      <!-- <td>
                        {{ pendayagunaan.start_date_pendayagunaan | date: 'dd MMM yyyy' }}
                        <br>sampai dengan<br>
                        {{ pendayagunaan.end_date_pendayagunaan | date: 'dd MMM yyyy' }}
                      </td> -->
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(pendayagunaan)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">Lihat</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="8" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane h-100 p-0 active" id="data4" *ngIf="tab==='data-perubahan'" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <div class="form-group">
                          <label> <strong>Lihat</strong></label>
                          <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                            <option [value]="5">5</option>
                            <option [value]="10">10</option>
                            <option [value]="20">20</option>
                            <option [value]="50">50</option>
                            <option [value]="100">100</option>
                          </select>
                          <label> <strong>Data</strong></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all text-center">
                      {{'Kategori' | uppercase}}
                      <!-- (click)="sortBy('jenis')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='jenis',
                        'fa-sort-asc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama' | uppercase}}
                      <!-- (click)="sortBy('nama')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama',
                            'fa-sort-asc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{"Business Area" | uppercase}}
                      <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='nama_business_area',
                        'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Jenis Pendayagunaan' | uppercase}}
                      <!-- (click)="sortBy('jenis')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='jenis',
                        'fa-sort-asc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Masa Berlaku' | uppercase}}
                      <!-- (click)="sortBy('jenis')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='pihak_terkait',
                        'fa-sort-asc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nilai Pendayagunaan' | uppercase}} (Rp)
                      <!-- (click)="sortBy('nilai_pendayagunaan')" <i class="fa pull-right" [ngClass]="{
                        'fa-sort': dataSetting.orderBy!=='nilai_pendayagunaan',
                        'fa-sort-asc': dataSetting.orderBy==='nilai_pendayagunaan' && dataSetting.orderDirection === 'asc',
                        'fa-sort-desc': dataSetting.orderBy==='nilai_pendayagunaan' && dataSetting.orderDirection === 'desc'
                        }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let pendayagunaan of pageData;">
                    <tr (dblClick)="show(pendayagunaan)">
                      <td>{{ (pendayagunaan.pendayagunaanable_type === 'App\\Tanah' ? 'Tanah' : 'Properti') | uppercase }}</td>
                      <td>{{ (pendayagunaan.pendayagunaanable.detail_aktif[0].nama_properti || pendayagunaan.pendayagunaanable.detail_aktif[0].nama_tanah) | uppercase }}</td>
                      <td>
                          {{ pendayagunaan.pendayagunaanable.perpindahan_aktif[0].business_area?.nama_business_area | uppercase}}
                      </td>
                      <td>{{ pendayagunaan.jenis_dayaguna.nama_jenis_dayaguna | uppercase }}</td>
                      <td>{{ pendayagunaan.start_date_pendayagunaan | date : 'dd MMM yyyy' }} - {{ pendayagunaan.end_date_pendayagunaan | date : 'dd MMM yyyy' }}</td>
                      <td>{{ pendayagunaan.nilai_pendayagunaan | number: '1.0-2'}}</td>
                      <!-- <td>
                        {{ pendayagunaan.start_date_pendayagunaan | date: 'dd MMM yyyy' }}
                        <br>sampai dengan<br>
                        {{ pendayagunaan.end_date_pendayagunaan | date: 'dd MMM yyyy' }}
                      </td> -->
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(pendayagunaan)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">Lihat</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="8" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateFilter>
    <div class="modal-header">
      <h5 class="modal-title">Cari</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-12 col-md-6">
            <label><strong>Nama Aset</strong></label>
            <input class="form-control" type="text" [(ngModel)]="dataSetting.nama" placeholder="Nama Aset">
          </div>
          <div class="col-12 col-md-6">
            <label> <strong>Jenis Aset</strong></label>
            <select class="form-control" [(ngModel)]="dataSetting.type" name="type">
              <option value="all">Semua Aset</option>
              <option value="Properti">Aset Properti</option>
              <option value="Tanah">Aset Tanah</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12 col-md-6">
            <label> <strong>Company Code</strong></label>
            <select class="form-control" [(ngModel)]="companyCode" name="companyCode" (change)="showBusinessArea()">
              <option value="all">Semua Company Code</option>
              <option *ngFor="let cc of companyCodes" [ngValue]="cc">{{ cc.nama }}</option>
            </select>
          </div>
          <div class="col-12 col-md-6">
            <label> <strong>Business Area</strong></label>
            <select class="form-control" [disabled]="!companyCode" [(ngModel)]="idBusinessArea" (change)="checkBusinessArea()" name="idBusinessArea">
              <option value="all">Semua Business Area</option>
              <option *ngFor="let ba of companyCode?.business_area" [value]="ba.id_business_area">{{ ba.nama_business_area }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12 col-md-6">
            <label> <strong>Provinsi</strong></label>
            <select class="form-control" [(ngModel)]="provinsi" name="provinsi" (change)="showKabupaten()">
              <option value="all">Semua Provinsi</option>
              <option *ngFor="let p of provinsis" [ngValue]="p">{{ p.nama }}</option>
            </select>
          </div>
          <div class="col-12 col-md-6">
            <label> <strong>Kabupaten</strong></label>
            <select class="form-control" [disabled]="!provinsi" [(ngModel)]="idKabupaten" (change)="checkKabupaten()" name="idKabupaten">
              <option value="all">Semua Kabupaten</option>
              <option *ngFor="let k of provinsi?.kabupatens" [value]="k.id_kabupaten">{{ k.nama }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12 col-md-6">
            <label> <strong>Jenis Pendayagunaan</strong></label>
            <select class="select2 form-control" [(ngModel)]="dataSetting.idJenisPendayagunaan" nama="idJenisPendayagunaan">
              <option value="all">Semua Pendayagunaan</option>
              <option *ngFor="let jenis of jenisPendayagunaans" [value]="jenis.id_jenis_dayaguna">{{ jenis.nama_jenis_dayaguna }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-primary btn-sm" type="button" (click)="search()" data-dismiss="modal"> <i class="fa fa-search"></i>&nbsp;Cari</button>
    </div>
  </ng-template>
