<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Data Wilayah' | uppercase}}</p>
    <small>{{'Pengelolaan data wilayah dalam SIMAPRO' | uppercase}}</small>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/master-data/wilayah/provinsi">
            <i class="fa fa-map"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Provinsi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/master-data/wilayah/kabupaten">
            <i class="fa fa-map-signs"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Kabupaten / Kota' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/master-data/wilayah/lokasi">
            <i class="fa fa-flag"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Lokasi' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['add']">
            <i class="fa fa-plus-circle"></i>&nbsp;
            <span class="d-none d-md-inline">{{'Tambah' | uppercase}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <ul class="nav nav-pills flex-column bg-white border border-primary d-md-none s-tab" role="tablist" aria-orientation="vertical">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#content-data" role="tab">
          <i class="fa fa-pencil"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#content-map" role="tab">
          <i class="fa fa-map"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
      <div class="tab-content">
        <div class="tab-pane active" id="tab1" role="tabpanel">
          <div class="col-12 mb-2">
            <div class="row">
              <div class="col-4">
                <div class="data-per-page">
                  <select [(ngModel)]="dataSetting.dataPerPage" class="form-control" #dataPerPage name="dataPerPage" (change)="changeLimit(dataPerPage.value)">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                  </select>
                </div>
              </div>
              <div class="col-8 col-sm-4 col-lg-3 ml-auto">
                <div class="form-group">
                  <div class="input-group">
                    <input type='text' class="form-control" placeholder='Cari Data' [(ngModel)]="dataSetting.query" (change)="search()"
                      (blur)="search()" />
                    <span class="input-group-append">
                      <button class="btn" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-2">
            <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="all" (click)="sortBy('id_provinsi')" class="text-center">
                    {{'Kode Provinsi' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                          'fa-sort': dataSetting.orderBy!=='id_provinsi',
                          'fa-sort-asc': dataSetting.orderBy==='id_provinsi' && dataSetting.orderDirection === 'asc',
                          'fa-sort-desc': dataSetting.orderBy==='id_provinsi' && dataSetting.orderDirection === 'desc'
                          }"></i>
                  </th>
                  <th class="all" (click)="sortBy('nama')" class="text-center">
                    {{'Nama' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama',
                            'fa-sort-asc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'desc'
                            }"></i>
                  </th>
                  <th class="all" (click)="sortBy('nama_pulau')" class="text-center">
                    {{'Kelompok Pulau' | uppercase}}
                    <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama_pulau',
                            'fa-sort-asc': dataSetting.orderBy==='nama_pulau' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama_pulau' && dataSetting.orderDirection === 'desc'
                            }"></i>
                  </th>
                  <th class="text-center">{{'Aksi' | uppercase}}</th>
                </tr>
              </thead>
              <tbody *ngIf="pageData.length > 0; else noData">
                <tr *ngFor="let provinsi of pageData;">
                  <td>{{ provinsi.kode_provinsi | uppercase }}</td>
                  <td>{{ provinsi.nama | uppercase }}</td>
                  <td>{{ provinsi.pulau.nama | uppercase }}</td>
                  <td class="text-center">
                    <div class="btn-group btn-group-sm">
                      <a class="btn btn-primary" href="#" (click)="show(provinsi)">
                        <i class="fa fa-eye"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Lihat' | uppercase}}</span>
                      </a>
                      <a *ngIf="provinsi.is_active" class="btn btn-warning" href="#" (click)="delete(provinsi)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Nonaktifkan' | uppercase}}</span>
                      </a>
                      <a *ngIf="!provinsi.is_active" class="btn btn-success" href="#" (click)="undelete(provinsi)">
                        <i class="fa fa-power-off"></i>
                        <span class="d-none d-md-inline-block">&nbsp;{{'Aktifkan' | uppercase}}</span>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="6" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                </tr>
              </ng-template>
            </table>
          </div>
          <div class="col-12">
            <div class="pagination m-0">
              <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left"></app-pagination-summary>
              <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>