<div class="modal-header">
  <h5 class="modal-title">{{'Cari' | uppercase}}</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-6 p-0"> <!-- [class.col-md-6]="isPendayagunaan || isAsetProperti || isAsetTanah"> -->
        <div class="form-group">
          <div class="col-12">
            <label>
              <strong>{{'Nama' | uppercase}}</strong>
            </label>
            <input class="form-control" type="text" [(ngModel)]="dataSetting.nama" placeholder="Nama">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0" *ngIf="isPendayagunaan">
        <div class="form-group">
          <div class="col-12">
            <label>
              <strong>{{'Jenis Pendayagunaan' | uppercase}}</strong>
            </label>
            <select class="form-control" [(ngModel)]="dataSetting.idJenisPendayagunaan">
              <option value="0">{{ 'Semua' | uppercase}}</option>
              <option *ngFor="let jenisPendayagunaan of jenisPendayagunaans" [value]="jenisPendayagunaan.idJenisPendayagunaan">{{jenisPendayagunaan.nama_jenis_dayaguna | uppercase}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0" *ngIf="isAsetTanah || isAsetProperti">
        <div class="form-group">
          <div class="col-12">
            <label>
              <strong>{{'Luas' | uppercase}}</strong>
            </label>
            <div class="input-group">
              <input-number type="number" class="form-control" placeholder="Min" [(ngModel)]="dataSetting.start_range_luas"></input-number>
              <div class="input-group-addon">M<sup>2</sup></div>
              <div class="input-group-addon">
                -
              </div>
              <input-number type="number" class="form-control" placeholder="Max" [(ngModel)]="dataSetting.end_range_luas"></input-number>
              <div class="input-group-addon">M<sup>2</sup></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="isAsetTanah">
    <div class="row">
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <label>
              <strong>{{'Sertifikat' | uppercase}}</strong>
            </label>
          </div>
          <div class="col-12">
            <select class="form-control" [(ngModel)]="dataSetting.progress_sertifikat">
              <option value="all">{{ 'Semua' | uppercase}}</option>
              <option value="selesai">{{'Memiliki Sertifikat' | uppercase}}</option>
              <option value="belum-tersertifikasi">{{'Belum Tersertifikasi' | uppercase}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <label>
              <strong>{{'No. Sertifikat' | uppercase}}</strong>
            </label>
          </div>
          <div class="col-12">
            <input type="text" [disabled]="dataSetting.progress_sertifikat!='selesai'" class="form-control" [(ngModel)]="dataSetting.nomor_sertifikat">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-md-6 p-0">
        <div class="form-group" *ngIf="isAsetProperti">
          <div class="col-12">
            <label>
              <strong>{{'No. IMB' | uppercase}}</strong>
            </label>
          </div>
          <div class="col-12">
            <input type="text" class="form-control" [(ngModel)]="dataSetting.no_imb">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="isAnggaran || isRealisasi">
    <div class="row">
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'No. Anggaran' | uppercase}}</strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-12">
            <input class="form-control" type="text" [(ngModel)]="dataSetting.no_anggaran" placeholder="No. Anggaran">
          </div>
        </div>
      </div>
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'Tahun Anggaran' | uppercase}}</strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-12">
            <input class="form-control" type="number" [(ngModel)]="dataSetting.tahun_anggaran" placeholder="Tahun Anggaran">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <h5 class="text-muted">{{'Organisasi' | uppercase}}</h5>
    <hr>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'Company Code' | uppercase}}</strong>
                </label>
              </div>
              <!-- <div class="col-4 text-right">
                <button class="btn btn-sm btn-danger" (click)="removedCC()">
                  <i class="fa fa-trash"></i>
                </button>
              </div> -->
            </div>
          </div>
          <div class="col-12">
            <ng-select #selectCC [allowClear]="true" [items]="itemsCC" [disabled]="!itemsCC" [multiple]="false" (data)="refreshValueCC($event)"
              (selected)="selectedCC($event)" (removed)="removedCC($event)" placeholder="Semua Company Code">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-6 p-0" *ngIf="!(isAnggaran || isRealisasi)">
        <div class="form-group">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'Business Area' | uppercase}}</strong>
                </label>
              </div>
              <!-- <div class="col-4 text-right">
                <button class="btn btn-sm btn-danger" (click)="removedBA()">
                  <i class="fa fa-trash"></i>
                </button>
              </div> -->
            </div>
          </div>
          <div class="col-12">
            <ng-select #selectBA [allowClear]="true" [items]="itemsBA" [disabled]="!itemsBA.length" [multiple]="false" (data)="refreshValueBA($event)"
              (selected)="selectedBA($event)" (removed)="removedBA($event)" placeholder="Semua Business Area">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-12" *ngIf="isAnggaran || isRealisasi">
    <div class="row">
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'No. Anggaran' | uppercase}}</strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-12">
            <input class="form-control" type="text" [(ngModel)]="dataSetting.no_anggaran" placeholder="No. Anggaran">
          </div>
        </div>
      </div>
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'Tahun Anggaran' | uppercase}}</strong>
                </label>
              </div>
            </div>
          </div>
          <div class="col-12">
            <input class="form-control" type="number" [(ngModel)]="dataSetting.tahun_anggaran" placeholder="Tahun Anggaran">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-12 mt-2" *ngIf="!(isAnggaran || isRealisasi)">
    <h5 class="text-muted">{{'Wilayah' | uppercase}}</h5>
    <hr>
  </div>
  <div class="col-12" *ngIf="!(isAnggaran || isRealisasi)">
    <div class="row">
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'Provinsi' | uppercase}}</strong>
                </label>
              </div>
              <!-- <div class="col-4 text-right">
                <button class="btn btn-sm btn-danger" (click)="removedP()">
                  <i class="fa fa-trash"></i>
                </button>
              </div> -->
            </div>
          </div>
          <div class="col-12">
            <ng-select #selectProvinsi [allowClear]="true" [items]="itemsP" [multiple]="false" (data)="refreshValueP($event)" (selected)="selectedP($event)"
              (removed)="removedP($event)" placeholder="Semua Provinsi">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-6 p-0">
        <div class="form-group">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'Kabupaten/Kota' | uppercase}}</strong>
                </label>
              </div>
              <!-- <div class="col-4 text-right">
                <button class="btn btn-sm btn-danger" (click)="removedK()">
                  <i class="fa fa-trash"></i>
                </button>
              </div> -->
            </div>
          </div>
          <div class="col-12">
            <ng-select #selectKabupaten [allowClear]="true" [items]="itemsK" [disabled]="!itemsK.length" [multiple]="false" (data)="refreshValueK($event)"
              (selected)="selectedK($event)" (removed)="removedK($event)" placeholder="Semua Kabupaten">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-md-6 p-0">
        <div class="form-group" *ngIf="!isAnggaran && !isRealisasi">
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <label>
                  <strong>{{'Lokasi (Kecamatan)' | uppercase}}</strong>
                </label>
              </div>
              <!-- <div class="col-4 text-right">
                <button class="btn btn-sm btn-danger" (click)="removedL()">
                  <i class="fa fa-trash"></i>
                </button>
              </div> -->
            </div>
          </div>
          <div class="col-12">
            <ng-select #selectLokasi [allowClear]="true" [items]="itemsL" [disabled]="!itemsL.length" [multiple]="false" (data)="refreshValueL($event)"
              (selected)="selectedL($event)" (removed)="removedL($event)" placeholder="Semua Lokasi">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer text-right">
  <button class="btn btn-primary btn-sm" type="button" (click)="search()" data-dismiss="modal">
    <i class="fa fa-search"></i>&nbsp;{{'Cari' | uppercase}}</button>
</div>