<div class="s-info bg-white">
  <div class="s-heading">
    <p>{{'Aset Tanah' | uppercase}}</p>
    <small>{{'Aset tanah yang ada dalam sistem' | uppercase}}</small>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/' + root]" queryParamsHandling fragment="map" [ngClass]="{'active': tab==='map'}">
            <i class="fa fa-map"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Peta Aset' | uppercase}} </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/' + root]" queryParamsHandling fragment="data" [ngClass]="{'active': tab==='data'}">
            <i class="fa fa-bars"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Data Aset' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit || pengguna.is_validator_pusat">
          <a class="nav-link" [routerLink]="['/' + root]" queryParamsHandling fragment="data-perubahan" [ngClass]="{'active': tab==='data-perubahan'}">
            <i class="fa fa-bars"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Pengajuan Aset' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input || pengguna.is_validator_unit || pengguna.is_validator_pusat">
          <a class="nav-link" [routerLink]="['/' + root]" queryParamsHandling fragment="data-penerimaan" [ngClass]="{'active': tab==='data-penerimaan'}">
            <i class="fa fa-bars"></i>&nbsp;
            <div class="d-none d-md-inline">{{'Penerimaan Aset' | uppercase}}</div>
          </a>
        </li>
        <li class="nav-item" *ngIf="pengguna.is_user_input">
          <a class="nav-link" [routerLink]="['add']">
            <i class="fa fa-plus-circle"></i>&nbsp;
            <span class="d-none d-md-inline">{{'Tambah Aset' | uppercase}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 ml-auto text-right"><button class="btn btn-default btn-sm" (click)="openModal()"><i class="fa fa-search"></i>&nbsp;{{'Cari' | uppercase}}</button></div>
  </div>
</div>
<div class="animated fadeIn s-main container-fluid fixed-top w-100">
  <div class="row h-100">
    <div class="tab-content w-100 border-0">
      <div class="tab-pane h-100 p-0" id="peta" role="tabpanel" [ngClass]="{'active': tab==='map'}">
        <map-legend [showTanah]="true" [zoom]="zoom"></map-legend>
        <yaga-map [(lat)]="lat" [(lng)]="lng" [(zoom)]="zoom" (moveend)="_getMapData()" #map id="map">
          <yaga-zoom-control></yaga-zoom-control>
          <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
          <yaga-attribution-control></yaga-attribution-control>
          <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'" #tileLayer></yaga-tile-layer>

          <ng-container *ngFor="let tanah of markersTanah">
            <ng-container *ngIf="tanah.koordinat; else areaTemplate">
              <yaga-marker [lat]="tanah.koordinat.coordinates[0]" [lng]="tanah.koordinat.coordinates[1]">
                <ng-container *ngIf="tanah.clustered > 1; else pointTemplate">
                  <yaga-icon
                    [iconAnchor]="marker.asetTanah.pointClustered.iconAnchor"
                    [iconSize]="marker.asetTanah.pointClustered.iconSize"
                    [popupAnchor]="marker.asetTanah.pointClustered.popupAnchor"
                    [iconUrl]="marker.asetTanah.pointClustered.iconUrl">
                  </yaga-icon>
                  <yaga-popup>
                    <h5><strong>{{ tanah.cluster_name }}</strong></h5>
                    <p>
                      {{ tanah.clustered ? tanah.clustered + ' Aset Tanah' : '' }}
                    </p>
                  </yaga-popup>
                </ng-container>
                <ng-template #pointTemplate>
                  <yaga-icon
                    [iconAnchor]="marker.asetTanah.point.iconAnchor"
                    [iconSize]="marker.asetTanah.point.iconSize"
                    [popupAnchor]="marker.asetTanah.point.popupAnchor"
                    [iconUrl]="marker.asetTanah.point.iconUrl">
                  </yaga-icon>
                  <yaga-popup>
                    <h5 class="title"><strong>{{ tanah.nama_tanah }}</strong></h5>
                    <div class="foto-aset img-container">
                      <span class="helper"></span>
                      <img alt="foto-aset" [src]="tanah.foto ? fotoDir+tanah.foto : 'assets/img/no-image.jpg'">
                    </div>
                    <div class="data">
                      <div class="clearfix">
                        <span class="group-title">Organisasi :</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Company Code</span>
                        <span class="pull-right data-value">{{ tanah.company_code | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Business Area</span>
                        <span class="pull-right data-value">{{ tanah.business_area | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="group-title">Wilayah : </span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Provinsi</span>
                        <span class="pull-right data-value">{{ tanah.provinsi | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Kabupaten</span>
                        <span class="pull-right data-value">{{ tanah.kabupaten | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Lokasi</span>
                        <span class="pull-right data-value">{{ tanah.lokasi | lowercase }}</span>
                      </div>
                      <div class="clearfix">
                        <span class="pull-left data-key">Alamat</span>
                        <span class="pull-right data-value">{{ tanah.alamat_tanah }}</span>
                      </div>
                    </div>
                    <div class="extra-buttons text-right">
                      <a [routerLink]="[showFromMap(tanah.id_tanah, tanah.nama_tanah)]" class="btn btn-sm btn-round btn-primary"><i class="fa fa-eye"></i> Lihat</a>
                    </div>
                  </yaga-popup>
                </ng-template>
              </yaga-marker>
            </ng-container>
            <ng-template #areaTemplate>
              <yaga-polygon
                [(latLngs)]="tanah.area.coordinates"
                [color]="marker.asetTanah.polygon.color"
                [weight]="marker.asetTanah.polygon.weight">
                <yaga-popup>
                  <h5 class="title"><strong>{{ tanah.nama_tanah }}</strong></h5>
                  <div class="foto-aset img-container">
                    <span class="helper"></span>
                    <img alt="foto-aset" [src]="tanah.foto ? fotoDir+tanah.foto : 'assets/img/no-image.jpg'">
                  </div>
                  <div class="data">
                    <div class="clearfix">
                      <span class="group-title">Organisasi :</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Company Code</span>
                      <span class="pull-right data-value">{{ tanah.company_code | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Business Area</span>
                      <span class="pull-right data-value">{{ tanah.business_area | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="group-title">Wilayah : </span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Provinsi</span>
                      <span class="pull-right data-value">{{ tanah.provinsi | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Kabupaten</span>
                      <span class="pull-right data-value">{{ tanah.kabupaten | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Lokasi</span>
                      <span class="pull-right data-value">{{ tanah.lokasi | lowercase }}</span>
                    </div>
                    <div class="clearfix">
                      <span class="pull-left data-key">Alamat</span>
                      <span class="pull-right data-value">{{ tanah.alamat_tanah }}</span>
                    </div>
                  </div>
                  <div class="extra-buttons text-right">
                    <a [routerLink]="[showFromMap(tanah.id_tanah, tanah.nama_tanah)]" class="btn btn-sm btn-round btn-primary"><i class="fa fa-eye"></i> Lihat</a>
                  </div>
                </yaga-popup>
              </yaga-polygon>
            </ng-template>
          </ng-container>
        </yaga-map>
      </div>
      
      <div class="tab-pane h-100 p-0 active" *ngIf="tab==='data'" id="data" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                      <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                        <option [value]="5">5</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                      </select>
                      <label> <strong>{{'Data' | uppercase}}</strong></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all text-center">
                      {{'kode' | uppercase}}
                      <!-- (click)="sortBy('kode_tanah')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='kode_tanah',
                            'fa-sort-asc': dataSetting.orderBy==='kode_tanah' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='kode_tanah' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama Aset Tanah' | uppercase}}
                      <!-- (click)="sortBy('nama_tanah')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama_tanah',
                            'fa-sort-asc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Business Area' | uppercase}}
                      <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama_business_area',
                            'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Tahun Perolehan' | uppercase}}
                      <!-- (click)="sortBy('tahun_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='tahun_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Sumber Perolehan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Kepemilikan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Status' | uppercase}}
                    </th>
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let tanah of pageData;">
                    <tr (dblClick)="show(tanah)">
                      <td class="text-nowrap">{{ tanah.perpindahan?.kode_tanah }}</td>
                      <td>{{ tanah.detail.nama_tanah | uppercase  }}</td>
                      <td>{{ tanah.perpindahan.business_area?.nama_business_area | uppercase  }}</td>
                      <td>{{ tanah.tahun_perolehan }}</td>
                      <td>{{ tanah.sumber_perolehan.sumber_perolehan | uppercase }}</td>
                      <td>{{ tanah.dokumen?.ijin.nama_ijin | uppercase  }}</td>
                      <td>
                        <ng-container *ngIf="tanah.detail.is_active; else inactive">
                          <span class="badge badge-success">
                            {{ 'Aktif' | uppercase }}
                          </span>
                        </ng-container>
                        <ng-template #inactive>
                          <span class="badge badge-danger">
                            {{ 'Nonaktif' | uppercase }}
                          </span>
                        </ng-template>
                      </td>
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(tanah)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="9"class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane h-100 p-0 active" *ngIf="tab==='data-perubahan'" id="data" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                      <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                        <option [value]="5">5</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                      </select>
                      <label> <strong>{{'Data' | uppercase}}</strong></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>        
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all text-center">
                      {{'kode' | uppercase}}
                      <!-- (click)="sortBy('kode_tanah')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='kode_tanah',
                            'fa-sort-asc': dataSetting.orderBy==='kode_tanah' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='kode_tanah' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama Aset Tanah' | uppercase}}
                      <!-- (click)="sortBy('nama_tanah')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama_tanah',
                            'fa-sort-asc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <!-- <th class="all" (click)="sortBy('alamat')" class="text-center">
                      {{'Alamat' | uppercase}}
                      <!-- <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='alamat',
                            'fa-sort-asc': dataSetting.orderBy==='alamat' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='alamat' && dataSetting.orderDirection === 'desc'
                            }"></i> --!>
                    </th> -->
                    <th class="all text-center">
                      {{'Business Area' | uppercase}}
                      <!-- (click)="sortBy('nama_business_area')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama_business_area',
                            'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Tahun Perolehan' | uppercase}}
                      <!-- (click)="sortBy('tahun_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='tahun_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Sumber Perolehan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Kepemilikan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let tanah of pageData;">
                      <tr (dblClick)="show(tanah)">
                        <td class="text-nowrap">
                          <ng-container *ngIf="tanah.perpindahan_perubahan; else perpindahanKodeDataValid">
                            <strong>{{ tanah.perpindahan_perubahan.kode_tanah || '-' }}</strong>
                          </ng-container>
                          <ng-template #perpindahanKodeDataValid>{{ tanah.perpindahan.kode_tanah }}</ng-template>
                        </td>
                        <td>
                          <ng-container *ngIf="tanah.detail_perubahan; else detailNamaDataValid">
                            <strong>{{ tanah.detail_perubahan.nama_tanah | uppercase }}</strong>
                          </ng-container>
                          <ng-template #detailNamaDataValid>{{ tanah.detail.nama_tanah | uppercase }}</ng-template>
                        </td>
                        <td>
                          <ng-container *ngIf="tanah.perpindahan_perubahan; else perpindahanBADataValid">
                            <strong>{{ tanah.perpindahan_perubahan.business_area?.nama_business_area | uppercase }}</strong>
                          </ng-container>
                          <ng-template #perpindahanBADataValid>{{ tanah.perpindahan.business_area?.nama_business_area | uppercase }}</ng-template>
                        </td>
                        <td>{{ tanah.tahun_perolehan }}</td>
                        <td>{{ tanah.sumber_perolehan.sumber_perolehan | uppercase }}</td>
                        <td>
                          <ng-container *ngIf="tanah.dokumen_perubahan; else dokumenIjinDataValid">
                            <strong>{{ tanah.dokumen_perubahan.ijin?.nama_ijin | uppercase }}</strong>
                          </ng-container>
                          <ng-template #dokumenIjinDataValid>{{ tanah.dokumen?.ijin.nama_ijin | uppercase }}</ng-template>
                        </td>
                        <td class="text-center">
                          <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" href="#"
                            *ngIf="tanah.is_use || tanah.detail || !(tanah.detail_perubahan.action_button.type === 'validasi' && tanah.detail_perubahan.action_button.button); else validasiNew"
                            (click)="show(tanah)">
                              <i class="fa fa-eye"></i>
                              <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                            </a>
                          </div>
                          <ng-template #validasiNew>
                            <a class="btn btn-primary" href="#" (click)="validasiPengajuan(tanah)">
                              <i class="fa fa-eye"></i>
                              <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                            </a>
                          </ng-template>
                        </td>
                      </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="9"class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane h-100 p-0 active" *ngIf="tab==='data-penerimaan'" id="data" role="tabpanel">
        <div class="col-12 s-tab-fixed-notab bg-light h-100 p-3">
          <div class="tab-content bg-white py-3">
            <div class="col-12 mb-2">
              <div class="row">
                <div class="col-4 col-sm-2">
                  <div class="form-inline">
                    <div class="form-row align-items-center">
                      <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                      <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                        <option [value]="5">5</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                        <option [value]="100">100</option>
                      </select>
                      <label> <strong>{{'Data' | uppercase}}</strong></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>        
            <div class="col-12 mb-2">
              <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="all" class="text-center nowrap">
                      {{'kode' | uppercase}}
                      <!-- (click)="sortBy('kode_tanah')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='kode_tanah',
                            'fa-sort-asc': dataSetting.orderBy==='kode_tanah' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='kode_tanah' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Nama Aset Tanah' | uppercase}}
                      <!-- (click)="sortBy('nama_tanah')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama_tanah',
                            'fa-sort-asc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama_tanah' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Asal' | uppercase}}
                      <!-- (click)="sortBy('nama_company_code')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='nama_company_code',
                            'fa-sort-asc': dataSetting.orderBy==='nama_company_code' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='nama_company_code' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Tahun Perolehan' | uppercase}}
                      <!-- (click)="sortBy('tahun_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='tahun_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='tahun_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Sumber Perolehan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Kepemilikan' | uppercase}}
                      <!-- (click)="sortBy('sumber_perolehan')" <i class="fa pull-right" [ngClass]="{
                            'fa-sort': dataSetting.orderBy!=='sumber_perolehan',
                            'fa-sort-asc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'asc',
                            'fa-sort-desc': dataSetting.orderBy==='sumber_perolehan' && dataSetting.orderDirection === 'desc'
                            }"></i> -->
                    </th>
                    <th class="all text-center">
                      {{'Aksi' | uppercase}}
                    </th>
                </thead>
                <tbody *ngIf="pageData.length > 0; else noData">
                  <ng-container *ngFor="let tanah of pageData;">
                    <tr (dblClick)="show(tanah)">
                      <td class="text-nowrap">{{ tanah.perpindahan?.kode_tanah }}</td>
                      <td>{{ tanah.detail.nama_tanah | uppercase  }}</td>
                      <td>{{ tanah.perpindahan.company_code?.nama | uppercase }}</td>
                      <td>{{ tanah.tahun_perolehan }}</td>
                      <td>{{ tanah.sumber_perolehan.sumber_perolehan | uppercase }}</td>
                      <td>{{ tanah.dokumen?.ijin.nama_ijin | uppercase  }}</td>
                      <td class="text-center">
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="show(tanah)">
                            <i class="fa fa-eye"></i>
                            <span class="d-none d-md-inline-block">{{'Lihat' | uppercase}}</span>
                          </a>
                        </div>
                        <div class="btn-group btn-group-sm">
                          <a class="btn btn-primary" href="#" (click)="mutasiPenerimaan(tanah)">
                            <i class="fa fa-random"></i>
                            <span class="d-none d-md-inline-block">{{'Tentukan Business Area' | uppercase}}</span>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #noData>
                  <tr>
                    <td colspan="9"class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                  </tr>
                </ng-template>
              </table>
            </div>
            <div class="col-12 mb-2">
              <div class="pagination m-0">
                <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
