<div class="s-info bg-white">
    <div class="s-heading">
      <p>{{ 'Laporan Pendapatan' | uppercase }}</p>
      <small>{{ 'Data Pendayagunaan Aset' | uppercase}} </small>
    </div>
  </div>
  <div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
    <div class="row tab-content border-0 h-100">
      <div class="col-12 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
        <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
          <tabset #tabsetX class="col-12">
            <tab id="tab1" (select)="chooseTab('pendayagunaan')">
              <ng-template tabHeading>
                <i class="fa fa-info-circle"></i>
                <span class="d-none d-md-inline-block"> {{'Pendayagunaan' | uppercase}}</span>
              </ng-template>
              <div class="tab-pane" id="detail" role="tabpanel">
                <div class="row">
                  <div class="col-12 py-2 mt-0 mb-3 bg-light">
                    <div class="row">
                      <div class="col-12">
                        <h4><i class="fa fa-search"></i> {{'Cari' | uppercase}}</h4>
                        <hr>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Organisasi' | uppercase}}</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Company Code' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectCC 
                              [allowClear]="true"
                              [items]="itemsCC"
                              [disabled]="!itemsCC"
                              [multiple]="false"
                              (data)="refreshValueCC($event)"
                              (selected)="selectedCC($event)"
                              placeholder="Pilih Company Code">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Business Area' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectBA 
                              [allowClear]="true"
                              [items]="itemsBA"
                              [disabled]="!itemsBA.length"
                              [multiple]="false"
                              (data)="refreshValueBA($event)"
                              (selected)="selectedBA($event)"
                              placeholder="Pilih Business Area">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Sumber Pendapatan' | uppercase}}</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Pendayagunaan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <select class="form-control" [(ngModel)]="optPendayagunaan.jenisPendayagunaan">
                              <option value="0">{{ 'Semua' | uppercase}}</option>
                              <option *ngFor="let jenisDayaguna of jenisDayagunas" [value]="jenisDayaguna.id_jenis_dayaguna">{{ jenisDayaguna.nama_jenis_dayaguna | uppercase }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-5">
                        <div class="form-group row">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tanggal Pendayagunaan' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input type="date" class="form-control" [(ngModel)]="optPendayagunaan.startDate">
                              <div class="input-group-addon">
                                <span> <sup>s</sup>/<sub>d</sub></span>
                              </div>
                              <input type="date" class="form-control" [(ngModel)]="optPendayagunaan.endDate">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-right">
                      <button class="btn btn-primary" (click)="filter(optPendayagunaan)">
                        <i class="fa fa-search"></i> Cari
                      </button>
                    </div>
                  </div>
                  <div class="col-12 p-0 mb-2">
                    <div class="col-12">
                      <h4><i class="fa fa-th"></i> {{'Data' | uppercase}}</h4>
                      <hr>
                    </div>
                    <div class="col-12 mb-2">
                      <div class="row">
                        <div class="col-4 col-sm-2">
                          <div class="form-inline">
                            <div class="form-row align-items-center">
                              <label> <strong>{{'Lihat' | uppercase}}</strong></label>
                              <select [(ngModel)]="dataSetting.dataPerPage" class="form-control mx-1" name="dataPerPage" (change)="search()">
                                <option [value]="5">5</option>
                                <option [value]="10">10</option>
                                <option [value]="20">20</option>
                                <option [value]="50">50</option>
                                <option [value]="100">100</option>
                              </select>
                              <label> <strong>{{'Data' | uppercase}}</strong></label>
                            </div>
                          </div>
                        </div>
                        <div class="col-8 col-sm-10 text-right">
                          <button class="btn btn-success" (click)="download()">
                            <i class="fa fa-file-excel-o"></i> Download
                          </button>
                        </div>
                        <!-- <div class="col-8 col-sm-10 ml-auto text-right"><button class="btn btn-default" (click)="openModal()"><i class="fa fa-search"></i>&nbsp;{{'Cari' | uppercase}}</button></div> -->
                      </div>
                    </div>
                    <div class="col-12 mb-2">
                      <table class="display bg-white table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th class="all text-center"> <!-- (click)="sortBy('pihak_terkait')"> -->
                              {{'Kategori' | uppercase}}
                              <!-- <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='pihak_terkait',
                                'fa-sort-asc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                            </th>
                            <th class="all text-center">
                              {{'Nama Aset' | uppercase}}
                              <!-- <i class="fa pull-right" [ngClass]="{
                                    'fa-sort': dataSetting.orderBy!=='nama',
                                    'fa-sort-asc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'asc',
                                    'fa-sort-desc': dataSetting.orderBy==='nama' && dataSetting.orderDirection === 'desc'
                                    }"></i> -->
                            </th>
                            <th class="all text-center">
                              {{'Alamat Aset' | uppercase}}
                              <!-- <i class="fa pull-right" [ngClass]="{
                                    'fa-sort': dataSetting.orderBy!=='alamat',
                                    'fa-sort-asc': dataSetting.orderBy==='alamat' && dataSetting.orderDirection === 'asc',
                                    'fa-sort-desc': dataSetting.orderBy==='alamat' && dataSetting.orderDirection === 'desc'
                                    }"></i> -->
                            </th>
                            <th class="all text-center">
                              {{"Business Area" | uppercase}}
                              <!-- <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='nama_business_area',
                                'fa-sort-asc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='nama_business_area' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                            </th>
                            <th class="all text-center">
                              {{'Jenis Pendayagunaan' | uppercase}}
                              <!-- <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='jenis',
                                'fa-sort-asc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='jenis' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                            </th>
                            <th class="all text-center">
                              {{'No. Kontrak' | uppercase}}
                              <!-- <i class="fa pull-right" [ngClass]="{
                                    'fa-sort': dataSetting.orderBy!=='kontrak',
                                    'fa-sort-asc': dataSetting.orderBy==='kontrak' && dataSetting.orderDirection === 'asc',
                                    'fa-sort-desc': dataSetting.orderBy==='kontrak' && dataSetting.orderDirection === 'desc'
                                    }"></i> -->
                            </th>
                            <th class="all text-center">
                              {{'Masa Berlaku' | uppercase}}
                              <!-- <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='pihak_terkait',
                                'fa-sort-asc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='pihak_terkait' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                            </th>
                            <th class="all text-center">
                              {{'Nilai Pendayagunaan' | uppercase}} (Rp)
                              <!-- <i class="fa pull-right" [ngClass]="{
                                'fa-sort': dataSetting.orderBy!=='start_date_pendayagunaan',
                                'fa-sort-asc': dataSetting.orderBy==='start_date_pendayagunaan' && dataSetting.orderDirection === 'asc',
                                'fa-sort-desc': dataSetting.orderBy==='start_date_pendayagunaan' && dataSetting.orderDirection === 'desc'
                                }"></i> -->
                            </th>
                          </tr>
                        </thead>
                        <tbody *ngIf="pageData.length > 0; else noData">
                          <ng-container *ngFor="let pendayagunaan of pageData;">
                            <tr (dblClick)="show(pendayagunaan)">
                              <td>{{ (pendayagunaan.pendayagunaanable_type === 'App\\Tanah' ? 'Tanah' : 'Properti') | uppercase }}</td>
                              <td>{{ (pendayagunaan.pendayagunaanable.detail_aktif[0].nama_properti || pendayagunaan.pendayagunaanable.detail_aktif[0].nama_tanah) | uppercase }}</td>
                              <td>{{ (pendayagunaan.pendayagunaanable.detail_aktif[0].alamat_properti || pendayagunaan.pendayagunaanable.detail_aktif[0].alamat_tanah) | uppercase }}</td>
                              <td>
                                  {{ pendayagunaan.pendayagunaanable.perpindahan_aktif[0].business_area?.nama_business_area | uppercase}}
                              </td>
                              <td>{{ pendayagunaan.jenis_dayaguna.nama_jenis_dayaguna | uppercase }}</td>
                              <td>{{ pendayagunaan.kontrak }}</td>
                              <td>{{ pendayagunaan.start_date_pendayagunaan | date : 'dd MMM yyyy' }} - {{ pendayagunaan.end_date_pendayagunaan | date : 'dd MMM yyyy' }}</td>
                              <td>{{ pendayagunaan.nilai_pendayagunaan | number: '1.0-2'}}</td>
                            </tr>
                          </ng-container>
                        </tbody>
                        <ng-template #noData>
                          <tr>
                            <td colspan="8" class="text-center">{{ isLoading ? 'Loading...' : 'Data Tidak Tersedia' }}</td>
                          </tr>
                        </ng-template>
                      </table>
                    </div>
                    <div class="col-12 mb-2">
                      <div class="pagination m-0">
                        <app-pagination-summary [config]="tableConfig" class="col-sm-12 col-md-6 pull-left pb-4"></app-pagination-summary>
                        <div app-pagination [config]="tableConfig" (click)="setPage(pagination.config.current)" #pagination class="col-sm-12 col-md-6 pull-right"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>