<aside class="aside-menu">
  <!-- <tabset>
    <tab>
      <ng-template tabHeading><i class="icon-bell"></i></ng-template> -->
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Pemberitahuan</b></small>
        <!-- <a href="#" class="pull-right small">Semua</a> -->
      </div>
      
      <div class="p-3" style="height:85vh; overflow: auto">
        <ng-container *ngIf="notifications.length">
          <ng-container *ngFor="let notification of notifications">
            <div class="message" [class.message-info]="!notification.read_at" (click)="_showRelated(notification)">
              <div class="py-3 mr-3 float-left">
                <div class="avatar">
                  <img [src]="notification.foto_pengirim ? fotoUrl+notification.foto_pengirim : 'assets/img/anonymous.png'" class="img-avatar" *ngIf="!notification.pengirim.foto">
                  <img [src]="fotoUrl + notification.pengirim.foto" class="img-avatar" alt="foto" *ngIf="notification.pengirim.foto">
                  <!-- <span class="avatar-status badge-primary" *ngIf="!notification.read_at"></span> -->
                </div>
              </div>
              <div>
                <small class="text-muted">{{ notification.pengirim }}</small>
                <small class="text-muted float-right mt-1">{{ notification.date_diff }}</small>
                <div class="text-truncate font-weight-bold">{{notification.category}}</div>
                <small class="text-muted">{{ notification.keterangan }}</small>
                <!-- <small class="text-muted">{{ notification.pengirim.nama }}</small>
                <small class="text-muted float-right mt-1">{{ notification.created_at | timeAgo }}</small>
                <div class="text-truncate font-weight-bold">Pemberitahuan Revisi</div>
                <small class="text-muted">{{ notification.keterangan }}</small> -->
              </div>
            </div>
            <hr>
          </ng-container>
          <button class="btn btn-default btn-lg btn-block" *ngIf="total > notifications.length" (click)="loadMoreNotifications()">Load More</button>
        </ng-container>
      </div>
    <!-- </tab> -->
    <!-- <tab>
      <ng-template tabHeading><i class="icon-notebook"></i></ng-template>
      <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
        <small><b>Log Aktifitas</b></small>
      </div>
      <div class="p-3">
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
              <span class="avatar-status badge-success"></span>
            </div>
          </div>
          <div>
            <small class="text-muted">Validator Pusat</small>
            <small class="text-muted float-right mt-1">22/01/2018</small>
          </div>
          <div class="text-truncate font-weight-bold">Pemberitahuan Revisi</div>
          <small class="text-muted">Keterangan aset perlu dijelaskan lebih detail lagi</small>
        </div>
        <hr>
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
              <span class="avatar-status badge-success"></span>
            </div>
          </div>
          <div>
            <small class="text-muted">Validator Pusat</small>
            <small class="text-muted float-right mt-1">22/01/2018</small>
          </div>
          <div class="text-truncate font-weight-bold">Pemberitahuan Revisi</div>
          <small class="text-muted">Keterangan aset perlu dijelaskan lebih detail lagi</small>
        </div>
        <hr>
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
              <span class="avatar-status badge-success"></span>
            </div>
          </div>
          <div>
            <small class="text-muted">Validator Pusat</small>
            <small class="text-muted float-right mt-1">22/01/2018</small>
          </div>
          <div class="text-truncate font-weight-bold">Pemberitahuan Revisi</div>
          <small class="text-muted">Keterangan aset perlu dijelaskan lebih detail lagi</small>
        </div>
        <hr>
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
              <span class="avatar-status badge-success"></span>
            </div>
          </div>
          <div>
            <small class="text-muted">Validator Pusat</small>
            <small class="text-muted float-right mt-1">22/01/2018</small>
          </div>
          <div class="text-truncate font-weight-bold">Pemberitahuan Revisi</div>
          <small class="text-muted">Keterangan aset perlu dijelaskan lebih detail lagi</small>
        </div>
        <hr>
        <div class="message">
          <div class="py-3 pb-5 mr-3 float-left">
            <div class="avatar">
              <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
              <span class="avatar-status badge-success"></span>
            </div>
          </div>
          <div>
            <small class="text-muted">Validator Pusat</small>
            <small class="text-muted float-right mt-1">22/01/2018</small>
          </div>
          <div class="text-truncate font-weight-bold">Pemberitahuan Revisi</div>
          <small class="text-muted">Keterangan aset perlu dijelaskan lebih detail lagi</small>
        </div>
      </div>
    </tab> -->
    <!-- <tab>
      <ng-template tabHeading><i class="icon-settings"></i></ng-template>
      <div class="p-3">
        <h6>Settings</h6>

        <div class="aside-options">
          <div class="clearfix mt-4">
            <small><b>Option 1</b></small>
            <label class="switch switch-text switch-pill switch-success switch-sm float-right">
              <input type="checkbox" class="switch-input" checked>
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
          <div>
            <small class="text-muted">Pemberitahuan Revisi, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
          </div>
        </div>

        <div class="aside-options">
          <div class="clearfix mt-3">
            <small><b>Option 2</b></small>
            <label class="switch switch-text switch-pill switch-success switch-sm float-right">
              <input type="checkbox" class="switch-input">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
          <div>
            <small class="text-muted">Pemberitahuan Revisi, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
          </div>
        </div>

        <div class="aside-options">
          <div class="clearfix mt-3">
            <small><b>Option 3</b></small>
            <label class="switch switch-text switch-pill switch-success switch-sm float-right">
              <input type="checkbox" class="switch-input">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
        </div>

        <div class="aside-options">
          <div class="clearfix mt-3">
            <small><b>Option 4</b></small>
            <label class="switch switch-text switch-pill switch-success switch-sm float-right">
              <input type="checkbox" class="switch-input" checked>
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
          </div>
        </div>

        <hr>
        <h6>System Utilization</h6>

        <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
        <div class="progress progress-xs">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">348 Processes. 1/4 Cores.</small>

        <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
        <div class="progress progress-xs">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">11444GB/16384MB</small>

        <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
        <div class="progress progress-xs">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">243GB/256GB</small>

        <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
        <div class="progress progress-xs">
          <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small class="text-muted">25GB/256GB</small>
      </div>
    </tab> -->
  <!-- </tabset> -->
</aside>
  