<div class="s-info bg-white">
  <div class="s-heading">
    <div class="div float-left">
      <p>{{ title | uppercase }}</p>
      <small>{{ title + ' dalam sistem SIMAPRO' | uppercase }}</small>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-md-12 bg-light py-2 px-3 h-100 tab-pane active d-md-inline-block d-lg-inline-block" id="content-data">
      <form class="row h-100 m-0 p-0 bg-light" [formGroup]="myForm" (submit)="save()" novalidate style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-sitemap"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Data Role' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0">

                  <div class="form-group col-12" [ngClass]="{
                    'has-danger': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched),
                    'has-success': myForm.controls.nama.valid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)
                    }">
                    <label class="control-label col-12">
                      <strong>{{'Nama' | uppercase}}</strong>
                      <span class="required"> * </span>
                    </label>
                    <div class="col-12">
                      <input pattern="^[a-zA-Z ]{1,}$" required [(ngModel)]="role.nama" formControlName="nama" class="form-control" 
                        [ngClass]="{'is-invalid': myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)}"
                      />
                      <div class="invalid-feedback" *ngIf="myForm.controls.nama.invalid && (myForm.controls.nama.dirty || myForm.controls.nama.touched)">
                        <div *ngIf="myForm.controls.nama.errors.required">Nama role harus diisi</div>
                        <div *ngIf="myForm.controls.nama.errors.pattern">Hanya boleh diisi oleh huruf dan spasi</div>
                        <div *ngIf="myForm.controls.nama.errors.minlength">Panjang minimal {{myForm.controls.nama.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.nama.errors.maxlength">Panjang maksimal {{myForm.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Level Organisasi' | uppercase}}</strong>
                      <span class="required"> * </span>
                    </label>
                    <div class="col-12">
                      <select class="form-control" [(ngModel)]="role.id_organisasi_level" formControlName="id_organisasi_level"
                      [ngClass]="{'is-invalid': myForm.controls.id_organisasi_level.invalid && (myForm.controls.id_organisasi_level.dirty || myForm.controls.id_organisasi_level.touched)}">
                        <option *ngFor="let organisasiLevel of organisasiLevels" [value]="organisasiLevel.id_organisasi_level">{{ organisasiLevel.deskripsi }}</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="myForm.controls.id_organisasi_level.invalid && (myForm.controls.id_organisasi_level.dirty || myForm.controls.id_organisasi_level.touched)">
                        <div *ngIf="myForm.controls.id_organisasi_level.errors.required">Level Organisasi harus diisi</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label class="col-12">
                      <strong>{{'Deksripsi' | uppercase}}</strong>
                      <span class="required"> * </span>
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" placeholder="Deksripsi role" [(ngModel)]="role.description" formControlName="deskripsi"
                      [ngClass]="{'is-invalid': myForm.controls.deskripsi.invalid && (myForm.controls.deskripsi.dirty || myForm.controls.deskripsi.touched)}">
                        {{ role.description }}</textarea>
                      <div class="invalid-feedback" *ngIf="myForm.controls.deskripsi.invalid && (myForm.controls.deskripsi.dirty || myForm.controls.deskripsi.touched)">
                        <div *ngIf="myForm.controls.deskripsi.errors.required">Nama role harus diisi</div>
                        <div *ngIf="myForm.controls.deskripsi.errors.minlength">Panjang minimal {{myForm.controls.deskripsi.errors.minlength.requiredLength}} karakter</div>
                        <div *ngIf="myForm.controls.deskripsi.errors.maxlength">Panjang maksimal {{myForm.controls.deskripsi.errors.maxlength.requiredLength}} karakter</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12 text-right">
                  <button class="btn btn-default" type="button" (click)="cancel()">
                    <i class="fa fa-arrow-left"> </i> {{'Batal' | uppercase}}</button>
                  <button class="btn btn-primary" [disabled]="! myForm.valid || isSubmitted">
                    <i class="fa fa-save"></i>&nbsp;{{'Simpan' | uppercase}}</button>
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <i class="fa fa-hashtag"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Permission' | uppercase}}</span>
            </ng-template>
            <div class="row">
              <div class="col-12 col-md-6 p-0">
                <div class="form-group col-12">
                  <div class="col-12">
                    <div class="tree-container tree-container--with-controls">
                        <div class="tree-info">
                            <p class="tree-title">Permission</p>
                            <p class="notice">Batasan dalam penggunaan SIMAPRO</p>
                        </div>
                        <div class="tree-content">
                          <tree #permissionTree
                            [tree]="tree"
                            [settings]="settings"
                            (nodeSelected)="selectPermission($event)"
                            (nodeExpanded)="onExpand($event)"
                            (nodeChecked)="checkPermission($event)"
                            (nodeUnchecked)="uncheckPermission($event)">
                          </tree>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 text-right">
                <button class="btn btn-default" type="button" (click)="cancel()">
                  <i class="fa fa-arrow-left"> </i> Batal</button>
                <button class="btn btn-primary" [disabled]="! myForm.valid || isSubmitted">
                  <i class="fa fa-save"></i>&nbsp;Simpan</button>
              </div>
            </div>
          </tab>
        </tabset>
      </form>
    </div>
  </div>
</div>