.foto-aset {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  border: 1px solid #ccc;
  height: 20em;
}

.foto-aset img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: inline-block;
}