<div class="s-info bg-white">
  <div class="s-heading" *ngIf="documentReady">
    <p>{{ namaAsetTanah | uppercase }}</p>
    <small>{{ namaCompanyCode | uppercase }} </small>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-9 col-md-7 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabRevisi class="col-12">
          <tab id="tab0" *ngIf="documentReady && !detailAsetTanah">
            <ng-template tabHeading>
              <i class="fa fa-align-left"></i>
              <span class="d-none d-md-inline-block"> {{'Data Statis' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane active" id="statis" role="tabpanel">
              <div class="row">
                <div class="col-12">
                  <p class="alert alert-danger">{{'Tab ini hanya muncul ketika revisi penambahan aset properti baru' | uppercase}}</p>
                </div>
                <div class="col-12 col-md-6 p-0">
                  <form [formGroup]="formAsetTanah" (submit)="saveDataStatis()" novalidate>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Sumber Perolehan' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <select class="form-control" formControlName="id_sumber_perolehan" [(ngModel)]="asetTanahPerubahan.id_sumber_perolehan">
                          <option *ngFor="let sumberPerolehan of sumberPerolehans" [value]="sumberPerolehans.id_sumber_perolehan">{{ sumberPerolehans.sumber_perolehan }} </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.id_sumber_perolehan.invalid && (formAsetTanah.controls.id_sumber_perolehan.dirty || formAsetTanah.controls.id_sumber_perolehan.touched)">
                          <div *ngIf="formAsetTanah.controls.id_sumber_perolehan.errors.required">Sumber perolehan harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{"Harga Perolehan" | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="nilai_perolehan" [(ngModel)]="asetTanahPerubahan.nilai_perolehan" type="text" placeholder="Nilai perolehan aset">
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.nilai_perolehan.invalid && (formAsetTanah.controls.nilai_perolehan.dirty || formAsetTanah.controls.nilai_perolehan.touched)">
                          <div *ngIf="formAsetTanah.controls.nilai_perolehan.errors.required">Nilai perolehan harus diisi</div>
                          <div *ngIf="formAsetTanah.controls.nilai_perolehan.errors.minlength">Panjang minimal {{formAsetTanah.controls.nilai_perolehan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formAsetTanah.controls.nilai_perolehan.errors.maxlength">Panjang maksimal {{formAsetTanah.controls.nilai_perolehan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Tahun Perolehan' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tahun_perolehan" [(ngModel)]="asetTanahPerubahan.tahun_perolehan" type="text" placeholder="Tahun perolehan aset">
                        <div class="invalid-feedback" *ngIf="formAsetTanah.controls.tahun_perolehan.invalid && (formAsetTanah.controls.tahun_perolehan.dirty || formAsetTanah.controls.tahun_perolehan.touched)">
                          <div *ngIf="formAsetTanah.controls.tahun_perolehan.errors.required">Tahun perolehan harus diisi</div>
                          <div *ngIf="formAsetTanah.controls.tahun_perolehan.errors.max || formAsetTanah.controls.tahun_perolehan.errors.min">Tahun Perolehan harus berada diantara tahun {{ min }} - {{ max }}</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group text-right">
                    <button class="btn btn btn-primary" (click)="saveDataStatis()" type="submit">
                      <i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab1" *ngIf="documentReady && fragment==='detail'">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Detail' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.sumber_perolehan?.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="perpindahan">
                        <div class="col-12">
                          <label>
                            <strong>{{'Provinsi' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="perpindahan.lokasi.kabupaten?.provinsi.nama | uppercase">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="perpindahan">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kabupaten' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="perpindahan.lokasi.kabupaten?.nama | uppercase">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.nilai_perolehan | currency: 'Rp. ' ">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.tahun_perolehan">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="perpindahan">
                        <div class="col-12">
                          <label>
                            <strong>{{'Lokasi' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="texdetailAsetTanaht" class="form-control" disabled="disabled" [value]="perpindahan.lokasi?.nama | uppercase">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6" *ngIf="detailAsetTanah">
                  <div class="col-12">
                    <h4>{{'Data Saat Ini' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                          <strong>{{'Nama' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanah.nama_tanah | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                          <strong>{{'Luas' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.luas_tanah | number: '1.0'">
                        <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                          <strong>{{'Alamat' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled">{{ detailAsetTanah.alamat_tanah | uppercase }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="oldFoto || 'assets/img/no-image.jpg'">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'No. BPHTB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.no_bphtb | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.no_sap | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <form class="row" [formGroup]="formDetail" (submit)="saveDetail()" novalidate>
                    <div class="col-12 P-0">
                      <div class="col-12">
                        <h4>{{'Usulan' | uppercase}}</h4>
                        <hr>
                      </div>
                      <div class="col-12">
                        <p class="alert alert-danger" *ngIf="disposisiDetail"><strong>Memo :</strong> {{ disposisiDetail.memo }} </p>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input class="form-control" formControlName="nama" [(ngModel)]="detailAsetTanahPerubahan.nama_tanah" type="text" placeholder="Nama aset tanah"
                            [ngClass]="{'is-invalid': formDetail.controls.nama.invalid && (formDetail.controls.nama.dirty || formDetail.controls.nama.touched)}"
                          />
                          <div class="invalid-feedback" *ngIf="formDetail.controls.nama.invalid && (formDetail.controls.nama.dirty || formDetail.controls.nama.touched)">
                            <div *ngIf="formDetail.controls.nama.errors.required">Nama harus diisi</div>
                            <div *ngIf="formDetail.controls.nama.errors.minlength">Panjang minimal {{formDetail.controls.nama.errors.minlength.requiredLength}} karakter</div>
                            <div *ngIf="formDetail.controls.nama.errors.maxlength">Panjang maksimal {{formDetail.controls.nama.errors.maxlength.requiredLength}} karakter</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input-number class="form-control" formControlName="luas_tanah" [(ngModel)]="detailAsetTanahPerubahan.luas_tanah" type="number"
                              placeholder="Luas aset tanah" [ngClass]="{'is-invalid': formDetail.controls.luas_tanah.invalid && (formDetail.controls.luas_tanah.dirty || formDetail.controls.luas_tanah.touched)}"></input-number>
                            <div class="input-group-addon">
                              <span>
                                M
                                <sup>2</sup>
                              </span>
                            </div>
                          </div>
                          <div class="invalid-feedback" *ngIf="formDetail.controls.luas_tanah.invalid && (formDetail.controls.luas_tanah.dirty || formDetail.controls.luas_tanah.touched)">
                            <div *ngIf="formDetail.controls.luas_tanah.errors.required">Luas harus diisi</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea class="form-control" formControlName="alamat" [(ngModel)]="detailAsetTanahPerubahan.alamat_tanah" placeholder="Jalan" [ngClass]="{'is-invalid': formDetail.controls.alamat.invalid && (formDetail.controls.alamat.dirty || formDetail.controls.alamat.touched)}"></textarea>
                          <div class="invalid-feedback" *ngIf="formDetail.controls.alamat.invalid && (formDetail.controls.alamat.dirty || formDetail.controls.alamat.touched)">
                            <div *ngIf="formDetail.controls.alamat.errors.required">Alamat harus diisi</div>
                            <div *ngIf="formDetail.controls.alamat.errors.minlength">Panjang minimal {{formDetail.controls.alamat.errors.minlength.requiredLength}} karakter</div>
                            <div *ngIf="formDetail.controls.alamat.errors.maxlength">Panjang maksimal {{formDetail.controls.alamat.errors.maxlength.requiredLength}} karakter</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <div class="foto-aset">
                            <img alt="Foto Aset" class="" [src]="preview || foto || 'assets/img/no-image.jpg'">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Foto' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input class="form-control" type="file" formContolName="foto" (change)="onFileChange($event)" accept=".png, .jpg, .jpeg">
                            <button class="input-group-addon btn btn-flat btn-primary text-center" (click)="removeFoto()"><i class="fa fa-trash" aria-hidden="true"></i></button>
                          </div>
                          <div class="invalid-feedback" *ngIf="formDetail.controls.foto.invalid && (formDetail.controls.foto.dirty || formDetail.controls.foto.touched)">
                            <div *ngIf="formDetail.controls.foto.errors.required">Foto harus diisi</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'No. BPHTB' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input class="form-control" formControlName="no_bphtb" [(ngModel)]="detailAsetTanahPerubahan.no_bphtb" type="text" placeholder="No.BPHTB"
                            [ngClass]="{'is-invalid': formDetail.controls.no_bphtb.invalid && (formDetail.controls.no_bphtb.dirty || formDetail.controls.no_bphtb.touched)}">
                          <div class="invalid-feedback" *ngIf="formDetail.controls.no_bphtb.invalid && (formDetail.controls.no_bphtb.dirty || formDetail.controls.no_bphtb.touched)">
                            <div *ngIf="formDetail.controls.no_bphtb.errors.required">No. BPHTB harus diisi</div>
                            <div *ngIf="formDetail.controls.no_bphtb.errors.maxlength">Panjang maksimal {{formDetail.controls.no_bphtb.errors.maxlength.requiredLength}} karakter</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'No. SAP' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input class="form-control" formControlName="no_sap" [(ngModel)]="detailAsetTanahPerubahan.no_sap" type="text" placeholder="No. SAP"
                            [ngClass]="{'is-invalid': formDetail.controls.no_sap.invalid && (formDetail.controls.no_sap.dirty || formDetail.controls.no_sap.touched)}">
                          <div class="invalid-feedback" *ngIf="formDetail.controls.no_sap.invalid && (formDetail.controls.no_sap.dirty || formDetail.controls.no_sap.touched)">
                            <div *ngIf="formDetail.controls.no_sap.errors.required">No. SAP harus diisi</div>
                            <div *ngIf="formDetail.controls.no_sap.errors.maxlength">Panjang maksimal {{formDetail.controls.no_sap.errors.maxlength.requiredLength}} karakter</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12 mb-2">
                          <div class="row">
                            <div class="col-6">
                              <label>
                                <strong>{{'Polygon' | uppercase}}</strong>
                              </label>
                            </div>
                            <div class="col-6 text-right" *ngIf="poly && poly.length">
                              <button class="btn btn-sm btn-round btn-primary" [disabled]="false && !poly[0].length" (click)='addPoint()'><i class="fa fa-plus"></i> Add Point</button>
                            </div>
                          </div>
                        </div> 
                        <div class="col-12">
                          <div class="card border-0" *ngIf="poly && poly.length">
                            <app-polygon [group]="formDetail.controls.polygon" (onRemove)="removePoint($event)" [polygon]="poly[0]"></app-polygon>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <button class="btn btn-default" (click)="cancel()">
                          <i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                        <button class="btn btn-primary" (click)="saveDetail()" [disabled]="!formDetail.valid">
                          <i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab2" *ngIf="documentReady && fragment==='legal'">
            <ng-template tabHeading>
              <i class="fa fa-shield"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Legal Aset' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <ng-container *ngIf="!isOnProgress; else addProgressDokumen">
                  <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light" *ngIf="perpindahan || detailAsetTanah">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group" *ngIf="perpindahan">
                          <div class="col-12">
                            <label>
                              <strong>{{'Kode Aset Tanah' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="perpindahan.lokasi.kode_tanah">
                          </div>
                        </div>
                        <div class="form-group" *ngIf="perpindahan">
                          <div class="col-12">
                            <label>
                              <strong>{{'Company Code' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="perpindahan.company_code?.nama | uppercase">
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group" *ngIf="detailAsetTanah">
                          <div class="col-12">
                            <label>
                              <strong>{{'Nama' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanah.nama_tanah | uppercase "></textarea>
                          </div>
                        </div>
                        <div class="form-group" *ngIf="perpindahan">
                          <div class="col-12">
                            <label>
                              <strong>{{'Business Area' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="perpindahan.business_area?.nama | uppercase">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 p-0 col-md-6" *ngIf="dokumen">
                    <div class="col-12">
                      <h4>{{'Data Saat Ini' | uppercase}}</h4>
                      <hr>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Kepemilikan' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" disabled="disabled" [value]="dokumen.ijin.nama_ijin | uppercase">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'No. sertifikat' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" disabled="disabled" [value]="dokumen.no_sertifikat | uppercase">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'No. Objek Pajak' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" disabled="disabled" [value]="dokumen.no_pbb | uppercase">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tanggal Berlaku sertifikat' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" disabled="disabled" [value]="dokumen.start_date_sertifikat | date: 'dd MMM yyyy'">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Tanggal Berakhir sertifikat' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" disabled="disabled" [value]="dokumen.end_date_sertifikat | date: 'dd MMM yyyy'">
                      </div>
                    </div>
                  </div>
                  <div class="col-12 p-0 col-md-6" *ngIf="dokumenPerubahan">
                    <form [formGroup]="formLegal" (submit)="saveDokumenLegal()" novalidate>
                      <div class="col-12">
                        <h4>{{'Usulan' | uppercase}}</h4>
                        <hr>
                      </div>
                      <div class="col-12">
                        <p class="alert alert-danger" *ngIf="disposisiDokumen"><strong>Memo :</strong> {{ disposisiDokumen.memo }} </p>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kepemilikan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" formControlName="id_ijin" [(ngModel)]="dokumenPerubahan.id_ijin"
                            [ngClass]="{'is-invalid': formLegal.controls.id_ijin.invalid && (formLegal.controls.id_ijin.dirty || formLegal.controls.id_ijin.touched)}">
                            <option *ngFor="let jenisPerizinan of jenisPerizinans" [value]="jenisPerizinan.id_ijin">{{ jenisPerizinan.nama_ijin | uppercase }}</option>
                          </select>
                          <div class="invalid-feedback" *ngIf="formLegal.controls.id_ijin.invalid && (formLegal.controls.id_ijin.dirty || formLegal.controls.id_ijin.touched)">
                            <div *ngIf="formLegal.controls.id_ijin.errors.required">Kepemilikan harus diisi</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Status Progress' | uppercase}} </strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <label class="px-2" (click)="setStatusProgress(false)">
                            <input type="radio" [checked]="!dokumenPerubahan.status_progress" [value]="false" formControlName="status_progress" [ngModel]="dokumenPerubahan.status_progress">
                            <strong class="ml-1 pt-1">Selesai</strong>
                          </label>
                          <label class="px-2" (click)="setStatusProgress(true)">
                            <input type="radio" [checked]="dokumenPerubahan.status_progress" [value]="true" formControlName="status_progress" [ngModel]="dokumenPerubahan.status_progress">
                            <strong class="ml-1 pt-1">Dalam Proses</strong>
                          </label>
                        </div>
                      </div>
                      <ng-container *ngIf="!dokumenPerubahan.status_progress; else onProgress">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'No. Sertifikat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input class="form-control" formControlName="no_sertifikat" [(ngModel)]="dokumenPerubahan.no_sertifikat" type="text"
                              placeholder="No. Sertifikat" [ngClass]="{'is-invalid': formLegal.controls.no_sertifikat.invalid && (formLegal.controls.no_sertifikat.dirty || formLegal.controls.no_sertifikat.touched)}">
                              <div class="invalid-feedback" *ngIf="formLegal.controls.no_sertifikat.invalid && (formLegal.controls.no_sertifikat.dirty || formLegal.controls.no_sertifikat.touched)">
                                <div *ngIf="formLegal.controls.no_sertifikat.errors.required">No. Dokumen harus diisi</div>
                                <div *ngIf="formLegal.controls.no_sertifikat.errors.maxlength">Panjang maksimal {{formLegal.controls.no_sertifikat.errors.maxlength.requiredLength}} karakter</div>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'No. Objek Pajak' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input class="form-control" formControlName="no_pbb" [(ngModel)]="dokumenPerubahan.no_pbb" type="text"
                              placeholder="No. Objek Pajak" [ngClass]="{'is-invalid': formLegal.controls.no_pbb.invalid && (formLegal.controls.no_pbb.dirty || formLegal.controls.no_pbb.touched)}">
                              <div class="invalid-feedback" *ngIf="formLegal.controls.no_pbb.invalid && (formLegal.controls.no_pbb.dirty || formLegal.controls.no_pbb.touched)">
                                <div *ngIf="formLegal.controls.no_pbb.errors.required">No. Objek Pajak harus diisi</div>
                                <div *ngIf="formLegal.controls.no_pbb.errors.maxlength">Panjang maksimal {{formLegal.controls.no_pbb.errors.maxlength.requiredLength}} karakter</div>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tanggal Berlaku Sertifikat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input class="form-control" formControlName="start_date_sertifikat" [(ngModel)]="dokumenPerubahan.start_date_sertifikat" type="date"
                              placeholder="Tanggal Berlaku Sertifikat" [ngClass]="{'is-invalid': formLegal.controls.start_date_sertifikat.invalid && (formLegal.controls.start_date_sertifikat.dirty || formLegal.controls.start_date_sertifikat.touched)}">
                              <div class="invalid-feedback" *ngIf="formLegal.controls.start_date_sertifikat.invalid && (formLegal.controls.start_date_sertifikat.dirty || formLegal.controls.start_date_sertifikat.touched)">
                                <div *ngIf="formLegal.controls.start_date_sertifikat.errors.required">Tanggal berlaku sertifikat harus diisi</div>
                                <div *ngIf="formLegal.controls.start_date_sertifikat.errors.maxlength">Panjang maksimal {{formLegal.controls.start_date_sertifikat.errors.maxlength.requiredLength}} karakter</div>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tanggal Berakhir Sertifikat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input class="form-control" formControlName="end_date_sertifikat" [(ngModel)]="dokumenPerubahan.end_date_sertifikat" type="date"
                                placeholder="Tanggal Berakhir Sertifikat" [ngClass]="{'is-invalid': formLegal.controls.end_date_sertifikat.invalid && (formLegal.controls.end_date_sertifikat.dirty || formLegal.controls.end_date_sertifikat.touched)}">
                              <div class="input-group-addon" (click)="changeEndDateStatus()">
                                <label for="">
                                  <input type="checkbox" style="vertical-align: middle" [checked]="endDateStatus">
                                  <span> Selamanya</span>
                                </label>
                              </div>
                            </div>
                            <div class="invalid-feedback" *ngIf="formLegal.controls.end_date_sertifikat.invalid && (formLegal.controls.end_date_sertifikat.dirty || formLegal.controls.end_date_sertifikat.touched)">
                              <div *ngIf="formLegal.controls.end_date_sertifikat.errors.required">Tanggal berakhir sertifikat harus diisi</div>
                              <div *ngIf="formLegal.controls.end_date_sertifikat.errors.maxlength">Panjang maksimal {{formLegal.controls.end_date_sertifikat.errors.maxlength.requiredLength}} karakter</div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <ng-template #onProgress>
                        <div formGroupName="formTahapDokumen">
                          <div class="form-group">
                            <div class="col-12">
                              <label>
                                <strong>{{'Tahap Progress' | uppercase}}</strong>
                              </label>
                            </div>
                            <div class="col-12">
                              <select class="form-control" (change)="onSelectMasterProgress()" required formControlName="id_master_progress" [(ngModel)]="tahapDokumenLegal.id_master_progress"
                                [ngClass]="{'is-invalid': formLegal.controls.formTahapDokumen.controls.id_master_progress.invalid && (formLegal.controls.formTahapDokumen.controls.id_master_progress.dirty || formLegal.controls.formTahapDokumen.controls.id_master_progress.touched)}">
                                <option *ngFor="let masterProgress of masterProgresses" [value]="masterProgress.id_master_progress">{{ masterProgress.nama_master_progress | uppercase }}</option>
                              </select>
                              <div class="invalid-feedback" 
                                *ngIf="formLegal.controls.formTahapDokumen.controls.id_master_progress.invalid && (formLegal.controls.formTahapDokumen.controls.id_master_progress.dirty || formLegal.controls.formTahapDokumen.controls.id_master_progress.touched)">
                                <div *ngIf="formLegal.controls.formTahapDokumen.controls.id_master_progress.errors.required">
                                    Tahap Progress harus diisi</div>
                                <div *ngIf="formLegal.controls.formTahapDokumen.controls.id_master_progress.errors.minlength">
                                  Panjang minimal {{formLegal.controls.formTahapDokumen.controls.id_master_progress.errors.minlength.requiredLength}} karakter</div>
                                <div *ngIf="formLegal.controls.formTahapDokumen.controls.id_master_progress.errors.maxlength">
                                  Panjang maksimal {{formLegal.controls.formTahapDokumen.controls.id_master_progress.errors.maxlength.requiredLength}} karakter</div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-12">
                              <label>
                                <strong>{{'Tanggal Progress' | uppercase}}</strong>
                              </label>
                              <input class="form-control" formControlName="tanggal_progress" [(ngModel)]="tahapDokumenLegal.tanggal_progress"
                                type="date" placeholder="Tanggal berlaku sertifikat tanah"
                                [ngClass]="{'is-invalid': formLegal.controls.formTahapDokumen.controls.tanggal_progress.invalid && (formLegal.controls.formTahapDokumen.controls.tanggal_progress.dirty || formLegal.controls.formTahapDokumen.controls.tanggal_progress.touched)}">
                                <div class="invalid-feedback" 
                                  *ngIf="formLegal.controls.formTahapDokumen.controls.tanggal_progress.invalid && (formLegal.controls.formTahapDokumen.controls.tanggal_progress.dirty || formLegal.controls.formTahapDokumen.controls.tanggal_progress.touched)">
                                  <div *ngIf="formLegal.controls.formTahapDokumen.controls.tanggal_progress.errors.required">Tanggal Progress harus diisi</div>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-12">
                              <label>
                                <strong>{{'Keterangan' | uppercase}}</strong>
                              </label>
                            </div>
                            <div class="col-12">
                              <textarea class="form-control" formControlName="keterangan" [(ngModel)]="tahapDokumenLegal.keterangan"
                                placeholder="Keterangan dokumen"
                                [ngClass]="{'is-invalid': formLegal.controls.formTahapDokumen.controls.keterangan.invalid && (formLegal.controls.formTahapDokumen.controls.keterangan.dirty || formLegal.controls.formTahapDokumen.controls.keterangan.touched)}"></textarea>
                              <div class="invalid-feedback" 
                                *ngIf="formLegal.controls.formTahapDokumen.controls.keterangan.invalid && (formLegal.controls.formTahapDokumen.controls.keterangan.dirty || formLegal.controls.formTahapDokumen.controls.keterangan.touched)">
                                <div *ngIf="formLegal.controls.formTahapDokumen.controls.keterangan.errors.required">
                                    Keterangan harus diisi</div>
                                <div *ngIf="formLegal.controls.formTahapDokumen.controls.keterangan.errors.minlength">
                                  Panjang minimal {{formLegal.controls.formTahapDokumen.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
                                <div *ngIf="formLegal.controls.formTahapDokumen.controls.keterangan.errors.maxlength">
                                  Panjang maksimal {{formLegal.controls.formTahapDokumen.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </form>
                  </div>
                  <div class="col-12 p-0">
                    <div class="form-group">
                      <div class="col-md-12 text-right">
                        <button class="btn btn-default" (click)="cancel()">
                          <i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                        <button class="btn btn-primary" (click)="saveDokumenLegal()" [disabled]="!formLegal.valid">
                          <i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #addProgressDokumen>
                  <div class="col-12 p-0 pt-2 mt-0 mb2 bg-light">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <div class="col-12">
                            <label><strong>{{'Kepemilikan' | uppercase}}</strong></label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.dokumen_on_progress.ijin.nama_ijin | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label><strong>{{'No. Sertifikat' | uppercase}}</strong></label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.dokumen_on_progress.no_sertifikat || (asetTanah.dokumen ? asetTanah.dokumen.no_sertifikat : null) || '-'">
                          </div>
                        </div>
                      </div>
                      <div class="col-6" *ngIf="lastProgress">
                        <div class="form-group">
                          <div class="col-12">
                            <label><strong>{{'Progress Terakhir' | uppercase}}</strong></label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="lastProgress.master_progress.nama_master_progress | uppercase">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label><strong>{{'Tanggal Progress' | uppercase}}</strong></label>
                          </div>
                          <div class="col-12">
                            <input type="text" class="form-control" disabled="disabled" [value]="lastProgress.tanggal_progress | date: 'dd MMM yyyy'">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 p-0 col-md-6">
                    <form [formGroup]="formTahapDokumen" (submit)="saveTahapDokumen()" novalidate>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahap Progress' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <select class="form-control" (change)="onSelectMasterProgress()" required formControlName="id_master_progress" [(ngModel)]="tahapDokumenLegal.id_master_progress"
                            [ngClass]="{'is-invalid': formTahapDokumen.controls.id_master_progress.invalid && (formTahapDokumen.controls.id_master_progress.dirty || formTahapDokumen.controls.id_master_progress.touched)}">
                            <option *ngFor="let masterProgress of masterProgresses" [value]="masterProgress.id_master_progress">{{ masterProgress.nama_master_progress | uppercase }}</option>
                          </select>
                          <div class="invalid-feedback" 
                            *ngIf="formTahapDokumen.controls.id_master_progress.invalid && (formTahapDokumen.controls.id_master_progress.dirty || formTahapDokumen.controls.id_master_progress.touched)">
                            <div *ngIf="formTahapDokumen.controls.id_master_progress.errors.required">
                                Tahap Progress harus diisi</div>
                            <div *ngIf="formTahapDokumen.controls.id_master_progress.errors.minlength">
                              Panjang minimal {{formTahapDokumen.controls.id_master_progress.errors.minlength.requiredLength}} karakter</div>
                            <div *ngIf="formTahapDokumen.controls.id_master_progress.errors.maxlength">
                              Panjang maksimal {{formTahapDokumen.controls.id_master_progress.errors.maxlength.requiredLength}} karakter</div>
                          </div>
                        </div>
                      </div>
                      <ng-container *ngIf="selectedProgress && selectedProgress.is_finish && is_terima">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'No. Sertifikat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input class="form-control" formControlName="no_sertifikat" [(ngModel)]="tahapDokumenLegal.no_sertifikat" type="text"
                              placeholder="No. Sertifikat" [ngClass]="{'is-invalid': formTahapDokumen.controls.no_sertifikat.invalid && (formTahapDokumen.controls.no_sertifikat.dirty || formTahapDokumen.controls.no_sertifikat.touched)}">
                              <div class="invalid-feedback" *ngIf="formTahapDokumen.controls.no_sertifikat.invalid && (formTahapDokumen.controls.no_sertifikat.dirty || formTahapDokumen.controls.no_sertifikat.touched)">
                                <div *ngIf="formTahapDokumen.controls.no_sertifikat.errors.required">No. Dokumen harus diisi</div>
                                <div *ngIf="formTahapDokumen.controls.no_sertifikat.errors.maxlength">Panjang maksimal {{formTahapDokumen.controls.no_sertifikat.errors.maxlength.requiredLength}} karakter</div>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'No. Objek Pajak' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input class="form-control" formControlName="no_pbb" [(ngModel)]="tahapDokumenLegal.no_pbb" type="text"
                              placeholder="No. Objek Pajak" [ngClass]="{'is-invalid': formTahapDokumen.controls.no_pbb.invalid && (formTahapDokumen.controls.no_pbb.dirty || formTahapDokumen.controls.no_pbb.touched)}">
                              <div class="invalid-feedback" *ngIf="formTahapDokumen.controls.no_pbb.invalid && (formTahapDokumen.controls.no_pbb.dirty || formTahapDokumen.controls.no_pbb.touched)">
                                <div *ngIf="formTahapDokumen.controls.no_pbb.errors.required">No. Objek Pajak harus diisi</div>
                                <div *ngIf="formTahapDokumen.controls.no_pbb.errors.maxlength">Panjang maksimal {{formTahapDokumen.controls.no_pbb.errors.maxlength.requiredLength}} karakter</div>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tanggal Berlaku Sertifikat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <input class="form-control" formControlName="start_date_sertifikat" [disabled]="endDateStatus" [(ngModel)]="tahapDokumenLegal.start_date_sertifikat" type="date"
                              placeholder="Tanggal Berlaku Sertifikat" [ngClass]="{'is-invalid': formTahapDokumen.controls.start_date_sertifikat.invalid && (formTahapDokumen.controls.start_date_sertifikat.dirty || formTahapDokumen.controls.start_date_sertifikat.touched)}">
                            <div class="invalid-feedback" *ngIf="formTahapDokumen.controls.start_date_sertifikat.invalid && (formTahapDokumen.controls.start_date_sertifikat.dirty || formTahapDokumen.controls.start_date_sertifikat.touched)">
                              <div *ngIf="formTahapDokumen.controls.start_date_sertifikat.errors.required">Tanggal berlaku sertifikat harus diisi</div>
                              <div *ngIf="formTahapDokumen.controls.start_date_sertifikat.errors.maxlength">Panjang maksimal {{formTahapDokumen.controls.start_date_sertifikat.errors.maxlength.requiredLength}} karakter</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Tanggal Berakhir Sertifikat' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <div class="input-group">
                              <input class="form-control" formControlName="end_date_sertifikat" [(ngModel)]="tahapDokumenLegal.end_date_sertifikat" type="date"
                                placeholder="Tanggal Berakhir Sertifikat" [ngClass]="{'is-invalid': formTahapDokumen.controls.end_date_sertifikat.invalid && (formTahapDokumen.controls.end_date_sertifikat.dirty || formTahapDokumen.controls.end_date_sertifikat.touched)}">
                              <div class="input-group-addon" (click)="changeEndDateStatus()">
                                <label for="">
                                  <input type="checkbox" style="vertical-align: middle" [checked]="endDateStatus" >
                                  <span> Selamanya</span>
                                </label>
                              </div>
                            </div>
                            <div class="invalid-feedback" *ngIf="formTahapDokumen.controls.end_date_sertifikat.invalid && (formTahapDokumen.controls.end_date_sertifikat.dirty || formTahapDokumen.controls.end_date_sertifikat.touched)">
                              <div *ngIf="formTahapDokumen.controls.end_date_sertifikat.errors.required">Tanggal berakhir sertifikat harus diisi</div>
                              <div *ngIf="formTahapDokumen.controls.end_date_sertifikat.errors.maxlength">Panjang maksimal {{formTahapDokumen.controls.end_date_sertifikat.errors.maxlength.requiredLength}} karakter</div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tanggal Progress' | uppercase}}</strong>
                          </label>
                          <input class="form-control" formControlName="tanggal_progress" [(ngModel)]="tahapDokumenLegal.tanggal_progress"
                            type="date" placeholder="Tanggal berlaku sertifikat tanah"
                            [ngClass]="{'is-invalid': formTahapDokumen.controls.tanggal_progress.invalid && (formTahapDokumen.controls.tanggal_progress.dirty || formTahapDokumen.controls.tanggal_progress.touched)}">
                            <div class="invalid-feedback" 
                              *ngIf="formTahapDokumen.controls.tanggal_progress.invalid && (formTahapDokumen.controls.tanggal_progress.dirty || formTahapDokumen.controls.tanggal_progress.touched)">
                              <div *ngIf="formTahapDokumen.controls.tanggal_progress.errors.required">Tanggal Progress harus diisi</div>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Keterangan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea class="form-control" formControlName="keterangan" [(ngModel)]="tahapDokumenLegal.keterangan"
                            placeholder="Keterangan dokumen"
                            [ngClass]="{'is-invalid': formTahapDokumen.controls.keterangan.invalid && (formTahapDokumen.controls.keterangan.dirty || formTahapDokumen.controls.keterangan.touched)}"></textarea>
                          <div class="invalid-feedback" 
                            *ngIf="formTahapDokumen.controls.keterangan.invalid && (formTahapDokumen.controls.keterangan.dirty || formTahapDokumen.controls.keterangan.touched)">
                            <div *ngIf="formTahapDokumen.controls.keterangan.errors.required">
                                Keterangan harus diisi</div>
                            <div *ngIf="formTahapDokumen.controls.keterangan.errors.minlength">
                              Panjang minimal {{formTahapDokumen.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
                            <div *ngIf="formTahapDokumen.controls.keterangan.errors.maxlength">
                              Panjang maksimal {{formTahapDokumen.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-12 p-0">
                    <div class="form-group">
                      <div class="col-md-12 text-right">
                        <button class="btn btn-default" (click)="cancel()">
                          <i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                        <button class="btn btn-primary" (click)="saveTahapDokumen()" [disabled]="!formTahapDokumen.valid">
                          <i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </tab>
          <tab id="tab3" *ngIf="documentReady && fragment==='nilai'">
            <ng-template tabHeading>
              <i class="fa fa-money"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Nilai Jual Aset' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group" *ngIf="perpindahan">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kode Aset Tanah' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="perpindahan.lokasi.kode_tanah">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="detailAsetTanah">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanah.nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan Aset Tanah' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.nilai_perolehan | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.tahun_perolehan">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6" *ngIf="nilai">
                  <div class="col-12">
                    <h4>{{'Data Saat Ini' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                        <label> <strong>{{'Tahun Penilaian' | uppercase}}</strong></label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" disabled="disabled" [value]="nilai.tahun_penilaian" maxlength="4" type="number"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label> <strong>{{'Nilai Aset Tanah' | uppercase}}</strong></label>
                    </div>
                    <div class="col-12">
                      <input class="form-control" disabled="disabled" [value]="nilai.nilai_tanah | currency: 'Rp. '" type="text" >
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label> <strong>{{'Keterangan' | uppercase}}</strong></label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled">{{ nilai.keterangan | uppercase }}</textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6">
                  <form [formGroup]="formNilai" (submit)="saveNilaiAset()" novalidate>
                    <div class="col-12">
                      <h4>{{'Usulan' | uppercase}}</h4>
                      <hr>
                    </div>
                    <div class="col-12">
                      <p class="alert alert-danger" *ngIf="disposisiNilai"><strong>Memo :</strong> {{ disposisiNilai.memo }} </p>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                          <label> <strong>{{'Tahun Penilaian' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <input class="form-control" formControlName="tahun_penilaian" [(ngModel)]="nilaiPerubahan.tahun_penilaian" maxlength="4" type="number" placeholder="Tahun penilaian sertifikat tanah" [ngClass]="{'is-invalid': formNilai.controls.tahun_penilaian.invalid && (formNilai.controls.tahun_penilaian.dirty || formNilai.controls.tahun_penilaian.touched)}">
                        <div class="invalid-feedback" 
                          *ngIf="formNilai.controls.tahun_penilaian.invalid && (formNilai.controls.tahun_penilaian.dirty || formNilai.controls.tahun_penilaian.touched)">
                          <div *ngIf="formNilai.controls.tahun_penilaian.errors.required">
                              Tahun penilaian harus diisi</div>
                          <div *ngIf="formNilai.controls.tahun_penilaian.errors.min || formNilai.controls.tahun_penilaian.errors.max">
                            Tahun penilaian harus diisi antara tahun {{ min }} - {{ max }}</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Nilai Aset Tanah' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <div class="input-group">
                          <div class="input-group-addon"><span>Rp. </span></div>
                          <input-number class="form-control" formControlName="nilai" [(ngModel)]="nilaiPerubahan.nilai_tanah" placeholder="Nilai Jual Aset"
                          [ngClass]="{'is-invalid': formNilai.controls.nilai.invalid && (formNilai.controls.nilai.dirty || formNilai.controls.nilai.touched)}"></input-number>
                        </div>
                        <div class="invalid-feedback" 
                          *ngIf="formNilai.controls.nilai.invalid && !formNilai.controls.nilai.pristine">
                          <div *ngIf="formNilai.controls.nilai.errors.required">
                              Nilai harus diisi</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label> <strong>{{'Keterangan' | uppercase}}</strong></label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="keterangan" [(ngModel)]="nilaiPerubahan.keterangan" placeholder="Keterangan penilaian"
                        [ngClass]="{'is-invalid': formNilai.controls.keterangan.invalid && (formNilai.controls.keterangan.dirty || formNilai.controls.keterangan.touched)}"></textarea>
                        <div class="invalid-feedback" 
                          *ngIf="formNilai.controls.keterangan.invalid && (formNilai.controls.keterangan.dirty || formNilai.controls.keterangan.touched)">
                          <div *ngIf="formNilai.controls.keterangan.errors.required">
                              Keterangan harus diisi</div>
                          <div *ngIf="formNilai.controls.keterangan.errors.minlength">
                            Panjang minimal {{formNilai.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formNilai.controls.keterangan.errors.maxlength">
                            Panjang maksimal {{formNilai.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 text-right">
                  <button class="btn btn-default" (click)="cancel()">
                    <i class="fa fa-arrow-left"></i> {{'Batal' | uppercase}}</button>
                  <button class="btn btn-primary" [disabled]="!formNilai.valid || isSubmitted" (click)="saveNilaiAset()">
                    <i class="fa fa-save"></i> {{'Simpan' | uppercase}}</button>
                </div>
              </div>
            </div>
          </tab>
          <tab id="tab4" *ngIf="documentReady && fragment==='mutasi'">
            <ng-template tabHeading>
              <i class="fa fa-bank"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Organisasi & Wilayah' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group" *ngIf="detailAsetTanah">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetTanah.nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group" *ngIf="detailAsetTanah">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.alamat_tanah | uppercase ">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group" *ngIf="detailAsetTanah">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input type="text" class="form-control" disabled="disabled" [value]="detailAsetTanah.luas_tanah | number: '1.0'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.tahun_perolehan">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0" *ngIf="perpindahanAsetTanah">
                  <div class="col-12">
                    <h4>{{'Data Saat Ini' | uppercase}}</h4>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label><strong>{{'Kode Aset Tanah' | uppercase}}</strong></label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.kode_tanah">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Provinsi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi?.kabupaten.provinsi.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Kabupaten' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi?.kabupaten.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Lokasi' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.lokasi?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Company Code' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.company_code?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Business Area' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.business_area?.nama_business_area | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. Berita Acara Serah Terima' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetTanah.no_berita_acara">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Keterangan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea class="form-control" disabled="disabled">{{ perpindahanAsetTanah.keterangan | uppercase }}</textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0" *ngIf="perpindahanAsetTanahPerubahan">
                  <form [formGroup]="formMutasi" (submit)="saveMutasi()" novalidate>
                    <div class="col-12">
                      <h4>{{ 'Usulan' | uppercase }}</h4>
                      <hr>
                    </div>
                    <div class="col-12">
                      <p class="alert alert-danger" *ngIf="disposisiMutasi"><strong>Memo :</strong> {{ disposisiMutasi.memo }} </p>
                    </div>
                    <ng-container *ngIf="jenisMutasi === 'eksternal'; else mutasiLain">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Company Code' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <ng-select #selectCC 
                            [allowClear]="true"
                            [items]="itemsCC"
                            [disabled]="!itemsCC.length"
                            [multiple]="false"
                            (data)="refreshValueCC($event)"
                            (selected)="selectedCC($event)"
                            placeholder="Pilih Company Code">
                          </ng-select>
                          <input type="hidden" formControlName="idCompanyCode" [(ngModel)]="idCompanyCode"/>
                          <div class="invalid-feedback" *ngIf="formMutasi.controls.idCompanyCode.invalid && (formMutasi.controls.idCompanyCode.dirty || formMutasi.controls.idCompanyCode.touched)">
                            <div *ngIf="formMutasi.controls.idCompanyCode.errors.required">Company Code harus diisi</div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #mutasiLain>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Business Area' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <ng-select #selectBA 
                            [allowClear]="true"
                            [items]="itemsBA"
                            [disabled]="!itemsBA.length"
                            [multiple]="false"
                            (data)="refreshValueBA($event)"
                            (selected)="selectedBA($event)"
                            placeholder="Pilih Business Area">
                          </ng-select>
                          <input type="hidden" formControlName="idBusinessArea" [(ngModel)]="idBusinessArea"/>
                          <div class="invalid-feedback" *ngIf="formMutasi.controls.idBusinessArea.invalid && (formMutasi.controls.idBusinessArea.dirty || formMutasi.controls.idBusinessArea.touched)">
                            <div *ngIf="formMutasi.controls.idBusinessArea.errors.required">Business Area harus diisi</div>
                          </div>
                        </div>
                      </div>
                      <ng-container *ngIf="jenisMutasi === 'internal'">
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Provinsi' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectProvinsi 
                              [allowClear]="true"
                              [items]="itemsP"
                              [multiple]="false"
                              (data)="refreshValueP($event)"
                              (selected)="selectedP($event)"
                              placeholder="Pilih Provinsi">
                            </ng-select>
                            <input type="hidden" formControlName="idProvinsi" [(ngModel)]="idProvinsi"/>
                            <div class="invalid-feedback" *ngIf="formMutasi.controls.idProvinsi.invalid && (formMutasi.controls.idProvinsi.dirty || formMutasi.controls.idProvinsi.touched)">
                              <div *ngIf="formMutasi.controls.idProvinsi.errors.required">Provinsi harus diisi</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Kabupaten' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectKabupaten 
                              [allowClear]="true"
                              [items]="itemsK"
                              [disabled]="!itemsK.length"
                              [multiple]="false"
                              (data)="refreshValueK($event)"
                              (selected)="selectedK($event)"
                              placeholder="Pilih Kabupaten">
                            </ng-select>
                            <input type="hidden" formControlName="idKabupaten" [(ngModel)]="idKabupaten"/>
                            <div class="invalid-feedback" *ngIf="formMutasi.controls.idKabupaten.invalid && (formMutasi.controls.idKabupaten.dirty || formMutasi.controls.idKabupaten.touched)">
                              <div *ngIf="formMutasi.controls.idKabupaten.errors.required">Kabupaten harus diisi</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-12">
                            <label>
                              <strong>{{'Lokasi' | uppercase}}</strong>
                            </label>
                          </div>
                          <div class="col-12">
                            <ng-select #selectLokasi 
                              [allowClear]="true"
                              [items]="itemsL"
                              [disabled]="!itemsL.length"
                              [multiple]="false"
                              (data)="refreshValueL($event)"
                              (selected)="selectedL($event)"
                              placeholder="Semua Lokasi">
                            </ng-select>
                            <input type="hidden" formControlName="idLokasi" [(ngModel)]="idLokasi"/>
                            <div class="invalid-feedback" *ngIf="formMutasi.controls.idLokasi.invalid && (formMutasi.controls.idLokasi.dirty || formMutasi.controls.idLokasi.touched)">
                              <div *ngIf="formMutasi.controls.idLokasi.errors.required">Lokasi harus diisi</div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-template>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'No. Berita Acara Serah Terima' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <input type="text" class="form-control" formControlName="no_bast" [(ngModel)]="perpindahanAsetTanahPerubahan.no_berita_acara" value=""  placeholder="No. Berita Acara Serah Terima"
                        [ngClass]="{'is-invalid': formMutasi.controls.no_bast.invalid && (formMutasi.controls.no_bast.dirty || formMutasi.controls.no_bast.touched)}">
                        <div class="invalid-feedback" 
                          *ngIf="formMutasi.controls.no_bast.invalid && (formMutasi.controls.no_bast.dirty || formMutasi.controls.no_bast.touched)">
                          <div *ngIf="formMutasi.controls.no_bast.errors.required">
                              No. Berita Acara Serah Terima harus diisi</div>
                          <div *ngIf="formMutasi.controls.no_bast.errors.minlength">
                            Panjang minimal {{formMutasi.controls.no_bast.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formMutasi.controls.no_bast.errors.maxlength">
                            Panjang maksimal {{formMutasi.controls.no_bast.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-12">
                        <label>
                          <strong>{{'Keterangan' | uppercase}}</strong>
                        </label>
                      </div>
                      <div class="col-12">
                        <textarea class="form-control" formControlName="keterangan" [(ngModel)]="perpindahanAsetTanahPerubahan.keterangan"
                          placeholder="Keterangan mutasi aset"
                          [ngClass]="{'is-invalid': formMutasi.controls.keterangan.invalid && (formMutasi.controls.keterangan.dirty || formMutasi.controls.keterangan.touched)}"></textarea>
                        <div class="invalid-feedback" 
                          *ngIf="formMutasi.controls.keterangan.invalid && (formMutasi.controls.keterangan.dirty || formMutasi.controls.keterangan.touched)">
                          <div *ngIf="formMutasi.controls.keterangan.errors.required">
                              Keterangan harus diisi</div>
                          <div *ngIf="formMutasi.controls.keterangan.errors.minlength">
                            Panjang minimal {{formMutasi.controls.keterangan.errors.minlength.requiredLength}} karakter</div>
                          <div *ngIf="formMutasi.controls.keterangan.errors.maxlength">
                            Panjang maksimal {{formMutasi.controls.keterangan.errors.maxlength.requiredLength}} karakter</div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-12 p-0">
                  <div class="form-group">
                    <div class="col-md-12 text-right">
                      <button class="btn btn-default" (click)="cancel()">
                        <i class="fa fa-arrow-left"></i> {{'Batal'  |  uppercase}}</button>
                      <button class="btn btn-primary" (click)="saveMutasi()" [disabled]="!formMutasi.valid">
                        <i class="fa fa-save"></i> {{'Simpan'  |  uppercase}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-lg-3 d-md-inline-block d-lg-inline-block p-0" id="content-map">
      <yaga-map [(lat)]="lat" [(lng)]="lng" [zoom]="zoom" id="map" #map (dblclick)="dblClick($event)">
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>

        <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'"></yaga-tile-layer>

        <yaga-polygon *ngIf="polyOld"
          [color]="marker.polygon.color"
          [weight]="marker.polygon.weight"
          [(latLngs)]="polyOld.coordinates"></yaga-polygon>
        <yaga-polygon *ngIf="poly && poly.length && poly[0].length > 3"
          [color]="marker.polygonNonValid.color"
          [weight]="marker.polygonNonValid.weight"
          [(latLngs)]="poly"></yaga-polygon>
        <ng-container *ngIf="poly && poly.length && detailAsetTanahPerubahan && fragment==='detail'">
          <yaga-marker *ngFor="let koordinat of poly[0]; let i = index;" [(lat)]="koordinat.lat" [(lng)]="koordinat.lng" [draggable]="true">
            <yaga-popup>
              <h4>Titik Ke - {{ i + 1 }} </h4>
            </yaga-popup>
            <yaga-icon
              [iconAnchor]="marker.pin.iconAnchor"
              [iconSize]="marker.pin.iconSize"
              [popupAnchor]="marker.pin.popupAnchor"
              [iconUrl]="marker.pin.iconUrl"
              [shadowUrl]="marker.pin.shadowUrl">>
            </yaga-icon>
          </yaga-marker>
        </ng-container>
      </yaga-map>
    </div>
  </div>
</div>

<ng-template #templatePoint>
  <div class="modal-header">
    <h5 class="modal-title">{{'Koordinat Aset' | uppercase}}</h5>
  </div>
  <div class="modal-body">
    <div class="col-12">
      <div class="form-group row">
        <div class="col-12">
          <label>
            <strong>{{'Latitude / Lintang' | uppercase}}</strong>
          </label>
          <input class="form-control" type="number" min="-6" step="0.0000001" max="12" [(ngModel)]="lng" placeholder="Latitude">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label>
            <strong>{{'Longitude / Bujur' | uppercase}}</strong>
          </label>
          <input class="form-control" type="number" min="95" step="0.0000001" max="142" [(ngModel)]="lat" placeholder="Longitude">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-right">
    <button class="btn btn-primary btn-sm" type="button" (click)="addInitialPoint()" data-dismiss="modal">
      <i class="fa fa-location-arrow"></i>&nbsp;{{'Add' | uppercase}}</button>
  </div>
</ng-template>
<ng-template #templateKonfirmasi>
  <div class="modal-header">
    <h5 class="modal-title">{{'Update Progress Dokumen' | uppercase}}</h5>
  </div>
  <div class="modal-body">
    Apakah pengajuan sertifikat diterima?
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onSelectMasterProgress(true, true)">Ya</button>
    <button class="btn btn-danger" (click)="onSelectMasterProgress(true, false)">Tidak</button>
  </div>
</ng-template>
