<div class="s-info bg-white">
  <div class="s-heading row">
    <div class="col-9 p-0 m-0">
      <p>{{ namaAsetProperti | uppercase }}</p>
      <small>{{ namaCompanyCode | uppercase }} </small>
    </div>
    <div class="col-3 p-0 m-0">
      <button class="btn btn-default pull-right" (click)="back()">
        <i class="fa fa-arrow-left"></i> {{ 'Kembali' | uppercase }}</button>
    </div>
  </div>
</div>
<div class="animated fadeIn s-main s-notab container-fluid fixed-top w-100">
  <div class="row tab-content border-0 h-100">
    <div class="col-lg-9 col-md-7 bg-light tab-pane active d-md-inline-block d-lg-inline-block h-100" id="content-data">
      <div class="row h-100 m-0 p-0 bg-light" style="position:relative;overflow:auto;">
        <tabset #tabset class="col-12">
          <tab id="tab1">
            <ng-template tabHeading>
              <i class="fa fa-info-circle"></i>
              <span class="d-none d-md-inline-block"> {{'Detail' | uppercase}}</span>
              <span class="badge badge-danger" *ngIf="detailAsetProperti && detailAsetPropertiPerubahan">Perubahan</span>
              <span class="badge badge-primary" *ngIf="!detailAsetProperti && detailAsetPropertiPerubahan">Baru</span>
            </ng-template>
            <div class="tab-pane" id="detail" role="tabpanel">
              <div class="row">
                <div class="col-12 pt-2 bg-light mb-3">
                  <div class="row">
                    <div class="col-6 p-0">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="detailAsetProperti; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="(detailAsetProperti.jenis_aset.nama | uppercase) + (detailAsetProperti.sub_jenis ? ' - ' + (detailAsetProperti.sub_jenis.nama | uppercase) : '')">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="nilai; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="asetProperti.nilai_perolehan | currency: 'Rp. '">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Berdiri Diatas ' | uppercase}}</strong><a href="#" *ngIf="asetTanah" (click)="openModal(templateAsetTanah)">{{asetTanah.perpindahan.kode_tanah}}</a>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea *ngIf="asetTanah; else textNoData" type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="asetTanah.detail.nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Sumber Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="asetProperti; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="asetProperti.sumber_perolehan?.sumber_perolehan | uppercase">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetProperti?.tahun_perolehan">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea *ngIf="detailAsetProperti; else textNoData" type="text" class="form-control" disabled="disabled" [innerHTML]="detailAsetProperti.alamat_properti | uppercase "></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6 mb-2" *ngIf="detailAsetProperti">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Data Saat Ini' | uppercase}}
                          <span class="badge badge-danger" *ngIf="!detailAsetProperti.is_active">{{'Nonaktif' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-6 ml-auto text-right mb-2" *ngIf="detailAsetProperti.is_editable_detail">
                        <button class="btn btn-sm btn-primary ml-auto" href="#" (click)="edit('detail')">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;Ubah Detail</span>
                        </button>
                        <button *ngIf="detailAsetProperti.is_editable_detail && detailAsetProperti.is_active" class="btn btn-sm btn-danger ml-1" (click)="delete()">
                          <i class="fa fa-power-off"></i>
                          <span class="d-none d-md-inline-block">&nbsp;Nonaktif</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetProperti.nama_properti | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled="disabled" [value]="detailAsetProperti.luas_properti | number: '1.0-2'">
                        <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="foto">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetProperti.no_imb | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Terbit IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetProperti.tanggal_terbit_imb | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetProperti.no_sap | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 col-md-6 mb-2" *ngIf="detailAsetPropertiPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}} 
                          <span class="badge badge-danger" *ngIf="detailAsetPropertiPerubahan.action_button.type === 'revisi'">Ditolak</span>
                          <span class="badge badge-danger" *ngIf="!detailAsetPropertiPerubahan.is_active">{{'Nonaktif' | uppercase}}</span>
                        </h4>
                        <span class="badge badge-danger" *ngIf="!detailAsetPropertiPerubahan.is_active">{{'Nonaktif' | uppercase}}</span>
                      </div>
                      <div class="col-6 ml-auto text-right mb-2" *ngIf="detailAsetPropertiPerubahan.action_button.type === 'revisi' && detailAsetPropertiPerubahan.action_button.button">
                        <button class="btn btn-sm btn-primary ml-auto" href="#" (click)="revisi('detail')">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Revisi Detail' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Nama Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetPropertiPerubahan.nama_properti | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Luas' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="input-group">
                        <input type="text" class="form-control" disabled="disabled" [value]="detailAsetPropertiPerubahan.luas_properti | number: '1.0-2'">
                        <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Foto' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <div class="foto-aset">
                        <img alt="Foto Aset" class="" [src]="fotoPerubahan">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetPropertiPerubahan.no_imb | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Tanggal Terbit IMB' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetPropertiPerubahan.tanggal_terbit_imb | date: 'dd MMM yyyy'">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'No. SAP' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="detailAsetPropertiPerubahan.no_sap | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0">
                  <div class="col-12 mb-2 text-right" *ngIf="detailAsetPropertiPerubahan && detailAsetPropertiPerubahan.action_button && detailAsetPropertiPerubahan.action_button.type === 'validasi' && detailAsetPropertiPerubahan.action_button.button">
                    <button class="btn btn-primary mx-1" title="Validasi detail aset tanah" (click)="openModal(templateValidasiDetail)">
                      <i class="fa fa-question"></i>
                      <span class="d-none d-md-inline-block">Validasi</span>
                    </button>
                  </div>
                </div>
                <!-- Historis Perubahan detail -->
                <ng-container *ngIf="!detailAsetPropertiPerubahan">
                  <div class="col-12 mt-3">
                    <h4>{{'Historis Perubahan Detail' | uppercase}}</h4>
                    <hr>
                  </div>
                  <app-datatable class="col-12 p-0" 
                    [columns]="history.columns"
                    [data]="history.data"
                    [actions]="history.actions"></app-datatable>
                </ng-container>
                <ng-container *ngIf="!asetProperti.is_use && asetProperti.workflow_progress && asetProperti.workflow_progress.length > 0; else usedDetail">
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (asetProperti.historiDisposisi || []))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline class="px-3" [progress]="asetProperti.workflow_progress"></app-timeline>
                  </div>
                </ng-container>
                <ng-template #usedDetail>
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (detailAsetPropertiPerubahan ? detailAsetPropertiPerubahan.historiDisposisi : detailAsetProperti.historiDisposisi))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline *ngIf="detailAsetPropertiPerubahan && detailAsetPropertiPerubahan.workflow_progress" class="px-3" [progress]="detailAsetPropertiPerubahan.workflow_progress"></app-timeline>
                  </div>
                </ng-template>
              </div>
            </div>
          </tab>
          <tab id="tab3">
            <ng-template tabHeading>
              <i class="fa fa-money"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Nilai Jual' | uppercase}}</span>
              <span class="badge badge-danger" *ngIf="nilai && nilaiPerubahan">Perubahan</span>
              <span class="badge badge-primary" *ngIf="!nilai && nilaiPerubahan">Baru</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 pt-2 bg-light mb-3">
                  <div class="row">
                    <div class="col-6 p-0">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama Aset Properti' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea *ngIf="detailAsetProperti; else textNoData" type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetProperti.nama_properti | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Berdiri Diatas ' | uppercase}}</strong><a href="#" *ngIf="asetTanah" (click)="openModal(templateAsetTanah)">{{asetTanah.perpindahan.kode_tanah}}</a>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea *ngIf="asetTanah; else textNoData" type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="asetTanah.detail.nama_tanah | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetProperti.tahun_perolehan">
                        </div>
                      </div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Kode Aset Properti' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="perpindahanAsetProperti; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.kode_properti">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="detailAsetProperti; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="(detailAsetProperti.jenis_aset.nama | uppercase) + (detailAsetProperti.sub_jenis ? ' - ' + (detailAsetProperti.sub_jenis.nama | uppercase) : '')">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nilai Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="nilai; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="asetProperti.nilai_perolehan | currency: 'Rp. '">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-right" *ngIf="!nilai && asetProperti.is_nilaiable">
                  <button class="btn btn-sm btn-primary ml-auto" (click)="edit('nilai')" data-toggle="modal" data-target="#modal-penilaian-tambah">
                    <i class="fa fa-plus"></i>
                    <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Penilaian Aset' | uppercase}}</span>
                  </button>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="nilai">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Nilai Saat Ini' | uppercase}}
                        </h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="nilai.is_editable_nilai">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="edit('nilai')" data-toggle="modal" data-target="#modal-penilaian-tambah">
                          <i class="fa fa-plus"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Tambah Penilaian Aset' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Nilai Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilai.nilai_properti | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Biaya Penyusutan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilai.biaya_penyusutan | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilai.tahun_penilaian">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="nilaiPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}}
                          <span class="badge badge-danger" *ngIf="nilaiPerubahan.action_button.type==='revisi'">Ditolak</span>
                        </h4>
                      </div>
                      <div class="col-6">
                        <button class="btn btn-sm btn-primary ml-auto" *ngIf="nilaiPerubahan.action_button.type==='revisi' && nilaiPerubahan.action_button.button" (click)="revisi('nilai')">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Revisi Nilai' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Nilai Aset Properti' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilaiPerubahan.nilai_properti | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Biaya Penyusutan' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilaiPerubahan.biaya_penyusutan | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label for="">
                        <strong>{{'Tahun Penilaian' | uppercase}}</strong>
                      </label>
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="nilaiPerubahan.tahun_penilaian">
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2 text-right" *ngIf="nilaiPerubahan && nilaiPerubahan.action_button && nilaiPerubahan.action_button.type === 'validasi' && nilaiPerubahan.action_button.button">
                  <button class="btn btn-primary mx-1" title="Validasi detail aset tanah" (click)="openModal(templateValidasiNilai)">
                    <i class="fa fa-question"></i>
                    <span class="d-none d-md-inline-block">Validasi</span>
                  </button>
                </div>
                <div class="col-12 p-0 mt-2" *ngIf="!nilaiPerubahan">
                  <div class="col-12">
                    <h4>{{'Historis Penilaian Aset' | uppercase}}</h4>
                  </div>
                  <hr>
                  <div class="col-12 p-0" *ngIf="!nilaiPerubahan">
                    <app-datatable
                      [columns]="historyNilai.columns"
                      [data]="historyNilai.data"
                      [actions]="historyNilai.actions"></app-datatable>
                  </div>
                </div>
                <ng-container *ngIf="!asetProperti.is_use && asetProperti.workflow_progress && asetProperti.workflow_progress.length > 0; else usedNilai">
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (asetProperti.historiDisposisi || []))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline class="px-3" [progress]="asetProperti.workflow_progress"></app-timeline>
                  </div>
                </ng-container>
                <ng-template #usedNilai>
                  <div class="col-12 p-0 mt-3" *ngIf="nilai || nilaiPerubahan">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (nilaiPerubahan ? nilaiPerubahan.historiDisposisi : nilai.historiDisposisi))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline *ngIf="nilaiPerubahan && nilaiPerubahan.workflow_progress" class="px-3" [progress]="nilaiPerubahan.workflow_progress"></app-timeline>
                  </div>
                </ng-template>
              </div>
            </div>
          </tab>
          <tab id="tab4">
            <ng-template tabHeading>
                <i class="fa fa-bank"></i>
                <span class="d-none d-md-inline-block">&nbsp;{{'Organisasi & Wilayah' | uppercase}}</span>
              <span class="badge badge-danger" *ngIf="perpindahanAsetProperti && perpindahanAsetPropertiPerubahan">Perubahan</span>
              <span class="badge badge-primary" *ngIf="!perpindahanAsetProperti && perpindahanAsetPropertiPerubahan">Baru</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 p-0 pt-2 mt-0 mb-2 bg-light">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group" *ngIf="detailAsetProperti">
                        <div class="col-12">
                          <label>
                            <strong>{{'Nama' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="detailAsetProperti.nama_properti | uppercase "></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Jenis Aset' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input *ngIf="detailAsetProperti; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="(detailAsetProperti.jenis_aset.nama | uppercase) + (detailAsetProperti.sub_jenis ? ' - ' + (detailAsetProperti.sub_jenis.nama | uppercase) : '')">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Alamat' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <textarea *ngIf="detailAsetProperti; else textNoData" type="text" class="form-control" disabled="disabled" [innerHTML]="detailAsetProperti.alamat_properti | uppercase "></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Luas' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <div class="input-group">
                            <input *ngIf="detailAsetProperti; else inputNoData" type="text" class="form-control" disabled="disabled" [value]="detailAsetProperti.luas_properti | number: '1.0'">
                            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-12">
                          <label>
                            <strong>{{'Tahun Perolehan' | uppercase}}</strong>
                          </label>
                        </div>
                        <div class="col-12">
                          <input type="text" class="form-control" disabled="disabled" [value]="asetProperti.tahun_perolehan">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="perpindahanAsetProperti">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-5">
                        <h4>{{'Data Saat Ini' | uppercase}}
                          <span class="badge badge-danger" *ngIf="detailAsetProperti && !detailAsetProperti.is_active">{{'Nonaktif' | uppercase}}</span>
                        </h4>
                      </div>
                      <div class="col-7 ml-auto text-right" *ngIf="perpindahanAsetProperti.is_editable_perpindahan">
                          <button class="btn btn-sm btn-primary ml-auto" (click)="edit('mutasi')">
                            <i class="fa fa-random"></i>
                            <span class="d-none d-md-inline-block">&nbsp;{{'Internal' | uppercase}}</span>
                          </button>
                          <button class="btn btn-sm btn-primary ml-auto" (click)="mutasiEksternal()">
                            <i class="fa fa-random"></i>
                            <span class="d-none d-md-inline-block">&nbsp;{{'Eksternal' | uppercase}}</span>
                          </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kode Aset Properti' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.kode_properti">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Company Code' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.company_code?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Business Area' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.business_area?.nama_business_area | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'No. Berita Serah Terima' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.no_berita_acara">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Berdiri Diatas ' | uppercase}}</strong><a href="#" *ngIf="asetTanah" (click)="openModal(templateAsetTanah)">{{asetTanah.perpindahan.kode_tanah}}</a>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea *ngIf="asetTanah; else textNoData" type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="asetTanah.detail.nama_tanah | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Provinsi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.tanah.perpindahan_aktif[0].lokasi?.kabupaten.provinsi.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kabupaten' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.tanah.perpindahan_aktif[0].lokasi?.kabupaten.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Lokasi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetProperti.tanah.perpindahan_aktif[0].lokasi?.nama | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 p-0 mb-2" *ngIf="perpindahanAsetPropertiPerubahan">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Usulan' | uppercase}}
                        <span class="badge badge-danger" *ngIf="perpindahanAsetPropertiPerubahan.action_button.type==='revisi'">Ditolak</span>
                      </h4>
                      </div>
                      <div class="col-6 text-right">
                        <button class="btn btn-sm btn-primary ml-auto" *ngIf="perpindahanAsetPropertiPerubahan.action_button.type==='revisi' && perpindahanAsetPropertiPerubahan.action_button.button" (click)="revisiMutasi()">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Revisi Perpindahan' | uppercase}}</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12">
                    <div class="alert alert-danger text-justify" *ngIf="disposisiMutasi"><strong>Memo : </strong>{{ disposisiMutasi.memo }}</div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kode Aset Properti' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.kode_properti || '-'">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Company Code' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.company_code?.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Business Area' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.business_area?.nama_business_area | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'No. Berita Serah Terima' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.no_berita_acara">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12">
                      <label>
                        <strong>{{'Berdiri Diatas ' | uppercase}}</strong><a href="#" *ngIf="asetTanah" (click)="openModal(templateAsetTanah)">{{asetTanah.perpindahan.kode_tanah}}</a>
                      </label>
                    </div>
                    <div class="col-12">
                      <textarea *ngIf="asetTanah; else textNoData" type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="asetTanah.detail.nama_tanah | uppercase "></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Provinsi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.tanah?.perpindahan_aktif[0].lokasi?.kabupaten.provinsi.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Kabupaten' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.tanah?.perpindahan_aktif[0].lokasi?.kabupaten.nama | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-12"><label for=""><strong>{{'Lokasi' | uppercase}}</strong></label></div>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="perpindahanAsetPropertiPerubahan.tanah?.perpindahan_aktif[0].lokasi?.nama | uppercase">
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2 text-right" *ngIf="perpindahanAsetPropertiPerubahan && perpindahanAsetPropertiPerubahan.action_button && perpindahanAsetPropertiPerubahan.action_button.type === 'validasi' && perpindahanAsetPropertiPerubahan.action_button.button">
                  <button class="btn btn-primary mx-1" title="Validasi detail aset tanah" (click)="openModal(templateValidasiMutasi)">
                    <i class="fa fa-question"></i>
                    <span class="d-none d-md-inline-block">Validasi</span>
                  </button>
                </div>
                <div class="col-12 p-0 mt-3" *ngIf="!perpindahanAsetPropertiPerubahan">
                  <div class="col-12">
                    <h4>{{ 'Historis Organisasi & Wilayah' | uppercase }}</h4>
                  </div>
                  <hr>
                  <div class="col-12 p-0">
                    <app-datatable
                      [columns]="historyPerpindahan.columns"
                      [data]="historyPerpindahan.data"
                      [actions]="historyPerpindahan.actions"></app-datatable>
                  </div>
                </div>
                <ng-container *ngIf="!asetProperti.is_use && asetProperti.workflow_progress && asetProperti.workflow_progress.length > 0; else usedPerpindahan">
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (asetProperti.historiDisposisi || []))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline class="px-3" [progress]="asetProperti.workflow_progress"></app-timeline>
                  </div>
                </ng-container>
                <ng-template #usedPerpindahan>
                  <div class="col-12 p-0 mt-3">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <h4>{{'Proses Validasi' | uppercase}}</h4>
                        </div>
                        <div class="col-4 mt-3 text-right">
                          <button class="btn btn-primary" (click)="showDisposisi(templateDisposisi, (perpindahanAsetPropertiPerubahan ? perpindahanAsetPropertiPerubahan.historiDisposisi : perpindahanAsetProperti.historiDisposisi))">
                            <i class="fa fa-history"></i> Historis Disposisi</button>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <app-timeline *ngIf="perpindahanAsetPropertiPerubahan && perpindahanAsetPropertiPerubahan.workflow_progress" class="px-3" [progress]="perpindahanAsetPropertiPerubahan.workflow_progress"></app-timeline>
                  </div>
                </ng-template>
              </div>
            </div>
          </tab>
          <tab id="tab5">
            <ng-template tabHeading>
              <i class="fa fa-tasks"></i>
              <span class="d-none d-md-inline-block">&nbsp;{{'Potensi & Pendayagunaan' | uppercase}}</span>
            </ng-template>
            <div class="tab-pane" role="tabpanel">
              <div class="row">
                <div class="col-12 col-md-6 p-0" *ngIf="potensi">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Potensi' | uppercase}}</h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="potensi.is_editable_potensi">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="addPotensi()" data-toggle="modal" data-target="#modal-potensi-tambah">
                          <i class="fa fa-pencil"></i>
                          <span class="d-none d-md-inline-block">&nbsp;{{'Ubah Potensi' | uppercase}}</span>
                        </button>
                      </div>          
                    </div>
                    <hr>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Nilai Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.nilai_potensi | currency: 'Rp. '">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Deskripsi Potensi' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.deskripsi | uppercase">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-12">
                      <strong>{{'Tanggal Mulai' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.start_date_potensi | date: 'dd MMM yyyy' ">
                    </div>
                  </div>
                  <div class="form-group" *ngIf="potensi.end_date_potensi">
                    <label class="col-12">
                      <strong>{{'Tanggal Selesai' | uppercase}}</strong>
                    </label>
                    <div class="col-12">
                      <input type="text" class="form-control" disabled="disabled" [value]="potensi.end_date_potensi | date: 'dd MMM yyyy' ">
                    </div>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Historis Potensi' | uppercase}}</h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="! potensi && asetProperti.is_potensiable">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="addPotensi()" data-toggle="modal" data-target="#modal-potensi-tambah">
                          <i class="fa fa-plus"></i>
                          <span class="d-none d-md-inline-block">&nbsp;Tambah Potensi</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12 p-0">
                    <app-datatable
                      [columns]="historyPotensi.columns"
                      [data]="historyPotensi.data"
                      [actions]="historyPotensi.actions"></app-datatable>
                  </div>
                </div>
                <div class="col-12 p-0 mt-3">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6">
                        <h4>{{'Pendayagunaan Aset Properti' | uppercase}}</h4>
                      </div>
                      <div class="col-6 ml-auto text-right" *ngIf="pengguna.is_user_input && potensi && potensi.is_pendayagunaanable">
                        <button class="btn btn-sm btn-primary ml-auto" (click)="addPendayagunaan()">
                          <i class="fa fa-plus"></i><span class="d-none d-md-inline-block">&nbsp;Tambah Pendayagunaan</span>
                        </button>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="col-12 p-0">
                    <app-datatable
                      [columns]="historyPendayagunaan.columns"
                      [data]="historyPendayagunaan.data"
                      [actions]="historyPendayagunaan.actions"></app-datatable>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-lg-3 d-md-inline-block d-lg-inline-block p-0" id="content-map">
      <yaga-map [(lat)]="lat" [(lng)]="lng" [zoom]="zoom" id="map" #map>
        <yaga-zoom-control></yaga-zoom-control>
        <yaga-scale-control [metric]="true" [imperial]="false"></yaga-scale-control>
        <yaga-attribution-control></yaga-attribution-control>

        <yaga-tile-layer [url]="tileServer" [attribution]="'© OpenStreetMap'"></yaga-tile-layer>

        <yaga-polygon *ngIf="asetTanah && asetTanah.detail && asetTanah.detail.polygon && asetTanah.detail.polygon[0]"
          [color]="markerTanah.polygon.color"
          [weight]="markerTanah.polygon.weight"
          [(latLngs)]="asetTanah.detail.polygon[0].area.coordinates">
          <yaga-popup>
            <h5>{{ asetTanah.detail.nama }} </h5>
          </yaga-popup>
        </yaga-polygon>
        <yaga-polygon *ngIf="poly"
          [color]="marker.polygon.color"
          [weight]="marker.polygon.weight"
          [(latLngs)]="poly.area.coordinates"></yaga-polygon>
        <yaga-polygon *ngIf="polyNonValid"
          [color]="marker.polygonNonValid.color"
          [weight]="marker.polygonNonValid.weight"
          [(latLngs)]="polyNonValid.area.coordinates"></yaga-polygon>
      </yaga-map>
    </div>
  </div>
</div>

<ng-template #templateValidasiDetail>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'Validasi Detail Aset' | uppercase}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{'Memo' | uppercase}}
      <span class="required">*</span> :
      <br/>
      <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right">
        <button class="btn btn-success mx-1" (click)="terimaUsulanDetail()" [disabled]="memo.length < 5">
          <i class="fa fa-check"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
        </button>
        <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanDetail()" [disabled]="memo.length < 5">
          <i class="fa fa-close"></i>
          <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
        </button>
      </div>
    </div>
</ng-template>
<ng-template #templateValidasiMutasi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi Organisasi & Wilayah' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="terimaUsulanMutasi()" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanMutasi()" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateValidasiNilai>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Validasi nilai aset' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'Memo' | uppercase}}
    <span class="required">*</span> :
    <br/>
    <textarea required class="form-control" #Dmemo [(ngModel)]="memo" name="memo" rows="5"></textarea>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-success mx-1" (click)="terimaUsulanNilai()" [disabled]="memo.length < 5">
        <i class="fa fa-check"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Setuju' | uppercase}}</span>
      </button>
      <button class="btn btn-danger mx-1" href="#" (click)="tolakUsulanNilai()" [disabled]="memo.length < 5">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tolak' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateDisposisi>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Historis Disposisi' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th class="text-center">
            <strong>{{'Pengguna' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Permission' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Validasi' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Memo' | uppercase}}</strong>
          </th>
          <th class="text-center">
            <strong>{{'Waktu' | uppercase}}</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="historisDisposisi && historisDisposisi.length; else noDisposisi">
          <tr *ngFor="let disposisi of historisDisposisi">
            <td>{{ disposisi.pengguna | uppercase }}</td>
            <td>{{ disposisi.permission | uppercase }}</td>
            <td>{{ disposisi.validasi | uppercase }}</td>
            <td>{{ disposisi.memo | uppercase }}</td>
            <td>{{ disposisi.date | date: 'dd MMM yyyy' }}</td>
          </tr>
        </ng-container>
        <ng-template #noDisposisi>
          <tr>
            <td colspan="6" class="text-center">{{ 'Belum ada data disposisi' }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #inputNoData>
  <input type="text" disabled="disabled" class="form-control" value="-">
</ng-template>
<ng-template #textNoData>
  <textarea disabled="disabled" class="form-control nama-aset">-</textarea>
</ng-template>

<ng-template #templateAsetTanah>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'Berdiri Diatas ' | uppercase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-12 p-0 mb-2" *ngIf="asetTanah.detail">
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'Nama' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <textarea type="text" class="form-control nama-aset" disabled="disabled" [innerHTML]="asetTanah.detail.nama_tanah | uppercase "></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'Luas Tanah' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <div class="input-group">
            <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.detail.luas_tanah | number: '1.0'">
            <div class="input-group-addon"><span>M<sup>2</sup></span></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'Alamat' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <textarea class="form-control" disabled="disabled">{{asetTanah.detail.alamat_tanah | uppercase}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'Foto' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <div class="foto-aset">
            <img alt="Foto Aset" class="" [src]="asetTanah.detail.foto ? uploadUrl+'aset-tanah'+asetTanah.detail.foto : 'assets/img/no-image.jpg'">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'No. BPHTB' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.detail.no_bphtb">
        </div>
      </div>
    </div>
    <div class="col-12 p-0 mb-2" *ngIf="asetTanah.perpindahan">
      <div class="form-group">
        <div class="col-12"><label for=""><strong>{{'Kode Aset Tanah' | uppercase}}</strong></label></div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.perpindahan.kode_tanah">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12"><label for=""><strong>{{'Company Code' | uppercase}}</strong></label></div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.perpindahan.company_code?.nama | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12"><label for=""><strong>{{'Business Area' | uppercase}}</strong></label></div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.perpindahan.business_area?.nama_business_area | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12"><label for=""><strong>{{'Provinsi' | uppercase}}</strong></label></div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.perpindahan.lokasi?.kabupaten.provinsi.nama | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12"><label for=""><strong>{{'Kabupaten' | uppercase}}</strong></label></div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.perpindahan.lokasi?.kabupaten.nama | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12"><label for=""><strong>{{'Lokasi' | uppercase}}</strong></label></div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.perpindahan.lokasi?.nama | uppercase">
        </div>
      </div>
    </div>
    <div class="col-12 p-0 mb-2" *ngIf="asetTanah.dokumen">
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'Kepemilikan' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.dokumen.ijin.nama_ijin | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'No. Sertifikat' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.dokumen.no_sertifikat | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'No. Objek Pajak' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.dokumen.no_pbb | uppercase">
        </div>
      </div>
      <div class="form-group">
        <div class="col-12">
          <label>
            <strong>{{'Tanggal Berlaku Sertifikat' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.dokumen.start_date_sertifikat | date: 'dd MMM yyyy'">
        </div>
      </div>
      <div class="form-group" *ngIf="asetTanah.dokumen.end_date_sertifikat">
        <div class="col-12">
          <label>
            <strong>{{'Tanggal Berakhir Sertifikat' | uppercase}}</strong>
          </label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" disabled="disabled" [value]="asetTanah.dokumen.end_date_sertifikat | date: 'dd MMM yyyy'">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-12 text-right">
      <button class="btn btn-danger mx-1" href="#" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
        <span class="d-none d-md-inline-block">&nbsp;{{'Tutup' | uppercase}}</span>
      </button>
    </div>
  </div>
</ng-template>